<div class="block-border">
	<div class="block-content form">
		<%unless @students.empty?%>
		<table class="table student_transport_fee_collection no-margin" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Name </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Student category </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Transport Fee Category </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Amount </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Discount </th>
				</tr>
			</thead>
			<tbody>
				<%@students.each do |student|%>
				<tr>
					<td><%= check_box("transport_fee","checkbox_#{student.id}",:student=>student.id,:amount=>0,:discount=>'0',:fee_category=>'0',:class=>"collection_checkbox",:onclick=>"checkClick(this)")%></td>
					<td class="passenger_name"><%= student.full_name%></td>
					<td><%= student.student_category.name unless student.student_category.nil? %></td>
					<td class="select-fixed-width1"><%= select "fee_collection","category_#{student.id}",@transport_fee_categories.map{|c| [c.name, c.id,{'monthly_fee'=>c.monthly_fee}]},{:prompt=>"Select"},:onchange=>"setFeeAmount(this)"%></td>
					<td><%= text_field "collection","amount_#{student.id}",:size=>20,:readonly=>1,:value=>0%></td>
					<td><%= text_field "collection","discount_#{student.id}",:size=>20,:class=>"dis",:onchange=>"setAmount(this)"%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
		<br /><br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="Save" id="collection_save");"/>
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/transport_fee_collections/transport_fee_collection_pdf?batch=<%= @batch%>');"/>

				</p>
				</fieldset>
				<%else%>
				<h3> Record Not Found</h3>
				<%end%>
				</div>
				</div>
