<div class="block-border" id="outer_block">
	<div class="block-content form">
		<fieldset class="grey-bg">
			
			<input type="hidden" id="current_det" value="<%=@transport_detail_id%>" />
		<%= radio_button_tag(:passenger_type, "student",:class=>'view_report') %>
		<%= label_tag(:passenger, "Student") %>
		<%= radio_button_tag(:passenger_type, "employee") %>
		<%= label_tag(:passenger, "Employee") %>
		</fieldset>
		
		<input type="hidden" id="type" value="student"/>
		
		<div id="passenger_type">
			<%= render 'add_passenger'%>
		</div><br />
		<div id="passangers"></div>	
	</div>
</div>




