<div class="block-border">
	<div class="block-content form">
		<h1>Transport Detail</h1>
		<%unless @transport_details.empty?%>
		<table class="table transport_view_report no-margin"  cellspacing="0" width="100%" border="1">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col">Passenger</th>
					<th scope="col">Passenger Type</th>
					<%if @type=="route"%> <th scope="col">Board</th>
					<%else%> <th scope="col">Route</th>
					<%end%> <th scope="col">Contact</th>
				</tr>
			</thead>
			<tbody>
				<%@transport_details.each do |transport_detail|%>
				<tr>
					<td></td>
					<% type = transport_detail.passenger_type%>
					<%if type=='employee'%>
					<% passenger_contact = Employee.find_by_id(transport_detail.passenger_id)%> <td><%= passenger_contact.full_name%></td>
					<td><%= type%></td>
					<%if @type=="route"%> <td><%= transport_detail.transport_board.name%></td>
					<%else%> <td><%= transport_detail.transport_board.transport_route.name%></td>
					<%end%> <td><%= passenger_contact.mobile_phone%></td>
					<%else%>
					<% passenger_contact = Student.find_by_id(transport_detail.passenger_id)%> <td><%= passenger_contact.full_name%></td>
					<td><%= type%></td>
					<%if @type=="route"%> <td><%= transport_detail.transport_board.name%></td>
					<%else%> <td><%= transport_detail.transport_board.transport_route.name%></td>
					<%end%> <td><%= passenger_contact.phone1%></td>
					<%end%>
				</tr>
				<%end%>
			</tbody>
		</table><br /><br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/transport_details/get_transport_report_pdf?board=<%= @board%>&route=<%=@route%>');"/>
			</p>
		</fieldset>
		<%else%> <h3>Sorry No Record Found</h3>
		<%end%>
	</div>
</div>
