<div id="view_details">
<div class="block-border" id="outer_block">
	<div class="block-content form">
			<table class="table view_passenger" id="" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col">Passenger Name</th>
					<th scope="col">Contact No</th>
					<th scope="col">Passenger Type</th>
					
					<th scope="col">Board Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>	
<%@passengers.each do |passenger|%>
<tr>
	<%type = passenger.passenger_type%>
	<td class="th table-check-cell"></td>
	<%if type=='employee'%>
	<%passenger_contact = Employee.find_by_id(passenger.passenger_id)%>
	<td><%=passenger_contact.full_name%></td>
	<td><%=passenger_contact.mobile_phone%></td>
    <%else%>
    <%passenger_contact = Student.find_by_id(passenger.passenger_id)%>
    <td><%=passenger_contact.full_name%></td>
	<td><%=passenger_contact.phone1%></td>
    <%end%>
    <td><%=type%></td>
    <td><%=passenger.transport_board.name%></td>

    <td><a href="#" id="<%= passenger.id %>" transport_detail="<%=@transport_detail%>" title="Edit" class="with-tip update-passenger-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											
    	<a href="#" id="<%= passenger.id %>" transport_detail="<%=@transport_detail%>" title="Delete" class="with-tip delete-passenger-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										    
										</td>
</tr>

<%end%>
</tbody></table><br /><br />

	<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/transport_details/passengers_pdf?transport_detail=<%= @transport_detail%>');"/>
			
				
			</p>
		</fieldset>

</div>
</div></div>
