
  <th colspan="3"><%=@title%></th>
<hr style="height:0.0em;width:50em;border:1px solid #FB7A31;" />
<%unless @transport_details.empty?%>
	<table>
	  <tr>
		<tr class="yellow"> 
		<td class="adjacent">Passenger</td>
		<td class="adjacent">Passenger Type</td>
		<%if @type=="route"%>
		<td class="adjacent">Board</td>
		<%else%>
		<td class="adjacent">Route</td>
		<%end%>
		<td class="adjacent">Contact</td>
	</tr>
	</tr>
	<tbody>
<%@transport_details.each do |transport_detail|%>
<tr>
	
	<%type = transport_detail.passenger_type%>
	<%if type=='employee'%>
	<%passenger_contact = Employee.find_by_id(transport_detail.passenger_id)%>
	<td class="adjacent"><%=passenger_contact.full_name%></td>
	<td class="adjacent"><%=type%></td>
	<%if @type=="route"%>
		<td class="adjacent"><%=transport_detail.transport_board.name%></td>
	<%else%>
	<td class="adjacent"><%=transport_detail.transport_board.transport_route.name%></td>
	<%end%>
	<td class="adjacent"><%=passenger_contact.mobile_phone%></td>
    <%else%>
    <%passenger_contact = Student.find_by_id(transport_detail.passenger_id)%>
    <td class="adjacent"><%=passenger_contact.full_name%></td>
    <td class="adjacent"><%=type%></td>
	<%if @type=="route"%>
		<td class="adjacent"><%=transport_detail.transport_board.name%></td>
	<%else%>
	<td class="adjacent"><%=transport_detail.transport_board.transport_route.name%></td>
	<%end%>
	<td class="adjacent"><%=passenger_contact.phone1%></td>
    <%end%>
    
    

</tr>
<%end%>		
	</tbody>
</table>

<%end%>

