									<tr>
										<td class="th table-check-cell"></td>
										<td id="term_name_<%= term_master.id %>"><%= term_master.name %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= term_master.id %>"/>
											<a href="#" id="update-term-master-href-<%= term_master.id %>" title="Edit" class="with-tip update-term-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-term-master-href-<%= term_master.id %>" title="Delete" class="with-tip delete-term-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>