<form  id="complex_form" >
	<div class="no-margin" style="overflow:scroll">
		<a href="#"  id = "button_employee_info" title ="Close"> <img src="/assets/icons/web-app/32/Delete.png" width="24" height="24"></a>
		<table class="table" cellspacing="0" width="100%" >
			<thead>
				<tr>
					<th scope="col">Days</th>
					<th scope="col">Lectures</th>
				</tr>
			</thead>
			<tbody>
				<% index_val = 0%>
				<% unless @weekday_object.empty? %>
				<% @weekday_object.each do |week|%>
				<tr>
					<td> <%= week%> </td>
					<% unless @timetable_entries_object.empty? %>
					<% @timetable_entries_object.each do |time|%>
					<% if  time.weekday.weekday.to_s == index_val.to_s %> 
					<td>
					<ul class="keywords">
						<li>
							<%= time.subject.name unless  time.subject.nil? %>
						</li>
						<li>
							<%= time.class_timing.start_time.strftime("%I:%M %p") unless  time.class_timing.nil? %>-<%= time.class_timing.end_time.strftime("%I:%M %p") unless  time.class_timing.nil? %>
						</li>
						<li class="orange-keyword">
							<%= time.batch.full_name unless  time.batch.nil? %>
						</li>
					</ul>
					</td><%end%>
					<%end%>
					<%end%>

					<% index_val = index_val + 1 %>
				</tr>
				<%end%><%end%>
			</tbody>
		</table>
	</div>
</form>
