<section class="grid_16">
			<div class="block-content form">
				<!-- <ul class="message no-margin">
					<li><%= @empcount%> <%if @empcount >1 %>Free Employees Found <%else%> Free Employee Found<%end%></li>
				</ul> -->
				<fieldset>
					<legend>Timetable substitution</legend>
					<h2>Substitution Of <%= @showemployee.full_name%> For <%= @showclasstiming.start_time.strftime('%I:%M %p')%> - <%= @showclasstiming.end_time.strftime('%I:%M %p')%></h2>
				
				<div class="no-margin">
					
					<table class="table today_timetable_sub  substitute_table no-margin" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="black-cell sorting_disabled" style="width: 16px; "></th>
									<th scope="col" style="width: 365px; " class="sorting_desc"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Free Teacher </th>
								</tr>
							</thead>
							<tbody>
								<% unless @emp.empty?%>
							<% @emp.each do |teac|%>
							<% unless teac.nil?%>
							
								<tr class="odd">
									<% if teac.class == String %>	
										<td class="th table-check-cell"></td>
									<td class=" sorting_1"><b><%= teac%></b>   </td>
									<%else%>	
									<td class="th table-check-cell">
										<input type="radio" name="name" id ="select-substitute-id_<%= teac.id %>" data-emp ="<%= teac.id %>"  >
									</td>
									<td class=" sorting_1"><%= teac.full_name%>   </td>
									<%end%>
								</tr>
								<%end%>
								<%end%>
							<%end%>
							</tbody>
						</table>
					
					
					
				</div>
			
		</fieldset>	</div>
		</section>