<%unless @batch.nil?%>
						<% @subjects = @batch.subjects%>
					
						<%unless @subjects.empty?%>
<table class="table" cellspacing="0" width="100%">				
					<thead>
						<tr>
							<th scope="col">Subject Name</th>
							<th scope="col">Classes/Week</th>
							<th scope="col">Teacher</th>
							<!-- <th scope="col">Room</th> -->
							<th scope="col">Preferred Slot</th>
							
						</tr>
					</thead>
					<% @index = 0%>
					
					<% @srl = 0%>
					<tbody>
						
						<% @subjects_count = @subjects.count%>
						<%@subjects.each do |subject|%>
						<% @emp = TimetableEntry.employee(subject)%>
						<% @rom = TimetableEntry.room(subject)%>
						<% @slot = TimetableEntry.time(subject)%>
						
						<% @srl = @srl + 1%>
						<tr id = "td_<%=@srl%>" data_subject = "<%= subject.id %>"  >
							<td id="time_table_subject_<%= subject.id %>" ><%= subject.name%></td>
							<td  id="time_table_text_<%= subject.id %>"><input type="text" name="simple-required" id="text_serial_<%=@srl%>" value="<%= subject.max_weekly_classes%>" class = "text_serial"></td>
							<td id="time_table_employee_<%= subject.id %>">
								<% @skill = Skill.find_by_id(subject.skill_id) %>
									<%unless @skill.nil?%>
										<% @teacher = @skill.employees%>
									<%unless @teacher.empty?%>
									
										<%= select :skill, :id, @teacher.map {|b| [b.full_name, b.id] } ,:selected=> (@emp.employee_id unless @emp.nil?)%>
									<%else%>
										<h3> Teacher Not Available</h3>
									<%end%>
									<%end%>
								
							</td>
							<!-- <td id="time_table_room_<%= subject.id %>">
								<%unless @rooms.empty?%>
									<%= select :room, :id, @rooms.map {|b| [b.name, b.id] } ,:selected=> (@rom.room_id unless @rom.nil?)%>
								<%else%>
								<h3>Rooms Are Not Available</h3>
								<%end%>							
							</td> -->
							
							<td id="time_table_class_<%= subject.id %>">
								<%unless @class_timings.empty?%>
									<%@count = @class_timing_index.count%>
									<%= select :class_time, :id, @class_timings.map {|b| [b.name, b.id] },:selected=> (@slot.id unless @slot.nil?) || @class_timing_index[@index] %>
									
									<%if @index == @count %>
										<% @index = 0%>
									<%else%>
										<% @index = @index + 1%>
									<%end%>
								<%else%>
								<h3>Class Timming  Are Not Available</h3>	
								<%end%>	
							</td>
							
							<!-- <td >
								<ul class="keywords">
								<li>
									<input type="hidden" name="subject" value="<%= subject.id %>"/>
									<a href="" class ="timetable-create-href">Save</a></li>
								</ul>
							</td> -->
						</tr>
						<%end%>
						
					</tbody>
					<input type="hidden" name="serial" value="<%= @srl %>" id ="serial_id"/>
					</table>
					<input type="hidden" name ="class_per_week" id = "batch_classes_per_week" value = "<%=@class_per_week%>">
					<input type="hidden" name ="class_batch" id = "batch_class"  value = "<%=@batch.id%>">
					<fieldset class="grey-bg no-margin" id ="timetable_button">
						<button type="reset" onclick="refresh()">Refresh</button>
						<!-- <button type="button" id = "window_open" onclick="$(location).attr('href','/timetable/<%=@batch.id%>');">Next</button> -->
						<button type="button" id = "create_timetable" data_count = "<%= @subjects_count %>"  >Timetable</button>
					</fieldset>
					<%else%>
						<h3>Subjects are not Assigned</h3>
						<%end%>
						<%end%>