<div class="block-border" id ="outer_block" >
	<div class="block-content form"  >
		
		<h1><%= @howreport%></h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li class="current">
					<a title="PDF" href="/timetable/monthlytimetable_pdf?emp_id=<%=@empids%>&title=<%= @howreport%>" ><img width="24" height="24" src="/assets/icons/web-app/32/Print.png" ></a>
				</li>
			</ul>
		</div>
		<table  class="table report_employee no-margin" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee No. </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee Name </th>
				</tr>
			</thead>
			<tbody>
				<%unless @emparrobj.empty? %>
				<% @emparrobj.each do |emmabob| %>
				<%unless emmabob.nil? %>
				<tr>
					<td class="th table-check-cell"></td>
					<td ><%= emmabob.employee_number %></td>
					<td ><a href="" name = "reportancor" id="reportemployeedaily" data_emp = "<%= emmabob.id%>" data_sub = "<%= @substitute%>"><%= emmabob.full_name %></a></td>
				</tr>
				<%end%><%end%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
