<!-- <style>
<%if !@class_timing.empty?%>
<% index = 0 %>
<% @class_timing.each do |time|%>
<% @start_hour = time.start_time.strftime("%H").to_i %>
<% @start_minute = time.start_time.strftime("%M").to_i %>

.week-calendar .from-<%= '%.2d' % @start_hour%>-<%= '%.2d' % @start_minute %> { top: <%= @arr[index] %>%; }

<% index = index + 1 %>
<%end%>
<% index = 0 %>
<% @class_timing.each do |time|%>
<% @start_hour = time.end_time.strftime("%H").to_i %>
<% @start_minute = time.end_time.strftime("%M").to_i %>

.week-calendar .to-<%= '%.2d' % @start_hour%>-<%= '%.2d' % @start_minute %> { bottom: <%= @arr1[index] %>%; }

<% index = index + 1 %>
<%end%>
<%end%>
</style> -->
<div class="block-border" id = "outer_block">
	<form class="block-content form">
		<h1><%= @employee.full_name%> Timetable</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				
					<% if @role == "Admin"%>
					
					<li class="current first-child">
							<a title="PDF" href="/timetable/employeetimetable_pdf?emp_id=<%= @employee.id%>" ><img width="24" height="24" src="/assets/icons/web-app/32/Print.png" ></a>
						</li>
					<li>	
					<%= link_to image_tag('/assets/icons/web-app/32/Back.png'),:action => "admin_wise_employee_page"%>
					</li>
					<%else%>
					<!-- <%= link_to image_tag('/assets/icons/web-app/32/Back.png'),"history.back()"%> -->
					<li class="current first-child">
							<a title="PDF" href="/timetable/employeetimetable_pdf?emp_id=<%= @employee.id%>" ><img width="24" height="24" src="/assets/icons/web-app/32/Print.png" ></a>
						</li>
					<li>	
					      <a href="javascript:" onclick="history.back()"><img src="/assets/icons/web-app/32/Back.png" /></a>
					</li>
					<%end%>
				
			</ul>
		</div>
		<div id = "employee_batch" >
			<%= render "employee_view"%>
		</div>
	</form>
</div>
