<hr style="height:0.5em;width:50em;border:1px solid #FB7A31;" />
	<p style="font-size: 20px;">
		Title :<%=@title%>
	</p>
	<div class="block-content form"  >
		
		
		
		<table  class="table no-margin" cellspacing="0" width="100%">
			<thead>
				<tr class="yellow">
					
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee No. </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee Name </th>
				</tr>
			</thead>
			<tbody>
				<%unless @emparrobj.empty? %>
				<% @emparrobj.each do |emmabob| %>
				<%unless emmabob.nil? %>
				<tr>
					<td ><%= emmabob.employee_number %></td>
					<td ><a href="" name = "reportancor" id="reportemployeedaily" data_emp = "<%= emmabob.id%>" data_sub = "<%= @substitute%>"><%= emmabob.full_name %></a></td>
				</tr>
				<%end%><%end%><%end%>
			</tbody>
		</table>
	</div>

<style type="text/css">
	table {
		font: 15px /24px Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #660000;
		width: 800px;
	}
	th {
		padding: 0 0.5em;
		text-align: left;
	}
	tr.yellow th {
		border-top: 1px solid #FB7A31;
		border-bottom: 1px solid #FB7A31;
		background: #FFC;
	}
	td {
		border-bottom: 1px solid #CCC;
		padding: 0 0.5em;
	}
	td.width {
		width: 190px;
	}
	td.adjacent {
		border-left: 1px solid #CCC;
		text-align: center;
	}
</style>
