<section class="grid_16">
	<div class="block-border">
		<form class="block-content form" id="complex_form" >
			<h1><%= Date.today.day%>-<%= Date.today.month%>-<%= Date.today.year%> Timetable</h1>
			<div class="block-controls  enoch_block "  >
				<ul class="controls-tabs js-tabs">
					<li >
						<%= link_to image_tag('/assets/icons/web-app/32/Back.png'),"/dashboard.1" %>
					</li>
				</ul>
			</div>
			<% unless @employee.empty? %>
			<div class="no-margin" style="overflow:scroll">
				
				<table class="table" cellspacing="0" width="100%" >
					<thead>
						<tr>
							<th scope="col">Teacher</th>
							<% unless @class_timing.empty? %>
							<% @class_timing.each do |class_time|%>
							<% if class_time.is_break%> <th scope="col">Break</th>
							<%else%> <th scope="col"><%= class_time.start_time.strftime("%I:%M") %>-<%= class_time.end_time.strftime("%I:%M") %></th>
							<%end%>
							<%end%>
							<%end%>
						</tr>
					</thead>
					<tbody>
						<% @employee.each do |emp|%>
						<tr>
							<td> <%= emp.full_name %> </td>
							<% unless @class_timing.empty? %>
							<%= @class_timing %>
							<% @class_timing.each do |class_time|%>
							<% if class_time.is_break%> <td style=" background: url(../images/old-browsers-bg/black10.png);background: rgba(0, 0, 0, 0.1);"></td>
							<%else%> <td> <% @timetable_entries =  TimetableEntry.find_all_by_employee_id_and_class_timing_id(emp.id,class_time.id)%>
							<% unless @timetable_entries.empty? %>
							<% @timetable_entries.each do |time|%>
							<% if time.weekday.weekday.to_s == Date.today.wday.to_s  %>
							<ul class="keywords">
								<li>
									<%= time.subject.name %>
								</li>
								<li class="orange-keyword">
									<%= time.batch.full_name %>
								</li>
							</ul> <%end%>
							<%end%>
							<%end%> </td>
							<%end%>
							<%end%>
							<%end%>
						</tr>
						<%end%>
					</tbody>
				</table>
				
			</div>
			<%else%> 
				<h3><%= I18n.t(:no_entries_for_timetable) %></h3>
			<%end%>
		</form>
	</div>
</section>
