<div class="block-border" id="outer_block">
	<%= form_for @provider,  :html => { :class => "block-content form", :id => "provider-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Transport Provider</h1>
	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li>
			<a href="/transport_routes/all_record" title="Transport Route" class="with-tip"> <span><%= image_tag "transport/48*48/Route 28.png", :size => "30X30"  %></span></a>
		   </li>
		   <li>
			<a href="/transport_boards/all_record" title="Transport Board" class="with-tip"> <span><%= image_tag "transport/48*48/bus-stop-s28.png", :size => "30X30"  %></span></a>
		   </li>
			 <li>
			 <a href="/providers/all_record" title="Transport Provider" class="with-tip"> <span><%= image_tag "transport/48*48/provider 28.png", :size => "30X30"  %></span></a>
			</li>
			<li>
				<a href="/transport_vehicles/all_record" title="Transport Vehicle" class="with-tip"> <span><%= image_tag "transport/48*48/vehicle 28.png", :size => "30X30"  %></span></a>
			</li>
			<li>
				<a href="/transport_drivers/all_record" title="Transport Driver" class="with-tip"> <span><%= image_tag "transport/48*48/driver 28.png", :size => "30x30"  %></span></a>
			</li>
			<li>
				<a href="/transport_details/all_record" title="Transport Details" class="with-tip"> <span><%= image_tag "transport/48*48/bank-detail-icon.png", :size => "30x30"  %></span></a>
			</li>
			<li>
					<a href="/transport_fee_categories/all_record" title="Transport Fee Category" class="with-tip"> <span><%= image_tag "transport/48*48/category.png", :size => "30x30"  %></span></a>
				</li> 
			<li>
				<a href="/transport_details/transport_report" title="Transport Report" class="with-tip"> <span><%= image_tag "transport/48*48/Report 28.png", :size => "30x30"  %></span> </a>
			</li> 
			<li>
				<a href="/transport_details/transport_fee_collection" title="Transport Fee Collection" class="with-tip"> <span><%= image_tag "transport/48*48/transport collection 28.png", :size => "30x30"  %></span> </a>
			</li> 
			<li >
			 <%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
			</li>
		</ul>
	</div>
	<fieldset class="grey-bg">
		<legend>
			Required fields
		</legend>
		<div class="columns">
			<p class="colx3-left required">
				<label for="name">Name</label>
				 <%= form.text_field :name,:size=>25,:class=>"full-length",:field_name=>"Name" %>
			</p>
			<p class="colx3-left required">
				<label for="address">Address</label>
				 <%= form.text_field :address,:size=>25,:class=>"full-length",:field_name=>"Address" %>
			</p>
			<p class="colx3-left required">
				<label for="city">City</label>
				 <%= form.text_field :city,:size=>25,:class=>"full-length",:field_name=>"City" %>
			</p>
			<p class="colx3-left required">
				<label for="mobile">Mobile</label>
				 <%= form.text_field :mobile,:size=>25 %>
			</p>
			 
		</div>
		
	</fieldset>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action on create
		</legend>
		<div class="columns">
			<div class="colx2-left-double">
				<label for="simple-action">Status</label>
				<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label>
				<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
			</div>
			<div class="colx2-right">
				<button id="create_provider" type="submit">
					Create
				</button>
				<button id="update_provider" type="button" >
					Update
				</button>
				<button id="reset_provider" type="button">
					Clear
				</button>
				<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>
<br/>
<div id="table-block" class="block-border">
	<%= render 'provider' %>
</div>
