									<tr>
										<th scope="row" class="table-check-cell"></th>
										<td id="category_name_<%= categories.id %>"><%= categories.name %></td>
										<td id="category_prefix_<%= categories.id %>"><%= categories.prefix %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= categories.id %>"/>

											<a href="#" id="update-employee-href-<%= categories.id %>" title="Edit" class="with-tip update-employee-category-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-employee-href-<%= categories.id %>" title="Delete" class="with-tip delete-employee-category-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>