			<div class="block-border" id="outer_block">
				<%= form_for @student_additional_field,  :html => { :class => "block-content form", :id => "studentsfield-form"}, do |form| %>
				<%= render 'shared/form_errors', :object => form.object %>
				<h1>Student Additional Field</h1>				
				<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
						</li>
					</ul>
				</div>					
				<fieldset class="grey-bg">
					<legend>Required Fields</legend>
					<div class="colx3-left-double required">
						<label for="student_additional_field_name">Name</label>
						<span class="relative">
							<%= form.text_field :name %>
						</span>
					</div>
				</fieldset>
								
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<div class="colx2-left-double">
							<label for="simple-action">Status</label>
							<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label> 
							<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
						</div>
						<div class="colx2-right">
							<button id="create_student_additional_field" type="submit">Create</button>
							<button id="update_student_additional_field" type="button" >Update</button>
							<button id="reset_student_additional_field" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
						</div>
					</div>
				</fieldset>
				<% end %>
			</div>
			<br/>
			<div id="table-block" class="block-border">
                 <%= render :partial => "student_additional_field" %>
			</div>
