<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Additional Exam Report</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
		<% unless flash[:notice].nil? %>
		<ul class="message success grid_12">
			<li>
				<strong><%= flash[:notice] %></strong>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %> <h3 align="left"><%= @student.batch.full_name %> | <%= @additional_exam_group.name %> |  <%= @additional_exam_group.reasion %></h3>
		<div id="register">
			<% this_user = User.find(session[:user_id]) if session[:user_id] %>
			<% unless this_user.student? %>
			
			<div class="extender"></div>
			<% end %>
		</div>
		<% additional_exam_score = [] %>
		<% @additional_exam.each do |additional_exam| %>
		<% additional_exam_score.push additional_exam.additional_exam_scores.find_by_student_id(@student.id) unless additional_exam.additional_exam_scores.find_by_student_id(@student.id).nil?  %>
		<% end %>
		<% total_marks_attained = 0 %>
		<% total_max_marks = 0 %>
		<table class="table" id="listing"  width="100%">
			<thead>
				<tr>
					<th scope="col">Subject</th>
					<th scope="col">Topic</th>
					<% if @additional_exam_group.exam_type == 'Marks' %> <td scope="col">Obtained Marks</td>
					<th scope="col">Max Marks</th>
					<th scope="col">Subject Wise Percentage(%)</th>
					<% elsif @additional_exam_group.exam_type == 'Grades' %> <th>Grades</th>
					<% else %> <th scope="col">Obtained Marks</th>
					<th scope="col">Max Marks</th>
					<th scope="col">Grades</th>
					<th scope="col">Percentage(%)</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% additional_exam_score.each do |es| %>
				<%@additional_max_marks =0%>
				<tr>
					<td> <%= es.additional_exam.subject.name %></td>
					<td><%= es.additional_exam.topic.name %></td>
					<% if @additional_exam_group.exam_type == 'Marks' %> <td><%= es.marks || '-' %></td>
					<% total_marks_attained = total_marks_attained+(es.marks || 0) %> <td><%= es.additional_exam.maximum_marks %></td>
					<% total_max_marks = total_max_marks+es.additional_exam.maximum_marks%> <td><b><%@additional_max_marks =es.additional_exam.maximum_marks%><%unless @additional_max_marks==0 or es.marks.nil?%> <%=es.marks*100/@additional_max_marks%><%else%>0</b><%end%>
				</td>
					<% elsif @additional_exam_group.exam_type == 'Grades' %> <td><%= es.grading_level_detail.grading_level_detail_name || "-" %></td>
					<% else %> <td><%= es.marks || "-" %></td>
					<% total_marks_attained = total_marks_attained+(es.marks || 0) %> <td><%= es.additional_exam.maximum_marks %></td>
					<% total_max_marks = total_max_marks+es.additional_exam.maximum_marks%> <td><%= es.grading_level_detail.grading_level_detail_name || "-" %></td>
					<td><%= "%.2f" %(es.marks*100/es.additional_exam.maximum_marks unless es.additional_exam.maximum_marks==0) %></td>
					<% end %>
				</tr>
				<% end %>

				<% if @additional_exam_group.exam_type == 'Marks' or @additional_exam_group.exam_type == 'MarksAndGrades' %>
				<tr>
					<td><b>Total Marks:</b></td>
					<td><b><%= total_marks_attained %></b></td><td><b><%= total_max_marks %></b></td>
					<%  if @additional_exam_group.exam_type == 'MarksAndGrades' %> <td>-</td>
					<% end %> <td><b><%= "%.2f" %(total_marks_attained*100/total_max_marks) unless total_max_marks == 0 %></b></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="extender"></div>
		<!-- <fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				
				<%  if permitted_to? :generated_report_pdf,:additional_exams %> 
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/additional_exams/generated_report_pdf?additional_exam_group=<%= @additional_exam_group.id%>&batch=<%=@batch.id%>');"/>
				<% end %>
				
			</p>
		</fieldset> -->
	</div>
</div>
