<div class="block-border" id="outer_bloc">
	<div class="block-content form">
		<h1>Additional Exams</h1>
		<h3>Result Entry</h3>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller => 'additional_exam_groups',:action => 'show',:batch_id => @batch,:id =>@additional_exam_group %>
				</li>
					</ul>
				</div>	
		<% unless flash[:notice].nil? %>
	<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %>
    <% unless flash[:warn_notice].nil? %>
	<ul class="message error">
       <li><strong><%= flash[:warn_notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %>
		<div class="bread_crumb">
			<b><%= link_to 'Courses', all_record_courses_path %> &raquo;
			<%= link_to @additional_exam_group.batch.course.full_name, all_record_courses_path %> &raquo;
			<%= link_to  "Batch " + @additional_exam_group.batch.name, :controller => 'batches', :action => 'all_record', :id => @batch, :course_id => @batch.course %> &raquo;
			<%= link_to 'Exams',:controller=>'additional_exam_groups', :action => 'index', :batch_id => @batch %> &raquo;
			<%= link_to @additional_exam_group.name, :controller => 'additional_exam_groups',:action => 'show',:batch_id => @batch,:id =>@additional_exam_group %> &raquo;
			<%= link_to @additional_exam.subject.name, :controller => 'additional_exam_groups',:action => 'show',:batch_id => @batch,:id =>@additional_exam_group %> &raquo;</b></b>
			<%= @additional_exam.topic.name %>
		</div><br />
		<%= form_for :additional_exam, :url =>{:action =>'save_additional_scores', :id=>@additional_exam} do |f| %>
		<table class="table aexamshow no-margin" id="aexamShow" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col">Roll Number</th>
					<th scope="col">Name</th>
					<% if @additional_exam_group.exam_type == 'Marks' || @additional_exam_group.exam_type == 'MarksAndGrades' %> <th scope="col">Marks</th>
					<% else if @additional_exam_group.exam_type == 'Custom'%> <th scope="col">Custom</th>
					<%else%>
					<th scope="col">Grades</th>
					<%end%>
					<% end %> <th scope="col">Remarks(absent/disqualified etc)</th>
					<% unless @additional_exam_group.exam_type == 'Marks' || @additional_exam_group.exam_type == 'Custom'%> <th scope="col">Grade</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%=student.class_roll_no %></td>
					<td><%= student.full_name %> </td>
					<% @additional_exam_score = @additional_exam.score_for(student) %>
						<%if @additional_exam_group.exam_type == 'Marks' || @additional_exam_group.exam_type == 'MarksAndGrades' %> 
					<td > <%= text_field_tag "additional_exam[#{student.id}][marks]", @additional_exam_score.marks, :size => '4' %></td>
					<%else if @additional_exam_group.exam_type == 'Custom'%>
					<td ><%= text_field_tag "additional_exam[#{student.id}][custom]", @additional_exam_score.custom, :size => '25' %></td>
					<%else%>
					 <td class="select-fixed-width1"><%= select "additional_exam[#{student.id}]", "grading_level_detail_id", @grades.map {|g| [g.grading_level_detail_name, g.id] },
                      { :prompt =>"", :selected => @additional_exam_score.grading_level_detail_id } %></td>
					<%end%><%end%>
					 <td> <%= text_field_tag "additional_exam[#{student.id}][remarks]", @additional_exam_score.remarks, :size => 25 %></td> 
					<% unless @additional_exam_group.exam_type == 'Marks' || @additional_exam_group.exam_type == 'Custom' %> <td class="col-1"><%= @additional_exam_score.grading_level_detail.grading_level_detail_name unless  @additional_exam_score.grading_level_detail.nil? %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table><br /><br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<%= f.submit "Save", :class => "big-button"%>
			</p>
		</fieldset>
		<% end %> <div class="extender"></div>
	</div>
</div>
