

<div class="block-border" id="outer_block">
	<div class="block-content">
  <h2><%= "Student wise report for "+@additional_exam_group.name+", Batch:"+@batch.name %></h2>
  <% @students.each_with_index do |student,i| %>
    <div class="extender"> </div>
   
      <div id ="main_info">
        <h4> <%="Student Name:"+ student.full_name %></h4>
        <h4> <%= "Exam : "+@additional_exam_group.name %></h4>
      </div>
      <div id="pdf-info">
        <table id="pdf-table" width="100%" cellspacing="0" class="table">
          <% c = 'even'  %>
          <%  if @additional_exam_group.exam_type == 'Marks' %>
          <thead>
            <tr class="table-header"><td class="col-pdf">Subject</td><td class="col-pdf"> Marks Obtained </td><td class="col-pdf">Maximum marks</td><td class="col-pdf">Percentage(%)</td></tr>
            <% total_marks = 0 %>
            <% total_max_marks = 0 %>
            <% @additional_exam_group.additional_exams.each_with_index do |exam,i|  %>
              <% exam_score = ExamScore.find_by_student_id_and_exam_id(student,exam) %>
              <% unless exam_score.nil? %>
                <% mark = exam_score.marks || "-" %>
                <% total_marks += exam_score.marks || 0 %>
                <% total_max_marks += exam.maximum_marks %>
              <% else %>
                <% mark = "-" %>
                <% @total_percentage = ((total_marks.to_f/total_max_marks.to_f)*100) %>
              <% end %>
            <% if i== 50 %>
            <% i= 0 %>
            <tr class="page-break"><td colspan="3"></td></tr>

                <tr class="table-header"><td class="col-pdf">Subject</td><td class="col-pdf"> Marks Obtained </td><td class="col-pdf">Maximum marks</td><td class="col-pdf">Percentage(%)</td></tr>
</thead>
          <% end %>
          <tbody>
              <tr>
                <td><%= exam.subject.name %></td>
                <td > <%= mark %> </td>
                <td><%= exam.maximum_marks %></td>
                <td><%= (exam_score.calculate_percentage unless exam_score.nil?) %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= "Total" %></td>
              <td> <%= total_marks %> </td>
              <td><%= total_max_marks %></td>
              <td><%= @total_percentage %></td>
            </tr>
            </tbody>
          <%  elsif @additional_exam_group.exam_type == 'Grades' %>
          <thead>
            <tr class="table-header"><td class="col-pdf">Subject</td><td class="col-pdf"> Grade </td></tr></thead>
            <tbody>
            <% @additional_exam_group.additional_exams.each do |exam| %>
              <% exam_score = ExamScore.find_by_student_id_and_exam_id(student,exam) %>
              <% unless exam_score.nil? %>
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                  <td class="col-pdf"><%= exam.subject.name %></td>
                  <td class="col-pdf"> <%= exam_score.grading_level || "-" %> </td>
                </tr>
              <% else %>
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                  <td class="col-pdf"><%= exam.subject.name %></td>
                  <td class="col-pdf"> <%= "-" %> </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>

          <% else %>
          <thead>
            <tr class="table-header"><td class="col-pdf">Subject</td><td class="col-pdf">Topic</td><td class="col-pdf"> Grade </td><td class="col-pdf"> Marks Obtained </td><td class="col-pdf"> Maximum marks </td><td class="col-pdf"> Percentage(%) </td></tr></thead>
            <tbody>
            <% total_marks = 0 %>
            <% total_max_marks = 0 %>
            <% @additional_exam_group.additional_exams.each do |exam| %>
              <% exam_score = ExamScore.find_by_student_id_and_exam_id(student,exam) %>
              <% unless exam_score.nil? %>
                <% mark = exam_score.marks || "-" %>
                <%unless exam_score.grading_level_detail.nil? %>
              <% grades= exam_score.grading_level_detail.grading_level_detail_name%>
                <%end%>
                <% grade = grades || "-" %>
                <% total_marks += exam_score.marks || 0 %>
                <% total_max_marks += exam.maximum_marks %>
              <% else %>
                <% mark = "-" %>
                <% grade = "-" %>
                <% @total_percentage = ((total_marks.to_f/total_max_marks.to_f)*100) %>
              <% end %>
              <tr>
                <td><%= exam.subject.name %></td>
                 <td><%= exam.topic.name %></td>
                <td> <%= grade %> </td>
                <td> <%= mark %> </td>
                <td> <%= exam.maximum_marks %> </td>
                <td> <%= (exam_score.calculate_percentage unless exam_score.nil?) %> </td>
              </tr>
            <% end %>
            <tr>
              <td><%= 'Total' %></td>
              <td> <%= "-" %> </td>
              <td> <%= total_marks %> </td>
              <td> <%= total_max_marks %> </td>
              <td> <%= "%.2f" %(@total_percentage) %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
         
  <% end %>

</div></div></div>
