			<div class="block-border" id="outer_block">
				<%= form_for @liability,  :html => { :class => "block-content form", :id => "liabilities-form"} do |form| %>
				<%= render 'shared/form_errors', :object => form.object %>
				<h1>Liability</h1>				
								
				<fieldset class="grey-bg">
					<legend>Required fields</legend>
					<div class="colx3-left-double required">
						<label for="libility_title">Title</label>
						<span class="relative">
							<%= form.text_field :title   %>
						</span>
					</div>
					<div class="colx3-right required">
						<label for="libility_amount">Amount</label>
						<span class="relative">
							<%= form.text_field :amount, :class => "full-width"  %>
						</span>
					</div>
					
				</fieldset>
				<fieldset>
					<legend>Other informations</legend>
					
					<div class="columns">
						<p class="colx2-left">
							<label for="libility_description">Description</label>
							<%= form.text_field :description, :class => "full-width" %>
						</p>
						<p class="colx2-right">
						<label for="liability_is_deleted">Status</label>
							 
							<%= form.radio_button  "is_deleted", "false" %>&nbsp;<label for="complex-en-active-0">Active</label>
							<%= form.radio_button  "is_deleted", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Inactive</label>
					</p>
					
					</div>
				</fieldset>
				

				
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
					
						<div class="colx2-right-double">
							<label for="liability_is_solved">Is Solved?</label>
							<%= form.radio_button  "is_solved", "false" %>&nbsp;<label for="complex-en-active-0">Yes</label>
							<%= form.radio_button  "is_solved", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">No</label> 
							
						</div>
						<div class="colx2-right">
							<button id="create_liability" type="submit">Create</button>
							<button id="update_liability" type="button" disabled="true">Update</button>
							<button id="reset_liability" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
						</div>
					</div>
				</fieldset>
				<% end %>
			</div>
			<br/>
			<div id="table-block" class="block-border">
            <%= render 'liabilities' %>
			</div>
