<ul class="extended-list no-margin icon-user">
	<% @cmnt.each do |cm|%>
					<li><li id="commentItem-<%= cm.id %>">
						<a href="#">
							<span class="icon"></span>
							<%= cm.author.present? ? cm.author.first_name : "User Deleted" %><br>
							<small>posted <%= time_ago_in_words(cm.created_at) %> ago</small>
							
						</a>
						<p class="float-right"><%= sanitize   cm.content.strip.gsub("\n", "<br/>"),:tags => %w[b i a ], :attributes => %w[href] %></p>
						<ul class="mini-menu">
							<% if permitted_to? :delete_comment , :news %>
							<%= link_to 'Delete' ,{:action => 'delete_comment', :id => cm.id ,:news_id => @news},:remote => true%>
							<li><a href="#" title="Delete"><%= image_tag "icons/fugue/cross-circle.png"%> Delete</a></li>
						     <% end %>
						</ul>
			</li>
	  <% end %>
</ul>

