<div id = "outer_block" class="form">
	
	<% unless skills.empty?%>
	<table class="table" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="black-cell">
				<input type="checkbox" name="batch_assign_subject"   class = "parent_checkbox"/>
				</th>
				<th scope="col"> Skill Name </th>
				<th scope="col" style = "size: 10px;"> Weekly Classes </th>
				<th scope="col"> Code </th>
							<th scope="col"> Common </th>
				<th scope="col">No Exam </th>
				<!-- <th scope="col"> Prefered Period </th>
				<th scope="col"> Prefered Teacher </th> -->
			</tr>
		</thead>
		<% @index = 0%>
		<% @subject = Subject.for_batch(batch_id)%>
		<% @select = "" %>
		<tbody id = "skills_selected">
			<% skills.each do |skill| %>
			
				
					<% @select = "" %>

						<% unless @subject.empty? %>
								<% @subject.each do |sub| %>
									<% if sub.skill_id == skill.id%>
										<% @select = "yes" %>
										<tr>
											<td id="batch_<%= skill.id %>">
											<input type="checkbox" name="batch_assign_subject" data_skill_id = "<%= skill.id %>"  class = "child_checkbox"/>
											</td>
											<td id="name_<%= skill.id %>"><%= sub.name%></td>
											<td id="clases_<%= skill.id %>" style = "text-align: center;">
											<input type="text" name="classes" value="<%= sub.max_weekly_classes%>" size = "2" />
											</td>
											<td id="code_<%= skill.id %>">
												<%= sub.code %>
											</td>
											
											<% if sub.is_common == true%> <td id="common_<%= skill.id %>" style = "text-align: center;" >
											<input type="checkbox" name="common" checked = "true"/>
											</td>
											<%else%> <td id="common_<%= skill.id %>" style = "text-align: center;" >
											<input type="checkbox" name="common" />
											</td>
											<%end%> 
											<% if sub.no_exams == true%> <td id="exam_<%= skill.id %>" style = "text-align: center;">
											<input type="checkbox" name="exam" checked = "true"/>
											</td>
											<%else%> <td id="exam_<%= skill.id %>" style = "text-align: center;">
											<input type="checkbox" name="exam" />
											</td>
											 <%end%>
											
										</tr>
									<%end%>
								<%end%>
							<%end%>
						<% if @select == "" %>
						<% if skill.is_active == true%>
								<tr>
									<td id="batch_<%= skill.id %>">
									<input type="checkbox" name="batch_assign_subject" data_skill_id = "<%= skill.id %>"  class = "child_checkbox"/>
									</td>
									<td id="name_<%= skill.id %>"><%= skill.name%></td>
									<td id="clases_<%= skill.id %>" style = "text-align: center;">
									<input type="text" name="classes" value="<%= skill.max_weekly_classes%>" size = "2" />
									</td>
									<td id="code_<%= skill.id %>">
										<%= skill.code%>
									</td>
									
									<% if skill.is_common == true%> <td id="common_<%= skill.id %>" style = "text-align: center;" >
									<input type="checkbox" name="common" checked = "true"/>
									</td>
									<%else%> <td id="common_<%= skill.id %>" style = "text-align: center;" >
									<input type="checkbox" name="common" />
									</td>
									<%end%> 
									<% if skill.no_exam == true%> <td id="exam_<%= skill.id %>" style = "text-align: center;">
									<input type="checkbox" name="exam" checked = "true"/>
									</td>
									<%else%> <td id="exam_<%= skill.id %>" style = "text-align: center;">
									<input type="checkbox" name="exam" />
									</td>
									 <%end%>
									
								</tr>
							<% end %>
						<%end%>
					<% end %>
		</tbody>
	</table>
	<%else%>
	<fieldset class="grey-bg no-margin">
		<h3>Currently there are no Skills </h3>
	</fieldset>
	<%end%>
</div>
<input type="hidden" name="count" value="" id="count_of_data" />
