<div class="columns">
	<div class="col200pxL-left "  id = "tab_left" style="float: left; width: 120px;">
		<h2>Courses</h2>
		<ul class="side-tabs js-tabs ">
				<% courses_value.each do |course|%>
			<li>
				<a href="#tab_<%=course.id%>"  id="<%=course.id%>" data-course="<%= course_for %>" title="<%= course.course_name %>" class="tab-course_tab">
					<%= course.course_name %> 
				</a>
				
			</li>
				<%end%>
			<li class="icon-tab with-margin">
				<a class="course" id="course_<%= course_for %>" data-course="<%= course_for %>" href=""><img src="/assets/icons/add.png" /></a>
			</li>
		</ul>
	</div>
	<div class="col200pxL-right"  style="margin-left:  120px;">
		<% unless courses_value.empty? %>
			<% courses_value.each do |course|%>
				<div id="tab_<%= course.id%>" class="tabs-content">		
					<%= render 'courses_tab' ,:course_for => course_for,:course => course ,:batches => course.batches ,:skills => course.skills, :elective_skills => course.elective_skills %> 
				</div>	
			<%end%>
			
			<%else%>
			<fieldset class="grey-bg">
				No Courses Are Defined Please Create Course
				<button class="course_for_button" id="course_course_for_<%= course_for %>" data-course="<%= course_for %>" >
				Add
				</button>
			</fieldset>
		
		<%end%>
	</div>
</div>
