<div class="block-border" id="outer_block">
	<%= form_for setup_course(@course),:remote => true, :html => { :class => "block-content form", :id => "course-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Course</h1>
	<fieldset class="grey-bg">
		<legend>
			Required fields for course
		</legend>
		<div class="colx3-left-double required">
			<label for="course_name">Course Name</label>
			<span class="relative"> <%= form.text_field :course_name %> </span>
		</div>
		<div class="colx3-left-double required">
			<label for="course_code">Course Code</label>
			<span class="relative"> <%= form.text_field :code %> </span>
		</div>
		
		<!-- <div class="colx3-left-double ">
			<label for="complex-en-url">Section Name</label>
				<span class="relative"> <%= form.text_field :section_name ,:class => "special_char"%> </span>
		</div> -->
	</fieldset>
	
	<%end%>
</div>


   
