
<% unless @elective_skills.nil?%>
	<% @elective_skills.each do |elective| %>
		<tr>
		
			<td id="course_name_<%= elective.id %>"><%= link_to elective.name%></td>
			<td class="table-actions">
			<input type="hidden" name="object_id" value="<%= elective.id %>"/>
			<%= link_to 'Edit', edit_elective_skill_path(:id => elective.id,:course_id => @course.id), :remote => true%><%= link_to 'Destroy', elective, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
<%end%>
