
<% unless skills.empty?%>
<div style="overflow: auto">
<table class="table" cellspacing="0" width="100%" >
	<thead>
		<tr>
			<th scope="col"> Skill Name </th>
			<th scope="col"> Weekly Classes </th>
			<th scope="col"> Code </th>
			<th scope="col"> Active </th>
			<th scope="col"> Common </th>
			<th scope="col"> Exam </th>
			<th scope="col" class="table-actions">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% skills.each do |skill| %>
		
		<tr>
			<input type="hidden" name="is_scholastic" id = "is_scholastic_<%= skill.id %>" value="<%= skill.is_scholastic %>" />
			<td id="mandatory_skill_name_<%= skill.id %>"><%= skill.name%></td>
			<td id="mandatory_max_no_of_clases_<%= skill.id %>"><%= skill.max_weekly_classes%></td>
			<td id="mandatory_skill_code_<%= skill.id %>"><%= skill.code%></td>
			<% if skill.is_active == true%> 
			
				<td id="mandatory_skill_active_<%= skill.id %>">Active</td>
			<%else%> 
			
				<td id="mandatory_skill_active_<%= skill.id %>">Inactive</td>
			<%end%> 
			<% if skill.is_common == true%> 
			
				<td id="mandatory_skill_common_<%= skill.id %>">Common</td>
			<%else%> 
			
				<td id="mandatory_skill_common_<%= skill.id %>">Not in Common</td>
			<%end%> 
			<% if skill.no_exam == true%> 
			
				<td id="mandatory_skill_exam_<%= skill.id %>">No Exam</td>
			<%else%> 
			
				<td id="mandatory_skill_exam_<%= skill.id %>">Exam</td>
			<%end%> 
			
			<td class="table-actions">
			<input type="hidden" name="object_id" value="<%= skill.id %>"/>
			<a href="#" id="update-href-mandatory<%= skill.id %>" title="Edit" class="with-tip update-mandatory-skill-href" data-id = "<%= skill.id %>"  data-course = "<%= course.id%>"> <img src="/assets/icons/fugue/pencil.png" width="16" height="16"> </a>
			<a href="#" id="delete-href-mandatory-<%= skill.id %>" title="Delete" class="with-tip delete-mandatory-skill-href"   data-course = "<%= course.id %>"> <img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
			<% if skill.is_active == true%>
			<a href="#" id="addsubskill-href-mandatory-<%= skill.id %>" title="Add Sub Skills" class="with-tip add_subskills-mandatory-skill-href" data-skill = "<%= skill.id %>"  data-course = "<%= course.id %>"> <img src="/assets/icons/add-mini.png" width="16" height="16"></a>
			<%end%> 
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<%else%>
<fieldset class="grey-bg no-margin">
	<h3>Currently there are no Skills </h3>
</fieldset>
<%end%>
<fieldset class="grey-bg no-margin">
	<legend>
		Action on create
	</legend>
	<div class="columns">
		<div class="colx2-left">
			<button class="skills_course_for_button" id="skills-mandatory-tab_<%= course.id%>" data-course="<%= course.id%>" data-course-name ="<%= course.course_name%>">
				Add
			</button>
		</div>
	</div>
</fieldset>
 