<%= form_for @grading_level_group do |f| %>
  <% if @grading_level_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grading_level_group.errors.count, "error") %> prohibited this grading_level_group from being saved:</h2>

      <ul>
      <% @grading_level_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grading_level_group_name %><br />
    <%= f.text_field :grading_level_group_name %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <%= f.fields_for :grading_level_details do |grading_level_detail|%>
  
  <%=grading_level_detail.text_field :grading_level_detail_name%>
    <%=grading_level_detail.text_field :min_score%>
     
     
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
