									<tr>
										<td class="th table-check-cell"></td>
										<td id="grading_level_group_name_<%= grading_level.id %>"><%= grading_level.grading_level_group_name %></td>
										
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= grading_level.id %>"/>
											<a href="#" id="update-href-<%= grading_level.id %>" title="Edit" class="with-tip update-grading_level_group-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= grading_level.id %>" title="Delete" class="with-tip delete-grading_level_group-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										    <a href="#" id="add-grading-level-details-href" title="Add Grading Level Details" grade-level-group="<%=grading_level.id %>" class="with-tip add-grading-level-detail-href" ><img src="/assets/icons/add-mini.png" width="16" height="16"></a>&nbsp;
										<!-- <a href="#" id="view_grading_level_details" title="View Grading Level Details" grade-level-group="<%=grading_level.id %>"><img src="/assets/icons/fugue/view-notes-icon.png" width="16" height="16"></a>&nbsp; -->
										</td>
									</tr>