<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grading_level_group.grading_level_group_name %>
</p>

<p>
  <b>Is active:</b>
  <%= @grading_level_group.is_active %>
</p>


<%= link_to 'Edit', edit_grading_level_group_path(@grading_level_group) %> |
<%= link_to 'Back', grading_level_groups_path %>
