<div class="block-border" id="outer_block">
	<%= form_for (@skill),:remote => true, :html => { :class => "block-content form", :id => "course-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Skill</h1>
	<fieldset class="grey-bg">
		<legend>
			Required Fields for Skills
		</legend>
	<div class="columns">	
		<div class="colx2-left required">
			<label for="skill_name">Skills Name</label>
			<%= form.text_field :name ,:class => "special_char1"%> 
		</div>	
	</div>
	<div class="columns">	
		<div class="colx2-left required">
			<label for="skill_code"> Skill Code</label>
			 <%= form.text_field :code ,:class => "special_char1"%> 
			<input type="hidden" name = "course_id"   value = '<%=@course_id %>'/>
		</div>
		<div class="colx2-center required ">
			<label for="skill_max_weekly_classes"> Max Weekly Classes</label>
			 <%= form.text_field :max_weekly_classes ,:class => "numeric1",:size => "15"%>
			<input type="hidden" name = "course_id"   value = '<%=@course_id %>'/>
		</div>
	</div>	
	</fieldset>
	<fieldset >
		<legend>
			Other Information for Skills
		</legend>
		
	<div class="columns">
		<div class="colx3-left">
			<label for="course_name"> No Exams</label>
			<span class="relative"> <%= form.check_box :no_exam %> </span>
			<input type="hidden" name = "course_id"   value = '<%= @course_id %>'/>
			<input type="hidden" name = "elective_skill_id"   value = '<%=@elective_skill_id %>'/>
		</div>
		<div class="colx3-center ">
			<label for="skill_common"> Is Common</label>
			<span class="relative"> <%= form.check_box :is_common %> </span>
			<input type="hidden" name = "course_id"   value = '<%= @course_id %>'/>
			<input type="hidden" name = "elective_skill_id"   value = '<%= @elective_skill_id %>'/>
		</div>
		
		<div class="colx3-right ">
			<label for="skill_active"> Is Active</label>
			<span class="relative"> <%= form.check_box :is_active %> </span>
			<input type="hidden" name = "course_id"   value = '<%= @course_id %>'/>
			<input type="hidden" name = "elective_skill_id"   value = '<%= @elective_skill_id %>'/>
		</div>
	</div>	
	</fieldset>
	
	<div class="columns">
		<div class="colx2-left">
	<fieldset >
		<legend>
			Assigned Batch
		</legend>
			<ul class="message warning no-margin">
					<li >Select Batch for Deassign </li>
				</ul>
				<ul class="blocks-list" id = "batch_ul_assign">
			
			</ul>
	</fieldset>
	</div>
	<div class="colx2-right">
	<fieldset >
		<legend>
			Unassigned Batch
		</legend>
		<ul class="message warning no-margin">
					<li >Select Batch for Assign </li>
				</ul>
			<ul class="blocks-list" id = "batch_ul_unassign">
			
			</ul>
	</fieldset>
	
	</div>
	
	</div>
	
	
	<%end%>
</div>

	



	
	
	
	
