			
			<div id="outer_block">
				<%= form_for @co_scholastic_sub_skill_area,  :html => { :class => "block-content form", :id => "coscholasticareaskill-form"} do |form| %>
				<fieldset class="grey-bg">
					<legend>Required fields</legend>
					<div class="colx3-left-double required">
						<%= form.hidden_field :co_scholastic_area_id,:value=>@scholastic_area%>
						<label for="co_scholastic_area_name">Name</label>
						<span class="relative">
							<%= form.text_field :co_scholastic_sub_skill_name, :class => "full-length",:field_name=>'Co Scholastic Area Name' %>
						</span>
					</div>
					
				</fieldset>
				
				
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<div class="colx2-left-double">
							<label for="simple-action">Status</label>
							<%= form.radio_button  "is_active", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label> 
							<%= form.radio_button  "is_active", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
						</div>
						<div class="colx2-right">
							<button id="create_co_scholastic_area_skill" type="submit">Create</button>
							<button id="update_co_scholastic_area_skill" type="button" >Update</button>
							<button id="reset_co_scholastic_area_skill" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
						</div>
					</div>
				</fieldset>
				<% end %>
				
			</div>
			<br/>
		<div id="viewSubSkillOFArea">
			<%= render :partial => 'view_scholastic_area_subskill'%>
		</div>	
