									<tr>
										<td class="th table-check-cell"></td>
										<td id="area_skill_name_<%= scholastic_area_skill.id %>"><%= scholastic_area_skill.co_scholastic_sub_skill_name %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= scholastic_area_skill.id %>"/>
											<a href="#" id="update-href-<%= scholastic_area_skill.id %>" title="Edit" class="with-tip update-scholastic_area_skill-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16" title="Edit"></a>
											<a href="#" id="delete-href-<%= scholastic_area_skill.id %>" title="Delete" class="with-tip delete-scholastic_area_skill-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16" title="Delete"></a>
										    
										    
										</td>
									</tr>