<div class="block-border" id="outer_block">
<div class="block-content form">
		<h1>Configurations</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
		<%= render 'shared/form_notice' %>	
		<div id="user_options">
			
			<ul class="shortcuts-list">
			
				<li>
					<a href="/school_configurations/settings"> <span> <%= image_tag "dashboard/setting.png", :size => "48x48"  %> </span> <h6>General Settings</h6> </a>
				</li>
				<li>
					<a href="/student_categories/all_record"> <span><%= image_tag "dashboard/levels.png", :size => "48x48"  %></span> <h6>Student Category</h6> </a>
				</li>
				<li>
					<a href="/student_additional_fields/all_record"> <span><%= image_tag "dashboard/additional.png", :size => "48x48"  %></span> <h6>Admission Additional Detail</h6> </a>
				</li>
				<li>
					<a href="/class_timings"> <span><%= image_tag "dashboard/clock-icon.png", :size => "48x48"  %></span> <h6>Class Timings</h6> </a>
				</li>
				<li>
					<a href="/rooms/all_record"> <span><%= image_tag "dashboard/rooms.png", :size => "48x48"  %></span> <h6>Rooms</h6> </a>
				</li>
				<li>
					<a href="/weekdays"> <span><%= image_tag "dashboard/weekdays.png", :size => "48x48"  %></span> <h6>Week Days</h6> </a>
				</li>
			</ul>
			
			
			
			
			<br/>
			<br/>
			
			 
		</div>
</div>
</div>
