			<div class="block-border">
				<div class="block-content">
					<h1>Dashboard</h1>
				
					<h3>My Info</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/profile.png", :size => "48x48"  %> My Profile
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/attendance.png", :size => "48x48"  %>  Attendance
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/timetable.png", :size => "48x48"  %>  Timetable
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/calendar.png", :size => "48x48"  %> Calendar
						</a></li>
					</ul>
					
					<h3>Assignments</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "subjects/maths.png", :size => "48x48"  %>  Maths
						</a></li>
						<li><a href="#">
							<%= image_tag "subjects/english.png", :size => "48x48"  %>  English
						</a></li>
						<li><a href="#">
							<%= image_tag "subjects/physics.png", :size => "48x48"  %>  Physics
						</a></li>
						<li><a href="#">
							<%= image_tag "subjects/chemistry.png", :size => "48x48"  %> Chemistry
						</a></li>
						<li><a href="#">
							<%= image_tag "subjects/biology.png", :size => "48x48"  %> Biology
						</a></li>
					</ul>
					
					<h3>Academics</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/current_results.png", :size => "48x48"  %> Recent Exams
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/report_card.png", :size => "48x48"  %> Subject Wise Results
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/report.png", :size => "48x48"  %> Detail Reports
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/archive.png", :size => "48x48"  %> Archives
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/award.png", :size => "48x48"  %>  Awards
						</a></li>
					</ul>
					
					<h3>Misclleaneous</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/inbox.png", :size => "48x48"  %> Inbox
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/reminders.png", :size => "48x48"  %> Reminders
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/news.png", :size => "48x48"  %> News
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/money.png", :size => "48x48"  %> Fee
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/mobile.png", :size => "48x48"  %> SMS Mobile
						</a></li>
					</ul>					
					
				</div>
			</div>