			<div class="block-border">
				<div class="block-content">
					<h1>Dashboard</h1>
					
					<h3>My Info</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/profile.png", :size => "48x48"  %> My Profile
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/timetable.png", :size => "48x48"  %>  My Timetable
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/payslip.png", :size => "48x48"  %>  Payslips
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/leaves.png", :size => "48x48"  %>  Leaves
						</a></li>
					</ul>
				
					<h3>My Class</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/classes.png", :size => "48x48"  %> Students
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/attendance.png", :size => "48x48"  %>  Attendance
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/timetable.png", :size => "48x48"  %>  Class Timetable
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/fee.png", :size => "48x48"  %>  Fee
						</a></li>
					</ul>
					
					<h3>Academics</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/courses.png", :size => "48x48"  %> Courses
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/new_exam.png", :size => "48x48"  %>  New Exam
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/current_results.png", :size => "48x48"  %>  Enter Results
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/grade_level.png", :size => "48x48"  %> Grades
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/exams_reports.png", :size => "48x48"  %> Reports
						</a></li>
						
					</ul>
					
					<h3>Misclleaneous</h3>
					<ul class="shortcuts-list">
						<li><a href="#">
							<%= image_tag "dashboard/inbox.png", :size => "48x48"  %> Inbox
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/reminders.png", :size => "48x48"  %> Reminders
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/news.png", :size => "48x48"  %> News
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/money.png", :size => "48x48"  %> Fee
						</a></li>
						<li><a href="#">
							<%= image_tag "dashboard/mobile.png", :size => "48x48"  %> SMS Mobile
						</a></li>
					</ul>
				</div>
			</div>