<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Examination Settings</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
		</div>
		
		<ul class="shortcuts-list">
			<li>
				<a href="co_scholastic_areas/all_record"><%= image_tag "dashboard/co-scholastic_area.png", :size => "48x48"  %><h4> CoScholastic Area</h4></a>
			</li>
			<li>
				<a href="co_scholastic_activities/all_record"><%= image_tag "dashboard/co-scholastic_activity.png", :size => "48x48"  %><h4> CoScholastic Activity</h4></a>
			</li>
			<li>
				<a href="term_masters/all_record"><%= image_tag "dashboard/TERm Master.png", :size => "48x48"  %><h4>Term Master</h4></a>
			</li>
			<li>
				<a href="assessment_names/all_record"><%= image_tag "dashboard/assessment name.png", :size => "48x48"  %><h4>Assessment Names</h4></a>
			</li>
			<li>
				<a href="grading_level_groups/all_record" > <span> <%= image_tag "dashboard/subject-wise-report-icon.png", :size => "48x48"  %> </span> <h4>Grading System</h4> </a>
			</li>
		</ul>
	</div>
</div>