
<div class="personPopupResult" style="overflow: auto;">
<% @student_with_dob.each do |student|%>
	<%if FileTest.exists?("#{Rails.root}/public/system/archived_students/student_photos/#{student.id}")%>
							<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em;background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(<%= student.student_photo.url(:small) %>);">
							<%elsif student.gender.upcase== "M"%>						
							<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em; background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(/assets/icons/web-app/48/male.png);">
							<%else%>
							<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em;background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(/assets/icons/web-app/48/female.png);">
							<% end %>	
								Admission No.<small><%= student.admission_no %></small>
								<p class="grid-name"><%=  link_to student.full_name, :controller => 'student', :action => 'my_profile', :q => student.admission_no%></p>
								<p class="grid-details">Age: <b><%= Date.today.strftime("%Y").to_i - student.date_of_birth.strftime("%Y").to_i %></b><br>
								<%if student.gender.upcase == "M"%>
								Gender: <b>Male</b><br>
								<%else%>
								Gender: <b>Female</b><br>
								<%end%>
								Roll No. : <b><%= student.class_roll_no %></b></p>
							</div>
						</li>
	<%end%>

</div>
