<div class="block-border" id="outer_block">
<div class="block-content form">
		<h1>HR Settings</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
		<%= render 'shared/form_notice' %>	
		<div id="user_options">
			<% if @user.admin? %>
			<ul class="shortcuts-list">
				<li>
					<a href="/employee_categories/all_record" >
						 <span> <%= image_tag "dashboard/employee-category-icon.png", :size => "48x48"  %> </span> <h6>Employee Category</h6> </a>
				</li>
				<li>
					<a href="/employee_departments/all_record"> <span> <%= image_tag "dashboard/employee-department.png", :size => "48x48"  %> </span> <h6>Employee Department</h6> </a>
				</li>
				<li>
					<a href="/employee_positions/all_record"> <span><%= image_tag "dashboard/levels.png", :size => "48x48"  %></span> <h6> Employee Position</h6> </a>
				</li>
				<li>
					<a href="/employee_grades/all_record"> <span><%= image_tag "dashboard/employee-grade.png", :size => "48x48"  %></span> <h6>Employee Grade</h6> </a>
				</li>
				<li>
					<a href="/payroll_categories/all_record"> <span><%= image_tag "dashboard/payroll-categoryicon.png", :size => "48x48"  %></span> <h6>Payroll Category</h6> </a>
				</li>
				<li>
					<a href="/bank_fields/all_record"> <span><%= image_tag "dashboard/bank-detail-icon.png", :size => "48x48"  %></span> <h6>Bank Detail</h6> </a>
				</li>
				<li>
					<a href="/additional_fields/all_record"> <span><%= image_tag "dashboard/exams_reports.png", :size => "48x48"  %></span> <h6>Additional Detail</h6> </a>
				</li>
			</ul>
			
			
			<% end %>
			
			<br/>
			<br/>
			
			 
		</div>
</div>
</div>
