<%= form_for @room,  :html => { :class => "block-content form", :id => "rooms-form"} do |form| %>
<%= render 'shared/form_errors', :object => form.object %> <h1>Room</h1>
<fieldset class="grey-bg">
	<legend>
		Required Fields
	</legend>
<div class="columns">
	<div class="colx2-left" id="depart_cate">
	<div class="columns">
		<p class="colx3-left required">
			<label for="room_name">Name</label>
			<%= form.text_field :name ,:field_name => 'Name' ,:class => "full-width",:style=>'width: 250px;'%>
		</p>
		<p class="colx3-right required">
			<label for="room_priority">Capacity</label>
			<%= form.text_field :capacity, :class => "numeric", :size => "10" ,:field_name => 'Capacity'%> 
		</p>
	</div>
	</div>
	<div class="colx2-right">
	<div class="columns">
		<p class="colx2-left required">
			<label for="complex-en-subtitle">Type</label>
			<%= select :room, :roomtype, [['ClassRoom'],['Lab'], ['Assembly Hall'],['Hall'], ['Playground'],['StaffRoom'],['Library'],['Store'],['RestRoom'],['Others']], :prompt => "Select" %>
		</p>
		<p class="colx2-right required">
			<label for="complex-en-subtitle">Owner</label>
			<%= select :room, :employee_id, @employees.map {|s| [s.full_name, s.id]}, :prompt => "Select" %>
		</p>
	</div>
	</div></div>
</fieldset>
<fieldset class="grey-bg no-margin">
	<legend>
		Action on create
	</legend>
	<div class="columns">
		<div class="colx2-left-double">
			<label for="simple-action">Status</label>
			<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label>
			<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
		</div>
		<div class="colx2-right">
			<button id="create_room" type="submit">
				Create
			</button>
			<button id="update_room" type="button" >
				Update
			</button>
			<button id="reset_room" type="button">
				Clear
			</button>
			<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
		</div>
	</div>
</fieldset>
<% end %>