									<tr>
										
										<td id="transaction_category_name_<%= transaction_category.id %>"><%= transaction_category.name %></td>
										<td id="transaction_category_description_<%= transaction_category.id %>"><%= transaction_category.description %></td>
										 	<% if  transaction_category.is_income == true %>
										 	<td id="transaction_category_is_income_<%= transaction_category.id %>">Income </td>
										 	<%else%>
										 	<td id="transaction_category_is_income_<%= transaction_category.id %>">Expense</td>
										 	<%end%>
										 	<input type="hidden" id = "transation_is_income_<%= transaction_category.id %>" name="transation_is_income" value="<%= transaction_category.is_income %>"/>
										<!-- <td id="transaction_category_is_income_<%= transaction_category.id %>"><%= transaction_category.is_income %></td> -->
										 
										<td class="table-actions">
											
											<input type="hidden" name="object_id" value="<%= transaction_category.id %>"/>
											<%unless (transaction_category.id == 1 or transaction_category.id ==2 or transaction_category.id ==3) %>
											<a href="#" id="update-href-<%= transaction_category.id %>" title="Edit" class="with-tip update-finance-transaction-category-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= transaction_category.id %>" title="Delete" class="with-tip delete-finance-transaction-category-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										<% end %>
										</td>
										
									</tr>