<div class="block-border" id="outer_block">
<div class="block-content form">
<label class="head_label">Edit attendance for <span><%= @employee.full_name %></span></label>

  <%= form_for :attendance do |f| %>
    <div class="label-field-pair">
      <label for="leave_type"> Leave type</label>
      <div class="text-input-bg"><%= f.select :employee_leave_type_id, @leave_types.map {|c| [c.name, c.id]} %></div>
    </div>
    <div class="column">
     <p class="colx2-left">
      <label for="leave_type"> Start Date</label>
      <span class="input-type-text"><%= text_field_tag :edit_start_date_attendance,nil, :class => "modal_date_picker", :size => 20,:readonly => "1" %><%= image_tag "icons/fugue/calendar-month.png" %></span>
    </p>
     <p class="colx2-right">
      <label for="leave_type">End Date</label>
      <span class="input-type-text"><%= text_field_tag :edit_end_date_attendance,nil, :class => "modal_date_picker", :size => 20,:readonly => "1" %><%= image_tag "icons/fugue/calendar-month.png" %></span>
    </p>
    </div>
    <div class="label-field-pair">
      <label for="leave_type"> Reason for Absence</label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <div class="label-checkbox-pair">
      <label><%= f.check_box :is_half_day %>is half day?</label>
    </div>
  <% end %>

</div>
</div>