<div class="block-border" id="outer_block">
	<%= form_for @finance_transaction,:url => incomes_path + '.json',:html => { :class => "block-content form", :id => "income-update-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Income</h1>
	<fieldset class="grey-bg">
		<legend>
			Required fields
		</legend>
		<div class="colx3-left-double required">
			<label for="incometitle">Title</label>
			<span class="relative"> <%= form.text_field :title, :class => "full-width" %> </span>
			<label for="incomecategory">Transaction category</label>
			<span class="relative"> <%= select :transaction, :category_id, @categories.map { |c| [c.name, c.id] },:prompt=>'Select a category' %> </span>
			<label for="incomeamount">Amount</label>
			<span class="relative"> <%= form.text_field :amount %> </span>
			<label for="incomedate">Date</label>
			<span class="relative"> <%= form.text_field  :transaction_date,class: "datepicker"%> </span>
		</div>
	</fieldset>
	<fieldset>
		<legend>
			Other informations
		</legend>
		<div class="columns">
			<p class="colx2-left">
				<label for="complex-en-url">Description</label>
				<span class="relative"> <%= form.text_field :description, :class => "full-width" %> </span>
			</p>
		</div>
	</fieldset>
	
	<% end %>
</div>