									<tr>
										
										<td id="todayincome_title_<%= todayincome.id %>"><%= todayincome.title %></td>
										<td id="todayincome_description_<%= todayincome.id %>"><%= todayincome.description %></td>
										<td id="todayincome_amount_<%= todayincome.id %>"><%= todayincome.amount %></td>
										<td id="todayincome_date_<%= todayincome.id %>"><%= todayincome.transaction_date %></td>
										<input type="hidden" name="category_id" id ="category-id" value="<%= todayincome.category_id %>"/>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= todayincome.id %>"/>
											<a href="" id="delete-href-<%= todayincome.id %>" title="Delete" class="with-tip deleteincome-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>