<form class="block-content form" id="table_form" method="post" action="">
				<h1>Question List</h1>
				
				<table class="table assignmentStudentAssign no-margin" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Question
							</th>
							<th scope="col">Hint</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								To Be Completed
							</th>
							<th scope="col">View Student</th>
						</tr>
					</thead>
					<tbody>
						<% @assignment.each_with_index do |assignment,i| %>
						<tr>
							<td class="th table-check-cell"></td>

							<td id="showEmployeeFullQuestion" ids=<%=assignment.id%>><%=link_to assignment.question %></td>
							<%if assignment.attachment_filename.nil?%>
							<td><%=assignment.hint%></td>
							<%else%>
							<td><%=link_to  assignment.attachment_filename ,:action => 'download_attachment' ,:id => assignment.id%>/Hint: <%=assignment.hint unless assignment.hint.nil?%></td>
							<%end%>
							<td><%=assignment.to_be_completed.strftime("%d-%m-%Y")%></td>
							<td><img src="/assets/icons/fugue/magnifier.png" width="16" height="16" id="viewStudentAssignment" batch_id="<%=assignment.batch_id%>" assigned_student="<%=assignment.student_id %>" assignment_id="<%=assignment.id %>" ></td>
						</tr>
						<%end%>
					</tbody>
				
				</table>
				</form>
