<% week =[] %>
<% @weekdays.each do |dr| %>
<% week.push dr.weekday %>
<% end %>
<div class="block-content form " id ="outer_block" >
<%= form_for(:weekday, :url => {:action=> 'create'},:remote => true,:class => "no-margin") do |f| %>
<table   id = "weekday_select_checkbox" class="table weekdays no-margin" cellspacing="0" width="100%" style=" margin-left : 5px;"  border="0" >
	<thead>
		<tr>
			<th>WeekDay</th>
			<th>value</th>
		</tr>
	</thead>
	<tbody>
		<% batch_id = (@b.nil? ? nil : @b.id) %>
		<%= f.hidden_field :batch_id, :value => batch_id %>
		<% @days.each do |w| %>
		<tr>
			<% q = w.to_i %> <td><%= @day[q] %></td>
			<td class="th table-check-cell"><%= check_box_tag "weekdays[]", w,  week.include?(w) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<!-- <fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button"> -->
		<!-- <%= f.submit "Save",:class =>"big-button",:id => "window_reload", :confirm=>"This will delete all timetable entries and Attendance entries for the weekdays, Proceed with changing weekdays ?" %> -->
	 	
	<!-- </p>
</fieldset> -->
<% end %> 
</div>