<style>
	#weektable{
	margin-left: 15em;
	
	}
	
</style>
<fieldset class="grey-bg">
	<% week =[] %>
	<% @weekdays.each do |dr| %>
	  <% week.push dr.weekday %>
	<% end %>					

<%=form_for(:weekday, :url => {:action=> 'create'})  do |f| %>
<%end%>
		<%= form_for(:weekday, :url => {:action=> 'create'},:remote => true) do |f| %>
		
		
		<table  id = "weektable" class="table weekdays no-margin" cellspacing="0" width="50%"  border="0" >
								<thead>
									<tr>
									<th>WeekDay</th>
									<th>value</th>
									</tr>
								</thead>
								<tbody>	
									<% batch_id = (@b.nil? ? nil : @b.id) %>
	    								<%= f.hidden_field :batch_id, :value => batch_id %>
	  								  <% @days.each do |w| %>
		      	
									<tr>
										<% q = w.to_i %>
										<td><%= @day[q] %></td>
										<td class="th table-check-cell"><%= check_box_tag "weekdays[]", w,  week.include?(w) ,:disabled => true%></td>
										

									</tr>
									<% end %>
								</tbody>
		</table>
		
					
		
<!-- <%= f.submit "Save",:class =>"big-button", :confirm=>"This will delete all timetable entries and Attendance entries for the weekdays, Proceed with changing weekdays ?" %> -->
<% end %>

</fieldset>
<fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button">
		<% if @b.nil?%>
		<!-- <input type="button" class="week_days big-button" data-batch="common" title ="create class Timing" value="ADD Weekdays" data-remote = "true"/> -->
		<%=link_to 'ADD Weekdays',{:action => "weekdays_modal", :batch_id => ''}, :remote => true,:class => "week_days big-button", :data_batch =>"common" , :title => "create Weekdays"%>
		<% else %>
		<!-- <input type="button" value="ADD Weekdays" class="week_days big-button" data-batch_id="<%= @b.id %>" data-batch = "<%= @b.full_name%>" title ="create Weekdays" /> -->
		<%=link_to 'ADD Weekdays',{:action => "weekdays_modal", :batch_id => @b.id}, :remote => true,:class => "week_days big-button", :data_batch =>"common" , :title => "create Weekdays"%>
		<% end %>
		<%= button_to_function "Reset", "$(location).attr('href','/weekdays');", :class => "big-button" %>
	</p>
</fieldset>
					




