				<form class="block-content form" id="table_form" method="post" action="">
					<h1>Session List</h1>
					<div>
						<ul class="tabs js-tabs">
							<li class="current"><a href="#tab-active" title="Active">Active</a></li>
							<li><a href="#tab-inactive" title="Inactive">Inactive</a></li>
						</ul>
					</div>
					<div id="tabs-content" class="tabs-content">
						<div id="tab-active">
							<table id="active-table" class="table school_session_table no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>
									<%unless @active_school_sessions.nil?%>	
									<% @active_school_sessions.each do |school_session| %>
									<tr>
										<td class="th table-check-cell"></td>
										<td id="session_name_<%= school_session.id %>"><%= school_session.name %></td>
										<td id="session_start_date_<%= school_session.id %>"><%= school_session.start_date.strftime("%d-%m-%Y") %></td>
										<td id="session_end_date_<%= school_session.id %>"><%= school_session.end_date.strftime("%d-%m-%Y") %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= school_session.id %>"/>											
											<a href="#" id="update-href-<%= school_session.id %>" title="Edit" class="with-tip update-school_session-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
										</td>
									</tr>
									<% end %>
									<% end %>
								</tbody>
							</table>
						</div>
						<div id="tab-inactive">
							<table id="inactive-table" class="table school_session_table no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>	
									<%unless @inactive_school_sessions.nil?%>		
									<% @inactive_school_sessions.each do |school_session| %>
									<tr>
										<td class="th table-check-cell"></td>
										<td id="session_name_<%= school_session.id %>"><%= school_session.name %></td>
										<td id="session_start_date_<%= school_session.id %>"><%= school_session.start_date.strftime("%d-%m-%Y") %></td>
										<td id="session_end_date_<%= school_session.id %>"><%= school_session.end_date.strftime("%d-%m-%Y") %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= school_session.id %>"/>											
										    <strike>Edit</strike>
										</td>
									</tr>
									<% end %>
									<%end%>
								</tbody>
							</table>
						</div>
					</div>
					<input type="hidden" id="url_prefix" name="url_prefix" value="/school_sessions" />
				</form>	