<div class="block-border" id="outer_block">
	<div class="block-content form" id="complex_form">
		<h1>School Session</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
		<%= form_for @school_sessions do |f| %>
		<fieldset>
			<legend>
				Session Details
			</legend>
			<div class="columns">
				<p class="colx3-left required">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</p>
				<p class="colx3-center required">
					<label for="parent_detail_dob">Start Date</label>
					<span class="input-type-text"><%= f.text_field :start_date, :class => "datepicker",:value => (Date.today).strftime('%d-%m-%Y'), :size => 20,:readonly => "1" %><%= image_tag "icons/fugue/calendar-month.png" %></span>
				</p>
				<p class="colx3-right required">
					<label for="parent_detail_dob">End Date</label>
					<span class="input-type-text"><%= f.text_field :end_date, :class => "datepicker",:value => (Date.today+1.year).strftime('%d-%m-%Y'), :size => 20,:readonly => "1"  %><%= image_tag "icons/fugue/calendar-month.png" %></span>
				</p>
			</div>
			<div class="column">
				<p class="colx-left">
					<label for="Current Session"><strong>Is Current Session?</strong></label>
				    <%= f.check_box("current_session", { :class => 'mini-switch current_seesion_checkbox' }, "true", "false") %>
				</p>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<div class="colx2-right">
							<button id="create_school_session" type="submit">Create</button>
							<button id="update_school_session" type="button" >Update</button>
							<button id="reset_school_session" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
			</div>

		</fieldset>
		<% end %>
	</div>
</div>
			<br/>
			<div id="table-block" class="block-border">
    <%= render :partial => "school_session" %>
			</div>
