<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school_session.name %>
</p>

<p>
  <b>Current session:</b>
  <%= @school_session.current_session %>
</p>

<p>
  <b>Start Date:</b>
  <%= @school_session.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @school_session.end_date %>
</p>


<%= link_to 'Edit', edit_school_session_path(@school_session) %> |
<%= link_to 'Back', school_sessions_path %>
