<style type="text/css">
	.current-date {
		padding: 5px;
		font-size: 20px;
		font-weight: bold;
		border-bottom: 1px solid #e4e4e4;
	}
</style>

<div class="block-border" id="outer_block">
	<div class="block-content form">
		<fieldset class="grey-bg">
			<% unless !params[:is_holiday].nil? %> <h2><%= @date.strftime('%B %Y') %></h2>
			<% @events_co.each do |h| %>
			<% if params[:for_holiday].nil? && params[:for_Exam].nil?%>
			<div class="task with-legend">
				<div class="legend"><img src="/assets/icons/fugue/status.png" width="16" height="16"><%= h.title %>
				</div>
				<div class="task-description">
					<% if permitted_to? :edit_event , :event %>
					<ul class="mini-menu">
						<li>
							<a href="event/edit_event?id=<%= h.id%>" title="Edit event"><img src="/assets/icons/web-app/24/Modify.png" width="16" height="16"></a>
						</li>
						<li>
								<a href="#" id="delete_event" data-id="<%= h.id%>" title="Delete event"><img src="/assets/icons/web-app/24/Delete.png" width="16" height="16"></a>
						</li>
					</ul>
					<%end%>
					<ul class="floating-tags">
						Start Time :
						<li class="tag-time">
							<%= h.start_date.strftime("%I:%M %p") %>
						</li>
						End Time :
						<li class="tag-time">
							<%= h.end_date.strftime("%I:%M %p") %>
						</li>
					</ul>
					<b>Description:</b><strong><%= h.description %></strong>
					<br />
				</div>
			</div>
			<%end%>
			<%end%>
			<% else %>
			<% @event_holiday.each do |h| %>
			<div class="task with-legend">
				<div class="legend"><img src="/assets/icons/fugue/status.png" width="16" height="16"><%= h.title %>
				</div>
				<div class="task-description">
					<% if permitted_to? :edit_event , :event %>
					<ul class="mini-menu">
						<li>
							<a href="event/edit_event?id=<%= h.id%>" title="Edit event"><img src="/assets/icons/web-app/24/Modify.png" width="16" height="16"></a>
						</li>
						<li>
							<a href="#" id="delete_event" data-id="<%= h.id%>" title="Delete event"><img src="/assets/icons/web-app/24/Delete.png" width="16" height="16"></a>
						</li>
					</ul>
					<%end%>
					<ul class="floating-tags">
						Start Time :
						<li class="tag-time">
							<%= h.start_date.strftime("%I:%M %p") %>
						</li>
						End Time :
						<li class="tag-time">
							<%= h.end_date.strftime("%I:%M %p") %>
						</li>
					</ul>
					<b>Description:</b><strong><%= h.description %></strong>
					<br />
				</div>
			</div>
			<% end %>

			<%end%>
			<% unless params[:for_holiday].nil? %>
			<% @not_comm_event.each do |h| %>
			<div class="task with-legend">
				<div class="legend"><img src="/assets/icons/fugue/status.png" width="16" height="16"><%= h.title %>
				</div>
				<div class="task-description">
					<% if permitted_to? :edit_event , :event %>
					<ul class="mini-menu">
						<li>
							<a href="event/edit_event?id=<%= h.id%>" title="Edit event"><img src="/assets/icons/web-app/24/Modify.png" width="16" height="16"></a>
						</li>
						<li>
							<a href="#" id="delete_event" data-id="<%= h.id%>" title="Delete event"><img src="/assets/icons/web-app/24/Delete.png" width="16" height="16"></a>
						</li>
					</ul>
					<%end%>
					<ul class="floating-tags">
						Start Time :
						<li class="tag-time">
							<%= h.start_date.strftime("%I:%M %p") %>
						</li>
						End Time :
						<li class="tag-time">
							<%= h.end_date.strftime("%I:%M %p") %>
						</li>
					</ul>
					<b>Description:</b><strong><%= h.description %></strong>
					<br />
					<% @not_batch_eventsss= BatchEvent.find_all_by_event_id(h.id)%> <b>Course:</b><%@not_batch_eventsss.each do |fj|%> <strong><%= fj.batch.full_name unless fj.batch.nil?%>,</strong>
					<%end%>
					<br />
					<% @not_employee_dept_eventsss= EmployeeDepartmentEvent.find_all_by_event_id(h.id)%> <b>Department:</b><%@not_employee_dept_eventsss.each do |fk|%> <strong><%= fk.employee_department.name%>,</strong>
					<%end%>
				</div>
			</div>
			<%end%>
			<%end%>
			
			<% unless params[:for_Exam].nil? %>
			<% @exam_event.each do |h| %>
			
			<div class="task with-legend">
				<div class="legend"><img src="/assets/icons/fugue/status.png" width="16" height="16"><%= h.title %>
				</div>
				<div class="task-description">
					<ul class="floating-tags" style="width: 11em;">
						Start Time :
						<li class="tag-time">
							<%= h.start_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
						End Time :
						<li class="tag-time">
							<%= h.end_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
					</ul>
					<b>Description:</b><strong><%= h.description %></strong>
					<br />
					<br /> 
				</div>
			</div>
			<%end%>
			<%end%>
			<% unless params[:fees_event].nil? %>
            <% @fees_event.each do |h| %>
			<%finance_fee_collection = FinanceFeeCollection.find_by_id(h.origin_id)%>
			<div class="task with-legend">
				<div class="legend"><img src="/assets/icons/fugue/status.png" width="16" height="16">Fee Collection
				</div>
				<div class="task-description">
					<ul class="floating-tags">
						Start Date :
						<li class="tag-time">
							<%= finance_fee_collection.start_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
						End Date :
						<li class="tag-time">
							<%= finance_fee_collection.end_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
						Due Date :
						<li class="tag-time">
							<%= finance_fee_collection.due_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
					</ul>
					<b>Fees Collection Name:<strong><%= finance_fee_collection.name %></strong></b>
					<br />
					<b>Batch Name:</b><strong><%= finance_fee_collection.batch.full_name %></strong>
					<br />
					<br /> 
				</div>
			</div>
			<%end%>
			<%end%>
			<% unless params[:user_event].nil? %>
            <% @self_event.each do |h| %>
			<div class="task with-legend">
				<div class="legend"><img src="/assets/icons/fugue/status.png" width="16" height="16"><%=h.title%>
				</div>
				<div class="task-description">
					<ul class="mini-menu">
						<li>
							<a href="#" id="edit_event_of_self" data-id="<%= h.id%>" title="Edit event"><img src="/assets/icons/web-app/24/Modify.png" width="16" height="16"></a>
						</li>
						<li>
							<a href="#" id="delete_event" data-id="<%= h.id%>" title="Delete event"><img src="/assets/icons/web-app/24/Delete.png" width="16" height="16"></a>
						</li>
					</ul>
					<ul class="floating-tags">
						Start Date :
						<li class="tag-time">
							<%= h.start_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
						End Date :
						<li class="tag-time">
							<%= h.end_date.strftime("%d-%m-%y %I:%M %p") %>
						</li>
					</ul>
					<b>Description:</b><strong><%= h.description %></strong>
					<br /> 
				</div>
			</div>
			<%end%>
			<%end%>
		</fieldset>
	</div>
</div>