<style type="text/css">
	.events li .my_red_class{
		color: green;
	}
	.more-events li .my_red_class{
		color: red;
	}

</style>

	<ul class="dot-events with-children-tip" style="float: left;">
                    <li style="border: 0.666em solid red;" class="red">Special Event</li>Special Event&nbsp;
                    <li style="border: 0.666em solid blue;" class="blue">Exam</li>Exam&nbsp;
                    <li style="border: 0.666em solid orange;">Fees Due</li>Fees Due &nbsp;
                    <%= image_tag("/assets/icons/fugue/my_event16X16.png" ,:title=> "My Event")%>My Event &nbsp;
    </ul>
 
<div class="block-controls">

	<ul class="controls-buttons">
		<li>
			<%= link_to (image_tag("icons/fugue/navigation-180.png")) ,{:controller => 'calendars',:action => 'monthsname', :new_month => @show_month.month-1, :passed_date=> @show_month },:remote => true %>
		</li>
		<li class="sep"></li>
		<li class="controls-block">
			<strong><%= @show_month.strftime('%B %Y') %></strong>
		</li>
		<li class="sep"></li>
		<li class="next-to-mini-calendar">
			<%= link_to (image_tag("icons/fugue/navigation.png")) ,{:controller => 'calendars',:action => 'monthsname', :new_month => @show_month.month+1, :passed_date=> @show_month },:remote => true %>
		</li>
	</ul>
</div>
<div class="no-margin">
	<table cellspacing="0" class="calendar">
		<thead>
			<tr>
				<%= @display_week.week_index_in_month %> <th scope="col" class="black-cell"><span class="success"></span></th>
				<th scope="col" class="week-end" style="background: #50A3C8;">Sunday</th>
				<th scope="col">Monday</th>
				<th scope="col">Tuesday</th>
				<th scope="col">Wednesday</th>
				<th scope="col">Thursday</th>
				<th scope="col">Friday</th>
				<th scope="col" class="week-end"  style="background: #50A3C8;">Saturday</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% 1.upto(@no_of_rows) do| r |%> <th scope="row"><%= @start_date.strftime('%U').to_i + (r-1) %></th>
				<% (1..7).each do |c|%>
				<% dt = c- @start_date_day  + (r-1)*7 %> 
				<% day_style = (dt==@show_month.day&&Date.today==@show_month)? "today" : nil %> <td class="add_my_event <%= day_style.to_s  %>"> <% unless r > 1 %>
			
				<% end %>
				<% unless (r == 1 and c <= @start_date_day) %>
				<% unless dt > @last_day.day %> <a href="#" dateid="<%=Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}")%>" class="day"><%= dt %></a>
				<% if permitted_to? :index , :event %>
				<div class="link">
								<div class="add-event">
									<%= link_to 'Add', :controller=>"event",:action=>"index",:id=>Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}")%>
								</div>
					</div>	
			   <% end%>
			<% unless @not_common.nil? %>
			<ul class="dot-events with-children-tip">	
				<% if @not_common.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date) %>
				 <li class="red event_red" style=" cursor: pointer ; border: 0.666em solid red;" id="<%=Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") %>">Special Event</li>
				<% end %>
			</ul>
			<% end %>
			<% unless @my_event.nil? %>
			<ul class="dot-events with-children-tip">	
				<% if @my_event.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date) %>
				  <%= image_tag("/assets/icons/fugue/my_event16X16.png" ,:title=> "My Events",:id=>Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}"),:class =>"showUserEvents")%>
				<% end %>
			</ul>
			<% end %>
			<ul class="dot-events with-children-tip">	
				<% if @exam_event_date.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date.to_s) %>	
				 <li class="blue event_blue" style=" cursor: pointer ; border: 0.666em solid blue;" id="<%=Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") %>">Exam</li>
				<% end %>
			</ul>
			<ul class="dot-events with-children-tip">
				<% if @is_due_event.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)%>
				  <li class="event_orange" style=" cursor: pointer ; border: 0.666em solid orange;" id="<%=Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}") %>">Fees Due</li>
				<% end %>
			</ul>
				<% if @events.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)%>
				
				 <% get_event_title_to_display( @event, "#{@show_month.year}-#{@show_month.month}-#{dt}",@show_month) %>	
				   <% @show.each do |s|%>	
				   	<% if s.is_holiday == false%>
						<%(s.start_date.to_date..s.end_date.to_date).each do |d|  %>
							<% if d.strftime('%Y''-''%m''-''%d').include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date.to_s)%>
	
								<ul class="events">
									<li>
										<a href="#"><b class="not_holiday_event"><%=s.start_date.strftime("%I:%M") %></b><%= link_to s.title, {:controller => 'calendars',:action => "event_view",:id=>Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}")},:class => 'not_holiday_event',:remote => true  %> </a>
									</li>
								</ul>
							<%end%>
						<%end%>
					<%else%>
					
					<%(s.start_date.to_date..s.end_date.to_date).each do |d|  %>
	
						<% if d.strftime('%Y''-''%m''-''%d').include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date.to_s)%>	
						  
							<ul class="events">
									<li>
										<a href="#"><b class="my_red_class"><%=s.start_date.strftime("%I:%M") %></b><%= link_to s.title, {:controller => 'calendars',:action => "event_view",:id=>Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}"),:is_holiday => true},:class => 'my_red_class',:remote => true  %> </a>
									</li>
								</ul>
							<%end%>
						<%end%>
					<%end%>	
				<%end%>
							
				<%end%>

			<%unless @hiddenEvent.nil?%>

				<% if @events.include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date)%>
			
				<div class="more-events">
					<%= @hiddenEvent.count %> more events
					<ul>
						<% @hiddenEvent.each do |o|%>
 							<% if o.is_holiday == false%>
								<% if o.start_date.strftime('%Y''-''%m''-''%d').include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date.to_s)%>
								<li>
									<a href="#"><b><%=o.start_date.strftime("%I:%M") %></b><%= link_to o.title, {:controller => 'calendars',:action => "event_view",:id=>Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}")},:class => 'not_holiday_event',:remote => true  %></a>
								</li>
								<%end%>
							<%else%>
								<% if o.start_date.strftime('%Y''-''%m''-''%d').include?("#{@show_month.year}-#{@show_month.month}-#{dt}".to_date.to_s)%>
								<li>
									<a href="#"><b class="my_red_class"><%=o.start_date.strftime("%I:%M") %></b><%= link_to o.title, {:controller => 'calendars',:action => "event_view",:id=>Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}"),:is_holiday => true},:class => 'my_red_class',:remote => true  %></a>
								</li>
								<%end%>
 							<%end%>
						<%end%>
					</ul>
				</div> 
				<%end%>

			<%end%>
				<% end %>
				<% end %>
 			</td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

	<ul class="message no-margin">
			<li>
			<%= @events.count.to_i+@not_common.count.to_i+@exam_event.count %> events found
			</li>
	</ul>
<br />
<% if permitted_to? :generate_calendar_pdf , :calendars %>
	<fieldset class="no-margin grey-bg">
		<legend>
			Action
		</legend>
		<p class="input-with-button">
				<input type="button" class="big-button" value="PDF" onclick="$(location).attr('href','/calendars/generate_calendar_pdf?month=<%= @show_month%>');"/>
			</p>
	</fieldset>
	<%end%>