<div class="block-content form" >
	<h1>Setting List</h1>
		<table class="table no-margin" id="setting" cellspacing="0" width="100%">
				<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								category
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Numder Of Books To Be Issued
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Default Days For Issue
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Renew Period
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Fine Per Day
							</th>
							
							
							<th scope="col">Action</th>
						</tr>
				</thead>
				<tbody>
					<% unless @library_settings.empty?%>
					<% @library_settings.each do |setting|%>
					
					<tr>
						<td class="th table-check-cell"></td>
						<td id="setting_category_<%= setting.id %>"><%= setting.category %></td>
						
						<td id="setting_no_of_books_to_be_issued_<%= setting.id %>"><%= setting.no_of_books_to_be_issued %></td>
						
						
						<td id="setting_default_no_of_days_for_issue_<%= setting.id %>"><%= setting.default_no_of_days_for_issue %></td>
						
						<td id="setting_renew_period_<%= setting.id %>"><%= setting.renew_period %></td>
						
						<td id="setting_fine_charged_per_day_after_due_date_<%= setting.id %>"><%= setting.fine_charged_per_day_after_due_date %></td>
						
						<td ><input type="hidden" name="object_id" value="<%= setting.id %>"/>
							<a href="#" id="update-href-<%= setting.id %>" title="Edit" class="with-tip update-setting-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
							<a href="#" id="delete-href-<%= setting.id %>" title="Delete" class="with-tip delete-setting-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
						</td>
						
					</tr>
					<%end%>
					<%end%>
				</tbody>
				
		</table>
		<input type="hidden" id="url_prefix" name="url_prefix" value="/library_settings" />
</div> 