<div class="block-content form" >
	<h1>Tag List</h1>
		<table class="table no-margin" id="tag" cellspacing="0" width="100%">
				<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">Action</th>
						</tr>
				</thead>
				<tbody>
					<% unless @library_tags.empty?%>
					<% @library_tags.each do |tag|%>
					
					<tr>
						<td class="th table-check-cell"></td>
						<td id="tag_name_<%= tag.id %>"><%= tag.name %></td>
						<td ><input type="hidden" name="object_id" value="<%= tag.id %>"/>
							<a href="#" id="update-href-<%= tag.id %>" title="Edit" class="with-tip update-tag-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
							<a href="#" id="delete-href-<%= tag.id %>" title="Delete" class="with-tip delete-tag-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
						</td>
					</tr>
					<%end%>
					<%end%>
				</tbody>
				
		</table>
		<input type="hidden" id="url_prefix" name="url_prefix" value="/library_tags" />
</div> 