<div class="block-border" id="outer_block">
	<div class="block-content form">
<h1>Additional Exams</h1>
<h3>Edit Additional Exam</h3>

		<% unless flash[:notice].nil? %>
		<p class="flash-msg">
			<%= flash[:notice] %>
		</p>
		<% end %>
		<div class="bread_crumb">
			Edit
		</div>
		<h4>For exam group - <%= @additional_exam_group.name %></h4>
		<% form_for @additional_exam  do |f| %>
		<fieldset class="grey-bg">
			<legend>
				Required fields
			</legend>
			<div class="columns">
				<p class="colx2-left required">
					<label for="exam_name">Subject</label>
					<%= f.select :subject_id, @subjects.map { |s| [s.name, s.id]} %>
				</p>
				<p class="colx2-left required">
					<label for="exam_type">Start Time</label>
					<%= f.text_field :start_time, :size => 15, :class => 'timepicker' %>
				</p>
				<p class="colx2-left required">
					<label for="exam_type">End Time</label>
					<%= f.text_field :end_time, :size => 15, :class => 'timepicker'%>
				</p>
			</div>
			<div class="columns">
				<p class="colx2-left required">
					<label for="exam_name">Maximum Marks</label>
					<%= f.text_field :maximum_marks, :size => 15 %>
				</p>
				<p class="colx2-left required">
					<label for="exam_type">Minimum Marks</label>
					<%= f.text_field :minimum_marks, :size => 15 %>
				</p>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<%= f.submit "Save", :class => "big-button", :id => 'edit_additional_exam'%>
			</p>
		</fieldset>
		<% end %> <div class="extender"></div>
	</div>
</div>
