
<table class="table examgindex no-margin" id="examgroupindex" cellspacing="0" width="100%">
    <thead>
      <tr>
      	<th class="black-cell"></th>
        <th scope="col">Assessment Name</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
	  <% @config = SchoolConfiguration.available_modules %>
      <% @exam_groups.each do |exam_group| %>
        <tr>
        	<td class="th table-check-cell"></td>
          <td>

            <%= link_to exam_group.assessment_name.name, :controller => 'exam_groups', :action => 'show',:batch_id => @batch,:id =>exam_group  %>                     
          </td>
          <td>
              <% unless exam_group.is_published %>
                <%= link_to("Publish Exam Schedule", :controller=>'exams',:action=>'publish',:id=>exam_group.id,:status=>"schedule", :remote => true)  %>
              <% else  %>
                <%  unless  exam_group.result_published  %>
                  Schedule published.  <% if @config.include?('SMS') %>
                    <%= link_to "Resend",:controller=>'exams',:action=>'publish',:id=>exam_group.id,:status=>"schedule",:remote => true%> SMS notification.<br />
                  <% end %>
                  <%= link_to("Publish Exam Result",:controller=>'exams',:action=>'publish',:id=>exam_group.id,:status=>"result",:remote => true)  %>
                <% else %>
                  Result published. <% if @config.include?('SMS') %>
                    <%= link_to "Resend  SMS notification",:url=>{:controller=>'exam',:action=>'publish',:id=>exam_group.id,:status=>"result"}%>
                  <% end  %>
                <% end  %>
              <% end  %>

              <span id="publish-notice-<%=exam_group.id%>"></span>
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader",
                :style =>"display: none;" ) %>
                
             &nbsp;  &nbsp;  <% if exam_group.removable? %>
                	<a href="#" id="delete_exam_group" data-for-batch ="<%= @batch.id%>" data-for-examgroup = "<%= exam_group.id%>" > Delete </a>
                <%end%>
                
                <s><%= 'Delete' unless exam_group.removable? %></s>
           </td>
        </tr>
      <% end %>
      </tbody>
    </table>
 
