<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>New Exam</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li>
					<a href="/grading_level_groups/all_record" title="Grading System" class="with-tip"> <%= image_tag "dashboard/subject-wise-report-icon.png", :size => "24x24"  %></a>
				</li>
						<li>
					<a href="/exams/create_exam" title="New Exam" class="with-tip"> <%= image_tag "dashboard/exam.png", :size => "24x24"  %></a>
				</li>
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :action => 'index', :batch_id => @batch %>
				</li>
					</ul>
				</div>	
		<% unless flash[:notice].nil? %>
	<ul class="message success grid-12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %>
    <%unless @err_count.nil? or @errors.nil?%>
    <ul class="message error ">
					<li>
						<strong><%= pluralize(@err_count, "error") %></strong> prohibited this <strong><%= @err_count.class.to_s.underscore.humanize.downcase %></strong> from being saved:
						<ul>
							<%@errors.each do |err|%>
						        <li><%= err %></li>
						    <% end %>
						</ul>
					</li>
					<li class="close-bt"></li>
				</ul>
				<%end%>
		<div class="bread_crumb">
			<b><%= link_to 'Courses', all_record_courses_path %> &raquo;
			<%= link_to @course.full_name, all_record_courses_path %> &raquo;
			<%= link_to "Batch #{@batch.name}", :controller => 'batches', :action => 'all_record', :id => @batch, :course_id => @course %> &raquo;
			<%= link_to "Exams", :action => 'index', :batch_id => @batch%> &raquo;</b>
			New Exam
		</div>
		<br />
		<div id="flash"></div>
		<div id="exam-form">
			<!--  -->
			<%= form_for :exam_option do |form| %>
			
			<div class="columns">
				<p class="colx3-left required select-fixed-width1">
					<label for="Assessment name">Assessment Name</label>
					<% if params[:ename].nil?  %>
					<% @ename = "" %>
					<% else %>
					<% @ename = params[:ename] %>
					<% end  %>
					<%= select :exam_option, :assessment_name, AssessmentName.active.map {|s| [s.name, s.id]}, :prompt => "Select "%>
				</p>
				<p class="colx3-center required select-fixed-width1">
					<label for="term_master">Term</label>
	          		<%= select :exam_option, :term_id, TermMaster.active.map{|c| [c.name, c.id]},:prompt => "Select" %>
				</p>
				<p class="colx3-right required select-fixed-width1">
					<label for="exam_type">Exam Type</label>
					<%= select :exam_option,:exam_type,['Marks','Grades','MarksAndGrades','Custom'] %>
				</p>
				
			</div>
		
			<fieldset class="grey-bg no-margin">
				<legend>
					Action
				</legend>
				<p class="input-with-button">
					<%= form.submit "Save", :class => "big-button", :id=> "new_exam"%>
					<input type="hidden" id="batch_value" value="<%= @batch.id %>" />
				</p>
			</fieldset>
			<%end%>
		</div>
		<div class="extender"></div>
	</div>
</div>
