

<div class="block-border" id="outer_bloc">
	<div class="block-content">
  <h1>Exams</h1>
  
  <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :action=>'index',:batch_id=> @batch%>
				</li>
					</ul>
				</div>	


  <ul>
    <%  if permitted_to? :publish,:exams %>
      <% if @exam_group.is_published %>
        <li><%= link_to("Publish Result",:controller=>'exams',:action=>'publish',:id=>@exam_group.id,:status=>"result",:remote=>true,
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')") %></li>
      <% end  %>
    <% end %>
    <%  if permitted_to? :new,:exams %>
      <li><%= link_to 'New', new_exam_group_exam_path(@exam_group) %></li>
    <% end %>
  </ul>
    <div class="bread_crumb">
      <b> <%= link_to 'Courses', all_record_courses_path %> &raquo;
      <%= link_to @course.full_name, @course %> &raquo;
      <%= link_to "Batch #{@batch.name}", :controller => 'batches', :action => 'all_record', :id => @batch, :course_id => @course %> &raquo;
     <%= link_to "Exams", :action => 'index', :batch_id => @batch%> &raquo;</b>
      <%= @exam_group.name %>
    </div><br />

   
    <% @employee_subjects=[] %>
    <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
   
    <% unless @exam_group.exam_type == 'Grades' %>
   
      <table class="table examgshow no-margin" id="examGroupShow" cellspacing="0" width="100%">
      	<thead>
        <tr>
        	<th class="black-cell"></th>
        	<th scope="col">Subject</th>
        	<th scope="col"> Topic</th>
          <th scope="col">Max marks</th>
          <th scope="col">Min marks</th>
          <th scope="col">Action</th>
          
        </tr>
        </thead>
        <tbody>
        		
        <% @exam_group.exams.each do |exam| %>
       

          <% if @employee_subjects.include?("#{exam.subject.id}") or @current_user.admin? or @current_user.privileges.map{|p| p.id}.include?(Privilege.find_by_name('ExaminationControl')) or @current_user.privileges.map{|p| p.id}.include?(2) %>
            <tr>
              <% @exam = exam %>
              <td class="th table-check-cell"></td>
               <td><b><%=exam.subject.name%></b></td>
              <td><%= link_to exam.topic.name,:controller => 'exams',:action => 'show', :exam_group_id => @exam_group,:id => @exam  %></td>
              <td><%= in_place_editor_field :exam, :maximum_marks,{},{:cols=>1} %></td>
              <td><%= in_place_editor_field :exam, :minimum_marks,{},{:cols=>1} %></td>
              <td>
              	
                <small><%= link_to image_tag("/assets/icons/fugue/pencil.png", :width=> 16, :height => 16, :title => 'edit'),:controller => 'exams',:action => 'edit', :exam_group_id => @exam_group,:id => exam %></small>
                 <% if @exam.removable? %><a href="#" id="delete_exam" exam_id="<%= @exam.id%>" ><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
                 <%else%>
                  <s><%= 'Delete' unless @exam.removable? %></s>
                 <%end%>
                
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    
    <% else %>
      <table class="table examggshow no-margin" id="examGroupGradeShow" cellspacing="0" width="100%">
      	<thead>
        <tr >
        	<th class="black-cell"></th>
          <th scope="col">Subject</th>
          <th scope="col">Topic</th>
         <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        	<%subject_name='No'%>
        <% @exam_group.exams.each do |exam| %>
         <% if subject_name == exam.subject.name%>
			<% subject_name = ""%>
			<%else%>
			<% subject_name = exam.subject.name%>
			<%end%>
          <% if @employee_subjects.include?("#{exam.subject.id}") or @current_user.admin?  or @current_user.privileges.map{|p| p.id}.include?(1) or @current_user.privileges.map{|p| p.id}.include?(2) %>
            <tr>
              <% @exam = exam %>
              <td class="th table-check-cell"></td>
               <td><b><%= exam.subject.name  %></b></td>
              <td><%= link_to exam.topic.name,:controller => 'exams',:action => 'show', :exam_group_id => @exam_group,:id => @exam  %></td>
              <td>
              	<small><%= link_to image_tag("/assets/icons/fugue/pencil.png", :width=> 16, :height => 16, :title => 'edit'),:controller => 'exams',:action => 'edit', :exam_group_id => @exam_group,:id => exam %></small>
                
                <% if @exam.removable? %><a href="#" id="delete_exam" exam_id="<%= @exam.id%>" ><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a><%else%>
                  <s><%= 'Delete' unless @exam.removable? %></s>
                 <%end%>
               
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <div class="extender"></div>
 
</div></div>
