<div class="block-border" id="outer_block">
	<%= form_for @batch,:url => {:action => 'create', :course_id => @course} , :html => { :class => "block-content form", :id => "batch-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Batch</h1>
	<fieldset class="grey-bg">
		<legend>
			Required Fields for Batch
		</legend>
		<div class="columns">
			<div class="colx3-left required">
				<label for="batch_name">Batch Name</label>
				 <%= form.text_field :name ,:size => 28 ,:id =>"batch_create_new"%> 
			</div>
		</div>
		<div class="columns">
			<div class="colx3-left required">
				<label for="batch_start_date">Start Date</label>
				<span class="input-type-text margin-right relative"> <%= form.text_field  :start_date, :value => Date.today.strftime('%d''-''%m''-''%Y') ,class: "modal_date_picker" ,:size => 16%> <img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16" > </span>
			</div>
			<div class="colx3-center required">
				<label for="batch_end_date">End Date</label>
				<span class="input-type-text margin-right relative"> <%= form.text_field  :end_date, :value => (Date.today+1.year).strftime('%d''-''%m''-''%Y') , class: "modal_date_picker" ,:size => 16%> <img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16" id = "end"> </span>
			</div>
		</div>
	</fieldset>
	<%end%>
</div>