
				<% @slno = 0 %>
					<ul class="blocks-list">
							<% unless @all_students.empty? %>
								<% @all_students.each do |student|%>
								
								<% @slno = @slno + 1 %>
						<li >
							<%=  @slno %> .	<b><%=student.first_name%> <%=student.middle_name%> <%=student.last_name%></b>
							<ul class="tags float-right">
							<li >Admission No : <%=student.admission_no%></li>
							<li >Class Roll No :<%=student.class_roll_no%></li>
							
						</ul>
					</li>
						<%end%>
						<%else%>
							<fieldset class="grey-bg no-margin">
								<h3>Currently there are no  Students </h3>
							</fieldset>
						<%end%>
					</ul>
				
				<input name="student_id" type="hidden" id ="modal_course_student_id" data-course = "<%=@course.id%>"/>
						<input name="serial" type="hidden" id ="student_serial_no" value = "<%=@slno%>"/>
				
			