<form class="block-content form" id="table_form" method="post" action="">
	<hr style="height:0.5em;width:50em;border:1px solid #FB7A31;" />
	<p style="font-size: 20px;">
		Title :Student List Of <%= @batch.full_name %>
	</p>
	<table id="active-table" class="table gender_all_report no-margin" cellspacing="0" width="100%" border="1">
		<thead>
			<tr class="yellow">
				
			<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Roll No. </th>
			<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Admn No. </th>
			<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Name </th>
			<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Contact No. 1 </th>
		<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Contact No. 2  </th>
		</tr>
			
		</thead>
		<tbody>
			<% unless @batch.students.empty?%>
			<% @students.each do |student| %>
		<%@immediate_contact = Guardian.find_by_id(student.immediate_contact_id) unless student.immediate_contact_id.nil? or student.immediate_contact_id == ''%>
		<tr>
			<td ><%= student.class_roll_no %></td>
			<td ><%= student.admission_no %> </td>
			<td ><%= student.full_name%></td>
			<td ><%= student.phone1 %></td>
			<td ><%= @immediate_contact.mobile_phone unless student.immediate_contact_id.nil?%> </td>
		</tr>
		<% end %>
		<% end %>
		</tbody>
	</table>
</form>
<style type="text/css">
	table {
		font: 15px /24px Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #660000;
		width: 800px;
	}
	th {
		padding: 0 0.5em;
		text-align: left;
	}
	tr.yellow th {
		border-top: 1px solid #FB7A31;
		border-bottom: 1px solid #FB7A31;
		background: #FFC;
	}
	td {
		border-bottom: 1px solid #CCC;
		padding: 0 0.5em;
	}
	td.width {
		width: 190px;
	}
	td.adjacent {
		border-left: 1px solid #CCC;
		text-align: center;
	}
</style>