<style type="text/css">
	.with-icon.icon-group a, .with-icon.icon-group span, .with-icon .icon-group a, .with-icon .icon-group span {
    background-image: url("/assets/dashboard/award.png") !important;background-size: 20px 20px;;
}
</style>
<div class="block-border"><form class="block-content form" id="table_form" method="post" action="">
	<h1>Award List</h1>
	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li >
				<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
			</li>
		</ul>
	</div>
			<h3><%= @student.full_name%></h3>
			<%unless @batche_array.empty?%>
				<br/>	
				<dl class="accordion">
					<%@batche_array.each_with_index do |j,k|%>
					<dt><span class="number">+</span><%= j.full_name%></dt>
					<dd><ul class="collapsible-list with-bg">
						<%@student_award.each_with_index do|al,i| %>
								 <%if al.batch_id == j.id%>
									<li class="close">
										<b class="toggle"></b>
										<span><%= al.title%>  (<%= al.award_date.strftime("%d-%m-%Y")%>)</span>
										<ul class="with-icon icon-group">
											<li class="close">
												<span><%= al.description%></span>
											</li>
										</ul>
										</li>
								<%end%>
						<%end%>

							</ul>
							</dd>
					<%end%>
					</dl>
				<%else%>
					<br/>
					<h2>Sorry, You have not won any awards.</h2>
				<%end%>
	
	</form>
</div>					

