<script language="JavaScript">

//Disable right mouse click Script
//By Maximus (maximus@nsimail.com) w/ mods by DynamicDrive
//For full source code, visit http://www.dynamicdrive.com

var message="Function Disabled!";

///////////////////////////////////
function clickIE4(){
if (event.button==2){
alert(message);
return false;
}
}

function clickNS4(e){
if (document.layers||document.getElementById&&!document.all){
if (e.which==2||e.which==3){
alert(message);
return false;
}
}
}

if (document.layers){
document.captureEvents(Event.MOUSEDOWN);
document.onmousedown=clickNS4;
}
else if (document.all&&!document.getElementById){
document.onmousedown=clickIE4;
}

document.oncontextmenu=new Function("alert(message);return false")


</script>
<section class="grid_12">
	<div class="block-border">
		<form class="block-content form" id="complex_form" method="post" action="">
			<h1>Student Info</h1>
			<div class="columns">
				<div class="col200pxL-left">
					<h2>Student Information</h2>
					<ul class="side-tabs js-tabs">
						<li>
							<a href="#tab-primary" title="Global properties">Primary Information</a>
						</li>
						<li>
							<a href="#tab-contact" title="Address">Address</a>
						</li>
						<li>
							<a href="#tab-parents" title="Parents">Parents Details</a>
						</li>
						<li>
							<a href="#tab-reason" title="Reason">Reason for leaving School</a>
						</li>
						
						<%= link_to "Generate TC",{:controller => "student", :action => "generate_tc_pdf", :id => @archived_student.admission_no, },:class => 'big-button',:target => '_blank' %>
						<br />
						<%= link_to 'Reports', {:controller => 'archived_student', :action => 'reports', :id => @archived_student},:class => 'big-button' %>
	
					</ul>
				</div>
				<div class="col200pxL-right">
					<div id="tab-primary" class="tabs-content">
						<div class="" style="float: right">
							<% if @archived_student.student_photo.file? %>
							<%= image_tag @archived_student.student_photo.url(:large),:height => 100, :width => 100 %>
							<% else %>
								<% if @archived_student.gender=="m"%>
								<%= image_tag "male-icon.png" ,:height => 100, :width => 100%>
								<%else%>
								<%= image_tag "female.png" ,:height => 100, :width => 100%>
								<%end%>
							<% end %>
						</div>
						<h3><%= @archived_student.full_name %> </h3>
						<p>
							Admission Number :  <%= @archived_student.admission_no %>
							<br/>
							Date of Addmission : <%= @archived_student.admission_date.strftime("%d %b, %Y") unless @archived_student.admission_date.nil? %>
						</p>
						<br />
						<br />
						<br />
						<fieldset>
							<legend>
								Basic Info
							</legend>
							<div class="colx2-left">
								<small><b>Course:</b><%= @archived_student.batch.course.full_name %></small>
								<p>
									<b>Batch:</b><%= @archived_student.batch.name %>
								</p>
								<b>Date of Birth:</b><%= @archived_student.date_of_birth.strftime("%d %b, %Y") unless @archived_student.date_of_birth.nil? %>
								<br>
								<p>
									<b>Gender:</b> <%= @archived_student.gender_as_text %>
									<br>
								</p>
							</div>
						</fieldset>
						<fieldset>
							<legend>
								Miscellenous Info
							</legend>
							<div class="colx2-left">
								<b>Blood Group:</b><%= @archived_student.blood_group %>
								<br>
								<b>Birth Place:</b><%= @archived_student.birth_place %>
								<br>
								<b>Nationality:</b> <%= @archived_student.nationality.name unless @archived_student.nationality_id.nil? %>
								<br>
								<b>Mother Tongue:</b><%= @archived_student.language %>
								<br>
								<b>Category:</b><%= @archived_student.student_category.name unless @archived_student.student_category_id.nil? %>
								<br>
								<b>Religion:</b><%= @archived_student.religion %>
								<br>
							</div>
							<div class="colx2-right"></div>
						</fieldset>
					</div>
					<div id="tab-contact" class="tabs-content">
						<div class="infos">
							<h3>Address</h3>
							<p>
								Emergency Contact
							</p>
						</div>
						<fieldset>
							<legend>
								Phone
							</legend>
							<div>
								<b>Landline1:</b><%= @archived_student.phone1 %>
								<br>
								<b>Landline2:</b><%= @archived_student.phone2 %>
								<br>
								<b>Email:</b><%= @archived_student.email %>
								<br>
							</div>
							<div class="colx2-right"></div>
						</fieldset>
						<fieldset>
							<legend>
								Address
							</legend>
							<div>
								<b>Address Line 1:</b><%= @archived_student.address_line1 %>
								<br>
								<b>Address Line 2:</b><%= @archived_student.address_line2 %>
								<br>
								<b>City:</b><%= @archived_student.city %>
								<br>
								<b>State:</b><%= @archived_student.state %>
								<br>
								<b>Pin:</b><%= @archived_student.pin_code %>
								<br>
							</div>
							<div class="colx2-right"></div>
						</fieldset>
					</div>
					<div id="tab-parents" class="tabs-content">
						<ul class="tabs js-tabs">
							<% @parents.each do |i|%>
							<li id="<%= i.id%>">
								<a href="#tab-parents<%= i.id%>" id="current_tab" guardian_id="<%= i.id%>" title="parents"><%= i.relation%></a>
							</li>
							<% end%>
						</ul>
						<div class="tabs-content">
							<% @parents.each do |i|%>
							<div id="tab-parents<%= i.id%>">
								<div class="infos">
									<h3><%= i.full_name%></h3>
									<p>
										Relationship: <%= i.relation%>
									</p>
								</div>
								<fieldset>
									<legend>
										Phone
									</legend>
									<div>
										<b>Mobile:</b><%= i.mobile_phone%>
										<br>
										<b>Landline1:</b><%= i.office_phone1%>
										<br>
										<b>Landline2:</b><%= i.office_phone2%>
										<br>
										<b>Email:</b><%= i.email%>
										<br>
									</div>
								</fieldset>
								<fieldset>
									<legend>
										Address
									</legend>
									<div>
										<b>Office Address 1:</b><%= i.office_address_line1%>
										<br>
										<b>Office Address 2:</b><%= i.office_address_line2%>
										<br>
										<b>City:</b><%= i.city%>
										<br>
										<b>State:</b><%= i.state%>
										<br>
									</div>
									<div class="colx2-right"></div>
								</fieldset>
								<fieldset>
									<legend>
										Other Info
									</legend>
									<div>
										<b>Date Of Birth:</b><%= i.dob%>
										<br>
										<b>Education:</b><%= i.education%>
										<br>
										<b>Occupation:</b><%= i.occupation%>
										<br>
										<b>Income:</b><%= i.income%>
										<br>
									</div>
									<div class="colx2-right"></div>
								</fieldset>
							</div>
							<% end %>
						</div>
					</div>
					<div id="tab-reason" style="width: 45em;height: 20em" class="tabs-content">
						<%= @archived_student.status_description %>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
