									<tr>
										<td class="th table-check-cell"></td>
										<td id="student_category_name_<%= student_category.id %>"><%= student_category.name %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= student_category.id %>"/>
											<a href="#" id="update-href-<%= student_category.id %>" title="Edit" class="with-tip update-studentcategoryfield-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= student_category.id %>" title="Delete" class="with-tip delete-studentcategoryfield-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>