<div class="block-border">
	<div class="block-content form" id="complex_form" >
  <h1>Edit Events</h1>
  <h3>Step 1 - Edit Event</h3>

<% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <%= form_for :event,:url =>{:id => @event.id} do |f| %>

     <fieldset class="grey-bg required no-margin">
					<legend>Update Event</legend>
					
					<div class="colx3-left">
						<label for="start_date">Start Date</label>
						<span class="relative">
                            <%= f.text_field :start_date , :value => @event.start_date, :id => "pickerfield1" %>
                            </span>
                    </div>
					<div class="colx2-right">
						<label for="end_date">End Date</label>
						<span class="relative">
                           <%= f.text_field :end_date , :value => @event.end_date,:id => "pickerfield2"%>
                        </span>   
                    </div>
					 <div class="colx3-left-double required">
                       <label for="title">Title:</label>
                       <span class="relative">
      					   <%= f.text_field :title %>
      					</span>   
      			     </div>
   				<div class="colx3-left-double required">
      				 <label for="description">  Description :</label>
						<span class="relative">
    						<%= f.text_area "description" ,:size => "75x5" %>
    					</span>
    			</div>		
        		  </fieldset>  
        		 <fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<p class="colx3-left">
							<label for="simple-action">Is Holiday?</label>
							<%= f.check_box :is_holiday %>
						</p>
						<p class="colx3-center">
							<label for="simple-action">Event common to all</label>
							<%= f.check_box :is_common %>
						</p>
						
						<p class="colx3-right">
							<button type="submit">Update Event</button>
						</p>
					</div>
				</fieldset>
  <% end %>

</div>
</div>
