
<div class="block-border" id="outer_bloc">

<%= form_for :events, :html => { :class => "block-content form"} do |f| %>

  <h1>Events</h1>
  			<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
					<li >
						<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
					</li>
				</ul>
			</div>	
		<% unless flash[:notice].nil? %>
		<ul class="message error">
			<li><%= flash[:notice] %></li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
    		 <fieldset class="grey-bg required">
					<legend>Step 1 - Event creation</legend>
					<div class="column">
					<div class="colx2-left">
						<label for="start_date">Start Date</label>
						<span class="relative">
							
							<%= f.text_field :start_date , :value => @date, :id => "pickerfield1" ,:readonly => "1"%>
						</span>
					</div>
					<div class="colx2-right">
						<label for="end_date">End Date</label>
						<span class="relative">
							<%= f.text_field :end_date , :value => @date,:id => "pickerfield2",:readonly => "1"%>
						</span>
					</div>
					</div>
					<br />
					<div class="column">
					 <div class="colx3-left-double required">
                       <label for="title">Title</label>
                       <span class="relative">
                       	<%= f.text_field :title ,:class => "full-width" %>
                       </span>
                    </div>
                    </div>
                 <div class="column">
    				<div class="colx3-left-double required">
      				 <label for="description">  Description</label>
						<span class="relative">
    						<%= f.text_area :description, :size => "75x5" %>
                        </span>   
        		    </div>
        		    </div>
        		  </fieldset>  
        		 <fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<p class="colx3-left">
							<label for="simple-action">Is Holiday?</label>
							<%= f.check_box :is_holiday %>
						</p>
						<p class="colx3-center">
							<label for="simple-action">Event Common To All</label>
							<%= f.check_box :is_common %>
						</p>
						<p class="colx3-right">
						   <button type="submit" id="Create_school_event">Create Event</button>
						   </p>
					</div>
				</fieldset>


    
  <% end %>

</div>
