<script type="text/javascript">
	function resetCheckField(optn) {
		href = document.getElementById("ConfirmEvent").getAttribute('href');
		document.getElementById("ConfirmEvent").setAttribute('href',"/event/confirm_event/<%=@event.id%>?sms="+$(optn).is(":checked"));
	}
</script>
<div class="block-border" id="outer_bloc">
	<div class="block-content form" >
		<h1>Events</h1>
		<% unless flash[:notice].nil? %>
		<ul class="message success">
			<li><%= flash[:notice] %></li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
				
		<fieldset class="grey-bg required">
			<legend>
				Step 2 - Confirmation
			</legend>
			<div class="column">
				<p class="colx2-left">
					<label for="title">Title:</label>
					<span class="relative">
						<input type="text" value="<%= @event.title %>" readonly="readonly" />
					</span>
				</p>
				<p class="colx2-right">
					<label for="description">Description:</label>
					<span class="relative">
						<input type="text" value="<%= @event.description %>" readonly="readonly" />
					</span>
				</p>
			</div>
			<div class="column">
				<p class="colx2-left">
					<label for="start_date">Start Date:</label>
					<span class="relative">
						<input type="text" value="<%= @event.start_date.strftime('%d-%m-%Y %H:%M:%S') %>" readonly="readonly"/>
					</span>
				</p>
				<p class="colx2-right">
					<label for="end_date">End Date:</label>
					<span class="relative">
						<input type="text" value="<%= @event.end_date.strftime('%d-%m-%Y %H:%M:%S') %>" readonly="readonly" />
					</span>
				</p>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			
				<% unless @command == 'edit' %>
				<%= link_to " Confirm",{ :action=>"confirm_event",:id=>@event.id ,:sms => "false"},  :class=> 'big-button SelectedBatch_for_Event'  ,:id => "ConfirmEvent"%>&nbsp;&nbsp;<%= link_to "Cancel", { :action=>"cancel_event" , :id=>@event.id },  :class=> 'big-button'%>
				<% else %>
				<%= link_to "Confirm",{ :action=>"confirm_event",:id=>@event.id, :sms => "false"}, :class=> 'big-button SelectedBatch_for_Event'  ,:id => "ConfirmEvent"%>&nbsp;&nbsp;<%= link_to "Cancel", { :action=>"edit_event" , :id=>@event.id },  :class=> 'big-button' %>
				<% end %>
				<% if @event.is_common == false  %>
			    <button type="button" id="selects_course">Select Course/Department</button>
			    <p class="colx3-right">
						<input type="checkbox" name="sms_send" id ="smsatevent" onclick="resetCheckField(this)" />&nbsp;Send SMS?
				</p>
			    
			    
			    <%end%>
		</fieldset>

		<% if @event.is_common == false  %>
					<%= render :partial=>"event_batch" %>
					<% @config = SchoolConfiguration.available_modules%> 
					<% else %>
					<h3>=> This event is common across all courses and departments</h3> 
					<br/>
					<br/>
					<% end %>
		<div id="modal-boxsupdate_batch_tree" style="display:none;">
			<%= render :partial => 'select_course'%>
		</div>
	</div>
</div>