<% if reminder.is_read %>
<tr>
	<td> <%= link_to "#{sender_user.first_name}", :controller => "reminder", :action => "view_reminder", :id2 => reminder.reminder.id  , :reminder_id => reminder.id %> </td>
	<td> <%= link_to "#{reminder.reminder.subject}", :controller=>"reminder", :action => "view_reminder", :id2 => reminder.reminder.id , :reminder_id => reminder.id %></td>
	<td> <%= link_to "#{reminder.reminder.created_at.strftime("%d-%m-%Y")}", :controller=>"reminder", :action => "view_reminder", :id2=>reminder.reminder.id , :reminder_id => reminder.id %> </td>
	<td><a href="#" class = "delete-reminder"  id2 = "<%= reminder.reminder.id %>"  reminder_id = "<%= reminder.id %>" title ="Delete" ><img src="/assets/icons/fugue/cross-circle.png" /></a> &nbsp; &nbsp; 
	<%= link_to image_tag("/assets/icons/fugue/mail-unread-small.png"), {:controller => "reminder", :action => "mark_unread", :id2 => reminder.reminder.id, :reminder_id => reminder.id } ,:title => "mark read/unread"%> </td>
</tr>
<% else %>
<tr class="tr-unread ">
	<td> <%= link_to "#{sender_user.first_name}", :controller => "reminder", :action => "view_reminder", :id2 => reminder.reminder.id  , :reminder_id => reminder.id %> </td>
	<td> <%= link_to "#{reminder.reminder.subject}", :controller=>"reminder", :action => "view_reminder", :id2 => reminder.reminder.id , :reminder_id => reminder.id%></td>
	<td> <%= link_to "#{reminder.reminder.created_at.strftime("%d-%m-%Y")}", :controller=>"reminder", :action => "view_reminder", :id2=>reminder.reminder.id , :reminder_id => reminder.id%> </td>
	<td><a href="#" class = "delete-reminder"  id2 = "<%= reminder.reminder.id %>"  reminder_id = "<%= reminder.id %>" title ="Delete"><img src="/assets/icons/fugue/cross-circle.png" /></a> &nbsp; &nbsp;
	<%= link_to image_tag("/assets/icons/fugue/mail-unread-small.png"), {:controller => "reminder", :action => "mark_unread", :id2 => reminder.reminder.id, :reminder_id => reminder.id } ,:title => "mark read/unread"%> </td>
</tr>
<% end %> 