									<tr>
										<td class="th table-check-cell"></td>
										<td id="assessment_name_<%= assessment_name_master.id %>"><%= assessment_name_master.name %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= assessment_name_master.id %>"/>
											<a href="#" id="update-assessment-name-master-href-<%= assessment_name_master.id %>" title="Edit" class="with-tip update-assessment-name-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-assessment-name-master-href-<%= assessment_name_master.id %>" title="Delete" class="with-tip delete-assessment-name-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>