
	<form class="block-content form no-margin" id="table_form" method="post" action="">
		<h1>Student List</h1>

		<table class="table studentTermRemarksTable no-margin" id="studentTermRemarksTable" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Roll No.</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Admn.</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Student Name</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Remarks</th>
				</tr>
			</thead>
			<tbody>
				
				<%= form_for @student_term_remark,:url =>{:controller => "student_term_remarks", :action =>"create"} do |form| %>
				<% @students.each do |student| %>
				<% @createdTermRemarks = StudentTermRemark.find_by_school_session_id_and_batch_id_and_term_master_id_and_student_id_and_remarks_type( @current_session.id, @batch.id, params[:term_master_id],student.id,params[:remarks_type])%>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%= student.class_roll_no %></td>
					<td><%= student.admission_no %></td>
					<td><%= student.full_name%></td>
					<td><%= form.text_field :remarks, :student_id => student.id,:class => "full-width student_term_remarks_rmk",:value =>( @createdTermRemarks.remarks unless @createdTermRemarks.nil?)  %></td>
				</tr>
				<% end %>
				<%end%>
			</tbody>
		</table>
	</form>

<br/>
<fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<div class="columns">
		<div class="colx1-left">
			<button  id="CreateStudentTermRemarks" type="submit">
				Save
			</button>
		</div>
	</div>
</fieldset>
