<table border="0" width="100%">
	<tbody>
		<tr class="rows">
			<td> <%(2..@end_date.wday+1).each_with_index do |d,i|%>
				          		<%if i == 0 %>
				          		<%$index= $index + 1%>
				          		<%=render 'weekday_table' ,:d => [d-1,@date + $index] %>
								<%end%>
                        <%end%>
</td><td> 
	<%(2..@end_date.wday+1).each_with_index do |d,i|%>
				          		<%if i == 1 %>
				          		<%$index= $index + 1%>
				          		<%=render 'weekday_table' ,:d => [d-1,@date + $index] %>
								<%end%>
                        <%end%></td>
		</tr><br />
		<tr class="rows">
			<td><%(2..@end_date.wday+1).each_with_index do |d,i|%>
				          		<%if i == 2 %>
				          		<%$index= $index + 1%>
				          		<%=render 'weekday_table' ,:d => [d-1,@date + $index] %>
								<%end%>
                        <%end%> </td><td><%(2..@end_date.wday+1).each_with_index do |d,i|%>
				          		<%if i == 3 %>
				          		<%$index= $index + 1%>
				          		<%=render 'weekday_table' ,:d => [d-1,@date + $index] %>
								<%end%>
                        <%end%> </td>
		</tr><br />
		<tr class="rows">
			<td><%(2..@end_date.wday+1).each_with_index do |d,i|%>
				          		<%if i == 4 %>
				          		<%$index= $index + 1%>
				          		<%=render 'weekday_table' ,:d => [d-1,@date + $index] %>
								<%end%>
                        <%end%>  </td><td> <%(2..@end_date.wday+1).each_with_index do |d,i|%>
				          		<%if i == 5 %>
				          		<%$index= $index + 1%>
				          		<%=render 'weekday_table' ,:d => [d-1,@date + $index] %>
								<%end%>
                        <%end%> </td>
		</tr>
	</tbody>
</table>
