<style type="text/css">
	th {
		text-align: left;
	}
	tr.turquoise th {
		border-top: 1px;
		font-size: 17px;
		border-bottom: 1px;
		background: graytext;
	}
	tr.turquoiseLight th {
		border-top: 1px;
		border-bottom: 1px;
		background: #96669A;
		text-align: center;
	}
	.form textarea {
		background: repeat scroll 0 0%, none repeat scroll 0 0;
	}
	.rowsColumn {
		width: 50%;
	}
</style>	
	<ul class="tabs js-tabs">
		
		<%(@start_week..@end_week).each_with_index do |tw, i|%>
		<li>
			<a href="#tab-week<%=i%>" title="Monday <%= i%>"><%=@weeks[i]%></a>
		</li>
		
		<%end%>
	</ul>
<%$index = 0%>
		<%(@start_week..@end_week).each_with_index do |tw, i|%>
		<%if i == 0%>
		<div id="tab-week<%=i%>" class="tabs-content active-current">
			
			 <%= render 'form' %>
			            <%(@start_date.wday..6).each do |d|%>
				            <%if d != 0%>
				          <!--   <%#= render 'form', :d => d %> -->
							<%end%>
                        <%end%>
		</div>
		<%elsif i == ((@start_week..@end_week).count - 1)%>
		<div id="tab-week<%=i%>" class="tabs-content">
			<%= render 'outer_form' %>
			            <%(2..@end_date.wday+1).each do |d|%>
			           <!--  <%#= render 'form', :d => d-1 %> -->
                        <%end%>
		</div>
		<%else%>
		<div id="tab-week<%=i%>" class="tabs-content">
			<%= render 'center_form' %>
			            <%(2..7).each do |d|%>
			            <!-- <%#= render 'form', :d => d-1 %> -->
                        <%end%>
		</div>
		<%end%>

<%end%>