<div class="block-border">
	<div class="block-content form">
<h1>Work Schedule of <%=@employee.full_name%></h1>
<div class="block-controls enoch_block">
	<ul class="controls-tabs js-tabs">
		<li>
			<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),:back %>
		</li>
	</ul>
</div>	
<h3>Notes Between <%=params[:start_date]%> and <%=params[:end_date]%></h3>
<table class="table allEmployeeDiaryViewTable no-margin" id="" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th class="black-cell"></th>
			<th scope="col">
				<span class="column-sort">
					<a href="#" title="Sort up" class="sort-up"></a>
					<a href="#" title="Sort down" class="sort-down"></a>
				</span>
				Date
			</th>
			<th scope="col">
				<span class="column-sort">
					<a href="#" title="Sort up" class="sort-up"></a>
					<a href="#" title="Sort down" class="sort-down"></a>
				</span>
				Timing</th>
			<th scope="col">
				<span class="column-sort">
					<a href="#" title="Sort up" class="sort-up"></a>
					<a href="#" title="Sort down" class="sort-down"></a>
				</span>
				Description
			</th>
		</tr>
	</thead>
	
	<tbody>
		<% @diaries_detail.each do |teacher_diary| %>
		<tr>
			<td class="th table-check-cell"></td>
			<td><%=teacher_diary.text_date.strftime("%d-%m-%Y")%></td>
			<td><%=teacher_diary.timing %></td>
		    <td><strong><%=teacher_diary.description %></strong></td>
		</tr>
		<%end%>
	</tbody>

</table>

<br /><br /><br />

<%= form_for :teacher_diaries ,:name => 'viewEmployeeDiary',:url => {:controller => 'teacher_diaries',:action => 'view_pdf' ,:id => @employee.id, :start_date=>params[:start_date], :end_date=>params[:end_date]},:html => { :target => '_blank' } do |form| %>
  	<fieldset class="grey-bg no-margin">
		<legend>
			Action
		</legend>
			<p class="colx3-left">
				<%= form.submit "PDF Report", :class => "big-button"%>
			</p>
	</fieldset>

<% end %>	
	
</div>
</div>