<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Teacher Diary</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li>
							<%= link_to image_tag("/assets/icons/web-app/48/Diary-icon.png" ,:height => 24, :width => 24,:title => 'My Diary'),:controller =>'teacher_diaries',:action => 'view_my_diary_details',:id => @techer.id%>
						</li>
						<li>
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),:back %>
						</li>
					</ul>
		</div>
<fieldset class=" grey-bg">
	<legend>
		Diary
	</legend>
	<div class="columns">
		<p class="colx-left required">
			<label for="proposal_written_until">Select Month</label>
            <%= select_date Date.today, :prefix => "written_until",:order => [:month] ,:selected => Date.today,:start_year => Time.now.year - 1, :end_year => Time.now.year%></p>
		</p>
	</div>
	<div id="teacherDiariesPartial">
		<%= render :partial => 'show'%>
	</div>
</fieldset>		
<br />

<fieldset class="grey-bg no-margin">
	<legend>
		Actions
	</legend>
	<input type="button" name="Save" id="saveTeacherDiary" class="big-button" value="Save"/>
	
</fieldset>
		
<input type="hidden" name="empIDTD" id="empIDTD" value="<%=@user.employee_record.id%>" />
</div>
</div>
