<div id="getViewDiaryDetail">
<div class="block-border" id="outer_block_new">
	<div class="block-content form">
		<h1>My Diary</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li>
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
				</div>	
		<div class="columns">
			<p class="colx3-left required">
				<label for="start_date">Start Date</label>
			    <span class="input-type-text relative required"><%= text_field_tag :start_date_my_diary,(Date.today.strftime('%d''-''%m''-''%Y')), :class => "datepicker", :size => 20,:readonly => "1" %><%= image_tag "icons/fugue/calendar-month.png" %></span>
			</p>
			<p class="colx3-center required">
				<label for="end_date">End Date</label>
				<span class="input-type-text relative required"><%= text_field_tag :end_date_my_diary,(Date.today.strftime('%d''-''%m''-''%Y')), :class => "datepicker", :size => 20,:readonly => "1"  %><%= image_tag "icons/fugue/calendar-month.png" %></span>	
			</p>
			<p class="colx3-right" style="margin-top: 1.2em;">
                 <button type="button" id="viewMyOwnDiary" class="big-button" employee_id="<%=@employee.id%>">View Diary</button>
			</p>
		</div>
	</div>
</div>
</div>