<div class="block-content form" >
	<h1>Author List</h1>
		<table class="table no-margin" id="tag" cellspacing="0" width="100%">
				<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">Action</th>
						</tr>
				</thead>
				<tbody>
					<% unless @library_authors.empty?%>
					<% @library_authors.each do |author|%>
					
					<tr>
						<td class="th table-check-cell"></td>
						<td id="author_name_<%= author.id %>"><%= author.name %></td>
						<td ><input type="hidden" name="object_id" value="<%= author.id %>"/>
							<a href="#" id="update-href-<%= author.id %>" title="Edit" class="with-tip update-author-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
							<a href="#" id="delete-href-<%= author.id %>" title="Delete" class="with-tip delete-author-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
						</td>
					</tr>
					<%end%>
					<%end%>
				</tbody>
				
		</table>
		<input type="hidden" id="url_prefix" name="url_prefix" value="/library_authors" />
</div> 