<div class="block-border" id="outer_block">
	<%= form_for @library_author, :name => "author-form", :html => { :class => "block-content form", :id => "author-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Author</h1>
	<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
				</div>	
	<fieldset class="grey-bg">
		<legend>
			Required fields
		</legend>
		<div class="colx3-left-double required">
			<label for="tag_name">Name</label>
			<span class="relative"> <%= form.text_field :name, :class => "full-width" %> </span>
		</div>
	</fieldset>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action on create
		</legend>
		<div class="columns">
			
			<div class="colx2-right">
				<button id="create_author" type="submit" >
					Create
				</button>
				<button id="update_author" type="button" >
					Update
				</button>
				<button id="reset_author" type="button" >
					Clear
				</button>
				<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>
<br/>
<div id="table-block" class="block-border">
	<%= render '/library_authors/authors_table'%>
</div>
