									<tr>
										<td class="th table-check-cell"></td>
										<td id="bank_field_name_<%= bank_field.id %>"><%= bank_field.name %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= bank_field.id %>"/>
											<a href="#" id="update-href-<%= bank_field.id %>" title="Edit" class="with-tip update-bank_field-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= bank_field.id %>" title="Delete" class="with-tip delete-bank_field-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>