									<tr>
										<td ></td>
										<td id="category_name_<%= category.id %>"><%= category.name %></td>
										<td id="category_percentage_<%= category.id %>"><%= category.percentage %></td>
										<% if category.is_deduction == false%>
											<td id="category_is_deduction_<%= category.id %>">Earning</td>
										<%else%>
											<td id="category_is_deduction_<%= category.id %>">Expense</td>
										<%end%>
										<input type="hidden" id= "category_percentage_of_<%= category.id %>" name="category_percentage_of_<%= category.id %>" value="<%= category.payroll_category_id %>"/>
										<input type="hidden" id= "category_is_deduction_<%= category.id %>" name="category_is_deduction_<%= category.id %>" value="<%= category.is_deduction %>"/>
										
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= category.id %>"/>
											
											<a href="#" id="update-href-<%= category.id %>" title="Edit" class="with-tip update-payroll-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= category.id %>" title="Delete" class="with-tip delete-payroll-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>