<div class="block-border" id="outer_block">
	<%= form_for @payroll_category,:html => { :class => "block-content form", :id => "payroll-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Payroll Category</h1>
	<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
						</li>
					</ul>
				</div>	
	<fieldset class="grey-bg">
		<legend>
			Required Fields
		</legend>
		<div class="colx3-left-double required">
			<label for="grade_name">Name</label>
			<span class="relative"> <%= form.text_field :name, :class => "full-width" %> </span>
		</div>
		
	</fieldset>
	<fieldset>
		<legend>
			Other Information
		</legend>
		
		<div class="columns">
			<div class="colx3-left">
				<label for="complex-en-url">Percentage</label>
				<span class="relative"><%= form.text_field :percentage, :class => "numeric"%></span>
			</div>
			
			<div class="colx3-center select-fixed-width1">
				<label for="complex-en-url">Percentage of</label>
				<span class="relative"> <%= select :payroll_category, :payroll_category_id, @all_active_categories.map {|cat| [cat.name, cat.id]}, :prompt =>"Select", :class => "full-width" %> </span>
			</div>
			<div class="colx3-right">
				
					<br />
				<br />
				<%= form.check_box :is_deduction , :checked => "unchecked"%> Is deduction?
			</div>
		</div>
	</fieldset>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action on create
		</legend>
		<div class="columns">
			<div class="colx2-left-double">
				<label for="simple-action">Status</label>
				<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label>
				<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
			</div>
			<div class="colx2-right">
				<button id="create_category" type="submit">
					Create
				</button>
				<button id="update_category" type="button">
					Update
				</button>
				<button id="reset_category" type="button">
					Clear
				</button>
				<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>
<br/>
<div id="table-block" class="block-border">
	<%= render 'categories' %>
</div>

