									<tr>
										<td class="th table-check-cell"></td>
										<td id="route_name_<%= route.id %>"><%= route.name %></td>
										<td id="route_start_place_<%= route.id %>"><%= route.start_place %></td>
										<td id="route_end_place_<%= route.id %>"><%= route.end_place %></td>
										<td id="route_distance_<%= route.id %>"><%= route.distance %></td>
										
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= route.id %>"/>
											<a href="#" id="update-href-<%= route.id %>" title="Edit" class="with-tip update-transport_route-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= route.id %>" title="Delete" class="with-tip delete-transport_route-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>