<div class="block-border" id="outer_block">
	<%= form_for @subskill, :name => "subskill-form", :html => { :class => "block-content form", :id => "subskill-form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %> <h1>Sub Skill</h1>
	<fieldset class="grey-bg">
		<legend>
			Required fields
		</legend>
		<div class="colx3-left-double required">
			<label for="grade_name">Name</label>
			<span class="relative"> <%= form.text_field :name, :class => "full-width" %> </span>
		</div>
	</fieldset>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action on create
		</legend>
		<div class="columns">
			<div class="colx2-left-double">
				<label for="simple-action">Is Active</label>
				<%= form.radio_button  "is_active", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label>
				<%= form.radio_button  "is_active", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
			</div>
			<div class="colx2-right">
				<button id="create_subskill" type="submit" skill-data = "<%=@skill.id%>">
					Create
				</button>
				<button id="update_subskill" type="button" skill-data = "<%=@skill.id%>">
					Update
				</button>
				<button id="reset_subskill" type="button" skill-data = "<%=@skill.id%>">
					Clear
				</button>
				<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
			</div>
		</div>
	</fieldset>
	<% end %>
</div>
<br/>
<div id="table-block_subskill" class="block-border">
	<%= render '/sub_skills/subskills_table'%>
</div>
