<div class="block-content form" >
	<h1>Subskill List</h1>
		<table class="table no-margin" id="subskill" cellspacing="0" width="100%">
				<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Parent Skill</th>
								<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Active/Inactive</th>
								<th scope="col">Action</th>
						</tr>
				</thead>
				<tbody>
					<% unless @subskills.empty?%>
					<% @subskills.each do |subskill|%>
					
					<tr>
						<td class="th table-check-cell"></td>
						<td id="subskill_name_<%= subskill.id %>"><%= subskill.name %></td>
						<td ><%= subskill.skill.name unless subskill.skill.nil? %></td>
						<% if subskill.is_active?%>
						<td id="subskill_isactive_<%= subskill.id %>">Active</td>
						<%else%>
						<td id="subskill_isactive_<%= subskill.id %>">Inactive</td>
						<%end%>
						<td ><input type="hidden" name="object_id" value="<%= subskill.id %>"/>
							<a href="#" id="update-href-<%= subskill.id %>" title="Edit" class="with-tip update-subskill-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
							<a href="#" id="delete-href-<%= subskill.id %>" title="Delete" class="with-tip delete-subskill-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
						</td>
					</tr>
					<%end%>
					<%end%>
				</tbody>
				
		</table>
		<input type="hidden" id="url_prefix" name="url_prefix" value="/sub_skills" />
</div> 