<div class="block-content form" >
	
		<table class="table no-margin" id="subject" cellspacing="0" width="100%">
				<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Parent Subject</th>
								<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Active/Inactive</th>
								
						</tr>
				</thead>
				<tbody>
					<% unless @topics.empty?%>
					<% @topics.each do |topic|%>
					
					<tr>
						<td class="th table-check-cell"></td>
						<td id="subskill_name_<%= topic.id %>"><%= topic.name %></td>
						<td ><%= topic.subject.name unless topic.subject.nil? %></td>
						<% if topic.is_active?%>
						<td id="subskill_isactive_<%= topic.id %>">Active</td>
						<%else%>
						<td id="subskill_isactive_<%= topic.id %>">Inactive</td>
					<%end%>
					</tr>
					<%end%>
					<%end%>
				</tbody>
				
		</table>
		
</div> 