									<tr>
										<td class="th table-check-cell"></td>
										<td id="grade_name_<%= grade.id %>"><%= grade.name %></td>
										<td id="grade_priority_<%= grade.id %>"><%= grade.priority %></td>
										<td id="grade_max_hours_day_<%= grade.id %>"><%= grade.max_hours_day %></td>
										<td id="grade_max_hours_week_<%= grade.id %>"><%= grade.max_hours_week %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= grade.id %>"/>
											<a href="#" id="update-href-<%= grade.id %>" title="Edit" class="with-tip update-grade-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= grade.id %>" title="Delete" class="with-tip delete-grade-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>