<div class="block-border">
	<div class="block-content form">
		<h1>Co Scholastic Area Assessment Report</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
				</div>	
				<h4 align="left"><%=@student.full_name%> | <%= @batch.full_name %> | <%=@student_co_scholastic_assessment.student_co_scholastic_assessment_name%></h4><br />
	       <table class="table co_scholastic_area_assessment no-margin" cellspacing="0" cellpadding="0" width="100%">
	       	<thead>
	       		<tr>
	       		<th class="black-cell"></th>
	       		<th scope="col">Co Scholastic Area</th>
				<th scope="col">SubSkill</th>
				<th scope="col">Indicator</th>
	       		</tr>
	       	</thead>
	       	<tbody>
	       		<%@area_assessment_details.each do |area_assessment_detail|%>
	       		<tr>
	       			<td></td>
	       			<%area_subskill=CoScholasticSubSkillArea.find_by_id(area_assessment_detail.co_scholastic_sub_skill_area_id)%>
	       			<%assessment_indicator=AssessmentIndicator.find_by_id(area_assessment_detail.assessment_indicator.id)%>
	       			<td><%=area_subskill.co_scholastic_area.co_scholastic_area_name%></td>
	       			<td><%=area_subskill.co_scholastic_sub_skill_name%></td>
	       			<td><%=assessment_indicator.indicator_value%></td>
	       		</tr>
	       		<%end%>
	       	</tbody>
	       	
	       </table>
	
	</div>
</div>
