<style type="text/css">
.blocks-list > li a, .mini-blocks-list > li a {
color: #39C;
}
</style>
<div class="block-border">
	<div class="block-content form">
		<h1>Grouped Exam List</h1>
<%unless @grouped_exam.empty?%>
			<% if @grouped_exam.empty? %>
  <%@type = 'general' %>
<% else %>
  <%@type= 'grouped' %>
<% end %>
			
	<%@grouped_exam.each do |ge|%>
	
		<ul class="mini-blocks-list ">
				<li>
								<a href="generated_report5?batch_id=<%=@batches.id %>&type=<%=@type %>&grouped=<%=ge.id%>" class="float-left"><img src="/assets/icons/fugue/status.png" width="16" height="16"><%= ge.grouped_exam_name%></a>
								<ul class="tags float-right">
									<li class="tag-time"><%= @batches.full_name%></li>
								</ul>
								 
							</li>
		</ul>
	<%end%>
<%else%>
<ul class="message warning">
       <li><strong>There is no Connected Exam for the selected batch. </strong></li>
       <li class="close-bt"></li>
       	</ul>
 
<%end%>
</div>
</div>