<div class="block-border" id="outer_bloc">
	<div class="block-content form">
		<h1>Exams</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
		
		<% unless flash[:notice].nil? %>
	<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %> <h4><%= @exam_group.batch.name %> | <%= @exam_group.assessment_name.name %></h4>
		<table class="table examsconsolidate no-margin" id="ExConsolidate" cellspacing="0" width="100%" overflow='auto'>
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col">Roll No.</th>
					<th scope="col">Name</th>
					<% @exam_group.exams.each do |exam| %> <th scope="col"><%= exam.subject.code %><%= "(" + exam.maximum_marks.to_s + ")"  unless exam.maximum_marks.nil? %><%=exam.topic.name%></th>
					<% end %> <th scope="col">Percentage(%)</th>
				</tr>
			</thead>
			<tbody>
				<% @exam_group.batch.students.each do |student|%>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%= student.class_roll_no %></td>
					<td><%= student.full_name %></td>
					<% total_marks = 0 %>
					<% total_max_marks = 0 %>
					<% @exam_group.exams.each do |exam| %>
					<% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) %>
					<% unless @exam_group.exam_type == "Grades" %> <td> <% if @exam_group.exam_type == "MarksAndGrades" %>
						<%unless exam_score.nil?%>
						<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
						<%end%>
					<%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" + "(#{(grade || "-")})" %>
					<% else %>
					<%= exam_score.nil? ? '-' : exam_score.marks || "-" %>
					<% end %> </td>
					<% total_marks = total_marks+(exam_score.marks || 0) unless exam_score.nil?  %>
					<% total_max_marks = total_max_marks+exam.maximum_marks unless exam_score.nil? %>
					<% else %>
					<%unless exam_score.nil?%>
						<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
						<%end%>
					 <td><%= exam_score.nil? ? '-' : grade || "-" %></td>
					<% end %>
					<% end %> <td><% percentage = total_marks*100/total_max_marks.to_f unless total_max_marks == 0%>
					<%= "%.2f" %percentage unless total_max_marks == 0 %></td>
				</tr>
				<% end %>
			</tbody>
		</table><br /><br /><br />
		 <fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','consolidated_exam_report_pdf?exam_group=<%= @exam_group.id%>');"/>
			</p>
		</fieldset> 
		<!--  <div class="extender"></div> -->
	</div>
</div>
