
<div class="block-border" id="">
	<div class="block-content form">
  
  <h1>Edit Exam</h1>
  <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
				</div>	<br />
				 <%unless @err_count.nil? or @errors.nil?%>
    <ul class="message error ">
					<li>
						<strong><%= pluralize(@err_count, "error") %></strong> prohibited this <strong><%= @err_count.class.to_s.underscore.humanize.downcase %></strong> from being saved:
						<ul>
							<%@errors.each do |err|%>
						        <li><%= err %></li>
						    <% end %>
						</ul>
					</li>
					<li class="close-bt"></li>
				</ul>
				<%end%>

    <div class="bread_crumb">
       <b><%= link_to 'Courses', all_record_courses_path %> &raquo;
      <%= link_to @course.full_name, all_record_courses_path %> &raquo;
      <%= link_to "Batch #{@batch.name}", :controller => 'batches', :action => 'all_record', :id => @batch, :course_id => @course %> &raquo;
      <%= link_to 'Exams', :controller=>'exam_groups', :action => 'index', :batch_id => @batch %> &raquo; 
      <%= link_to @exam_group.name, :controller=>'exam_groups', :action => 'show', :batch_id => @batch,:id =>@exam_group %> &raquo;</b>
      <%= link_to @exam.subject.name, :controller=>'exam_groups', :action => 'show', :batch_id => @batch,:id =>@exam_group %> &raquo;</b>
      <%=@exam.topic.name%>
    </div><br />
    

    <%= form_for :exam,:url=>{:action => 'update_exam', :id=>@exam, :exam_group_id=>@exam_group}  do |f| %>
      <fieldset class="grey-bg">
					<legend>Required fields</legend>
					<div class="columns">
		<%= f.hidden_field :subject_id,:value=>@exam.subject.id %>
		<%= f.hidden_field :topic_id,:value=>@exam.topic.id %>
	
	<p class="colx3-left required">
		<label for="exam_type">Start Time</label>
		<%= f.text_field :start_time, :size => 15, :class => 'timepicker' %>
	</p>
	<p class="colx3-right required">
		<label for="exam_type">End Time</label>
		<%= f.text_field :end_time, :size => 15, :class => 'timepicker'%>
	</p>
</div>
     
      <div class="columns">
      	 <%unless @exam_group.exam_type=='Grades' || @exam_group.exam_type=='Custom'%>
	<p class="colx3-left required">
		<label for="exam_name">Maximum Marks</label>
		<%= f.text_field :maximum_marks, :size => 15 %>
	</p>
	<p class="colx3-right required">
		<label for="exam_type">Minimum Marks</label>
		<%= f.text_field :minimum_marks, :size => 15 %>
	</p>
	<%else%>
<%= f.hidden_field :maximum_marks, :value => 0 %>
<%= f.hidden_field :minimum_marks, :value => 0 %>
<%end%>
</div>

</fieldset>
<fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button">
		<%= f.submit "Save", :class => "big-button", :id => 'edit_exam'%>
	</p>
</fieldset>

    <% end %>

    <div class="extender"></div>
</div>
</div>
