<div class="block-border" id="outer_block">
	<div class="block-content form">

		<h1>Academic Report</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
				</li>
					</ul>
				</div>	

		
		<% unless flash[:notice].nil? %>
	<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %><h3 align="left"> <%= @student.batch.full_name %>| <%= @student.full_name %></h3>
		<div id="register">
			<% this_user = User.find(session[:user_id]) if session[:user_id] %>
			<% unless this_user.student? %>
			<div class="block-controls">
				<ul class="controls-buttons">
					<li>
						<a href="generated_student_report4?student_id=<%= @student.previous_student.id%>&type=<%= @type%>&batch_id= <%= @student.batch.id%>&q=<%= @student.admission_no%>" title="Previous"><img src="/assets/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a>
					</li>
					<li class="controls-block">
						<strong><%= @student.full_name %></strong>
					</li>
					<li>
						<a href="generated_student_report4?student_id=<%= @student.next_student.id%>&type=<%= @type%>&batch_id= <%= @student.batch.id%>&q=<%= @student.admission_no%>" title="Next">Next <img src="/assets/icons/fugue/navigation.png" width="16" height="16"></a>
					</li>
				</ul>
			</div>
			<div class="extender"></div>
			<% end%>
		</div>
		
	
					
		<table class="table" id="listing" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th scope="col">Subject</th>
					<th scope="col">Topic</th>
					<% @exam_groups.each do |exam_group| %> <th scope="col"><%= exam_group.assessment_name.name %>(<%=exam_group.grading_level_group.grading_level_group_name unless exam_group.grading_level_group.nil?%>)</th>
					<% end %> <!-- <th scope="col">Subject Wise Percentage(%)</th> -->
				</tr>
			</thead>
			<tbody>
				<%subject_name='No'%>
				<% @subjects.each do |subject| %>
			
			
				<%subject.topics.each do |topic|%>
					<% if subject_name == subject.name%>
			<% subject_name = ""%>
			<%else%>
			<% subject_name = subject.name%>
			<%end%>
					<tr>
					
					<td><h3><b><%=subject.name %></b></h3></td>
					<td><%=topic.name%></td>
					
					<% @mmg = 1;@g = 1 %>
					<%@obt = 0%>
					<%@tot = 0%>
					<%@grade_obt=0%>
					<%@grade_tot=0%>
                      <% @sub_aggr = 0%>
					<% @exam_groups.each do |exam_group| %>
				     <%@exam=Exam.find_by_exam_group_id_and_topic_id(exam_group.id,topic.id)%>
					<% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
					<td> 
					<% unless @exam.nil? %>
				
							<% if exam_group.exam_type == "MarksAndGrades" %>
							<%unless exam_score.nil?%>
						<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
						<%end%>
							<%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(grade || "-")}]" %>
							<% unless exam_score.nil? %>
							<%obt_grade_marks = exam_score.marks %><%tot_grade_marks = @exam.maximum_marks%>
							<%@grade_obt += obt_grade_marks unless obt_grade_marks.nil?%>
							<%@grade_tot += tot_grade_marks %>
							<%end%>
							<% elsif exam_group.exam_type == "Marks" %>
							
						
							<%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
						
							<% unless exam_score.nil? %>
							<%obt_marks = exam_score.marks %><%tot_marks = @exam.maximum_marks%>
							<%@obt += obt_marks unless obt_marks.nil?%>
							<%@tot += tot_marks %>
							<%end%>
							<% else %>
							<%unless exam_score.nil?%>
						<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
						<%end%>
							<%= exam_score.nil? ? '-' : (grade || '-')  %>
							<% @g = 0 %>
							<% end %>
						
					<% else %>
					<%= "N.A" %>
					<% end %>
					<% end %> </td>
					<% total_score = ExamScore.new() %>
					<!-- <% if @mmg == @g %> <td> <b><%unless @tot ==0%>
						<%@sub_aggr = @obt*100/@tot%>
						<%= "%.2f" %@sub_aggr%><%else%><%unless @grade_tot==0%><%@sub_aggr = @grade_obt*100/@grade_tot%><%= "%.2f" %@sub_aggr%><%end%></b>
						<%end%> </td>
					
					<% else %> <td>-</td>
					<% end %> -->
					
				</tr>
				
				<%end%>
				<% end %>
				<tr>
					 <td><b>Total</b></td>	
					 <td><b>Topic</b></td>	
					<% @max_total = 0 %>
					<% @marks_total = 0 %>
					<% @get_mark = 0%>
					<% @total_mark = 0%>
					<% @agg =0%>
					<% @t_aggr =0%>
					
					<% @exam_groups.each do |exam_group| %>
					<% if exam_group.exam_type == "MarksAndGrades" %> <td><b><%= exam_group.total_marks(@student)[0] %>/<%= exam_group.total_marks(@student)[1] %></b></td>
					<% elsif exam_group.exam_type == "Marks" %> <td><b><%=exam_group.total_marks(@student)[0]%>/<%=exam_group.total_marks(@student)[1]%></b></td>
					<% else %> <td>-</td>
					<% end %>
					
					<% unless exam_group.exam_type == "Grades" %>
					<% max_totals = exam_group.total_marks(@student)[1] %>
					<% @max_total += max_totals%>
					<% marks_totals = exam_group.total_marks(@student)[0] %>
					<% @marks_total += marks_totals%>
									
					<% @total_mark = exam_group.total_marks(@student)[1] %>
					
					<% end %>
					<% end %> <!-- <td><b><%unless @max_total ==0 %>
						<%@sub_aggr = @marks_total*100/@max_total%>
						Aggrigate%:<%= "%.2f" %@sub_aggr%>
						<%end%></b></td>  -->
				</tr>
				<tr></tr>
			</tbody>
		</table>
	
		<!-- <% if @mmg == @g %>
		<h4>Total Marks = <%= @marks_total %>/<%=@max_total%>  </h4>
		<% end %><br /> -->
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/exams/generated_student_report4_pdf?student=<%= @student.id%>&type=<%= @type%>&q=<%= @student.admission_no%>');"/>
			</p>
		</fieldset>  
	</div>
</div>