<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Exam Wise Report</h1>
		
		<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
				</li>
				</ul>
		</div>	
		
		<% unless flash[:notice].nil? %>
	<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %> <h3 align="left"><%= @student.batch.full_name %> - <%= @exam_group.assessment_name.name %></h3>
    
    <%grouped_exam = GroupedExam.find_by_batch_id(@student.batch.id)%>
    <% weight = ConnectExam.find_by_exam_group_id_and_grouped_exam_id(@exam_group.id,grouped_exam)%>
		<div id="register">
			<% this_user = User.find(session[:user_id]) if session[:user_id] %>
			<% unless this_user.student? %>
			<div class="block-controls">
				<ul class="controls-buttons">
					<li>
						<a href="generated_report?student_id=<%= @student.previous_student.id%>&exam_group=<%= @exam_group.id%>" title="Previous"><img src="/assets/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a>
					</li>
					<li class="controls-block">
						<strong><%= @student.full_name %></strong>
					</li>
					<li>
						<a href="generated_report?student_id=<%= @student.next_student.id%>&exam_group=<%= @exam_group.id%>" title="Next">Next <img src="/assets/icons/fugue/navigation.png" width="16" height="16"></a>
					</li>
				</ul>
			</div>
			<div class="extender"></div>
			<% end %>
		</div>
		<% exam_score = [] %>
		<% @exams.each do |exam| %>
		<%exam.subject.topics.each do |t|%>
		<%exa_by_topic = Exam.find_by_topic_id_and_exam_group_id(t.id,@exam_group.id)%>
		<%unless exa_by_topic.nil? %>
		<% exam_score.push exa_by_topic.exam_scores.find_by_student_id(@student.id) unless exa_by_topic.exam_scores.find_by_student_id(@student.id).nil?  %>
		<%end%>
		<% end %>
		<% end %>
		<% total_marks_attained = 0 %>
		<% total_max_marks = 0 %>
		
		<table class="table" id="listing" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th scope="col">Subject</th>
					<th scope="col">Topic</th>
					<% if @exam_group.exam_type == 'Marks' %> <td scope="col">Obtained Marks</td>
					<th scope="col">Max Marks</th>
					<th scope="col">Subject Wise Percentage(%)</th>
					<% elsif @exam_group.exam_type == 'Grades' %> <th>Grades</th>
					<% else %> <th scope="col">Obtained Marks</th>
					<th scope="col">Max Marks</th>
					<th scope="col">Grades</th>
					<th scope="col">Percentage(%)</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<%s_name=''%>
				<% exam_score.each do |es| %>
				
				<%unless s_name== es.exam.subject.name %>
				<%s_name=es.exam.subject.name%>
				<%else%>
				<%s_name='-'%>
				<%end%>
				<tr>
					<td><h3><%= es.exam.subject.name %></h3></td>
					<td> <%= es.exam.topic.name %></td>
					<% if @exam_group.exam_type == 'Marks' %> <td><%= es.marks || '-' %></td>
					<% total_marks_attained = total_marks_attained+(es.marks || 0) %>
					 <td><%= es.exam.maximum_marks %></td>
					<% total_max_marks = total_max_marks+es.exam.maximum_marks%>
					
					<td>
				      
                   <%@sub_per = es.calculate_percentage%>
                     <%= "%.2f" %@sub_per %>
                     
				    </td>
					<% elsif @exam_group.exam_type == 'Grades' %>
					<%unless es.grading_level_detail.nil?%>
					<%grade = es.grading_level_detail.grading_level_detail_name%>
					<%end%>
					 <td><%=grade || "-" %></td>
					<% else %> <td><%= es.marks || "-" %></td>
					<% total_marks_attained = total_marks_attained+(es.marks || 0) %> <td><%= es.exam.maximum_marks %></td>
					<%unless es.grading_level_detail.nil?%>
					<%grade = es.grading_level_detail.grading_level_detail_name%>
					<%end%>
					<% total_max_marks = total_max_marks+es.exam.maximum_marks%> <td><%= grade || "-" %></td>
					<td><%= "%.2f" %(es.calculate_percentage) %></td>
					<% end %>
				</tr>
				<% end %>

				<% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
				<tr>
					<td><b>Total Marks:</b></td>
					<td></td>
					<td><b><%= total_marks_attained %></b></td><td><b><%= total_max_marks %></b></td>
					<%  if @exam_group.exam_type == 'MarksAndGrades' %> <td>-</td>
					<% end %> 
					<td><b><%= "%.2f" %(total_marks_attained*100/total_max_marks) unless total_max_marks == 0 %></b></td>
				
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %> <h5>Class Average Marks : <%= "%.2f" %@exam_group.batch_average_marks('marks') unless total_max_marks == 0%> | Class Average % : <%= "%.2f" %(@exam_group.batch_average_marks('marks')*100/total_max_marks) unless total_max_marks == 0 %></h5>
				  <%= @graph.html_safe %>
		<% end %>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<!-- <%  if permitted_to? :consolidated_exam_report,:exams %> 
				<input type="button" class="big-button" value="Consolidated Report" onclick="$(location).attr('href','/exams/consolidated_exam_report?exam_group=<%= @exam_group.id%>');"/>
				<% end %> -->
				 <%  if permitted_to? :generated_report_pdf,:exams %> 
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/exams/generated_report_pdf?exam_group=<%= @exam_group.id%>&batch=<%=@batch.id%>');"/>
				<% end %> 
				
			</p>
		</fieldset>
	</div>
</div>
