  <th colspan="3"><%= "Report for #{@exam_group.assessment_name.name}"%></th>
<hr style="height:0.0em;width:50em;border:1px solid #FB7A31;" />
   <% @students.each_with_index do |student,i| %>
     
        <h4>Student Name: <%=student.full_name %></h4>
        <table>
          <%  if @exam_group.exam_type == 'Marks' %>
         <tr>
            <tr class="yellow"> 
            	<td class="adjacent">Subject</td>
            	<td class="adjacent">Topic </td>
            	<td class="adjacent">Marks Obtained </td>
            	<td class="adjacent">Maximum marks</td>
            	<td class="adjacent">Percentage(%)</td>
            	</tr>
            <% total_marks = 0 %>
            <% total_max_marks = 0 %>
            <% @exam_group.exams.each_with_index do |exam,i|  %>
           
              <% exam_score = ExamScore.find_by_student_id_and_exam_id(student,exam) %>
              <% unless exam_score.nil? %>
                <% mark = exam_score.marks || "-" %>
                <% total_marks += exam_score.marks || 0 %>
                <% total_max_marks += exam.maximum_marks %>
              <% else %>
                <% mark = "-" %>
                <%= @total_percentage = ((total_marks.to_f/total_max_marks.to_f)*100) %>
              <% end %>
            <% if i== 50 %>
            <% i= 0 %>
           

                <tr><td class="adjacent">Subject</td><td class="adjacent"> Marks Obtained </td><td class="adjacent">Maximum marks</td><td class="adjacent">Percentage(%)</td></tr>
</tr>
          <% end %>
          <tbody>
              <tr>
                <td class="adjacent"><%= exam.subject.name %></td>
                <td class="adjacent"> <%= mark %> </td>
                <td class="adjacent"><%= exam.maximum_marks %></td>
                <td class="adjacent"><%= (exam_score.calculate_percentage unless exam_score.nil?) %></td>
              </tr>
            <% end %>
            <tr>
              <td class="adjacent"><%= "Total" %></td>
              <td class="adjacent"> <%= total_marks %> </td>
              <td class="adjacent"><%= total_max_marks %></td>
             <td class="adjacent"><%="%.2f" %@total_percentage unless @total_percentage.nil?%></td>
            </tr>
            </tbody>
          <%  elsif @exam_group.exam_type == 'Grades' %>
          <tr>
          	
            <tr class="yellow"><td class="adjacent">Subject</td><td class="adjacent"> Grade </td></tr></tr>
            <tbody>
            <% @exam_group.exams.each do |exam| %>
              <% exam_score = ExamScore.find_by_student_id_and_exam_id(student,exam) %>
              <% unless exam_score.nil? %>
                <tr>
                  <td class="adjacent"><%= exam.subject.name %></td>
                  	<%unless exam_score.grading_level_detail.nil?%>
					<%grade = exam_score.grading_level_detail.grading_level_detail_name%>
					<%end%>
                  <td class="adjacent"> <%= grade || "-" %> </td>
                </tr>
              <% else %>
                <tr>
                  <td class="adjacent"><%= exam.subject.name %></td>
                 <td class="adjacent"> <%= "-" %> </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>

          <% else %>
          <tr>
            <tr class="yellow">
           <td class="adjacent">Subject</td>
           <td class="adjacent">Topic </td>
           <td class="adjacent">Grade </td>
           <td class="adjacent">Marks Obtained </td>
           <td class="adjacent">Maximum marks </td>
           <td class="adjacent">Percentage(%) </td>
           </tr>
           </tr>
            <tbody>
            <% total_marks = 0 %>
            <% total_max_marks = 0 %>
            <% @exam_group.exams.each do |exam| %>
              <% exam_score = ExamScore.find_by_student_id_and_exam_id(student,exam) %>
              <% unless exam_score.nil? %>
                <% mark = exam_score.marks || "-" %>
                <%unless exam_score.grading_level_detail.nil?%>
					<%grades = exam_score.grading_level_detail.grading_level_detail_name%>
					<%end%>
                <% grade = grades || "-" %>
                <% total_marks += exam_score.marks || 0 %>
                <% total_max_marks += exam.maximum_marks %>
              <% else %>
                <% mark = "-" %>
                <% grade = "-" %>
              <% end %>
              <% @total_percentage = ((total_marks/total_max_marks)*100 unless total_max_marks==0 ) %>
              <tr>
                <td class="adjacent"><%= exam.subject.name %></td>
                <td class="adjacent"><%= exam.topic.name %> </td>
                <td class="adjacent"><%= grade %> </td>
                <td class="adjacent"><%= mark %> </td>
                <td class="adjacent"><%= exam.maximum_marks %> </td>
                <td class="adjacent"><b> <%= (exam_score.calculate_percentage unless exam_score.nil?) %> </b></td>
              </tr>
            <% end %>
            <tr>
              <td class="adjacent"><%= 'Total' %></td>
              <td class="adjacent"><%= "-" %> </td>
               <td class="adjacent"> <%= "-" %> </td>
              <td class="adjacent"><%= total_marks %> </td>
              <td class="adjacent"><%= total_max_marks %> </td>
              <td class="adjacent"><b> <%="%.2f" %(@total_percentage)  unless @total_percentage.nil?%></b> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
     
   
         
  <% end %>

