<div class="block-border" id="outer_block">
	<div class="block-content form">

		<h1>Grouped Exam Reports</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
				</div>	

		
		<% unless flash[:notice].nil? %>
	<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %><h4 align="left"> <%= @batch.full_name %></h4><strong><%=@grouped_exams.grouped_exam_name%></strong>
		<div id="register">
			<% this_user = User.find(session[:user_id]) if session[:user_id] %>
			<% unless this_user.student? %>
			<div class="block-controls">
            
				<ul class="controls-buttons">
					 <%unless current_user.role_name == 'admin'%>
					<li>
						<a href="generated_report5?student_id=<%= @student.previous_student.id%>&type=<%= @type%>&grouped=<%=@grouped_exams.id%>" title="Previous"><img src="/assets/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a>
					</li>
					<%end%>
					<li class="controls-block">
						<strong><%= @student.full_name %></strong>
					</li>
					 <%unless current_user.role_name == 'admin'%>
					<li>
						<a href="generated_report5?student_id=<%= @student.next_student.id%>&type=<%= @type%>&grouped=<%=@grouped_exams.id%>" title="Next">Next <img src="/assets/icons/fugue/navigation.png" width="16" height="16"></a>
					</li>
					<%end%>
				</ul>
			</div>
			<div class="extender"></div>
			<% end%>
		</div>
		<table class="table generated_report5" id="listing" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th scope="col">Subject</th>
					<th scope="col">Topic</th>
					<%@weight=0.0%>
					 <% @exam_groups.each do |exam_group| %>
                    			
					<% @greid =  ConnectExam.find_by_exam_group_id_and_grouped_exam_id(exam_group.id,@grouped_exams.id) %>
					<%weightage= @greid.weightage%>
				
					<%unless weightage.nil?%>
						<%@weight+=weightage%>
					<th scope="col"><%= exam_group.assessment_name.name %>(<%= "%.2f" %weightage%>%)</th>
					<%else%>
					<th scope="col"><%= exam_group.assessment_name.name %></th>
					<%end%>
					<% end %>
					<%unless @greid.weightage.nil?%>
					 <th scope="col">Subject Wise Percentage(<%="%.2f" %@weight%>%)</th>  
					 <%end%>
				</tr>
			</thead>
			<tbody>
				
				
				
				<% @subjects.each do |subject| %>
				<% subject.topics.each do |topic| %>
				
				<tr>
					<% @mmg = 1;@g = 1 %>
                      <% @sub_aggr = 0%>
                      <% @sub_aggri =0%>
                      	<% @to_obta = 0%>
						<% @to_mto = 0%>
					<td><h3><%=subject.name%></h3></td>
					<td><%=topic.name%></td>
					<% @exam_groups.each do |exam_group| %>
					 <%@weightage = ConnectExam.find_by_exam_group_id_and_grouped_exam_id(exam_group.id,@grouped_exams.id) %>
					<% @exam = Exam.find_by_topic_id_and_exam_group_id(topic.id,exam_group.id) %>
					<% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
					<td> 
						
					<% unless @exam.nil? %>
							<% if exam_group.exam_type == "MarksAndGrades" %>
								<%unless exam_score.nil?%>
								<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
								<%unless @greid.weightage.nil?%>
									<%@obt = exam_score.marks %><%@tot = @exam.maximum_marks%>
									<% @to_obta +=@obt unless @obt.nil?%>
								     <% @to_mto +=@tot%>
										<% unless @obt.nil? or @tot.nil?%>
											<%@sub_per = @obt*100/@tot%><%unless @weightage.nil?%><%@sub_p = @sub_per* @weightage.weightage/100%><%else%><%@sub_p = 0%><%end%>
											<%@sub_aggr += @sub_p %>
										<%end%>
									<%end%>
								<%end%>
								
								<%unless @sub_p.nil?%>
								<%cal="%.2f" %(@sub_p)%>
								<%else %>
								<%cal=(@sub_p)%>
								<%end%>
								<%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "Absent")}" +"/"+@exam.maximum_marks.to_s+"[#{(grade || "-")}]"+"[#{(cal || "-")}]"%>
								<% elsif exam_group.exam_type == "Marks" %>
								<%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
								<% unless exam_score.nil? %>
								<%unless @greid.weightage.nil?%>
									<%@obt = exam_score.marks %><%@tot = @exam.maximum_marks%>
									<% @to_obta +=@obt unless @obt.nil?%>
								     <% @to_mto +=@tot%>
									<% unless @obt.nil? or @tot.nil?%>
										<%@sub_per = @obt*100/@tot%><%unless @weightage.nil?%><%@sub_p = @sub_per* @weightage.weightage/100%><%else%><%@sub_p = 0%><%end%>
										<%@sub_aggr += @sub_p %>
									<%end%>
									<%end%>
								<%end%>
								<%else%>
								<%unless exam_score.nil?%>
								<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
								<%end%>
								<%= exam_score.nil? ? '-' : (grade || '-')  %>
								<% @g = 0 %>
								<%end%>
					<% else %>
					<%= "N.A" %>
					<% end %>
							</td>
							
					<%end%>
					<%unless @greid.weightage.nil?%>
					
					<% if @mmg == @g %> <td><b>
						<%unless @sub_aggr ==0%>
						<%unless @grouped_exams.grading_level_group.nil?%>
						<%percentage_to_be_grade=@sub_aggr*100/@weight%>
						<%grade=GradingLevelDetail.percentage_to_grade(percentage_to_be_grade, @grouped_exams.grading_level_group.id)%>
						<%else%>
						<%grade="-"%>
						<%end%>
						
						<%= "%.2f" %@sub_aggr%>[<%=grade.grading_level_detail_name unless grade.nil?%>]<%else%><%unless @to_mto ==0%>
						<% @sub_aggri = @to_obta*100/@to_mto%>
						<%= "%.2f" %@sub_aggri%><%end%><%end%></b></td>
					
					<% else %> <td>-</td>
					<% end %>
					<%end%>
				</tr>
			<% end %>
			<%end%>
			</tbody>
		</table>
	<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				
				 <!-- <%= link_to 'Generate Report Card', :controller=>"/exams",:action=>"xls_demo",:format => 'xls',:type=>@type,:grouped=>@grouped_exams.id,:batch_id=>@batch.id %> -->
				<!-- <input type="button" class="big-button" value="PDF Report"  onclick="$(location).attr('href','/exams/xls_demo?type=<%= @type%>&grouped=<%=@grouped_exams.id%>&batch_id=<%=@batch.id%>&format=xls');"/> -->
			
			<%= link_to 'Generate Report Card', :controller=>"/exams",:action=>"secondry_standard_report",:format => 'xls',:type=>@type,:grouped=>@grouped_exams.id,:batch_id=>@batch.id %>
		
			</p>
		</fieldset> 
		
	</div>
</div>