<style type="text/css">
.break { page-break-after: always; }	
</style>
<h3 align="left"> <%= @student.batch.full_name %></h3>


	<hr style="height:0.0em;width:50em;border:1px solid #FB7A31;" />
		<h3><%= @student.full_name %></h3>
		<h1>Academic Report</h1>
		<table class="break">
			<tr>
				<tr class="yellow">
					<td class="adjacent">Subject</td>
					<% @exam_groups.each do |exam_group| %> <td class="adjacent"><%= exam_group.name %>(<%=exam_group.grading_level_group.grading_level_group_name unless exam_group.grading_level_group.nil?%>)</td>
					<% end %> <td class="adjacent">Subject Wise Percentage(%)</td>
				</tr>
			</tr>
			<tbody>
				
				<% @subjects.each do |subject| %>
				<tr>
					
					<td class="adjacent"><%= subject.name %></td>
					<% @mmg = 1;@g = 1 %>
					<%@obt = 0%>
					<%@tot = 0%>
					<%@grade_obt=0%>
					<%@grade_tot=0%>
                      <% @sub_aggr = 0%>
					<% @exam_groups.each do |exam_group| %>
                   	<% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
					<% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
					<td> 
					<% unless @exam.nil? %>
				
							<% if exam_group.exam_type == "MarksAndGrades" %>
							<%unless exam_score.nil?%>
						<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
						<%end%>
							<%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(grade || "-")}]" %>
							<% unless exam_score.nil? %>
							<%obt_grade_marks = exam_score.marks %><%tot_grade_marks = @exam.maximum_marks%>
							<%@grade_obt += obt_grade_marks unless obt_grade_marks.nil?%>
							<%@grade_tot += tot_grade_marks %>
							<%end%>
							<% elsif exam_group.exam_type == "Marks" %>
							
						
							<%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
						
							<% unless exam_score.nil? %>
							<%obt_marks = exam_score.marks %><%tot_marks = @exam.maximum_marks%>
							<%@obt += obt_marks unless obt_marks.nil?%>
							<%@tot += tot_marks %>
							<%end%>
							<% else %>
							<%unless exam_score.nil?%>
						<%grade=exam_score.grading_level_detail.grading_level_detail_name unless exam_score.grading_level_detail.nil? %>
						<%end%>
							<%= exam_score.nil? ? '-' : (grade || '-')  %>
							<% @g = 0 %>
							<% end %>
						
					<% else %>
					<%= "N.A" %>
					<% end %>
					<% end %> </td>
					<% total_score = ExamScore.new() %>
					<% if @mmg == @g %> <td class="adjacent"><b><%unless @tot ==0%>
						<%@sub_aggr = @obt*100/@tot%>
						<%= "%.2f" %@sub_aggr%><%else%><%unless @grade_tot==0%><%@sub_aggr = @grade_obt*100/@grade_tot%><%= "%.2f" %@sub_aggr%><%end%></b>
						<%end%></td>
					
					<% else %> <td class="adjacent">-</td>
					<% end %>
					
				</tr>
				<% end %>
				<tr>
					<td class="adjacent"><b>Total</b></td>	
					<% @max_total = 0 %>
					<% @marks_total = 0 %>
					<% @get_mark = 0%>
					<% @total_mark = 0%>
					<% @agg =0%>
					<% @t_aggr =0%>
					
					<% @exam_groups.each do |exam_group| %>
					<% if exam_group.exam_type == "MarksAndGrades" %> <td class="adjacent"><b><%= exam_group.total_marks(@student)[0] %>/<%= exam_group.total_marks(@student)[1] %></b></td>
					<% elsif exam_group.exam_type == "Marks" %> <td class="adjacent"><b><%=exam_group.total_marks(@student)[0]%>/<%=exam_group.total_marks(@student)[1]%></b></td>
					<% else %> <td class="adjacent">-</td>
					<% end %>
					
					<% unless exam_group.exam_type == "Grades" %>
					<% max_totals = exam_group.total_marks(@student)[1] %>
					<% @max_total += max_totals%>
					<% marks_totals = exam_group.total_marks(@student)[0] %>
					<% @marks_total += marks_totals%>
									
					<% @total_mark = exam_group.total_marks(@student)[1] %>
					
					<% end %>
					<% end %> <td><b><%unless @max_total ==0 %>
						<%@sub_aggr = @marks_total*100/@max_total%>
						Aggrigate%:<%= "%.2f" %@sub_aggr%>
						<%end%></b></td>
				</tr>
				<tr></tr>
			</tbody>
		</table>
	
		<% if @mmg == @g %>
		<h4>Total Marks = <%= @marks_total %>/<%=@max_total%>  </h4>
		<% end %><br />
