<div class="block-border" id="outer_bloc">
	<div class="block-content form">
		<% unless flash[:notice].nil? %>
		<ul class="message success grid_12">
			<li>
				<strong><%= flash[:notice] %></strong>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
		<% unless flash[:warn_notice].nil? %>
		<ul class="message error">
			<li>
				<strong><%= flash[:warn_notice] %></strong>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>

		<% unless @exam_groups.empty? %>

		<%= form_for :exam_grouping,:url => {:action=>"new_grouping_assessment",:id => @batch}, :html =>{:id =>'grouping_form'} do |f| %>
		<div class="columns">
			<p class="colx3-left required">
			<label for="complex-fr-style">Grouped Exam Name</label>
			<%unless @grouped_name.nil?%>
			<%= f.text_field :grouped_exam_name,:value =>@grouped_name.grouped_exam_name,:class=>'full-width',:field_name=>'Grouped Exam Name',:size=>20  %>
			<%else%>
			<%= f.text_field :grouped_exam_name,:class=>'full-width',:field_name=>'Grouped Exam Name',:size=>25 %>
			<%end%>	
			</p>
			<p class="colx3-right required select-fixed-width1">
				<label for="grading level group">Grading Level Group</label>
				<%=f.select :grading_level_group_id,@grading_level_group.map {|b| [b.grading_level_group_name, b.id]},{:selected=>1}, :prompt => "Select"%>
			</p>
			
			
		</div>
		<table class="table examgrouping no-margin" id="exam_Groupings"  width="100%">
			<thead>
				<tr>
					<th class="black-cell">
					
					</th>
					<!-- <th><b>Status</b></th> -->
					<th><b>ExamGroup Name</b></th>
					<%unless @assessment_mode=="no weightage"%> <th><b>Weightage</b></th>
					<%end%>
				</tr>
			</thead>
			<tbody>
				<% @exam_groups.each do |e| %>
				<tr>
					<%unless @grouped_name.nil?%>
					<% connect_exam = ConnectExam.find_by_exam_group_id_and_grouped_exam_id(e.id,@grouped_name.id)%>
					<% @already_grouped = connect_exam%>
					<%else%>
					<% @batches = GroupedExam.find_all_by_batch_id(@batch.id) %>
					<%@batches.each do |b|%>

					<% @already_grouped = ConnectExam.find_by_grouped_exam_id_and_exam_group_id(b.id,e.id)%>

					<%end%><%end%>
					<% if @already_grouped.nil? %>
					<br/>
					<td><label id="group"><%= check_box_tag "exam_grouping[exam_group_ids][]", e.id,false %> <td><%= e.assessment_name.name %></td> <%unless @assessment_mode=="no weightage"%><td><%= text_field_tag "exam_grouping[weightage][]" ,nil,:class => 'numeric' , :id =>  "weightage_#{e.id}"%></td><%end%></label></td>
					<% else %>
                  	<%unless @assessment_mode=="no weightage"%> <td><label><%= check_box_tag "exam_grouping[exam_group_ids][]", e.id, :class => 'group' %> <td><%= e.assessment_name.name %></td><%unless @already_grouped.weightage.nil?%><td><%= text_field_tag "exam_grouping[weightage][]" , "%.2f" %@already_grouped.weightage,:class => 'numeric',:id =>  "weightage_#{e.id}"%></td><%else%><td><%= text_field_tag "exam_grouping[weightage][]" , "",:class => 'numeric',:id =>  "weightage_#{e.id}"%></td><%end%></label></td>
					<%else%> <td><label><%= check_box_tag "exam_grouping[exam_group_ids][]", e.id, :class => 'group' %> <td><%= e.assessment_name.name %></td></label></td>
					<%end%>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br />
		<br />
		<br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<%= f.submit "Save", :class => "big-button", :id =>'connect_save'%>
			</p>
		</fieldset>
		<% end %>
		<% end %>
	</div>
</div>
