<div class="block-border" id="outer_block">
	<div class="block-content form">
			<h1> Connect Assessment</h1>
			<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
				</div>	
		<fieldset class="grey-bg">
		<%= radio_button_tag(:assessment_mode, "weightage") %>
<%= label_tag(:assessment_mode, "Weightage") %>
 <%= radio_button_tag(:assessment_mode, "no weightage") %>
<%= label_tag(:assessment_mode, "No Weightage") %> 
	</fieldset>
	<input type="hidden" name="batch" id="batch_id" value="<%=@batch%>" />
	<div id="marks_and_mg"></div>
	<div id="connect_assess"></div>
	</div>
</div>
