<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Students</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
		<ul class="tags float-right">
			<li class="tag-user">
				<%= link_to 'PDF ',{:controller => "exams",:action=> 'previous_years_marks_overview_pdf',:student => @student.id}, :target=> '_blank' %>
			</li>
		</ul> 		<h3>Previous marks overview</h3>
		<% @type = params[:type] %>
		<% this_user = User.find(session[:user_id]) if session[:user_id] %>
		<% unless this_user.student? %>
		<div class="block-controls">
			<ul class="controls-buttons">
				<!-- <li>
				<a href="previous_years_marks_overview?student=<%= @student.previous_student.id%>&type=<%= @type%>" title="Previous"><img src="/assets/icons/fugue/navigation-180.png" width="16" height="16"> Prev</a>
				</li> -->
				<li class="controls-block">
					<strong><%= @student.full_name %></strong>
				</li>
				<!-- <li>
				<a href="previous_years_marks_overview?student=<%= @student.next_student.id%>&type=<%= @type%>" title="Next">Next <img src="/assets/icons/fugue/navigation.png" width="16" height="16"></a>
				</li> -->
			</ul>
		</div>
		<% end %>

		<% @all_batches.each do |b| %>
		<% @exam_groups = ExamGroup.find_all_by_batch_id(b.id) %>
		<% general_subjects = Subject.find_all_by_batch_id(b.id, :conditions=>"elective_group_id IS NULL AND is_deleted=false") %>
		<% student_electives = StudentsSubject.find_all_by_student_id(@student.id,:conditions=>"batch_id = #{b.id}") %>
		<% elective_subjects = [] %>
		<%  student_electives.each do |elect| %>
		<% elective_subjects.push Subject.find(elect.subject_id) %>
		<%  end %>
		<% @subjects = general_subjects + elective_subjects %>
		<div id="register">
			<div class="header2">
				<div class="month">
					<b><%= b.full_name %> </b>
				</div>
			</div>
		</div>
		<div id="score-table">
			<table id="listing" class="table" width="100%">
				<thead>
					<tr>
						<th scope="col">Subject</th>
						<% @exam_groups.each do |exam_group| %> <th><%= exam_group.name %>(<%=exam_group.grading_level_group.grading_level_group_name unless exam_group.grading_level_group.nil?%>)</th>
						
						<% end %> <th scope="col">Subject Wise Percentage</th>
					</tr>
				</thead>
				<tbody>
					<% @subjects.each do |subject| %>
					<tr>
						<td><%= subject.name %></td>
						<% @mmg = 1;@g = 1 %>
						<% @sub_aggr = 0%>
						<% @to_obta = 0%>
						<% @to_mto = 0%>
						<% @grade_obt =0%>
						<% @grade_tot =0%>
						<% @exam_groups.each do |exam_group| %>
						<% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
						<% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
						<% unless @exam.nil?  %>
						<% if exam_group.exam_type == "MarksAndGrades" %> <td><% unless exam_score.nil?  %>
						<%= exam_score.marks || "-" %>/<%= @exam.maximum_marks %>|<%= exam_score.grading_level_detail.grading_level_detail_name || "-" %></td>
						<% unless exam_score.nil? %>
						<% obt_grade_marks = exam_score.marks %><% tot_grade_marks = @exam.maximum_marks%>
						<% @grade_obt += obt_grade_marks unless obt_grade_marks.nil?%>
						<% @grade_tot += tot_grade_marks %>
						<%end%>
						<% end  %>
						<% elsif exam_group.exam_type == "Marks" %> <td><%unless exam_score.nil? %><%= exam_score.marks || "-" unless @exam.nil? %>/<%= @exam.maximum_marks unless @exam.nil?%>
						<%else%><%= "-"%><%end%></td>
						<%unless exam_score.nil? or @exam.nil? %>
						<% @obt = exam_score.marks %><% @tot = @exam.maximum_marks%>
						<% @to_obta +=@obt unless @obt.nil?%>
						<% @to_mto +=@tot%>
						<%end%>
						<% else %> <td><%= exam_score.grading_level_detail.grading_level_detail_name || "-" unless exam_score.nil? %></td>
						<% @g = 0 %>
						<% end %>
						<% else %> <td><%= "N.A" %></td>
						<% end %>
						<% end %>
						<% total_score = ExamScore.new() %>
						<% if @mmg == @g %> <td><b> <%unless @to_mto ==0%>
						<% @s_aggr = @to_obta*100/@to_mto%>
						<%= "%.2f" %@s_aggr%><%else%><%unless @grade_tot ==0 %>
						<% @s_aggr = @grade_obt*100/@grade_tot%>
						<%= "%.2f" %@s_aggr%>
						<%end%>
						<%end%></b></td>
						<% else %> <td>-</td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
				<tr>
					<td><b>Total</b></td>
					<% @max_total = 0 %>
					<% @grade_max_total = 0 %>
					<% @grade_marks_total=0%>
					<% @marks_total = 0 %>
					<% @get_mark = 0%>
					<% @total_mark = 0%>
					<% @agg =0%>
					<% @t_aggr =0%>
					<% @exam_groups.each do |exam_group| %>
					<% if exam_group.exam_type == "MarksAndGrades" %> <td><b><%= exam_group.total_marks(@student)[0] %>/<%= exam_group.total_marks(@student)[1] %></b></td>
					<% @grade_max_total = @grade_max_total+exam_group.total_marks(@student)[1]%>
					<% @grade_marks_total = @grade_marks_total+exam_group.total_marks(@student)[0]%>
					<% elsif exam_group.exam_type == "Marks" %> <td><b><%= exam_group.total_marks(@student)[0] %>/<%= exam_group.total_marks(@student)[1] %></b></td>
					<% else %> <td>-</td>
					<% end %>
					<% unless exam_group.exam_type == "Grades" %>
					<% max_totals = exam_group.total_marks(@student)[1] %>
					<% @max_total += max_totals%>
					<% marks_totals = exam_group.total_marks(@student)[0] %>
					<% @marks_total += marks_totals%>
					<% end %>
					<% end %> <td><b><%unless @max_total == 0%><% @t_aggr = @marks_total*100/@max_total%><%end%>
					Aggregate % = <%= "%.2f" %@t_aggr%></b></td>
				</tr>
				<tr></tr>
			</table>
		</div>
		<br />
		<% end %>
		<br />
		<br />
		<%  unless @aggr == 'nil'  %> 
		<%= @graph.html_safe %>
		<% end  %>
	</div>
</div>