<div class="block-border" id="outer_bloc">
	<div class="block-content form">
		<h1>Grouped Exam List</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller=>'/exam_groups',:action=>'index',:batch_id=> @batch.id%>
				</li>
			</ul>
		</div>
	 	<% unless flash[:notice].nil? %>
		<ul class="message success grid_12">
			<li>
				<strong><%= flash[:notice] %></strong>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
		<!--<% unless flash[:warn_notice].nil? %>
		<ul class="message error">
			<li>
				<strong><%= flash[:warn_notice] %></strong>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %> -->
		<div id="view_group">
			<%= render :partial =>'view_grouping_par'%>
		</div>
		
		<br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="New Connect Exams" onclick="$(location).attr('href','/exams/grouping_assessment_type?id=<%= @batch.id%>');"/>
			</p>
		</fieldset>
	</div>
</div>
