 <div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Additional Exams</h1>
		<h3>History</h3>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to_function image_tag("/assets/icons/web-app/32/Back.png"), "history.back()" %>
						</li>
					</ul>
				</div>	



<%@audits.each do |aa|%>
<p>updated_by:<%=User.find(aa.user_id).full_name%></p>
<p><%=exam_group_id = ExamScore.find_by_id(aa.auditable_id).exam.exam_group.name%></p>
<p>Changed:<%=aa.audited_changes%></p>
<p>Performed action:<%=@action = aa.action%></p>
<%if @action =='create'%>
<p>created_at:<%=aa.created_at%></p>
<%else%>
<p>modified_at:<%=aa.created_at%></p>
<%end%>
<%end%>
</div></div> 