<div class="block-border" id="outer_bloc">
	<div class="block-content">

  <h1>Additional Exams</h1>
   <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :action =>'index',:batch_id => @batch.id %>
				</li>
					</ul>
				</div>	

  <ul>
  
  </ul>



  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
       <div class="bread_crumb">
          <b><%= link_to 'Courses', all_record_courses_path %> &raquo;
        <%= link_to @course.full_name, all_record_courses_path%> &raquo;
        <%= link_to "Batch #{@batch.name}", :controller => 'batches', :action => 'all_record', :id => @batch, :course_id => @course %> &raquo;
        <%= link_to 'Exams', :action => 'index', :batch_id => @batch %> &raquo;</b>
        <%= @additional_exam_group.name %>
        </div><br />
    <% unless @additional_exam_group.exam_type == 'Grades' %>
    
       <table class="table aexamgshow no-margin" id="aexamGroupShow"  width="100%">
      	<thead>
        <tr>
        	<th class="black-cell"></th>
        	<th scope="col">Subject</th>
        	<th scope="col">Topic</th>
          <th scope="col">Max marks</th>
          <th scope="col">Min marks</th>
          <th scope="col">Action</th>
          
        </tr>
        </thead>
        <tbody>
        	<%subject_name='No'%>
        <% @additional_exam_group.additional_exams.each do |additional_exam| %>
        <% if subject_name == additional_exam.subject.name%>
			<% subject_name = ""%>
			<%else%>
			<% subject_name = additional_exam.subject.name%>
			<%end%>
          <tr>
            <% @additional_exam = additional_exam %>
            <td class="th table-check-cell"></td>
            <td><b><%=additional_exam.subject.name%></b></td>
            <td><%= link_to additional_exam.topic.name,:controller => 'additional_exam',:action => 'show', :additional_exam_group_id => @additional_exam_group,:id => @additional_exam %></td>
            <td><%= in_place_editor_field :additional_exam, :maximum_marks,{},{:cols=>1} %></td>
            <td><%= in_place_editor_field :additional_exam, :minimum_marks,{},{:cols=>1} %></td>
            <td>
             
               <small><%= link_to image_tag("/assets/icons/fugue/pencil.png", :width=> 16, :height => 16, :title => 'edit'),:controller => 'additional_exam',:action => 'edit', :additional_exam_group_id => @additional_exam_group,:id => additional_exam %></small>
               <%if @additional_exam.removable?%>
              <a href="#" id="delete_additional_exam" exam_id="<%= @additional_exam.id%>" ><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
           <%else%>
           <s><%= 'Delete' %></s> 
           <%end%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      
    <% else %>
     <table class="table aexamggshow no-margin" id="aexamGroupGradeShow" cellspacing="0" width="100%">
        <thead>
        <tr >
        	<th class="black-cell"></th>
          <th scope="col">Subject</th>
          <th scope="col">Topic</th>
         <th scope="col">Action</th>
        </tr>
        </thead>
         <tbody>
        <% @additional_exam_group.additional_exams.each do |additional_exam| %>
  <% if subject_name == additional_exam.subject.name%>
			<% subject_name = ""%>
			<%else%>
			<% subject_name = additional_exam.subject.name%>
			<%end%>
          <tr>
            <% @additional_exam = additional_exam %>
            <td class="th table-check-cell"></td>
            <td><%= additional_exam.subject.name%></td>
            <td><%= link_to @additional_exam.topic.name,:controller => 'additional_exam',:action => 'show', :additional_exam_group_id => @additional_exam_group,:id => @additional_exam%></td>
            <td>
               <small><%= link_to image_tag("/assets/icons/fugue/pencil.png", :width=> 16, :height => 16, :title => 'edit'),:controller => 'additional_exam',:action => 'edit', :additional_exam_group_id => @additional_exam_group,:id => additional_exam %></small>
               <%if @additional_exam.removable?%>
              <a href="#" id="delete_additional_exam" exam_id="<%= @additional_exam.id%>" ><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
           <%else%>
           <s><%= 'Delete' %></s> 
           <%end%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

   
 
</div></div>
