
<div id="outer_block">
				<%= form_for @instant_fee_particular, :url => instant_fee_particulars_path, :html => { :class => "block-content form", :id => "instantFeesParticulars-form"} do |form| %>
				<%= render 'shared/form_errors', :object => form.object %>	
				<input type="hidden" name="instant_fees_id" id="instant_fees_id" value="<%=@instant_fee.id%>">		
				<br />
				<fieldset class="grey-bg">
					<legend>Required fields</legend>
					<div class="columns">
					
					<p class="colx3-left required">
						<label for="instant_fee_description">Name</label>
						<span class="relative">
							<%= form.text_field :name, :class => "full-width" ,:field_name => 'Name'%>
						</span>
					</p>
					<p class="colx3-center required">
						<label for="instant_fee_particular_description">Description</label>
						<span class="relative">
							<%= form.text_field :description, :class => "full-width" ,:field_name => 'Description'%>
						</span>
					</p>
					<p class="colx3-right required">
						<label for="instant_fee_particular_name">Amount</label>
						<span class="relative">
							<%= form.text_field :amount, :class => "full-width" ,:field_name => 'Amount'%>
						</span>
					</p>
					</div>
				</fieldset>
								
				
				
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<div class="colx2-right">
							<button id="create_instant_fee_particular" type="submit">Create</button>
							<button id="update_instant_fee_particular" type="button" >Update</button>
							<button id="reset_instant_fee_particular" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
						</div>
					</div>
				</fieldset>
				<% end %>
			</div>
			<br/>
			<div id="table-block">
                <%= render :partial => 'instantFeesParticulars' %>
			</div>


