									<tr>
										<th scope="row" class="table-check-cell"></th>
										<td id="particular_fee_name_<%= fees_particulars.id %>"><%= fees_particulars.name %></td>
										<td id="particular_fee_description_<%= fees_particulars.id %>"><%= fees_particulars.description %></td>
										<td id="particular_fee_amount_<%= fees_particulars.id %>"><%= fees_particulars.amount %></td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= fees_particulars.id %>"/>

											<a href="#" id="update-particular_fee-href-<%= fees_particulars.id %>" title="Edit" class="with-tip update-particular_fee-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-particular_fee-href-<%= fees_particulars.id %>" title="Delete" class="with-tip delete-particular_fee-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
											
										</td>
									</tr>