
		<div class="columns">	
				
		    <p class="colx3-left required">
				<label for="address_line_1">Address Line 1</label>
				<%= s.text_field :address_line1 , :class => "full-width" ,:field_name=>'Address Line 1'%>
			</p>
			
			<p class="colx3-center">
				<label for="address_line_2">Address Line 2</label>
				<%= s.text_field :address_line2 , :class => "full-width",:field_name=>'Address Line 2'%>
			</p>

			<p class="colx3-right required">
				<label for="address_line_2">City</label>
				<%= s.text_field :city, :class => "full-width" ,:field_name=>'City'%>
			</p>
			
			</div>
        
		<div class="columns">	
				
		    <p class="colx3-left">
				<label for="address_line_1">State</label>
				<%= s.text_field :state, :class => "full-width",:field_name=>'State' %>
			</p>
			
			<p class="colx3-center">
				<label for="address_line_2">Pin Code</label>
				<%= s.text_field :pin_code , :class => "full-width numeric pincode" ,:field_name=>'Pin Code'%>
			</p>	
					
	   		<p class="colx3-right">
          		<label for="student_nationality">Nationality</label>
          		<span class="relative"><%= select :student, :nationality_id, Country.all.map {|c| [c.name, c.id]}, :selected=> @student.nationality_id || 76, :size => 20%></span>
       		</p>
			
	     </div>  
	     
		<div class="columns">	
				
		    <p class="colx3-left">
				<label for="student_phone2">Mobile</label>
				<%= s.text_field :phone2 , :size => 20, :class => "numeric mobile",:field_name=>'Mobile'%>
			</p>
			
			<p class="colx3-center">
				<label for="student_phone1">Phone</label>
				<%= s.text_field :phone1 , :size => 20 , :class => "numeric phone",:field_name=>'Phone'%>
			</p>

			<p class="colx3-right">
				<label for="student_email">Email</label>
				<%= s.text_field :email, :size => 20,:onblur => "validateStudentEmail()" %>
			</p>
		</div>      

					
		<div class="columns">

			<p class="colx3-left">
			  <label for="student_birth_place">Birth Place</label>
			  <span class="relative"><%= s.text_field :birth_place ,:class => "full-width",:field_name=>'Birth Place'%></span>
			</p>
	
       		<p class="colx3-center">
          		<label for="student_sms">Enable SMS Features</label>
            	<span class="relative"><%= s.check_box :is_sms_enabled ,:checked => false%></span>
          	</p>
          	
          	<p class="colx3-center">
          		<label for="student_sms">Transport Facilty Required</label>
            	<span class="relative"><%= s.check_box :is_transport_enabled ,:checked => false%></span>
          	</p>
		
	     </div>

	