<div class="block-border">
	<form class="block-content form" id="table_form" method="post" action="">
		<h1>Student List</h1>

		<table class="table rollNoAssign no-margin" id="batchwise" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Roll Number </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Admn No. </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Date of Birth</th>
					<th scope="col">Student Name</th>
				</tr>
			</thead>
			<tbody>
				<% @batch.students.sort! { |a,b| a.class_roll_no.to_i <=> b.class_roll_no.to_i }.each do |student| %>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%= student.class_roll_no %></td>
					<td><%= student.admission_no %></td>
					<td><%= student.date_of_birth.strftime("%d-%m-%Y") %></td>
					<td><%= link_to student.full_name,{:controller=>'student',:action=>'my_profile',:q=>student.admission_no} %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</form>
</div>
<br/>
<fieldset class="grey-bg no-margin">
	<legend>
		Choices
	</legend>
	<div class="columns">
		<div class="colx2-left-double">
			<label for="simple-action">Select Option</label>
			<%= radio_button_tag(:assign,"Name") %>
			<%= label_tag(:first_name, "Name") %>
			<%= radio_button_tag(:assign,"Date of Birth") %>
			<%= label_tag(:dob, "Date of Birth") %>
			<%= radio_button_tag(:assign, "Admission No.") %>
			<%= label_tag(:admission_no, "Admission No.") %>
		</div>
		<br/>
		<div class="colx1-left">
			<button  id="Assign_Roll_No" type="submit">
				Assign
			</button>
		</div>
	</div>
</fieldset>