<%= form_for :student, :url => {:controller => "student" ,:action => "update_student", :id => @student.id},:remote => true , :html => { :class => "block-content form", :id => "form"} do |o|%>
	<fieldset>
		<legend>
			Address
		</legend>
		<div class="columns ">	
				
		    <p class="colx3-left required">
				<label for="address_line_1">Line 1</label>
				<%= o.text_field :address_line1 ,:class => "full-width",:field_name=>'Line 1'%>
			</p>
			
			<p class="colx3-center">
				<label for="address_line_2">Line 2</label>
				<%= o.text_field :address_line2 , :class => "full-width",:field_name=>'Line 2'%>
			</p>

			<p class="colx3-right required">
				<label for="city">City</label>
				<%= o.text_field :city, :class => "full-width",:field_name=>'City' %>
			</p>
			
			</div>
        
		<div class="columns">	
				
		    <p class="colx3-left">
				<label for="address_state">State</label>
				<%= o.text_field :state,:class => "full-width",:field_name=>'State' %>
			</p>
			
			<p class="colx3-center">
				<label for="address_pincode">Pin Code</label>
				<%= o.text_field :pin_code , :class => "full-width numeric pincode",:field_name=>'Pin Code' %>
			</p>
			
	     </div>
</fieldset>
	     <br />
	 <fieldset>
		<legend>
			Contact
		</legend>
		<div class="columns">	
				
		     <p class="colx3-left">
				<label for="student_phone1">Phone</label>
				<%= o.text_field :phone1 , :class => "full-width numeric phone",:field_name=>'Phone'%>
			</p>
			
			<p class="colx3-center">
				<label for="student_phone2">Mobile</label>
				<%= o.text_field :phone2 , :class => "full-width numeric mobile",:field_name=>'Mobile'%>
			</p>

			<p class="colx3-right">
				<label for="student_email">Email</label>
				<%= o.text_field :email, :class => "full-width" %>
			</p>
			
			</div>
        
		<div class="columns">
		<p class="colx3-left">
            <label for="transport_facilty">Transport Facility Required </label>
            <span class="relative"><%= o.check_box :is_transport_enabled %></span>
        </p>
         		
		<% if @application_sms_enabled.is_enabled == true %>  
          <p class="colx3-center">
            <label for="student_sms">Enable SMS Features</label>
            <span class="relative"><%= o.check_box :is_sms_enabled %></span>
          </p>
        <% end %>
	     </div>
	 </fieldset>
	     <br />
	      <% if permitted_to? :update_student ,:student%>
						<fieldset class="grey-bg no-margin">
							<legend>
								Action
							</legend>
							<p class="colx3-left">
								<%= o.submit "Update", :class => "big-button" ,:id => "update_contact"%>
							</p>
						</fieldset>
			 <% end %>			
	     <% end %>