<% if i.nil?%>
No Parents Added Yet
<% else%>
<%= form_for i ,:url => {:action => 'update_guardian'},:remote => true do |p| %>
	<fieldset>
		<legend>
			Office Contact
		</legend>
		<div class="columns">					
		    <p class="colx3-left">
				<label for="parent_phone1">Phone 1</label>
				<%= p.text_field :office_phone1,:class => "full-width numeric phone" ,:id => "office1_phone#{i.id}",:field_name=>'Phone 1'%>
			</p>
			
			<p class="colx3-center">
				<label for="parent_phone2">Phone 2</label>
				<%= p.text_field :office_phone2,:class => "full-width numeric phone" ,:id => "office2_phone#{i.id}" ,:field_name=>'Phone 2'%>
			</p>

			<p class="colx3-right">
				<label for="parent_mobile">Mobile</label>
				<%= p.text_field :mobile_phone,:class => "full-width numeric mobile" ,:id => "mobile_phone#{i.id}" ,:field_name=>'Mobile'%>
			</p>			
		</div>
		</fieldset>
	<br />
	<% if permitted_to? :update_guardian ,:student%>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action
		</legend>
		<p class="colx3-left">
			<button class="big-button" id="delete_parent">Delete</button>&nbsp;&nbsp;<%= p.submit "Update", :class => "big-button" ,:id => "update_parent_contact"%>
		</p>
	</fieldset>
	<% end %>
	<% end %>
	<% end %>