<% @@stud_admission_no = Rails.application.config.student_admission_no.upcase %>
	<div class="columns">
		<p class="colx3-left required">
			<label for="admission_no">Admission No.</label>
            <% unless @config.config_value == '0' or @last_admitted_student.nil? %>
	            <%if (@last_admitted_student.admission_no.match(/[a-zA-Z]*/)).to_s == @@stud_admission_no%>
	              	<%= s.text_field :admission_no , :value=> (@@stud_admission_no+((@last_admitted_student.admission_no).delete(@@stud_admission_no).to_i.next).to_s) ,:class => "full-width" ,:onblur => "validateAdmission()"%>
	            <%else%>
	            	<%= s.text_field :admission_no, :value => (@last_admitted_student.admission_no.next),:class => "full-width",:onblur => "validateAdmission()" %>
	            <%end%>
            <% else %>
              		<%= s.text_field :admission_no,:class => "full-width",:onblur => "validateAdmission()" %>
            <% end %>
		</p>

		<%= s.hidden_field :class_roll_no, :value=>1%>

		<p class="colx3-center required">
			<label for="admission_date">Admission Date</label>
			<span class="input-type-text relative required"><%= s.text_field :admission_date,:value => (@admission_date.strftime('%d''-''%m''-''%Y') unless params[:prev].nil?) ||(Date.today).strftime('%d''-''%m''-''%Y'), :class => "datepicker", :size => 20,:readonly => "1" %><%= image_tag "icons/fugue/calendar-month.png" %></span>
		</p>
		<input type="hidden" id ="hiddenAdm" value = "" />
		<p class="colx3-right required">
			<label for="date_of_birth">Date of Birth</label>
			<span class="input-type-text relative required"><%= s.text_field :date_of_birth,:value => (@date_of_birth.strftime('%d''-''%m''-''%Y') unless params[:prev].nil?) ||(Date.today - 5.years).strftime('%d''-''%m''-''%Y'), :class => "datepicker", :size => 20,:readonly => "1"  %><%= image_tag "icons/fugue/calendar-month.png" %></span>
		</p>

	</div>
	<div class="columns">
		<p class="colx3-left required">
			<label for="first_name">First Name</label>
			<span class="relative"><%= s.text_field :first_name ,:class => "full-width",:field_name=>'Student First Name' %></span></span>
		</p>
		<p class="colx3-center">
			<label for="middle_name">Middle Name</label>
			<span class="relative"><%= s.text_field :middle_name, :class => "full-width",:field_name=>'Student Middle Name' %> </span>
		</p>	
		<p class="colx3-right required">
			<label for="last_name">Last Name</label>
			<span class="relative"><%= s.text_field :last_name , :class => "full-width",:field_name=>'Student Last Name' %> </span>
		</p>
	</div>
	
	<div class="columns">
        <p class="colx3-left">
          <label for="student_birth_place">Mother Tongue</label>
          <span class="relative"><%= s.text_field :language ,:class => "full-width",:field_name=>'Mother Tongue'%></span>
        </p>
       	
       	<p class="colx3-right select-fixed-width1">
          <label for="student_religion">Religion</label>
          <span class="relative"><%= select :student, :religion, ["Hindu", "Muslim", "Christian", "Sikh", "Jain", "Buddhist", "Other"], { :prompt => 'Select' } %></span>
        </p>
        
       </div>
     <div class="columns">   
      	    
	         <p class="colx3-left required select-fixed-width1"> 
	          <label for="student_grade">Course</label>
	          <%= select :adv_search, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select",:selected =>( @course.id unless params[:prev].nil?) %>
	        </p> 
	         <p class="colx3-center required select-fixed-width1" id="change_batch">
          		<span class="relative"><%= render :partial => "batch"%></span>
        	</p>
        	<p class="colx3-right">
	          <label for="student_category">Category</label>
	          <span class="relative"><%= s.select :student_category_id, StudentCategory.active.map {|c| [c.name, c.id]}, { :prompt => 'Select' } %></span>
	        </p>
       </div>
      
       
      <div class="columns">   

		<p class="colx3-left">
		   <label for="student_gender">Gender</label>
	         <span class="relative">
	            <label for="student_gender_true">Male&nbsp;&nbsp;<%= s.radio_button  "gender", "M", :checked => "checked" %>&nbsp;&nbsp;&nbsp;&nbsp;Female&nbsp;&nbsp;<%= s.radio_button  "gender", "F" %></label>
	            
	         </span>
		</p>
		
		<p class="colx3-center select-fixed-width1">
		  <label for="student_blood_group">Blood group</label>
          <span class="relative"><%= select :student, :blood_group, ["A+ve", "A-ve", "B+ve", "B-ve", "O+ve", "O-ve", "AB+ve", "AB-ve"], { :prompt => 'Select' } %></span>
		</p>
		
    
	</div>
	



     
