
    <th colspan="3"><%=@title%> department staff list</th>
  
<hr style="height:0.0em;width:50em;border:1px solid #FB7A31;" />
<%unless @employees.empty?%>
<table>
  
  <tr class="yellow"> 
    <td class="width">Employee Number</td>
    <td class="adjacent">Name</td>
    <td class="adjacent">Date Of Birth</td>
     <td class="adjacent">Gender</td>
    <td class="adjacent">Address</td>
     <td class="adjacent">Contact</td>    
  </tr>
  <% @employees.each do |employee| %>
  <tr> 
      <td class="adjacent"><%=employee.employee_number%></td>
    <td class="adjacent"><%=employee.full_name%></td>
    <td class="adjacent"><%=employee.date_of_birth.strftime('%d''-''%m''-''%Y')%></td>
    <td class="adjacent"><%=employee.gender%></td>
    <td class="adjacent"><%=employee.home_address_line1%></td>
    <td class="adjacent"><%=employee.mobile_phone%></td>
  </tr>
  <%end%>
 </table>
<%end%>



				