<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Fees Detail</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
				</li>
			</ul>
		</div>
		<% unless flash[:notice].nil? %>
		<p class="flash-msg">
			<%= flash[:notice] %>
		</p>
		<% end %>
		<fieldset class="grey-bg">
			<legend>
				<a href="#">Fees Detail</a>
			</legend>
			<div class="float-left gutter-right">
				<label for="stats-period">Name</label>
				<span class="input-type-text"><strong><%= link_to @student.full_name, :controller => 'student', :action => 'my_profile', :q => @student.admission_no %></strong></span>
			</div>
			<div class="float-left gutter-right">
				<span class="label">Admission No.</span>
				<p class="input-height grey-bg">
					<%= @student.admission_no %>
				</p>
			</div>
			<div class="float-left gutter-right">
				<span class="label">Course & Batch</span>
				<p class="input-height grey-bg">
					<%= @student.batch.full_name %>
				</p>
			</div>
			<div class="float-left">
				<span class="label">Fees Check</span>
				<p class="input-height grey-bg">
				<%= link_to "Fees", :controller => 'student', :action => 'fees', :id => @student.id %>
				</p>
			</div>
		</fieldset>
		<br />
		<% unless @fee_particulars.nil? %>

		<% total_fees = 0  %>
		<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
			<tr class="tr-head">
				<td><b><%= t('sl_no') %></b></td>
				<td><b><%= t('particulars') %></b></td>
				<td><b><%= t('amount') %> (Rs.  )</b></td>
			</tr>
			<tr class="tr-blank"></tr>
			<% i = 0 %>
			<% @fee_particulars.each do |fee| %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+=1 %></td>
				<td class="col-2"><%= shorten_string(fee.name,60) %></td>
				<td class="col-6"><%= fee.amount%></td>
			</tr>
			<% total_fees += fee.amount %>
			<% end %>

			<% unless @total_discount == 0 %> <tr class="tr-blank"></tr>
			<tr class="tr-blank"></tr>
			<tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
				<td class="col-1" ></td>
				<td class="col-1" colspan="2"><span><%= t('discount') %></span></td>
			</tr>
			<% @batch_discounts.each do |d| %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+1 %></td>
				<td class="col-2"><%= shorten_string(d.name,20) %></td>
				<td class="col-6"><%= d.discount%> %</td>
			</tr>
			<% i += 1 %>
			<% end %>
			<% @student_discounts.each do |d| %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+1 %></td>
				<td class="col-2"><%= shorten_string(d.name,20) %></td>
				<td class="col-6"><%= d.discount%> %</td>
			</tr>
			<% i += 1 %>
			<% end %>
			<% @category_discounts.each do |d| %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+1 %></td>
				<td class="col-2"><%= shorten_string(d.name,20) %></td>
				<td class="col-6"><%= d.discount%> %</td>
			</tr>
			<% i += 1 %>
			<% end %> <tr class="tr-blank"></tr>
			<tr class="tr-blank"></tr>
			<tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
				<td class="col-8" colspan="2" ><%= t('total_discount') %></td>
				<td class="col-6" ><%= "#{@total_discount} %" %></td>
			</tr>
			<tr class="tr-blank"></tr>
			<tr class="tr-blank"></tr>
			<% total_fees = (total_fees - ((total_fees*@total_discount)/100)) %>
			<tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
				<td class="col-8" colspan="2" ><%= t('total_fees') %></td>
				<td class="col-6" ><%= total_fees %></td>
			</tr>
			<tr class="tr-blank"></tr>
			<tr class="tr-blank"></tr>
			<% end %>

			<% unless @fine.nil? %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+=1 %></td>
				<td class="col-2"><span><%= t('fine') %></span></td>
				<td class="col-6"><%= @fine.to_f %></td>
			</tr>
			<% total_fees += @fine.to_f %>
			<% end %>
			<% unless @financefee.transaction_id.nil? %>

			<% @trans = FinanceTransaction.find_by_id(@financefee.transaction_id) %>
			<% unless @trans.nil? %>
			<% if @trans.fine_included %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+= 1 %></td>
				<td class="col-2">Fine</td>
				<td class="col-6"><%= @trans.fine_amount %></td>
			</tr>
			<% total_fees += @trans.fine_amount.to_f %>
			<% end %>
			<% end %>
			<% end %>
			<% unless @paid_fees.nil? %> <tr class="tr-blank"></tr>
			<tr class="tr-blank"></tr>
			<tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
				<td class="col-1" ></td>
				<td class="col-1" colspan="2" ><span><%= t('payment_done') %></span></td
			</tr>
			<% paid = 0 %>
			<% @paid_fees.each do |p| %>
			<% paid += p.amount.to_f %>
			<tr class="tr-<%= cycle("odd","even") %>">
				<td class="col-1"><%= i+=1 %></td>
				<td class="col-2"><%= t('partial_payment_on') %> <%= p.transaction_date.strftime('%d-%m-%Y') %></td>
				<td class="col-6">-<%= p.amount.to_f %></td>
			</tr>
			<% end %>
			<% total_fees -= paid %>
			<% end %> <tr class="tr-blank"></tr>
			<tr class="tr-blank"></tr>
			<tr class="tr-<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
				<td class="col-8" colspan="2" ><%= t('amount_to_be_paid') %>:</td>
				<td class="col-6" ><%= total_fees%></td>
			</tr>
		</table>
		<% end %>
	</div>
</div>