<div class="block-border" id="outer_bloc">
	<div class="block-content form" id="complex_form">
		<h1>Student Profile</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li class="current">
					<a href="/student/reports/<%= @student.id %>?q=<%= @student.admission_no %>" title="Reports"><img src="/assets/icons/fugue/reports.png" width="24" height="24"></a>
				</li>
				<li class="current">
					<a href="/student/fees/<%= @student.id %>?q=<%= @student.admission_no %>" title="Fees"><img src="/assets/fees/student_profile_fees_icon.png" width="24" height="24"></a>
				</li>
				<li>
					<a href="/timetable/student_view/<%= @student.batch_id %>" title="Timetable"><img src="/assets/TimeTable23X23.jpg" width="24" height="24"></a>
				</li>
				<li>
					<a href="/calendars" title="Calendar"><img src="/assets/icons/fugue/calendar-month.png" width="24" height="24"></a>
				</li>
				<li>
					<a href="/student/profile_pdf?id=<%= @student.id %>&q=<%= @student.admission_no %>" title="PDF"><img src="/assets/icons/web-app/32/Print.png" width="24" height="24"></a>
				</li>
				<li>
					<a href="/student/print_id_card?id=<%= @student.id %>&q=<%= @student.admission_no %>" title="Identity Card"><img src="/assets/icons/web-app/32/Identity-Card-icon.png" width="24" height="24"></a>
				</li>
				<li>
					<a href="/student/attachments?id=<%= @student.id %>&q=<%= @student.admission_no %>" title="Attachments"><img src="/assets/dashboard/attach.png" width="24" height="24"></a>
				</li>
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %> <!-- <a href='<%=dashboard_path(@user)%>' title ="Back" class = "back"><img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a> -->
				</li>
			</ul>
		</div>
		<% unless flash[:notice].nil? %>
		<ul class="message success">
			<li>
				<%= flash[:notice] %>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
		<% unless flash[:warning].nil? %>
		<ul class="message warning">
			<li>
				<%= flash[:warning] %>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
		<div class="columns">
			<div class="col200pxL-left" style="float: left; width: 150px;">
				<h3 id="changeStudentName"><%= @student.full_name.split(' ').map {|w| w.capitalize }.join(' ')%></h3>
				<p>
					<b>Adm No : </b> <%= @student.admission_no %>
					<br/>
					<b> Course :</b> <%= @student.batch.course.code%>
					<br />
					<b> Batch :</b> <%= @student.batch.name %>
				</p>
				<ul class="side-tabs js-tabs">
					<li>
						<a href="#tab-settings" title="Personal Information">Personal Information</a>
					</li>
					<li>
						<a href="#tab-Contact" title="Contact">Contacts</a>
					</li>
					<li>
						<a href="#tab-global" title="Guardian">Guardian</a>
					</li>
					<li>
						<a href="#tab-additionalField" title="AdditionalField">Additional Information</a>
					</li>
					<li>
						<a href="#tab-previousData" title="Previous_Detail">History</a>
					</li>
					<li>
						<a href="#tab-attendanceReports" title="Attendance Report">Attendance Report</a>
					</li>
					<li>
						<a href="#tab-studentAward" title="Student Award">Student Award</a>
					</li>
					<li>
						<a href="#tab-studentAttachments" title="Student Attachments">Attachments</a>
					</li>
				</ul>
			</div>
			<div class="col200pxL-right" style="margin-left:  150px;">
				<div id="tab-settings" class="tabs-content">
					<%= render :partial => "personal_info"%>
				</div>
				<div id="tab-Contact" class="tabs-content">
					<%= render :partial => "contact_info"%>
				</div>
				<div id="tab-global" class="tabs-content">
					<ul class="tabs js-tabs ">
						<% @parents.each do |i|%>
						<li id="<%= i.id%>">
							<a href="#tab-locales<%= i.id%>" id="current_tab" guardian_id="<%= i.id%>" title="<%= i.relation%>"><%= i.relation%></a>
						</li>
						<% end%>
						<%if permitted_to? :add_guardian, :student %>
						<li class="with-margin">
							<a href="#" id="add-more-parents" title="Add Guardian"><img src="/assets/icons/add.png" width="16" height="16"></a>
						</li>
						<% end%>
					</ul>
					<div class="tabs-content">
						<% @parents.each do |i|%>
						<div id="tab-locales<%= i.id%>">
							<ul class="mini-tabs no-margin js-tabs <%= i.id%>">
								<li class="current<%= i.id%>">
									<a href="#tab-en<%= i.id%>">General Info</a>
								</li>
								<li>
									<a href="#tab-fr<%= i.id%>">Contact Detail</a>
								</li>
								<li>
									<a href="#tab-de<%= i.id%>">Office Detail</a>
								</li>
							</ul>
							<div id="tab-en<%= i.id%>">
								<%= render "parent_general_info", :i => i %>
							</div>
							<div id="tab-fr<%= i.id%>">
								<%= render  "parent_contact_info" ,:i => i %>
							</div>
							<div id="tab-de<%= i.id%>">
								<%= render "parent_office_info" ,:i => i %>
							</div>
						</div>
						<% end %>
					</div>
				</div>
				<div id="tab-additionalField" class="tabs-content">
					<%= render :partial => "additional_details"%>
				</div>
				<div id="tab-previousData" class="tabs-content">
					<%= render :partial => "previous_detail"%>
				</div>
				<div id="tab-attendanceReports" class="tabs-content">
					<%= render :partial => 'student_attendance_report' %>
				</div>
				<div id="tab-studentAward" class="tabs-content">
					<ul class="tabs js-tabs ">
						<%if permitted_to? :create, :student_awards %>
						<li id="">
							<a href="#tab-localesAward" id="current_award" title="New Award">New Award</a>
						</li>
						<%end%>
						<li class="with-margin">
							<a href="#tab-localesAwardReport" id="current_award_report" title="Award List">Award List</a>
						</li>
					</ul>
					<div class="tabs-content">
						<%if permitted_to? :create, :student_awards %>
						<div id="tab-localesAward">
							<%= render :partial => "student_award" %>
						</div>
						<%end%>
						<div id="tab-localesAwardReport">
							<%= render :partial => "student_awards_list" %>
						</div>
					</div>
				</div>
				<div id="tab-studentAttachments" class="tabs-content">
					<%unless @dir.empty?%>
					<ul class="tabs js-tabs ">
						<%unless @dir.empty?%>
						<% @dir.each_with_index do |f,i|%>
						<li id="<%= f%>">
							<a href="#tab-loc-<%= i%>" id="current_tab" guardian_id="" title=""><%= f%></a>
						</li>
						<% end%>
						<% end%>
					</ul>
					<div class="tabs-content"style="overflow: auto;height: 300px;" >
						<%unless @dir.empty?%>
						<%@dir.each_with_index do |f,i|%>
						<% @files = Attachment.find_all_by_dir_name(f)%>
						<div id="tab-loc-<%= i%>">
							<%unless @files.empty?%>
							<table class="table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="black-cell"></th>
										<th scope="col"> File Name </th>
										<th scope="col"> Created By </th>
										<th scope="col"> Deleted By </th>
										<th scope="col"> Action </th>
									</tr>
								</thead>
								<tbody>
									<% @files.each do |file|%>
									<tr>
										<th scope="row" class="table-check-cell"></th>
										<td><a href="/student/show_file_directory?dir=<%= f%>&file=<%= file.file_name%>&student=<%= file.student_id%>&value=open"  title="Open" data_dir ="<%= f%>" data_file = "<%= file.file_name%>" data_student = "<%= file.student_id%>"><%= file.file_name%></a></td>
										<td><%= file.created_by.full_name  unless file.created_by.nil? %></td>
										<td><%= file.deleted_by.full_name  unless file.deleted_by.nil? %></td>
										<td><a href="/student/show_file_directory?dir=<%= f%>&file=<%= file.file_name%>&student=<%= file.student_id%>&value=open"  title="Open" data_dir ="<%= f%>" data_file = "<%= file.file_name%>" data_student = "<%= file.student_id%>"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a><a href="/student/show_file_directory?dir=<%= f%>&file=<%= file.file_name%>&student=<%= file.student_id%>&value=delete"  title="Delete" data_dir ="<%= f%>" data_file = "<%= file.file_name%>" data_student = "<%= file.student_id%>"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a></td>
									</tr>
									<%end%>
								</tbody>
							</table>
							<%end%>
						</div>
						<%end%>
						<%end%>
					</div>
					<%else%> <h3>No Documents are attached</h3>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-box-parents" style="display:none;">
	<%= render :partial => "add_guardian"%>
</div>
<div id="modal-box-change_image" style="display:none;"></div>