<style>
.break { page-break-after: always; }

table {
		font: 15px /24px Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #660000;
		width: 800px;
	}
	th {
		padding: 0 0.5em;
		text-align: left;
	}
	tr.yellow th {
		border-top: 1px solid #FB7A31;
		border-bottom: 1px solid #FB7A31;
		background: #FFC;
	}
	td {
		border-bottom: 1px solid #CCC;
		padding: 0 0.5em;
	}
	td.width {
		width: 190px;
	}
	td.adjacent {
		border-left: 1px solid #CCC;
		text-align: center;
	}

</style>


<%@batch_array.each do |bh|%>
<% batch = Batch.find_by_id(bh)%>
<h1><%= batch.full_name%></h1>
<table class="table break" width="100%" cellspacing="1" border="1">
	<thead>
		<tr class="yellow">
			<th class="black-cell">Sl. No.</th>
			<th class="sortable">Name</th>
			<th class="sort-up sort-down"> Admission No</th>
			<th class="sort-up sort-down">Guardian Name</th>
			<th class="sort-up sort-down">Contact No.</th>
			<th class="sort-up sort-down">Guardian Contact No.</th>
		</tr>
	</thead>
	<tbody>
		<%students =Student.find_all_by_batch_id(batch.id)%>
		<%students.each_with_index do |student,i|%>
		<tr>
			<td class="check_box"><%=i.to_i+1%></td>
			<td><%= student.full_name%></td>
			<td><%= student.admission_no%></td>
			<td><%= student.immediate_contact.full_name unless student.immediate_contact_id.nil?%></td>
			<td><%= student.phone2 unless student.phone2.nil?%></td>
			<td><%= student.immediate_contact.mobile_phone unless student.immediate_contact_id.nil?%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%end%>
