<style type="text/css">
	#page-yield {
		width: 800px;
		margin: 0 auto;
		float: left;
		overflow: hidden;
	}
	.columns {
		display: block;
	}
	.colx2-left {
		float: left;
		margin-bottom: 0;
	}
	.colx2-right {
		float: right;
		margin-bottom: 0;
		margin-right:  0em;
	}
	.hor_line {
		width: 800px;
		background: #ADACAB;
		height: 1px;
		color: red;
	}
	#student_main_info h4 {
		color: #555555;
		margin-top: 2px;
		font-weight: normal;
	}
	#student_main_info h2 {
		margin-bottom: 2px;
		font-weight: normal;
	}
	.my_image_class {
		float: left;
		width: 100px;
		height: 100px;
		border: 5px solid lightGray;
	}
</style>
<div class="columns" id="student_profile_heading">
	<div class="colx-left my_image_class">
		<%if FileTest.exists?("#{Rails.root}/public/system/student_photos/#{@student.id}") && !@student.student_photo.nil?%>
		<%= pdf_image_tag(@student.student_photo.url(:large), :style=>"margin:0px;padding:0px", :width=>"100", :height=>"100")%>
		<% else %>
		<% if @student.gender.upcase=="M"%>
		<%= pdf_male_image_tag('male-icon.png', :style=>"margin:0px;padding:0px", :width=>"100", :height=>"100")%>
		<%else%>
		<%= pdf_female_image_tag('female.png', :style=>"margin:0px;padding:0px", :width=>"100", :height=>"100")%>
		<%end%>
		<% end %>
	</div>
	<div class="colx2-right" id ="student_main_info">
		<h2> <%= @student.full_name %> </h2>
		<h4> Student Profile</h4>
	</div>
	<!-- <div class="extender"> </div> -->
</div>
<br />
<br />
<br /> 
<br />
<br />
<br />
<br />
<div id="new_profile_info_top">
	<table class="table" id="pdf-table" width="100%" cellspacing="0"border="1">
		<tr class="">
			<td >Admission Number</td><td ><%= @student.admission_no unless @student.admission_no.nil? %></td>
		</tr>
		<tr class="">
			<td >Admission Date</td><td ><%= @student.admission_date.strftime("%d %b, %Y") unless @student.admission_date.nil? %></td>
		</tr>
		<tr class="">
			<td >Batch</td><td ><%= @student.batch.name unless @student.batch.name.nil? %></td>
		</tr>
		<tr class="">
			<td >Course</td><td ><%= @student.batch.course.full_name unless @student.batch.course.full_name.nil? %></td>
		</tr>
		<tr class="">
			<td>Date of Birth</td><td ><%= @student.date_of_birth.strftime("%d %b, %Y") unless @student.date_of_birth.nil? %></td>
		</tr>
		<tr class="">
			<td>Blood group</td><td ><%= @student.blood_group %></td>
		</tr>
		<tr class="">
			<td>Gender</td><td ><%= @student.gender_as_text %></td>
		</tr>
		<tr class="">
			<td>Nationality</td><td ><%= @student.nationality.name unless @student.nationality_id.nil? %></td>
		</tr>
		<tr class="">
			<td>Language</td><td ><%= @student.language %></td>
		</tr>
		<tr class="">
			<td>Category</td><td ><%= @student.student_category.name unless @student.student_category.nil? %></td>
		</tr>
		<tr class="">
			<td>Religion</td><td ><%= @student.religion %></td>
		</tr>
		<tr class="">
			<td>Address</td><td ><%= @student.address_line1%>, <%= @student.address_line2 %></td>
		</tr>
		<tr class="">
			<td>City</td><td ><%= @student.city %></td>
		</tr>
		<tr class="">
			<td>State</td><td ><%= @student.state %></td>
		</tr>
		<tr class="">
			<td>Country</td><td ><%= @student.country.name unless @student.country_id.nil? %></td>
		</tr>
		<tr class="">
			<td>Phone</td><td ><%= @student.phone1 %></td>
		</tr>
		<tr class="">
			<td>Mobile</td><td ><%= @student.phone2 %></td>
		</tr>
		<tr class="">
			<td>Email</td><td ><%= @student.email %></td>
		</tr>
		<tr class="">
			<td>Group Tutor</td><td > <% unless @student.batch.employee_id.nil? %>
			<% @assigned_employees = Employee.find(:all,:conditions=>"FIND_IN_SET(id,\"#{@student.batch.employee_id}\")")  %>

			<% @assigned_employees.each do |e| %>
			<%= e.full_name %>
			<br/>
			<% end %> </td>
		</tr>
		<% end  %>
		<tr class="">
			<td>Immediate Contact </td><td > <%= @immediate_contact.full_name unless @immediate_contact.nil? %> <%= "(" + @immediate_contact.mobile_phone + ")" if @immediate_contact and !@immediate_contact.mobile_phone.empty? %> </td>
		</tr>
		<% c = ''  %>
		<% unless  @additional_fields.empty? %>
		<% @additional_fields.each do |field| %>
		<tr class="<%= cycle(c,(["",""]-[c]).first) %>">
			<td><%= field.name %></td>
			<td > <% detail = StudentAdditionalDetails.find_by_additional_field_id_and_student_id(field.id,@student.id) %>
			<%= detail.additional_info unless detail.nil? %>
			<% end %> </td>
		</tr>
		<% end %>
		<tr class="<%= cycle(c,(["",""]-[c]).first) %>">
			<td>Previous Institution</td>
			<td ><%= @previous_data.institution unless @previous_data.nil?%></td>
		</tr>
	</table>
</div>