<div class="block-border">
	<div class="block-content form">
		<h1>Report Card</h1>
			<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
					<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller=>'/sessions',:action=>'dashboard' %>
				</li>
				</ul>
			</div>
			<fieldset class="grey-bg">
			<legend>Required Field</legend>
			<div class="columns">
				<p class="colx3-left required select-fixed-width1">
					<label for="complex-fr-style">Course</label>
					<%= select :report_card, :course_name, @course.map {|b| [b.course_name, b.id]}, :prompt => "Select" %>
				</p>
				<p class="colx3-left required select-fixed-width1" id="update_batch">
					<label for="complex-fr-style">Batch</label>
						<%= select :exam_reports, :batch_id, @batches.map { |s| [s.name, s.id]},:prompt =>'Select' %>
				</p>
				<p class="colx3-left select-fixed-width1">
				<fieldset class="grey-bg">
				<%= radio_button_tag(:report_card, "All") %>
				<%= label_tag(:report_card, "All") %>
		 		<%= radio_button_tag(:report_card, "particular") %>
				<%= label_tag(:report_card, "particular") %> 
				</fieldset>
				</p>
				<p class="colx3-left select-fixed-width1" id="partcular_student">
					<label for="complex-fr-style">Student</label>
					<%= select :report_card, :course_name, @course.map {|b| [b.course_name, b.id]}, :prompt => "Select" %>
					</p>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="View Report" id="view_collection_report" />
			</p>
		</fieldset>
			
	</div>
</div>
