<style>
<% if @highligh == "Award" %>
	#award a {
		background: #39C
	}
<%elsif @highligh == "Attendance"%>
	#attendance a {
		background: #39C
	}
<%elsif @highligh == "Exam"%>
	#exam span {
		background: #39C
	}
<%end%>
</style>
<script>
	window.location.hash = 'award';

</script>
<div class="block-border">
	<div class="block-content form">
		<h1>Student Report Center</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller=>'/sessions',:action=>'dashboard' %>
				</li>
			</ul>
		</div>
		<h2> <%= link_to  @student.full_name, { :controller => 'student', :action => 'my_profile', :q => @student.admission_no}%> </h2>
		<section class="">
			<div class="block-border">
				<div class="block-content">
					<h1>Academic</h1>
					<ul class="collapsible-list with-bg " id = "exam">
						<b class="toggle"></b>
						<li class="close">
							<b class="toggle"></b>
							<% if permitted_to? :exam_report, :student %> <span><b>Recent exams</b></span>
							<ul class="with-icon icon-exam">
								<% @exam_groups.each do |e| %>
								<li>
									<%= link_to e.assessment_name.name, { :controller => 'exams', :action => 'generated_report',:exam_group=>e.id, :student_id => @student.id,:q => @student.admission_no} %>
								</li>
								<% end %>
							</ul>
							<%end%>
						</li>
						<li class="close">
							<b class="toggle"></b>
							<span> <b>Additional Exam</b></span>
							<%unless @additional_exam.nil?%>
							<ul class="with-icon icon-exam">
								<% @additional_exam.each do |s| %>
								<li>
									<%= link_to s.name, { :controller => 'additional_exam', :action => 'generated_report', :student_id => @student.id, :additional_exam_group_id => s.id,:q => @student.admission_no } %>
								</li>
								<% end %>
							</ul>
							<%end%>
						</li>
						<li class="close">
							<b class="toggle"></b>
							<span> <b>Subjectwise results</b></span>
							<ul class="with-icon icon-subject">
								<% @subjects.each do |s| %>
								<li>
									<%= link_to s.name, { :controller => 'exams', :action => 'generated_report3', :student_id => @student.id, :subject => s.id ,:q => @student.admission_no} %>
								</li>
								<% end %>
							</ul>
						</li>
						<li class="close">
							<b class="toggle"></b>
							<span><b>Grouped reports</b></span>
							<ul class="with-icon icon-report">
								<% unless @grouped_exams.empty? %>
								<%@grouped_exams.each do |ge|%>
								<%unless current_user.student?%>
								<li>
									<a href="/exams/generated_report5?student_id=<%= @student.id%>&type=grouped&grouped=<%= ge.id%>&q=<%= @student.admission_no%>"><%= ge.grouped_exam_name%></a>
								</li>
								<%else%>
								<li>
									<a href="/exams/student_generated_report5?student_id=<%= @student.id%>&type=grouped&grouped=<%= ge.id%>&q=<%= @student.admission_no%>"><%= ge.grouped_exam_name%></a>
								</li>
								<%end%>
								<%end%><%end%>
							</ul>
						</li>
						<li class="close">
							<b class="toggle"></b>
							<span><b>Co Scholastic Assessments</b></span>
							<%unless @co_scholastic_assessments.empty?%>
							<ul class="collapsible-list with-bg" >
								<% @co_scholastic_assessments.each do |co_scholastic_assessment| %>
								<li class="close">
									<b class="toggle"></b>
									<span><%= co_scholastic_assessment.student_co_scholastic_assessment_name%></span>
									<ul class="with-icon icon-report">
										<li>
											<a href="/exams/co_scholastic_area_assessment_report?student_id=<%= @student.id%>&batch=<%=@student.batch.id%>&student_co_scholastic_assessment=<%=co_scholastic_assessment.id%>">Co Scholastic Area Assessment</a>
											
										</li>
										<li>
											<a href="/exams/co_scholastic_activity_assessment_report?student_id=<%= @student.id%>&batch=<%=@student.batch.id%>&student_co_scholastic_assessment=<%=co_scholastic_assessment.id%>">Co Scholastic Activity Assessment</a>
											
										</li>
									</ul>
								</li>
								<%end%>
							</ul>
							<%end%>
						</li>
						<li class="close">
							<b class="toggle"></b>
							<span><b>Detailed reports</b></span>
							<ul class="with-icon icon-report">
								<%if current_user.employee?%>
								<li>
									<%= link_to 'Academic Report',{:controller=>'exams', :action=>'generated_student_report4',:student_id=>@student.id,:type=>'general',:q => @student.admission_no} %>
								</li>
								<%else%>
								<li>
									<%= link_to 'Academic Report',{:controller=>'exams', :action=>'generated_student_report4',:student_id=>@student.id,:type=>'general',:q => @student.admission_no} %>
								</li>
								<%end%>
								<li>
									<%= link_to 'Compare with past years', { :controller => 'exams', :action => 'previous_years_marks_overviews',:student_id=>@student.id,:type=>'general',:q => @student.admission_no } %>
								</li>
							</ul>
						</li>
						<% unless @old_batches.empty? %>
						<li class="close">
							<b class="toggle"></b>
							<span><b>Archives</b></span>
							<ul class="collapsible-list with-bg" >
								<% @old_batches.each do |b| %>
								<li>
									<b class="toggle"></b>
									<span><%= b.full_name%></span>
									<ul class="with-icon icon-report">
										<li class="close">
											<b class="toggle"></b>
											<span>Grouped Exam Reports</span>
											<ul class="icon-report">
												<% GroupedExam.find_all_by_batch_id(b.id).each do |g|%>
												<li>
													<a href="/exams/academic_report?student_id=<%= @student.id%>&type=grouped&grouped=<%= g.id%>&year=<%= b.id %>&q=<%= @student.admission_no%>"><%= g.grouped_exam_name%></a>
												</li>
												<%end%>
											</ul>
										</li>
										<li>
											<%= link_to 'Academic Report', { :controller => 'exams', :action => 'normal_academic_report', :student_id => @student.id, :year => b.id,:type=>'general' ,:q => @student.admission_no} %>
										</li>
									</ul>
								</li>
								<%end%>
							</ul>
						</li>
						<%end%>
					</ul>
				</div>
			</div>
		</section>
		<section class="">
			<div class="block-border">
				<div class="block-content">
					<h1>Attendance</h1>
					<h3>Deatil Report</h3>
					<ul class="simple-list with-icon" id = "attendance">
						<li>
							<%= link_to 'Current year reports', :controller => 'student_attendance', :action => 'student_attendanceReports', :student_id => @student.id ,:q => @student.admission_no%>
						</li>
						<% unless @old_batches.empty? %> <h3>Archives</h3>
						<ul class="simple-list with-icon">
							<% @old_batches.each do |b| %>
							<li>
								<%= link_to b.full_name, :controller => 'student_attendance', :action => 'student_report', :id => @student, :year => b.id,:q => @student.admission_no %>
							</li>
							<% end %>
						</ul>
						<% end %>
					</ul>
				</div>
			</div>
		</section>
		<section class="">
			<div class="block-border">
				<div class="block-content">
					<h1>Awards</h1>
					<ul class="simple-list with-icon" id ="award">
						<li>
							<%= link_to "List of Awards", :controller => "archived_student", :action => 'award_report', :student_id => @student.id ,:current_student => "",:q => @student.admission_no %>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>
