<style type="text/css">
.dark-grey-gradient ul.arbo li > a, .dark-grey-gradient ul.arbo li > span {
    color: greenyellow;
}
ul.myListFolderClass li .myFolderClass, ul.arbo li .myFolderClass {
    background-repeat: no-repeat;
    padding-left: 0px;
}
</style>
<section class="grid_12">
			<div class="block-border"><div class="block-content">
				<h1>Student List</h1>
			   <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
				</div>	
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li>
							Occupied space 
							<meter class="progress-bar"><span id="prgressID" style="width:0%"></span></meter>
						</li>
						<li class="sep"></li>
						<li><a href="#" id="studentPdfPageRefresh"><img src="/assets/icons/fugue/arrow-circle.png" width="16" height="16"></a></li>
					</ul>
					
				</div>
				<div class="content-columns left30">
					
					<div class="content-columns-sep"></div>
					
					<div class="content-left">
						
						<div class="with-head">
							<div class="head">
								<div class="black-cell"><span class="success"></span></div>
								<div>
									<div class="button menu-opener">
										Actions
										<div class="menu-arrow">
											<img src="/assets/menu-open-arrow.png" width="16" height="16">
										</div>
										<div class="menu">
											<ul>
												<li class="icon_export"><a href="#">Choose folder</a>
													<ul>
														<li class="icon_network"><a href="#">Website</a></li>
														<li class="icon_server"><a href="#">Server root</a></li>
													</ul>
												</li>
												<li class="icon_refresh"><a id="reloadStudentPDF" href="#">Reload</a></li>
												<li class="icon_search"><a href="#">Search</a></li>
												<li class="sep"></li>
												<li class="icon_terminal"><a href="#">Custom search</a></li>
											</ul>
										</div>
									</div>
									<div class="button menu-opener">
										Filters
										<div class="menu-arrow">
											<img src="/assets/menu-open-arrow.png" width="16" height="16">
										</div>
										<div class="menu">
											<ul>
												<li class="icon_doc_image"><a href="#">Images only</a></li>
												<li class="icon_computer"><a href="#">System files</a></li>
												<li class="sep"></li>
												<li class="icon_terminal"><a href="#">Custom filter</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							
							<div class="dark-grey-gradient with-padding" style="height:400px; overflow: auto">
								
								<ul class="arbo with-title ">
									<li>
										<a href="#" class="title-computer toggle">All Batches</a>
										<ul class="closedAllOpenCourse">
											<%@courses.each do |course|%>
											<li class="close">
												<span class="toggle"></span>
												<a class="myFolderClass"><%= check_box_tag 'batchFolder'+course.id.to_s,'no', false, :class => "batchFolder batchFolder#{course.id}"%><span><%=course.full_name%></span></a>
												<ul class="myListFolderClass">
													<%all_batches = course.batches%>
                                                    <%all_batches.reject!{|x| x.students.blank? or x.is_deleted?}%>
													<%unless all_batches.nil?%>
													<%all_batches.each do |batch|%>
														<%unless batch.nil?%>
															<li><a class="myFolderClass"><%= check_box_tag 'batch_tag_list'+course.id.to_s, batch.id, false, :class => "batch_tag_list batch_tag_list#{course.id}"%><span><%=batch.full_name%></span></a></li>
													    <%end%>
												    <%end%>
												    <%end%>
												</ul>
											</li>
											<%end%>
										</ul>
									</li>
								</ul>
								
							</div>
						</div>
						
						<ul class="message">
							<li><%=@courses.count%> Courses Found</li>
						</ul>
						
					</div>
					
					<div class="content-right" id="studentPDFFileLink">
						<%= render :partial => 'student_details'%>	
				    </div>
				
				<div class="block-footer">
					<span class="float-right"></span>
					
				</div>
				
			</div></div>
							<input type="hidden" id="allStudentCount" value="<%=@all_student.count%>" />
				<input type="hidden" id="viewedStudentCount" value="" />
		</section>