<div class="block-border" id="outer_block">
	<%= form_for @student,:url => { :action => "student_wizard_next_step" }, :html => { :class => "block-content form", :id => "form"} do |s| %>
	<h1>Student Wizard</h1>
	<ol class="wizard-steps no-margin">
		<li id ='personal'>
			<a href="#" > <span class="number">1<% if @student.current_step == 'personal'%><span  class="status-ok"></span><%end%></span> Personal </a>
		</li>
		<li id ='address'>
			<a href="#" > <span class="number">2<% if @student.current_step == 'address'%><span  class="status-ok"></span><%end%></span> Address </a>
		</li>
		<li id ='image'>
			<a href="#" > <span class="number">3<% if @student.current_step == 'image'%><span  class="status-ok"></span><%end%></span> Image </a>
		</li>
		<li id ='image_crop'>
			<a href="#" > <span class="number">4<% if @student.current_step == 'image_crop'%><span  class="status-ok"></span><%end%></span>Image Crop</a>
		</li>
		<li id ='parent'>
			<a href="#" > <span class="number">5<% if @student.current_step == 'parents'%><span  class="status-ok"></span><%end%></span>Parents</a>
		</li>
	</ol>
	
	<% if @student.current_step == 'personal'%>
	<span class="number bigger">1</span>
	<small>Student Wizard</small>
	<h2 class="bigger">Information</h2>
	<%end%>
	<% if @student.current_step == 'address'%>
	<span class="number bigger">2</span>
	<small>Student Wizard</small>
	<h2 class="bigger">Contacts</h2>
	<%end%>
	<% if @student.current_step == 'image'%>
	<span class="number bigger">3</span>
	<small>Student Wizard</small>
	<h2 class="bigger">Image</h2>
	<%end%>
	<% if @student.current_step == 'image_crop'%>
	<span class="number bigger">4</span>
	<small>Student Wizard</small>
	<h2 class="bigger">Customize Image</h2>
	<%end%>
	<% if @student.current_step == 'parents'%>
	<span class="number bigger">5</span>
	<small>Student Wizard</small>
	<h2 class="bigger">Guardian</h2>
	<%end%>
	<%= render 'shared/form_errors', :object => s.object %>
	<%= render "#{@student.current_step}_step", :s => s %>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action
		</legend>
		<p class="input-with-button">
			<%= s.submit "Save", :class => "big-button", :id =>"save_guardian"  if @student.last_step? %> 
			<%= button_to_function "Previous", "$(location).attr('href','/student/student_wizard_previous_step?prev=previous');", :class => "big-button"  unless @student.first_step? || @student.current_step == 'parents' || @student.current_step == 'image_crop'%>
            <%= s.submit "Next", :class => "big-button" ,:id => "wizard_next_button" unless @student.last_step?%>
			<input type="button" class="big-button" id="Cancel_Student_wizard" value="Cancel"/>      
			<input type="hidden" value="<%= @student.current_step%>" id="student_step" />      
		</p>
	</fieldset>
	<% end %>
</div>