<div class="block-border">
	<div class="block-content form">
		<h1>Mark Attendance</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
		</div>	
			<ul class="tabs js-tabs">
				<li class="current">
					<a href="#tab-locales" onclick="refreshTable('locales')" title="Locales">Date Wise</a>
				</li>
				<li>
					<a href="#tab-options" onclick="refreshTable('options')" title="Options">Batch Wise</a>
				</li>
			</ul>
				<div id="tab-locales" class="tabs-content">
					<fieldset id="multipleTtendaceOuterBlock">
						<legend>
							Period Entry & Batch
						</legend>
						<div class="columns">
							<p class="colx3-left required">
								<label for="admission_date">Select Date</label>
								<span class="input-type-text"><%= text_field_tag :period_entry_multiple_date,nil,:value => @date, :class => "datepicker", :size => 20,:onclick => "setIdOfDatePickerMultiPleAttendance()" ,:readonly => "1"  %><%= image_tag "icons/fugue/calendar-month.png" %></span>
							</p>
						</div>
						<div  id="changeMultiAteendancePage">
							<%= render :partial => 'multiple_attendance'%>
						</div>
					</fieldset>
					<br />
					<fieldset class="grey-bg no-margin">
						<legend>
							Actions
						</legend>
						<div class="columns">
							<button type="button" class="big-button" name="saveMultiAtten" id="saveMultiAtten">
								Save
							</button>
						</div>
					</fieldset>
				</div>
				<div id="tab-options" class="tabs-content">
					<fieldset id="multipleTtendaceOuterBlockBatchWise">
						<legend>
							Batch & Period Entry
						</legend>
						<div class="columns">
							<p class="colx3-left required select-fixed-width1">
								<label for="batch">Select Batch</label>
								<%= select :multiple_batch_select, :batch_id, @active_batches.map{|c| [c.full_name, c.id]},:prompt => "Select" %>
							</p>
							<p class="colx3-center required select-fixed-width1">
								<label for="month">Select Month</label>
								<%= select :multiple_batch_select, :month_id, @month_name.each{|c,i| [i, c]},:prompt => "Select" %>
							</p>
						</div>
						<div  id="changeMultiAteendancePageBatchWise">
							<%= render :partial => 'multiple_batch_attendance'%>
						</div>
					</fieldset>
				</div>
	</div>
</div>