<div class="block-border" id="outer_block">
	<div class="block-content form">
			<h1>Attendance</h1>
			<h3>Subject Wise Attendance</h3>


<div class="columns">
	<p class="colx3-left">
		<label for="Course">Course</label>
		<span class="relative"> <%= select :subject_course_search, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select" %></span>
	</p>
	<p class="colx3-center">
		<label for="Batch">Batch</label>
		<span class="relative"><%= render :partial => "subject_wise_batch"%></span>
	</p>
	
	 <p class="colx3-right">
		<label for="Batch">Subject</label>
		<span class="relative"><%= render :partial => "subjects"%></span>
	</p>
	
</div>
<div class="columns">
	
     <p class="colx3-left required">
			<label for="Entry Date">Entry Date</label>
			 <span class="input-type-text"><%= text_field_tag :period_entry_subject_wise,nil,:value => (Date.today).strftime('%d''-''%m''-''%Y'), :class => "datepicker", :size => 20,:onclick => "emptySubjectWiseDatatable()"  %><%= image_tag "icons/fugue/calendar-month.png" %></span>
     </p>
     
    <p class="colx2-left">
				  <button type="submit" id="save_attendances_subject_wise" value="" style="margin-top: 1.5em;">Save</button>
	</p>
</div>

<div id="subject_wise_table"></div>
</div>

</div>
