<div id="view_details">

	<div class="block-content form">
		<%unless @co_scholastic_sub_skill_activities.nil?%>
	<table class="table view_grading_details no-margin" id="" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col">Co Scholastic Activity sub Skill Name</th>
					<th scope="col">Status</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<%@co_scholastic_sub_skill_activities.each do |activity_skill|%>
				<tr>
					<td class="th table-check-cell"></td>
					<td id="subSkill_name_<%= activity_skill.id %>"><%= activity_skill.co_scholastic_sub_skill_name%></td>
					<td><%= activity_skill.is_active? ? "True" : "False" %></td>
					<td><input type="hidden" name="object_id" value="<%= activity_skill.id %>"/>
						<a href="#" id="update-href-<%= activity_skill.id %>" status="<%= activity_skill.is_active%>" class="with-tip update-activity_sub_skill-href"  title="Edit"><img src="/assets/icons/fugue/pencil.png" width="16" height="16" title="Edit"></a><a href="#" id="delete-href-<%= activity_skill.id %>" title="Delete" class="with-tip delete-activity_sub_skill"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16" title="Delete"></a>
						<a href="#" id="add-activity-indicator-href-<%= activity_skill.id %>" title="ADD Indicator" class="with-tip add-activity-indicator-href"><img src="/assets/icons/add-mini.png" width="16" height="16" title="Add Indicator"></a>
					</td>
				</tr>
				<%end%>
			</tbody>
		</table>
		<%end%>
	</div>
<input type="hidden" id="url_prefix" name="url_prefix" value="/co_scholastic_sub_skill_activities" />
</div>
