<div id="view_details">

				<table class="table view_grading_details" id="" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col">Grading Level Detail Name</th>
					<th scope="col">Min_Score</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>	
<%@grading_level_details.each do |grading_level_detail|%>
<tr>
	<td></td>
	<td id="grading_level_name_<%=grading_level_detail.id%>"><%=grading_level_detail.grading_level_detail_name%></td>
    <td id="grading_level_min_score_<%=grading_level_detail.id%>"><%="%.2f" %(grading_level_detail.min_score)%></td>

    <td><a href="#" id="<%= grading_level_detail.id %>" title="Edit" class="with-tip update-grading_detail-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											
    	<a href="#" id="<%= grading_level_detail.id %>" title="Delete" class="with-tip delete-grading_detail"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										    
										</td>
</tr>

<%end%>
</tbody></table></div>

