
 <%= form_for :fee_discount, :url=>{:action=>"category_wise_fee_discount_create"} do |form|%>

 <div class="columns">
  <p class="colx3-left required">
    <label for="reason"> Name </label>
    <%= form.text_field :name ,:class=> "full-width" %>
 </p>

<!--  <div class="label-field-pair"> -->
    <!-- <label> Fee Category:</label>
    <div class="text-input-bg">
      <%#= select("","", @fee_categories.map { |item| [item.name, item.name] },
      {:prompt => "Select category" })
      %></div> -->
 <!-- </div> -->

 <p class="colx3-center required select-fixed-width1">
    <label for="reason">Student Category</label>
      <%= form.select(:receiver_id, @student_categories.map { |item| [item.name, item.id] },{:prompt=>"Select"})%>
 </p>
 <p class="colx3-right required">
    <label for="reason"> Discount(%) </label>
    <%= form.text_field :discount,:class=> "full-width" %>
 </p>
</div>
<!-- <fieldset class="grey-bg">
	<legend>Action</legend>
	    <div id="submit-button">
      <%#=  form.submit "Create",:class=> 'big-button' %>
  </div>
</fieldset> -->
<%= form.hidden_field :fee_discount_batch_name ,:value => @batchId%>
<%= form.hidden_field :fee_discount_masterCategory_name ,:value => @categoryId%>
    <% end %>