
<table class="table fee_collection_Lists no-margin" width="100%">
	 <thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">Start Date</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								End date
							</th>
							<th scope="col">Due date</th>
							<th scope="col">Action</th>
						</tr>
		</thead>
<tbody>
 

  <% @finance_fee_collections.each do |f| %>
    <tr>
    	<td class="th table-check-cell"></td>
      <td><%= link_to "#{shorten_string(f.name,17)}" ,:action=>:collection_details_view, :id=>f.id %></td>
      <td><%= f.start_date.strftime("%d-%m-%Y") %></td>
      <td><%= f.end_date.strftime("%d-%m-%Y")  %></td>
      <td><%= f.due_date.strftime("%d-%m-%Y")  %></td>
      <td>
      	<input type="hidden" name="object_id" value="<%= f.id %>"/>											
			<a href="#" id="update-href-<%= f.id %>" title="Edit"  class="with-tip update-feeCollect-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
			 <% unless f.check_fee_category == false %>
			<a href="#" id="delete-href-<%= f.id %>" title="Delete" class="with-tip delete-feeCollect-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
        	<% end %> 
        <!-- <%= link_to 'Edit', :url => {:action => 'fee_collection_edit', :id => f.id} %>
        <% unless f.check_fee_category == false %>
          <%= link_to 'Delete', :url => {:action => 'fee_collection_delete', :id => f.id },:confirm=>'Are you sure?' %>
        <% end %> -->
      </td>
   </tr>
  <% end %>
  </tbody>
</table>
