
<%if @financefee.transaction_id.nil?%>
  <%= render :partial => "student_fine_submission" %>
<% end %>

<% total_fees =0 %>
<%= form_for :fees, :url => {:action => 'fees_submission_save', :student => @student.id,:date => @date.id, :fine=>@fine} do |form| %>

  <% unless @fee_particulars.nil? %>
    <table class="table feesSubmitStudent no-margin" width="100%">
      <thead>
    		<tr>
				<th class="black-cell"></th>
				<th scope="col">
					<span class="column-sort">
						<a href="#" title="Sort up" class="sort-up"></a>
						<a href="#" title="Sort down" class="sort-down"></a>
					</span>
					Sl no.
				</th>
				<th scope="col">Particulars</th>
				<th scope="col">
					<span class="column-sort">
						<a href="#" title="Sort up" class="sort-up"></a>
						<a href="#" title="Sort down" class="sort-down"></a>
					</span>
					Amount ( currency  )
				</th>
			</tr>
    	</thead>
    	<tbody>
      <% i = 0 %>
      <% @fee_particulars.each do |fee| %>
        <tr>
          <td class="th table-check-cell"></td>
          <td><%= i+=1 %></td>
          <td><%= shorten_string(fee.name,20) %></td>
          <td><%= fee.amount%></td>
        </tr>
        <% total_fees += fee.amount %>
      <% end %>

      <% unless @total_discount == 0 %>
      <tr>
      	<td class="th table-check-cell"></td><td></td><td></td><td></td>
      </tr>
      <tr>
      	<td class="th table-check-cell"></td>
      	<td class="col-1" ><span><strong>Discount</strong></span></td>
        <td class="col-1" ></td>
        <td class="col-1"></td>
      </tr>
        <% @batch_discounts.each do |d| %>
        <tr>
          <td class="th table-check-cell"></td>
          <td><%= i+1 %></td>
          <td><%= shorten_string(d.name,20) %></td>
          <td><%= d.discount%> %</td>
        </tr>
        <% i += 1 %>
      <% end %>
        <% @student_discounts.each do |d| %>
        <tr>
          <td class="th table-check-cell"></td>	
          <td><%= i+1 %></td>
          <td><%= shorten_string(d.name,20) %></td>
          <td><%= d.discount%> %</td>
        </tr>
        <% i += 1 %>
      <% end %>
        <% @category_discounts.each do |d| %>
        <tr>
          <td class="th table-check-cell"></td>	
          <td><%= i+1 %></td>
          <td><%= shorten_string(d.name,20) %></td>
          <td><%= d.discount%> %</td>
        </tr>
        <% i += 1 %>
      <% end %>
         <tr>
      	<td class="th table-check-cell"></td><td></td><td></td><td></td>
      </tr>
      <tr>
      	 <td class="th table-check-cell"></td>	
        <td><b> Total Discount</b></td>
        <td></td>
        <td><%= "#{@total_discount} %" %></td>
      </tr>

        <tr>
      	<td class="th table-check-cell"></td><td></td><td></td><td></td>
      </tr>
        <% total_fees = (total_fees - ((total_fees*@total_discount)/100)) %>
         <tr>
      	<td class="th table-check-cell"></td>	
        <td></td>
        <td class="col-8"><strong>  Total Fee</strong></td>
        <td class="col-6" ><b><%= total_fees %></b></td>
      </tr>
      <% end %>
      <tr>
      	<td class="th table-check-cell"></td><td></td><td></td><td></td>
      </tr>

     <% unless @fine.nil? %>
        <tr>
          <td class="th table-check-cell"></td>	
          <td><%= i+=1 %></td>
          <td><span>Fine</span></td>
          <td><%= @fine.to_f %></td>
        </tr>
        <% total_fees += @fine.to_f %>
      <% end %> 
      
     <% unless @financefee.transaction_id.nil? %>
     
        <% @trans = FinanceTransaction.find_by_id(@financefee.transaction_id) %>
        <% unless @trans.nil? %>
          <% if @trans.fine_included %>
            <tr>
              <td class="th table-check-cell"></td>
              <td><%= i+= 1 %></td>
              <td><span>Fine</span></td>
              <td><%= @trans.fine_amount %></td>
            </tr>
            <% total_fees += @trans.fine_amount.to_f %>
          <% end %>
        <% end %>
      <% end %>
      <% unless @paid_fees.nil? %>
        <tr>
        <td class="th table-check-cell"></td>
        <td><span><h2>Payment Done</h2> </span></td>
        <td></td><td></td>
      </tr>

        <% paid = 0 %>
        <% i = 0 %>
        <% @paid_fees.each do |p| %>
          <% paid += p.amount.to_f %>
          <tr>
          	<td class="th table-check-cell"></td>
            <td><%= i+=1 %></td>
            <td>Partial Payment on <%= p.transaction_date %></td>
            <td>-<%= p.amount.to_f %></td>
          </tr>
        <% end %>
        <% total_fees -= paid %>
      <% end %>

      <tr>
      	<td class="th table-check-cell"></td><td></td><td></td><td></td>
      </tr>
       <tr>
      	<td class="th table-check-cell"></td>	
        <td><h2>Amount to Pay</h2></td>
        <td></td>
        <td><b><%= total_fees%></b></td>
      </tr>
      <tr>
      	<td class="th table-check-cell"></td>
        <td>
            <%unless total_fees.to_f ==0 %>
                <label>Amount :</label>
                <%= form.text_field :fees_paid, :value=>total_fees %>
                <%= hidden_field_tag :total_fees, total_fees %>
                <input type="hidden" id="payStudenFeesSearch" student="<%=@student.id%>" date="<%=@date.id%>" fine="<%=@fine%>"/>
                <!-- <%= submit_tag "Pay Fees",:class=>'big-button' ,:id => "payStudenFeesSearch" ,:student => @student.id,:date => @date.id, :fine=>@fine %> -->
            <% else %>
              <h4>Fees Paid</h4>
            <% end %>
        </td>
        <td></td><td></td>
      </tr>
      <tr>
      	<td class="th table-check-cell"></td>
        <td>
          <% unless @paid_fees.nil? or not total_fees.to_f == 0 %>
            <%= link_to "Print receipt",
              {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'big-button' %>
          <% end %>
        </td>
        <td></td><td></td>
      </tr>

    <%end%>
    </tbody>
  </table>
<% end %>

