<div id="replaceAfterDiscountCreation">
	<fieldset>
		<table class="table masterFeeDiscountCreation no-margin" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Name </th>
					<th scope="col">Student Category</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Student Name</th>
					<th scope="col" class="table-actions">Discount (%)</th>
					<% if @discount_edit %><th scope="col" class="table-actions">Actions</th><% end %>
				</tr>
			</thead>
			<tbody>
				<%@discounts.each do|f| %>
				<tr>
						<td class="th table-check-cell"></td>
						<td><%= f.name %></td>
					<% if f.type == "StudentCategoryFeeDiscount" %>
						<td><%= f.category_name   %></td>
						<td></td>
					<% elsif f.type == "StudentFeeDiscount" %>
						<td></td>
	        			<td><%= f.student_name %></td>
        			<% elsif f.type == "BatchFeeDiscount" %>
					    <td></td>
					    <td></td>
				    <% end %>
						<td><%= f.discount %></td>
					<% if @discount_edit %>
						<td>
						<a href="#" id="<%= f.id %>" batch_id="<%= f.batch_id %>" category_id="<%= f.finance_fee_category_id %>" title="Edit" class="with-tip update-fee-discount-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>&nbsp;
						<a href="#" id="<%= f.id %>" batch_id="<%= f.batch_id %>" category_id="<%= f.finance_fee_category_id %>" title="Delete" class="with-tip delete-fee-discount-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
	                   	<!-- <%#= link_to 'Edit', :url => {:action => 'edit_fee_discount', :id => f.id} %> |&nbsp;
						<%#= link_to 'Delete', :url => {:action => 'delete_fee_discount', :id => f.id} %> -->
	      				</td>
        			<% end %>
				</tr>
				<%end%>
			</tbody>
		</table>
	</fieldset>
	<br />
	<fieldset class="grey-bg">
		<legend>Actions</legend>
		<div class="columns">
			<p class="colx-left">
				<%= button_tag 'Create Discount', :type =>'button',:class => 'big-button' ,:value => 'Create Discount' ,:id=> 'createFeesDiscount'%>
			</p>
		</div>
		
		
	</fieldset>
</div>