
 <%= form_for :fee_discount, :url=>{:action=>"student_wise_fee_discount_create"} do |form|%>
 <div class="columns">
  <p class="colx3-left required">
    <label for="reason"> Name </label>
    <%= form.text_field :name, :class => 'full-width' %>
 </p>
   <p class="colx3-center required">
    <label for="reason"> Admission Number </label>
    <%= text_field_tag "students",nil ,:class => 'full-width' %>
 </p>

    <p class="colx3-right required">
    <label for="discount"> Discount(%) </label>
     <%= form.text_field :discount, :class => 'full-width'%>
 	</p>
</div>
<%= form.hidden_field :fee_discount_batch_name ,:value => @batchId%>
<%= form.hidden_field :fee_discount_masterCategory_name ,:value => @categoryId%>
<!--     <div id="submit-button">
      <%#=  form.submit "► Create" %>
  </div> -->

    <% end %>