<div class="block-border">
	<div class="block-content form no-margin">
		<h1>Transactions</h1>
		<h3>Finance Transactions View</h3>
		<table class="table" id="monthlyTransactionReport" align="center" width="100%" cellpadding="1" cellspacing="1">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Sl. no</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Particulars </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Expenses ( currency )</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Income (currency )</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Date</th>
				</tr>
			</thead>
			<tbody>
				<% index = 0  %>
				<% income_total = 0%>
				<% expenses_total = 0%>

				<% unless @hr.nil? %>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"><%= index+=1 %></td>
					<% unless @salary == 0 %> <td class="col-2"> Salary <!-- <%= link_to "Salary Account" , :action => 'salary_department' , :start => @start_date,:end => @end_date%>  --></td>
					<% else %> <td class="col-2">Salary Account</td>
					<% end %> <td class="col-3" align="right"> Salary Module currently not Available. <!-- <%= @salary[:total_salary]%> --></td>
					<td></td>
					<td class="col-3"> - </td>
				</tr>
				<% end %>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"><%= index+=1 %></td>
					<% unless @donations_total == 0 %> <td class="col-2">Donation <!-- <%= link_to "Donations" , :action => 'donations_report',:start => @start_date,:end => @end_date%> --></td>
					<% else %> <td class="col-2">Donations</td>
					<% end %> <td>Donation Module currently not Available.</td>
					<td class="col-3" align="right"><!-- <%=@donations_total%> --></td>
					<td class="col-3"> - </td>
				</tr>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"><%= index+=1 %></td>
					<% unless @transactions_fees == 0 %> <td class="col-2"><%= link_to "Fees Account" , :action => 'fees_report' , :start => @start_date,:end => @end_date%> </td>
					<% else %> <td class="col-2">Fees Account</td>
					<% end %> <td></td>
					<td class="col-3" align="right"><%= @transactions_fees%></td>
					<td class="col-3"> - </td>
				</tr>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"><%= index+=1 %></td>
					<% unless @instant_fee_total == 0 %> <td class="col-2"><%= link_to "Instant Fees" , :action => 'instant_fees_report' , :start => @start_date,:end => @end_date%> </td>
					<% else %> <td class="col-2">Instant Fees</td>
					<% end %> <td></td>
					<td class="col-3" align="right"><%= @instant_fee_total%></td>
					<td class="col-3"> - </td>
				</tr>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"><%= index+=1 %></td>
					<% unless @transport_fees_total == 0 %> <td class="col-2"><%= link_to "Transport Fees" ,:controller=>'/transport_fee_collections', :action => 'monthly_transport_fee_report' , :start_date => @start_date,:end_date => @end_date%> </td>
					<% else %> <td class="col-2">Transport Fees</td>
					<% end %> <td></td>
					<td class="col-3" align="right"><%= @transport_fees_total%></td>
					<td class="col-3"> - </td>
				</tr>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"><%= index+=1 %></td>
					<% unless @library_fees_total == 0 %> <td class="col-2"><%= link_to "Library Fees" ,:controller=>'/library_issue_book_records', :action => 'show_transaction' , :start_date => @start_date,:end_date => @end_date%> </td>
					<% else %> <td class="col-2">Library Fees</td>
					<% end %> <td></td>
					<td class="col-3" align="right"><%= @library_fees_total%></td>
					<td class="col-3"> - </td>
				</tr>
				<% @other_transactions.each_with_index do |t,i| %>
				<tr>
					<td class="th table-check-cell"></td>
					<td class ="col-1"><%= i+index+1%></td>
					<% if t.category.is_income? and t.master_transaction_id == 0%> <td class="col-2"><%= t.title %> </td>
					<td></td>
					<td class="col-3" align="right"><%= t.amount%></td>
					<td class="col-3"><%= t.transaction_date.strftime("%m-%d-%Y")%></td>
					<% income_total +=t.amount%>

					<%else%> <td class="col-2"><%= t.title %> </td>
					<td class="col-3" align="right"><%= t.amount%></td>
					<td></td>
					<td class="col-3"><%= t.transaction_date.strftime("%m-%d-%Y")%></td>
					<% expenses_total +=t.amount%>
					<%end%>
				</tr>
				<%end%>
				<tr>
					<td class="th table-check-cell"></td>
					<td></td><td></td><td></td><td></td><td></td>
				</tr>
				<tr>
					<td class="th table-check-cell"></td>
					<td class="col-1"></td>
					<td class="col-2">Grand Total</td>
					<% if @grand_total >= 0 %> <td></td>
					<td class="col-3" align="right"><%= @grand_total%></td>
					<% else %> <td class="col-3" align="right"><%= @grand_total * -1 %></td>
					<td></td>
					<% end %> <td></td>
				</tr>
			</tbody>
		</table>
		<br />
		<br />
		<% unless @salary == 0 and @donations_total == 0 and @transactions_fees and @instant_fee_total == 0 and @other_transactions.empty? %>
		<%= @graph.html_safe %>
		<% end %>
		<br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Actions
			</legend>
			<div class="columns">
				<p class="colx-left">
					<%= link_to "PDF Report",
					{:controller => "finance", :action => "transaction_pdf", :start_date => @start_date, :end_date=>@end_date},:target => '_blank', :class=> 'big-button'%>
				</p>
			</div>
		</fieldset>
	</div>
</div>
