<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1><%= t('finance_transactions') %></h1>
		  <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
	    </div>
		<br />
		<fieldset>
			<legend>
				<%= @batch.full_name%> <%= t('fees_report') %>
			</legend>
			<% total =0 %> <b id="transaction-report-title"><%= @batch.full_name%>  <%= t('transaction_report') %> </b>
			<table class="table transactionDetailsPerStudent no-margin" align="center" width="100%" cellpadding="1" cellspacing="1">
				<thead>
					<tr>
						<th class="black-cell"></th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Student Name </th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Amount </th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Receipt No. </th>
						<th scope="col">Date</th>
					</tr>
				</thead>
				<tbody>
					<% @transaction.each do |f| %>
					<% student = f.student_payee %>
					<tr>
						<td class="th table-check-cell"></td>
						<td><%= "#{student.full_name}- (#{student.batch.full_name})" %></td>
						<td> <%= f.amount %> </td>
						<td> <%= f.receipt_no %> </td>
						<td> <%= f.transaction_date.strftime("%d-%m-%Y") %> </td>
					</tr>
					<% total += f.amount %>
					<% end %>
					<tr>
						<td class="th table-check-cell"></td>
						<td><%= t('total_fees') %></td>
						<td><strong><%= total %> </strong></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</div>
