<style>
.break { page-break-after: always; }

table {
		font: 15px /24px Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #660000;
		width: 800px;
	}
	th {
		padding: 0 0.5em;
		text-align: left;
	}
	tr.yellow th {
		border-top: 1px solid #FB7A31;
		border-bottom: 1px solid #FB7A31;
		background: #FFC;
	}
	td {
		border-bottom: 1px solid #CCC;
		padding: 0 0.5em;
	}
	td.width {
		width: 190px;
	}
	td.adjacent {
		border-left: 1px solid #CCC;
		text-align: center;
	}

</style>
<% unless @batch_array.empty?%>
<% @date_list.each do |fin_fee_coll| %>
<%fin_fee_coll.each do |collection| %>
<% if !collection.nil? && !(collection.due_date > Date.today) %>
 <%fin_fee_coll.reject!{|s| s.is_deleted?}%>
 <h1><%=collection.name%></h1><span><h6> (<%=collection.batch.full_name%>)</h6> </span>
  <%student_list=  collection.students.reject{|s| s.batch_id != collection.batch_id}%>
  <% i = 0 %>
  <% index = 0   %>
<table class="table break" width="100%" cellspacing="1" border="1">
	<thead>
		<tr class="yellow">
			<th class="black-cell">Sl. No.</th>
			<th class="sortable">Name</th>
			<th class="sort-up sort-down">Admission No</th>
			<th class="sort-up sort-down">Total Fees</th>
		</tr>
	</thead>
	<tbody>  
  
   <%student_list.each do |student| %>
	   	<% @fee_collection = FinanceFeeCollection.find_by_id(collection) %>
	   	<% @fee_category = FinanceFeeCategory.find_by_id_and_school_session_id(@fee_collection.fee_category_id, @current_session,:conditions => ["is_deleted IS NOT NULL"]) %>
	   	<% @fee_particulars = @fee_category.fees(student) %>
	  	<% total_fees = 0 %>
	  	<% @fee_particulars.each do |p| %>
	    <% total_fees += p.amount %>
	  	<% end %>
		<% if student.check_fees_paid(@fee_collection) == false %>
              <% i += 1  %>
            <tr>
              <td class="col-pdf"><%= index += 1 %></td>
              <td class="col-pdf"><%= student.full_name %></td>
              <td class="col-pdf"><%= student.admission_no %></td>
              <td class="col-pdf"><%= total_fees %></td>
            </tr>
          <% end %>
   
   
   <%end%>
   </tbody>
   </table>
  <%end%> 
<%end%>
<%end%>

<%end%>
