<div class="block-border" id="outer_block">
	<div class="block-content form">
		 <h1>Fees Submission</h1>
   	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li>
				<a href="/finance/master_categoy_create" id="" ><%= image_tag "fees/fee-collection.png", :size => "24X24" ,:title => "Master Category" %></a>
			</li>
			<li>
				<a href="/finance/fee_discounts" id="" ><%= image_tag "/assets/icons/web-app/24/fee discount 28.png", :size => "24X24" ,:title => "Fee Discounts" %></a>
			</li>
			<li>
				<a href="/finance/fee_collection_new" id="" ><%= image_tag "fees/fee-collection.png", :size => "24X24" ,:title => "Fee Collection" %></a>
			</li>
			<li>
				<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
			</li>
		</ul>
	</div>	

	  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
	  <div class="columns">
	  <p class="colx2-left">
	  	<div class="grid_4">
	  		<ul class="simple-list with-icon icon-info">
	  			<li id ="fees_submission_batch" style="display: none;"><%= link_to "Fees submission by course", :action => "fees_submission_batch"  %></li>
	  		</ul>
	  	</div>
		<p class="colx2-right">	
			<div class="grid_4">
				<ul class="simple-list with-icon icon-info">
					<li id ="fees_student_search" style="display: none;"><%= link_to "Fees submission for each student", :action => "fees_student_search" %></li>
				</ul>
			</div>
		</p>					
	  </div>
	  
	  	<div id="asPerRequirement"></div>

	  
	</div>
</div>