<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Create Fees Particulars</h1>
<%= form_for  :finance_fee_particulars,:url =>{:action => 'fees_particulars_create'}  do |f| %>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <fieldset>
  	<legend>
  		Create Particular
  	</legend>

  <div class="columns">
  	<p class="colx3-left">
  		<label>Fee Master Category</label>
  		<strong><%= @fees_categories.name %></strong>
  		<input type="hidden" name="finance_fee_particulars_finance_fee_category_id" id="finance_fee_particulars_finance_fee_category_id" value="<%= @fees_categories.id%>">
  	</p>
  	<p class="colx3-center required">
  		 <%= f.label :name %>
         <%= f.text_field :name %>
  	</p>
  	<p class="colx3-right">
  		 <%= f.label :description %>
         <%= f.text_field :description %>
  	</p>
	</div>
	<div class="columns">
		<p class="colx3-left">
	<label for="particulars">Create using</label>
   
        <%= radio_button("particulars","select","all" ,{:checked=>true}) %> All
        <%=  radio_button("particulars","select","student") %> Admission No
        <%= radio_button("particulars","select","category") %>Student Category
		</p>

		<p class="colx3-center" id="replaceParticularsFor">
		</p>
	<p class="colx3-right required">
   		 <%= f.label :amount %>
         <%= f.text_field :amount %>
   	</p> 
</div>
<div class="columns">
	<p class="colx3-left select-fixed-width1">
		<label><strong>Previous Session</strong></label>
           <%= select_tag :session_id, options_for_select(@school_session.map {|c| [c.name, c.id]}), :prompt => "Select",:id=> "previousSession"%>			
		</p>
	<p class="colx3-center select-fixed-width1" id="changeMasterCategoryForCurrent">
		<label><strong>Master Category</strong></label>
           <%= select_tag :category_id, options_for_select(@all_fee_category.map {|c| [c.name, c.id]}), :prompt => "Select",:id=> "previous_master_category"%>			
	</p>
	<p class="colx3-right" id="showPreviuosMasterCategory"></p>
	</div>
  </fieldset>

  <fieldset class="grey-bg no-margin">
  	<legend>
  		Action on Create
  	</legend>
  	<div class="columns">
		<div class="colx2-right">
		    <button id="msaterFeeParticularCreate" type="submit">Create</button>
			<button id="update_masterParticular_category" type="button" >Update</button>
			<button id="reset_masterParticular_category" type="button">Clear</button>
			<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
        </div>
    </div>
    
    
  </fieldset>
  <% end %> 
	</div>
</div>
<input type="hidden"name="partFee" id="partFee" value="<%=params[:name] %>" />
<br />
			<div id="table-block" class="block-border">
                  <div id="updateMasterCategoryParticularList">
							<%= render :partial => "master_particulars_list"%>
						</div>
			</div>