<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Manage Finance</h1>
	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li >
				<a href="/dashboard" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
			</li>
		</ul>
	</div>
	<% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
<div id="user_options">
			<h3>Fees Management</h3>
			<ul class="shortcuts-list">
				<li>
					<a href="finance/fees_index" id="" ><%= image_tag "/assets/male-icon.png", :size => "48x48"  %><h4>Manage Fees</h4></a>
				</li>
				<li>
					<a href="finance/categories"> <%= image_tag "dashboard/student-search.png", :size => "48x48"  %><h4>Manages Category</h4></a>
				</li>
				<li>
					<a href="finance/transactions"> <%= image_tag "dashboard/timetable.png", :size => "48x48"  %><h4>Manages expense and income </h4></a>
				</li>
				<li>
					<a href="finance/donation"> <%= image_tag "dashboard/groups-Meeting-Light-icon.png", :size => "48x48"  %> <h4>Creates new donations</h4></a>
				</li>
				<li>
					<a href="finance/automatic_transactions"> <%= image_tag "subjects/maths1.png", :size => "48x48"  %><h4>Add automatic transactions</h4> </a>
				</li>
				 <% unless @hr.nil? %>
				<li>
					<a href="finance/payslip_index"> <%= image_tag "dashboard/calendar.png", :size => "48x48"  %><h4>Employee Payslips</h4></a>
				</li>
				<%end%>
				<li>
					<a href="finance/asset_liability"> <%= image_tag "dashboard/groups-Meeting-Light-icon.png", :size => "48x48"  %> <h4>Asset liability management</h4></a>
				</li>
				<li>
					<a href="/xml/index"> <%= image_tag "subjects/maths1.png", :size => "48x48"  %><h4>Creates xml import file</h4> </a>
				</li>
			</ul>
			
</div>
	</div>
</div>