<div class="block-border">
	<div class="block-content form">
		<h1>Instant Fee Collection</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
						</li>
					</ul>
	    </div>
		<table class="table instantFeesCollectionTable no-margin" id="instantFeesCollect" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Receipt No.</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Payee Type</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Payee Name</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Instant Fees</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<% i = 0 %>
				<%amount = 0%>
				<% @instant_fee_collection.each do |instant_fee| %>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%= link_to instant_fee.receipt_no , {:controller => 'instant_fee_collections',:action => 'show',:id=>instant_fee.id },:id=> "view_instant_fee_collection_detail", :start => @start_date,:end => @end_date, :colection_id => instant_fee.id %></td>
					<td><%if !instant_fee.student_id.nil?%>
						Student
						<%elsif !instant_fee.employee_id.nil?%>
						Employee
						<%else%>
						Guest
						<%end%>
					</td>
					<td><%if !instant_fee.student_id.nil?%>
						<%= Student.find_by_id(instant_fee.student_id).full_name%>
						<%elsif !instant_fee.employee_id.nil?%>
						<%= Employee.find_by_id(instant_fee.employee_id).full_name%>
						<%else%>
						<%= instant_fee.name %>
						<%end%>
					</td>
					<% ins_fee = InstantFee.find_by_id(instant_fee.instant_fee_id)%>
					<td><%= ins_fee.name unless ins_fee.nil?%></td>
					<td><%="%.2f"%instant_fee.amount.to_f%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
