									<tr>
										<td class="th table-check-cell"></td>
										<td id="leave_name_<%= leaves.id %>"><%= leaves.name %></td>
										<td id="leave_code_<%= leaves.id %>"><%= leaves.code %></td>
										<td id="leave_max_leave_count_<%= leaves.id %>"><%= leaves.max_leave_count %></td>
										<td id="leave_is_carry_forward_<%=leaves.id%>"><%l_val= leaves.carry_forward %>
											<%if l_val==true%>Yes<%else%>No<%end%>
										</td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= leaves.id %>">
											<a href="#" id="update-href-<%= leaves.id %>" title="Edit" class="with-tip update-leave-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= leaves.id %>" title="Delete" class="with-tip delete-leave-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>