<div class="block-border" id="outer_block">
	<div class="block-content form">

  <h1>Employee Attendance</h1>
  		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
		<br />
<fieldset class="no-margin">
							<legend>
							  Detailed Report of <%= @employee.full_name%>
							</legend>

				<div class="no-margin">
					<table cellspacing="0" class="list-calendar">
						<tbody>
							<% @leave_types.each do |lt| %>
      								<% leave_count = EmployeeLeave.find_by_employee_leave_type_id_and_employee_id(lt.id, @employee.id)%>
							<tr>
								<th scope="row"><h5><%= lt.name  %>:</h5></th>
								<td>
									<%  unless leave_count.reset_date.nil? %>
							        <% @report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(@employee.id, lt.id, :conditions=> ["attendance_date >= '#{leave_count.reset_date}'"]) %>
							        	<% else %>
							        <% @report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(@employee.id, lt.id) %>
							        <% end %>
							        <% if @report == [] %>
							            No leaves taken      
							        <% else %>
							        <ul class="events-dots-list">						
							          <% @report.each do |r| %>
							        
							           <li> 
							              <%= r.attendance_date.strftime("%B %d, %Y") %>
							              <% if r.is_half_day==true %>
							                (Half Day)
							              <% end %>
							             </li>
							          <% end %>
									</ul>
							        <% end %>
												        
								</td>
							</tr>

							 <% end %>
						</tbody>
					</table>
				</div>
</fieldset>
<br />
<fieldset class="no-margin grey-bg ">
							<legend>
								Total
							</legend>

        <%  unless @leave_types.nil? %>
        <%total_leave = 0 %>
        <section class="grid_4">
	        <ul class="mini-blocks-list">
		        <% @leave_count.each do |e| %>
					<li>
				    	<% leave_type = EmployeeLeaveType.find_by_id(e.employee_leave_type_id)%>
		              	  Total <%= leave_type.name %>:
							<ul class="tags float-right">
								<li><%= e.leave_taken %>/<%= e.leave_count %></li>
							</ul>
							 <% total_leave+= e.leave_taken %>
					</li>
		    	<%end%>
    	
       	</ul>
    	</section>
    	 <section class="grid_4" style="float: right;">
    	   <ul class="mini-blocks-list">
					<li>
						 Total leaves taken:<h3><%= total_leave %></h3>
					</li>
					</ul>
		</section>
    
        <% else %>
        <br/>
        <section class="grid_4">
    	   <ul class="mini-blocks-list">
					<li>
						<p> Sorry! No Leave type registered for Employee </p>
					</li>
					</ul>
		</section>
        
        <% end %>
 
							
</fieldset>
<br />
<fieldset class="grey-bg no-margin">
							<legend>
								Action
							</legend>
							<p class="colx3-center">
								<%= link_to 'Leave History', {:action => 'leave_history', :id=>@employee.id},:class => 'big-button' %>&nbsp;&nbsp;&nbsp;<%=  link_to "PDF Report", {:controller=>"employee_attendance", :action=>"employee_attendance_pdf", :id=>@employee.id},  :format=>'pdf', :target => '_blank' ,:class => 'big-button'%>
							</p>
							
</fieldset>

</div>
</div>