<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Employee Leave Reset</h1>
  <h3>Reset Employee Leave for each employee</h3><br />
  <div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
<div class="columns">
	<div id="search_textbox">
		              <label for="complex-fr-style">Name</label>
						<%= text_field_tag("advance_query", params['advance_query']) %>
						<br/>
					</div>
		<div class="colx2-left" id="depart_cate">
			<div class="columns">
				<p class="colx2-left">
					<label for="complex-fr-style">Department</label>
					<%= select :employee, :employee_department, @departments.map {|s| [s.name, s.id]}, :prompt => "Select" %>
				</p>
				<p class="colx2-right ">
					<label for="complex-fr-style">Category</label>
					<%= select :employee, :employee_category, @categories.map {|s| [s.name, s.id]}, :prompt => "Select"%>
				</p>
			</div>
		</div>
		<div class="colx2-left">
			<div class="columns">
				
					<label for="complex-fr-style">Position</label>
					<div id="leave_p" align="left">
					<%= select :employee, :employee_position, @positions.map {|s| [s.name, s.id]}, :prompt => "Select", :id => "position" %>
				</div>
			
				<p class="colx2-right">
					<label for="complex-fr-style">Grade</label>
					<%= select :employee, :grade_id,      @grades.map {|s| [s.name, s.id]},      :prompt => "Select" %>
					
				</p>
			</div>
		</div>
	</div>
	<fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button">
		<input type="button" value="View" id="view_emp" class="big-button"/>
		
	</p>
</fieldset>
<div id="emp_search"></div>
	</div></div>

  <div class="extender"></div>
    <div id="information"></div>


