<tr>
	<td id="hostel_detail_hostel_name_<%= hostel_detail.id %>"><%= hostel_detail.hostel_name %></td>
	<td id="hostel_detail_hostel_type_<%= financial_asset.id %>"><%= hostel_detail.hostel_type %></td>
	<td id="hostel_detail_other_information_<%= financial_asset.id %>"><%= hostel_detail.other_information %></td>
	<td class="table-actions">
	<input type="hidden" name="object_id" value="<%= hostel_detail.id %>"/>
	<a href="#" id="update-href-<%= hostel_detail.id %>" title="Edit" class="with-tip update-hostel-detail-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
	<a href="#" id="delete-href-<%= hostel_detail.id %>" title="Delete" class="with-tip delete-hostel-detail-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a></td>
</tr>
