<div class="block-border" id = "outer_block" >
	<%= form_for @sms ,  :html => { :class => "block-content form", :id => "table_form"}   do |f| %> <h1>SMS</h1>
	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li >
			<a href='javascript:' title ="Back" onclick='history.back();'><img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
			</li>
			
		</ul>
	</div>
	<% unless flash[:notice].nil? %>
				<ul class="message success">
					<li>
						<%= flash[:notice] %>
					</li>
					<li class="close-bt"></li>
				</ul>
				<% end %>
				<% unless flash[:notice_error].nil? %>
				<ul class="message error">
					<li>
						<%= flash[:notice_error] %>
					</li>
					<li class="close-bt"></li>
				</ul>
				<% end %>
	<fieldset>
		<div class="columns">
			<% if @role == "Employee" || @role == "Admin"%>
			<p >
				<div class="" style=" overflow: auto">
					<ul class="arbo with-title">
						<li>
							<a href="#" class="title-computer toggle">Select courses</a><span id = "loader"></span>
							<ul>
								<li class="close" >
									<span class="toggle"></span>
									<a href="#" class="">
									<input type="checkbox" name="courses" id = "sms_all_courses"/>
									<span>Courses</span></a>
									<ul id = "sms_all_courses_li">
										<% @courses = Course.active%>
										<% unless @courses.empty?%>
										<%@courses.each do |course|%>
										<li>
											<a href="#" class="">
											<input type="checkbox" name="course" class = "sms_course_check" id ="sms_course_check_<%= course.id%>" data_id = "<%= course.id%>"/>
											<span><%= course.course_name%></span></a>
										</li>
										<%end%>
										<%end%>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</p>
			<p class="inline-small-label">
				<label class="required" for="field13">To </label>
				<select id="sms_sending" name="sms"></select>
			</p>
			<p class="inline-small-label">
				<label for="simple-action" class="required">Template Code</label>
				<%= select :sms_templates, :template_code,  @sms_template.map {|b| [b.template_code, b.id] }, {:prompt => 'Select'},:class => "sms-template-select" %>
			</p>
			<p class="inline-small-label">
				<label for="simple-action" class="required">SMS</label>
				<input type="text" id = "template_text_box" name = "temp" value ="" class = "full-width">
			</p>
			<%end%>
		</div>
	</fieldset>
	
	<fieldset class="grey-bg no-margin" id ="reminder_button">
		<% if @role == "Admin" || @role == "Employee"%>
		<button type="button" class ="sms_send">
			Send
		</button>
		<button type="button" id = "" onclick="$(location).attr('href','/dashboard.1');">
			Cancel
		</button>
		<!-- <a href="http://www.smsgatewaycenter.com/library/send_sms_2.php?UserName=mcs47chd&Password=MCS47CHD?123&Type=Bulk&To=9050736988&Mask=MCSCHD&Message=Dear Parents, Hello Bye. Regards, MCSCHD">dddd</a> -->
		<%end%>
	</fieldset>
	<%end%>
</div>
