
<% @user = current_user %>

<!doctype html>
<!-- IE HACK for css for handling different version of IE -->
<%= render 'shared/ie' %>
<head>	
	<title>Enoch - A School ERP</title>
	<%= csrf_meta_tag %>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- style sheet includes -->
	<%= stylesheet_link_tag "application" %>
	<!-- Favicon -->
	<%= favicon_link_tag 'favicon.ico' %>
	
	<%= javascript_include_tag "application_modernizr" %>
	<%= javascript_include_tag "swfobject" %>
</head>

<body class="<%= controller.controller_name %>">
	
	<!-- Header -->	
	<%= render 'shared/dashboard_header' %>	
	
	<!-- Sub nav -->
	<%= render 'shared/top_tabs' %>
	<!-- End sub nav -->
	
	<!-- Status bar -->
	<div id="status-bar">
		<div class="container_12">	
			<ul id="status-infos">
				<li class="spaced">Logged as: <strong><%= @current_user.full_name%></strong></li>
				<li>
					<%= render 'shared/messages' %>
				</li>

				<li>
					<a href="<%= signout_path %>" class="button red" title="Logout">
						<span class="smaller">LOGOUT</span>
					</a>
				</li>
			</ul>
			
			<!-- v1.5: you can now add class red to the breadcrumb -->
			<ul id="breadcrumb">
				<%= render 'shared/breadcrumb' %>
			</ul>	
		</div>
	</div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->
	
	<!-- Always visible control bar -->
	<!--  <%= render 'shared/control' %> -->
	<!-- End control bar -->
	
	<!-- Content -->
	<article class="container_12">
		
		<div class="grid_3">
			<%= render 'shared/favorite' %>
		</div>
		<div id ="my_de">
		<section class="grid_9" id="main_block">
			<%= yield %>
		</section>
		</div>
		<div class="clear"></div>
		
	</article>
	
	<!-- End content -->
	
	<%= render 'shared/footer' %>
	
	<%= javascript_include_tag "application" %>	
	
	<!-- IE HACK for java script for handling different version of IE -->
	<!--[if lte IE 8]><%= javascript_include_tag "application_ie" %><![endif]-->
</body>
</html>