<!doctype html>
<%= render 'shared/ie' %>
<head>
	<title>New Employee</title>
	<%= csrf_meta_tag %>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- style sheet includes -->
	<%= stylesheet_link_tag "application_wizard" %>
	<!-- Favicon -->
	<%= favicon_link_tag 'favicon.ico' %>

	<%= javascript_include_tag "application_modernizr" %>
	<%= javascript_include_tag "/assets/jquery.modal.js" %>
</head>
<body class="special-page wizard-bg">
	<section>
		<%= yield %>
	</section>
	
	<%= javascript_include_tag "application_wizard" %>
	<%= javascript_include_tag "employees" %>
	<%= javascript_include_tag "/assets/jquery.modal.js" %>
	<!-- IE HACK for java script for handling different version of IE -->
	<!--[if lte IE 8]><%= javascript_include_tag "application_ie" %><![endif]-->
	<script type="text/javascript">
		$('.datepicker').datepick({
			alignment : 'bottom',
			showOtherMonths : true,
			selectOtherMonths : true,
			dateFormat : 'dd-mm-yyyy',
			yearRange : '1940:2100',
			renderer : {
				picker : '<div class="datepick block-border clearfix form"><div class="mini-calendar clearfix">' + '{months}</div></div>',
				monthRow : '{months}',
				month : '<div class="calendar-controls" style="white-space: nowrap">' + '{monthHeader:M yyyy}' + '</div>' + '<table cellspacing="0">' + '<thead>{weekHeader}</thead>' + '<tbody>{weeks}</tbody></table>',
				weekHeader : '<tr>{days}</tr>',
				dayHeader : '<th>{day}</th>',
				week : '<tr>{days}</tr>',
				day : '<td>{day}</td>',
				monthSelector : '.month',
				daySelector : 'td',
				rtlClass : 'rtl',
				multiClass : 'multi',
				defaultClass : 'default',
				selectedClass : 'selected',
				highlightedClass : 'highlight',
				todayClass : 'today',
				otherMonthClass : 'other-month',
				weekendClass : 'week-end',
				commandClass : 'calendar',
				commandLinkClass : 'button',
				disabledClass : 'unavailable',
				yearsRange : new Array(1971, 2100),
			}
		
		});
	</script>
</body>
</html> 