<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>

    <%= stylesheet_link_tag(['application', '_styles/ui.all'])%>
    <%= wicked_pdf_stylesheet_link_tag("ezzie_pdf") %>
    <%= stylesheet_link_tag(*get_stylesheets) %>
     <%= stylesheet_link_tag  "_layouts/pdf" %>
        <%= javascript_include_tag "application" %>	
  </head>
  <body>
    
    <%= yield %>

  </body>
</html>