									<tr>
										<td class="th table-check-cell"></td>
										<td id="activity_name_<%= scholastic_activity.id %>"><%= scholastic_activity.co_scholastic_activity_name %></td>
										<td id="co_scholastic_course_<%= scholastic_activity.id %>">
											<%course_name = ""%><%course_id = ""%>
											<%scholastic_activity.courses.each do |cc| %>
											<% unless cc.nil? %>
												<%if course_name == ""%>
									             		<%course_name = course_name + cc.full_name %>
									             		<%course_id = course_id + cc.id.to_s%>
									            <%else%>
									             		<%course_name = course_name + "," + cc.full_name %>
									             		<%course_id = course_id + "," + cc.id.to_s %>
									            <%end%>
											<%end%>
											<%end%>
											<%=course_name %>
										</td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= scholastic_activity.id %>"/>
											<a href="#" id="update-href-<%= scholastic_activity.id %>" courseId="<%=course_id%>" title="Edit" class="with-tip update-scholastic_activity-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= scholastic_activity.id %>" title="Delete" class="with-tip delete-scholastic_activity-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										    <a href="#" id="add-scholastic_activity_subskill" title="Add Subskill" class="with-tip" scholastic_activity="<%=scholastic_activity.id%>"><img src="/assets/icons/add-mini.png" width="16" height="16"></a>
										</td>
									</tr>