<div id="outer_block" class="block-border">
	<div class="block-content form  ">
		<h1 >Library Management</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs  ">
				<li class="current  ">
					<a title="Back" href="/dashboard" class=" "> <img width="24" height="24" src="/assets/icons/web-app/32/Back.png" class=" "></a>
				</li>
			</ul>
		</div>
		<div  >
			<ul class="shortcuts-list">
				<ul class="shortcuts-list">
					<li>
						<strong><a href="/library_books/new"><%= image_tag "dashboard/book.png", :size => "48x48"%><h4> Books </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_authors/new"><%= image_tag "dashboard/author.png", :size => "48x48"%><h4> Authors </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_tags/new"><%= image_tag "dashboard/library-mgmnt.png", :size => "48x48"%><h4> Tags </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_issue_book_records/"><%= image_tag "dashboard/library-mgmnt.png", :size => "48x48"%><h4> Issue </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_issue_book_records/return"><%= image_tag "dashboard/library-mgmnt.png", :size => "48x48"%><h4> Return </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_settings/new"><%= image_tag "dashboard/library-mgmnt.png", :size => "48x48"%><h4> Settings </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_issue_book_records/monthly_report?report=monthly"><%= image_tag "dashboard/library-mgmnt.png", :size => "48x48"%><h4> Monthly Report </h4></a></strong>
					</li>
					<li>
						<strong><a href="/library_issue_book_records/monthly_report?report=books"><%= image_tag "dashboard/library-mgmnt.png", :size => "48x48"%><h4> BookWise Report </h4></a></strong>
					</li>
				</ul>
				<br>
				<br >
		</div>
	</div>
</div>
