<% if !@instant_fees_particular.nil? %>
<%unless @person_id=="Guest"%>
	<form class="block-content form no-margin" id="listing" method="post" action="">
		<h1>Particulars</h1>

		<table class="table instantFeesCollectionTable no-margin" id="instantFeesCollect" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Quantity</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Name </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Amount</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Discount (%)</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<% i = 0 %>
				<%amount = 0%>
				<% @instant_fees_particular.each do |instant_fee| %>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%= select "selected_quantity",instant_fee.id, (1..50).to_a.map {|u| [u,instant_fee.id]},{}, {:onchange =>"update_total_by_quantity(this)"} %></td>
					<td><%= instant_fee.name %></td>
					<td><input id="amount_<%= instant_fee.id%>" type="text" value="<%= instant_fee.amount %>" onchange="update_total_by_amount(this)" name="amount[]" ></td>
					<td><input id="discount_<%= instant_fee.id%>" type="text" value="0" onchange="update_total_by_discount(this)" name="discount[]"></td>
					<td><input id="total_check_<%= instant_fee.id%>" class="particular_total" type="text" value="<%= instant_fee.amount %>" readonly="readonly" name="total[]"><input id="check_<%= instant_fee.id%>" class="par_check" type="checkbox" value="<%= instant_fee.id%>" checked_amount="<%= instant_fee.amount%>" checked_discount="" checked_quantity="" onclick="assign_amt(this)" name="particular_ids[]" checked="checked"></td>
				    <% amount += instant_fee.amount%>
				</tr>
				
				<% end %>
				<strong>Amount to Pay: </strong><input type="text" id="total" value="Rs. <%= amount.to_f%> only" readonly="true"/>
			</tbody>
		</table>
						
		<input id="total_fees" type="hidden" value="<%= amount.to_f%>" name="total_fees">
		<input id="is_customFee" type="hidden" value="<%= params[:id]%>" name="is_customFee">
		<input id="empOrStd" type="hidden" value="<%= @person.id%>" name="empOrStd">
		<input id="empOrStdtype" type="hidden" value="<%=@unknown_person.role_name%>" name="empOrStdtype">
		<fieldset class="grey-bg no-margin">
			<legend>
				Actions
			</legend>
		<div class="options-pay">
<a id="addrow" class="big-button" href="#">+ Add Particular</a>
<input id="pay_button" class="big-button" type="submit" value="► Pay Fees" name="commit">
</div>
</fieldset>
	</form>
<%else%>
	<form class="block-content form no-margin" id="listing" method="post" action="">
		<h1>Particulars</h1>

		<table class="table instantFeesCollectionTable no-margin" id="instantFeesCollect" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Quantity</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Name </th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Amount</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Discount (%)</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<% i = 0 %>
				<%amount = 0%>
				<% @instant_fees_particular.each do |instant_fee| %>
				<tr>
					<td class="th table-check-cell"></td>
					<td><%= select "selected_quantity",instant_fee.id, (1..50).to_a.map {|u| [u,instant_fee.id]},{}, {:onchange =>"update_total_by_quantity(this)"} %></td>
					<td><%= instant_fee.name %></td>
					<td><input id="amount_<%= instant_fee.id%>" type="text" value="<%= instant_fee.amount %>" onchange="update_total_by_amount(this)" name="amount[]" ></td>
					<td><input id="discount_<%= instant_fee.id%>" type="text" value="0" onchange="update_total_by_discount(this)" name="discount[]"></td>
					<td><input id="total_check_<%= instant_fee.id%>" class="particular_total" type="text" value="<%= instant_fee.amount %>" readonly="readonly" name="total[]"><input id="check_<%= instant_fee.id%>" class="par_check" type="checkbox" value="<%= instant_fee.id%>" checked_amount="<%= instant_fee.amount%>" checked_discount="" checked_quantity="" onclick="assign_amt(this)" name="particular_ids[]" checked="checked"></td>
				    <% amount += instant_fee.amount%>
				</tr>
				
				<% end %>
				<strong>Amount to Pay: </strong><input type="text" id="total" value="Rs. <%= amount.to_f%> only" readonly="true"/>
			</tbody>
		</table>
						
		<input id="total_fees" type="hidden" value="<%= amount.to_f%>" name="total_fees">
		<input id="is_customFee" type="hidden" value="<%= params[:id]%>" name="is_customFee">
		<input id="empOrStd" type="hidden" value="Guest" name="empOrStd">
		<input id="empOrStdtype" type="hidden" value="Guest" name="empOrStdtype">
		<fieldset class="grey-bg no-margin">
			<legend>
				Actions
			</legend>
		<div class="options-pay">
<a id="addrow" class="big-button" href="#">+ Add Particular</a>
<input id="pay_button" class="big-button" type="submit" value="► Pay Fees" name="commit">
</div>
</fieldset>
	</form>
<%end%>
<%end%>