
	<div class="block-content form">
		<br />
Date of Purchase : <%=@instant_fee_collect.collection_date.strftime('%d-%m-%Y')%>
<br />
		<strong style="float: right;"><h3>Receipt No: <%=@name%></h3></strong>
		<br />
		<strong>
			<%if !@instant_fee_collect.student_id.nil?%>
			Student Name: &nbsp;&nbsp; <%= Student.find_by_id(@instant_fee_collect.student_id).full_name%>
			<%elsif !@instant_fee_collect.employee_id.nil?%>
			Employee Name: &nbsp;&nbsp; <%= Employee.find_by_id(@instant_fee_collect.employee_id).full_name%>
			<%else%>
			Guest Name: &nbsp;&nbsp; <%=@instant_fee_collect.name%>
			<%end%>
		</strong>
		<br />
		
		<br />
		<table class="table instantFeesCollectionDetailTable no-margin" id="instantFeesCollect" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="black-cell"></th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Particulars</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Amount Provided</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Actual Amount</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Discount</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Quantity</th>
					<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span>Amount Collected</th>
				</tr>
			</thead>
			<tbody>
				<% i = 0 %>
				<%amount = 0%>
				<% @instant_fee_collection.each do |instant_fee| %>
				<tr>
					<td class="th table-check-cell"></td>
					<% @particular = InstantFeeParticular.find_by_id(instant_fee.instant_fee_particular_id)%>
					<td><%= @particular.name%></td>
					<td><%= "%.2f"%instant_fee.particular_amount_provided unless instant_fee.particular_amount_provided.nil? %></td>
					<td><%= "%.2f"%@particular.amount unless @particular.amount.nil?%></td>
					<td><%= "%.2f"%instant_fee.discount unless instant_fee.discount.nil?%></td>
					<td><%= instant_fee.quantity%></td>
					<td><%= instant_fee.quantity*(instant_fee.particular_amount_provided.to_f  - ((instant_fee.particular_amount_provided.to_f * instant_fee.discount.to_f )/100))%></td>
				</tr>
				<%amount += instant_fee.quantity*(instant_fee.particular_amount_provided.to_f  - ((instant_fee.particular_amount_provided.to_f * instant_fee.discount.to_f )/100))%>
				<% end %>
			</tbody>
		</table>
		<br /><br /><br />
         <strong style="float: right;">Total Amount: <%=amount%></strong>
</div>
