<div class="block-border" id="outer_block">
	<div class="block-content form" id="simple_form">
		<h1>General Settings</h1>
		<%= form_for :schoolconfiguration ,:method => 'put'  do |c| %>
		<fieldset class="grey-bg required">
			<div class="columns">
				<div class="colx1-left required">
					<label for="School/College Name">School/College Name</label>
					<span class="relative"> <%= text_field :schoolconfiguration, :institution_name, :value => @school[:institution_name] ,:class => "full-width"%> </span>
				</div>
			</div>
			<div class="columns">
				<div class="colx3-left required">
					<label for="School/College Address">School/College Address</label>
					<span class="relative"> <%= text_area :schoolconfiguration, :institution_address, :value => @school[:institution_address] ,:rows=>5, :cols=>30 %> </span>
				</div>
				<div class="colx3-center required">
					<label for="School/College Phone">School/College Phone</label>
					<span class="relative"> <%= text_field :schoolconfiguration, :institution_phone_no, :value => @school[:institution_phone_no] %> </span>
				</div>
				<div class="colx3-right required">
					<label for="simple-required">Upload Logo</label>
					<%= file_field 'upload', 'datafile' %>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="columns">
				<div class="colx3-left">
					<label for="simple-select">Attendance Type</label>
					<%= select :schoolconfiguration, :student_attendance_type, SchoolConfiguration::STUDENT_ATTENDANCE_TYPE_OPTIONS,:selected => @school[:student_attendance_type]%>
				</div>
				<div class="colx3-center">
					<label for="simple-calendar">Academic year start date</label>
					<span class="input-type-text relative"> <%= text_field :schoolconfiguration, :financial_year_start_date, :value => (@start_date if @school[:financial_year_start_date].nil?) || @school[:financial_year_start_date],class: "datepicker" ,:size => 14%> <img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16">
				</div>
				<div class="colx3-right">
					<label for="simple-calendar">Academic year start date</label>
					<span class="input-type-text  relative"> <%= text_field :schoolconfiguration, :financial_year_start_date, :value => (@end_date if @school[:financial_year_end_date].nil?)||@school[:financial_year_end_date],class: "datepicker" ,:size => 14%> <img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16">
				</div>
			</div>
			<div class="columns">
				<div class="colx2-left required">
					<% if @school[:admission_number_auto_increment] == '1' %>
					<%= check_box :schoolconfiguration, :admission_number_auto_increment, :checked => true %> Enable Auto increment Student admission no.
					<% else %>
					<%= check_box :schoolconfiguration, :admission_number_auto_increment, :checked => false %> Enable Auto increment Student admission no.
					<% end %>
					
				</div>
			</div>
			<div class="columns">
				<div class="colx2-left required">
					<% if @school[:employee_number_auto_increment] == '1' %>
					<%= check_box :schoolconfiguration, :employee_number_auto_increment, :checked => true %> Enable Auto increment Student admission no.
					<% else %>
					<%= check_box :schoolconfiguration, :employee_number_auto_increment, :checked => false %> Enable Auto increment Student admission no.
					<% end %>
				</div>
			</div>
			<div class="columns">
				<div class="colx2-left required">
					<% if @school[:sms_enabled] == '1' %>
					<%= check_box :schoolconfiguration, :sms_enabled, :checked => true %> Enable SMS.
					<% else %>
					<%= check_box :schoolconfiguration, :sms_enabled, :checked => false %> Enable SMS.
					<% end %>
				</div>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<div class="colx1-left">
				<button  type="button" onclick="$(location).attr('href','/school_configurations/1');" disable = "false">
					Update
				</button>
			</div>
		</fieldset>
		<% end %>
	</div>
</div>
