<div class="block-border">
	<div class="block-content form" id="simple_form">
		
		<h1>General Settings</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
						</li>
					</ul>
				</div>	
		<%=form_for(:schoolconfiguration,:html=> {:multipart=>true}) do |c| %>
		<% unless flash[:notice].nil? %>
				<ul class="message success">
					<li>
						<%= flash[:notice] %>
					</li>
					<li class="close-bt"></li>
				</ul>
				<% end %>
				<% unless flash[:notice_error].nil? %>
				<ul class="message warning">
					<li>
						<%= flash[:notice_error] %>
					</li>
					<li class="close-bt"></li>
				</ul>
				<% end %>
		<fieldset class="grey-bg">
			<div class="columns">
				<div class="colx2-left required">
					<label for="School/College Name">School/College Name</label>
					<span class="relative"> <%= text_field :schoolconfiguration, :institution_name, :value => @school[:institution_name] ,:size => "80"%> </span>
				</div>
			</div>
			<div class="columns">
				<div class="colx3-left ">
					<label for="School/College Address">School/College Address</label>
					<span class="relative"> <%= text_area :schoolconfiguration, :institution_address, :value => @school[:institution_address] ,:rows=>5, :cols=>30 %> </span>
				</div>
				<div class="colx3-center ">
					<label for="School/College Phone">School/College Phone</label>
					<span class="relative"> <%= text_field :schoolconfiguration, :institution_phone_no, :value => @school[:institution_phone_no] %> </span>
				</div>
				<div class="colx3-right ">
					<label for="simple-required">Upload Logo</label>
					<%= file_field 'upload', 'datafile' %>
				</div>
			</div>
			<div class="columns">
				<div class="colx3-left ">
					<label for="School/College Address">School Url</label>
					<span class="relative"> <%= text_field :schoolconfiguration, :own_site_url, :value => @school[:own_site_url] %> </span>
				</div>
				<div class="colx3-center ">
					<label for="School/College Phone">Board Site Url</label>
					<span class="relative"> <%= text_field :schoolconfiguration, :board_site_url, :value => @school[:board_site_url] %> </span>
				</div>
				
			</div>
		</fieldset>
		<fieldset>
			<div class="columns">
				<div class="colx3-left">
					<label for="simple-select">Attendance Type</label>
					<%= select :schoolconfiguration, :student_attendance_type, SchoolConfiguration::STUDENT_ATTENDANCE_TYPE_OPTIONS,:selected => @school[:student_attendance_type]%>
				</div>
				<div class="colx3-center">
					<label for="simple-calendar">Academic year start date</label>
					<span class="input-type-text relative"> <%= text_field :schoolconfiguration, :financial_year_start_date, :value => (@start_date if @school[:financial_year_start_date].nil?) || @school[:financial_year_start_date],class: "datepicker" ,:size => 14%> <img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16">
				</div>
				<div class="colx3-right">
					<label for="simple-calendar">Academic year end date</label>
					<span class="input-type-text  relative"> <%= text_field :schoolconfiguration, :financial_year_end_date, :value => (@end_date if @school[:financial_year_end_date].nil?)||@school[:financial_year_end_date],class: "datepicker" ,:size => 14%> <img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16">
				</div>
			</div>
				<div class="columns">
				<div class="colx2-left">
					<div class="columns">
						<div class="colx2-left">
					<label for="course_code">Start Time</label>
					<span class="relative"> <%= time_select :class_timing, :start_time, {:minute_step => 5 ,:default =>  @start_time_institute} %> </span>
					</div>
					<div class="colx2-center">
					<label for="course_level">End Time</label>
					<span class="relative"> <%= time_select :class_timing, :end_time, {:minute_step => 5 ,:default =>  @end_time_institute} %></span>
					
					</div>
					
				</div>
				<!-- <div class="colx2-center">
					<label for="course_level">End Time</label>
					<span class="relative"> <%= time_select :class_timing, :end_time, {:minute_step => 5} %></span>
				</div> -->
			</div>
			</div>
			
			<div class="columns">
				<div class="colx2-left required">
					<% if @school[:admission_number_auto_increment] == '1' %>
					<%= check_box :schoolconfiguration, :admission_number_auto_increment, :checked => true %> Enable Auto increment Student Admission Number.
					<% else %>
					<%= check_box :schoolconfiguration, :admission_number_auto_increment, :checked => false %> Enable Auto increment Student Admission Number.
					<% end %>
					
				</div>
			</div>
			<div class="columns">
				<div class="colx2-left required">
					<% if @school[:employee_number_auto_increment] == '1' %>
					<%= check_box :schoolconfiguration, :employee_number_auto_increment, :checked => true %> Enable Auto increment Employee Number.
					<% else %>
					<%= check_box :schoolconfiguration, :employee_number_auto_increment, :checked => false %> Enable Auto increment Employee Number.
					<% end %>
				</div>
			</div>
			<div class="columns">
				<div class="colx2-left required select-fixed-width1">
					<% if @school[:sms_enabled] == '1' %>
					<%= check_box :schoolconfiguration, :sms_enabled, :checked => true %> Enable SMS.
					<% else %>
					<%= check_box :schoolconfiguration, :sms_enabled, :checked => false %> Enable SMS.
					<% end %>
				</div>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<legend>Action</legend>
			<div class="colx1-left">
				<button  type="submit">
					Update
				</button>
			</div>
		</fieldset>
		<% end %>
	</div>
</div>