<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Attendance Report</h1>
		<%= render 'shared/form_notice' %>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="/student_attendance/index" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
		<fieldset>
			<legend>
				Attendance Report
			</legend>
			<div class="columns">
				<p class="colx3-left required select-fixed-width1" >
					<label for="student_grade">Course</label>
					<span class="relative"> <%= select :attendance_report_course, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select" %></span>
				</p>
				<p class="colx3-center required select-fixed-width1" id="change_attendance_batch_report">	
					<span class="relative"><%= render :partial => 'batch_for_attendance_report'%></span>
				</p>
				<p class="colx3-right required">
					<div id="mode_selection">
						<label for="admission_date">Mode</label>
						<span class="relative"><%= select :mode_of_report, :id,["Monthly", "Overall"], {:prompt => 'Select'}   %></span>
					</div>
				</p>
			</div>
			<div class="columns">
				<div id="month_hide_report">
					<p class="colx3-left required select-fixed-width1">
						<label for="month">Month</label>
						<%= select :month_report, :id, [['January','01'], ['February','02'], ['March','03'], ['April','04'], ['May','05'], ['June','06'], ['July','07'], ['August','08'], ['September','09'], ['October','10'], ['November','11'], ['December','12']], {:prompt => 'Select'} %>
					</p>
				</div>
				<div id="year_hide_report">
					<p class="colx3-center required select-fixed-width1">
						<label for="year">Year</label>
						<%= select  :year_report, :year,  [@year-1,@year, @year+1],  {:prompt => 'Year'} %>
					</p>
				</div>
			</div>
			<div id="report_content_for_admin"></div>
		</fieldset>
		<br />
		<br />
		<br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="colx3-left">
				<button type="submit" id="atten_report">
					View Report
				</button>
			</p>
		</fieldset>
	</div>
</div>
</div> 