<div class="block-content form" style="height:50em; overflow: scroll;">
<fieldset>
	<legend>
		Co Scholastic Area
	</legend>

	
		<%unless @co_scholastic_areas.empty?%>
		<%@co_scholastic_areas.each_with_index do |scholastic_area,index|%> <span class="number"><%= index%></span><%= scholastic_area.co_scholastic_area_name%>
		<table class="table" width="100%" cellspacing="0">
			<tr>
				<td>Name</td>
				<td>Grade</td>
				<td>Description</td>
			</tr>
			<%scholastic_area.co_scholastic_sub_skill_areas.each do |scholastic_skill|%>
			<% @indicator= AssessmentIndicator.find_all_by_co_scholastic_sub_skill_area_id(scholastic_skill.id)%>
			
			<%area_indicator=StudentCoScholasticAreaAssessmentDetail.find_by_student_co_scholastic_assessment_id(@student_co_scholastic_assessment.id,:conditions=>{:student_id=>student.id,:co_scholastic_sub_skill_area_id=>scholastic_skill.id}) unless @student_co_scholastic_assessment.nil?%>
			
			<tr>
				<td><%= scholastic_skill.co_scholastic_sub_skill_name%></td>
				
				<%unless area_indicator.nil?%>
				<%=area_indicator.assessment_indicator_id%>
				<td id="indicate_<%=student.id%>" class="indicator_area"><%= select("skill","indicator_#{student.id}_#{scholastic_skill.id}_#{scholastic_area.id}",@indicator.map {|s| [s.indicator_value, s.id,{:description=>s.indicator_description,:scholastic_area => scholastic_area.id, :student => student.id, :areaSubSkill=>scholastic_skill.id}]},{:selected=>area_indicator.assessment_indicator_id},{:onchange=>"getDescription(this,#{student.id})"})%></td>
				<%else%>
				<td id="indicate_<%=student.id%>" class="indicator_area"><%= select("skill","indicator_#{student.id}_#{scholastic_skill.id}_#{scholastic_area.id}",@indicator.map {|s| [s.indicator_value, s.id,{:description=>s.indicator_description,:scholastic_area => scholastic_area.id, :student => student.id, :areaSubSkill=>scholastic_skill.id}]},{:prompt=>"Select"},{:onchange=>"getDescription(this,#{student.id})"})%></td>
				<%end%>
				<td id="indicator_description_<%= student.id%>_<%=scholastic_skill.id%>_<%=scholastic_area.id%>"></td>
			</tr>
			<%end%>
		</table>
		<%end%>
		<%end%>
</fieldset>
</div>