<div class="block-content form" style="height:50em; overflow: scroll;">
<fieldset>
	<legend>
		Co Scholastic Activity
	</legend>

		<%unless @co_scholastic_activities.empty?%>
		<%@co_scholastic_activities.each_with_index do |scholastic_activity,index|%> <span class="number"><%= index%></span><%= scholastic_activity.co_scholastic_activity_name%>
		<table class="table" width="100%" cellspacing="0">
			<tr>
				<td>Name</td>
				<td>Grade</td>
				<td>Description</td>
			</tr>
			<%scholastic_activity.co_scholastic_sub_skill_activities.each do |scholastic_skill|%>
			<% @indicator= CoScholasticActivityAssessmentIndicator.find_all_by_co_scholastic_sub_skill_activity_id(scholastic_skill.id)%>
			<%activity_indicator=StudentCoScholasticActivityAssessmentDetail.find_by_student_co_scholastic_assessment_id(@student_co_scholastic_assessment.id,:conditions=>{:student_id=>student.id,:co_scholastic_sub_skill_activity_id=>scholastic_skill.id}) unless @student_co_scholastic_assessment.nil?%>
			<tr>
				<td><%= scholastic_skill.co_scholastic_sub_skill_name%></td>
				<%unless activity_indicator.nil?%>
				<td id="indicate_<%= student.id%>" class="indicator_activity"><%= select("skill","indicator_#{student.id}_#{scholastic_skill.id}",@indicator.map {|s| [s.indicator_value, s.id,{:description=>s.indicator_description,:scholastic_activity => scholastic_activity.id, :student => student.id, :areaSubSkill=>scholastic_skill.id}]},{:selected=>activity_indicator.co_scholastic_activity_assessment_indicator_id},{:onchange=>"getDescription(this,#{student.id})"})%></td>
				<%else%>
				<td id="indicate_<%= student.id%>" class="indicator_activity"><%= select("skill","indicator_#{student.id}_#{scholastic_skill.id}",@indicator.map {|s| [s.indicator_value, s.id,{:description=>s.indicator_description,:scholastic_activity => scholastic_activity.id, :student => student.id, :areaSubSkill=>scholastic_skill.id}]},{:prompt=>"Select"},{:onchange=>"getDescription(this,#{student.id})"})%></td>
				<%end%>
				<td id="indicator_description_<%= student.id%>_<%= scholastic_skill.id%>"></td>
			</tr>
			<%end%>
		</table>
		<%end%>
		<%end%>
</fieldset>
</div>
