<style type="text/css">
	.highlight{
		 background-color:#194A19;
         color:#008000;
	}
	.active_td{
		background-color:#C9C299;
	}
	
</style>

<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Student Assessment </h1>
		<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li >
				<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
			</li>
		</ul>
	</div>
	
		 <%unless @students.empty?%>
		 <div class="columns">
				<p class="colx3-left required select-fixed-width1">
					<label for="co_scholastic_assessment_name">Assessment Name</label>
	          		<%=text_field :student_co_scholastic,:assessment_name,:value=>@student_co_scholastic_assessment.student_co_scholastic_assessment_name%>
				</p>
				<p class="colx3-right required select-fixed-width1">
					<label for="term_master">Term</label>
					<%=hidden_field :assessment,:term_master_id,:value=>@term.id%>
					<%=text_field :assessment,:term,:value=>@term.name,:readonly=>1,:size=>20%>
	          		
				</p>
				</div>
				
<fieldset class="grey-bg">
	<legend>
		Actions
	</legend>
	<div class="columns">
		<p class="colx2-left">
			<button type="submit" class="big-button" name="studentAssementINdicator" id="updateStudentAssementINdicator">Update</button>
		</p>
	</div>
</fieldset>
<table id = " table_toggle" class="table table_toggle no-margin " cellspacing="0" width="100%">
	<thead>
		<tr>
			<th></th>
			<th>Roll No.</th>
			<th>Name</th>
			<th>Roll No.</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<%@slr = 0%>
	<%@students.each do |student|%>
	<% @slr = @slr + 1 %>
	<tr class="student_row" data= "<%= @slr%>">
		<td></td>
		<td>
			<p><%= student.class_roll_no%></p>
		</td>
		<td>
			<p><%= student.full_name%></p>
		</td>
		<td>
			<p><%= student.class_roll_no%></p>
		</td>
		<td>
			<p><%= student.full_name%></p>
		</td>
	</tr>
	<% @slr = @slr + 1 %>
	<tr class="skill_row" data= "<%= @slr%>">
		<td></td>
		<td style="width: 50em; height: 1em;">
			<p>
			<%= render 'co_scholastic_area' ,:student => student%>	
			</p>
		</td>
		<td style="width: 50em;">
			<p>
				<%= render 'co_scholastic_activity',:student => student%>
			</p>
		</td>
		<td>
			<p><%= student.class_roll_no%></p>
		</td>
		<td>
			<p><%= student.full_name%></p>
		</td>
	</tr>
<%end%>
</tbody>
</table>
</div>



<div class="block-content form">
<fieldset class="grey-bg">
	<legend>
		Actions
	</legend>
	<div class="columns">
		<p class="colx2-left">
			<button type="submit" class="big-button" name="studentAssementINdicator" id="updateStudentAssementINdicator">Update</button>
		<input type="hidden" id="termMaster" name="termMaster" value="<%=@term.id%>" />
		<input type="hidden" id="studenTBatchId" name="studenTBatchId" value="<%=@batch.id%>" />
		<input type="hidden" id="student_co_scholastic_assessment" value="<%=@student_co_scholastic_assessment.id%>" />
		</p>
	</div>
</fieldset>
</div>
<%end%>
</div>




