<div class="block-border" id="outer_bloc">
	<div class="block-content form">
		<h1>Co Scholastic Assessment</h1>
			<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
					<li>
							<a href="/co_scholastic_areas/all_record" title="Co Scholastic Area" class="with-tip"><%= image_tag "dashboard/co-scholastic_area.png", :size => "24x24"  %></a>
						</li>
						<li>
							<a href="/co_scholastic_activities/all_record" title="Co Scholastic Activity" class="with-tip"><%= image_tag "dashboard/co-scholastic_activity.png", :size => "24x24"  %></a>
						</li>
					<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller=>'/sessions',:action=>'dashboard' %>
				</li>
				</ul>
			</div>
			
			<% unless flash[:notice].nil? %>
		<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %>
    <div id="updated_new">
    	<%= render "new"%>
    </div><br /><br />
    <fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				
				<input type="button" class="big-button" value="New" onclick="$(location).attr('href','/student_co_scholastic_assessments/show?batch_id=<%= @batch.id%>&term_id=<%=@term.id%>');"/>
				
			</p>
		</fieldset>
		
	</div>
</div>
