<% unless flash[:warn_notice].nil? %>
		<ul class="message error grid_12">
	       <li><strong><%= flash[:warn_notice] %></strong></li>
	       <li class="close-bt"></li>
	    </ul>
<% end %>
<%  unless @grading_levels.empty? %>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1" class="table">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Min score</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<% @grading_levels.each do |grade| %>
		<tr id="grading-level-<%= grade.id %>">
			<td><%= grade.name %></td>
			<td><%= grade.min_score %></td>
			<td><small><%= link_to image_tag("icons/fugue/pencil.png",:border => 0), edit_grading_level_path(grade),:remote => true , :method => 'get' %> <a href=" " id="delete_grade" grade_id="<%= grade.id%>" ><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a</small></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<br/>
	<br/> 
	<h4>The Batch has grades set in Common. To add customized grades click ADD GRADES</h4>
<% end %>
<div id="modal-box" style="display:none;">
	<%= render :partial => 'new'%>
</div>