<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Grading Levels</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="/exams" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
	
	<% unless flash[:notice].nil? %>
		<ul class="message success grid_12">
	       <li><strong><%= flash[:notice] %></strong></li>
	       <li class="close-bt"></li>
	    </ul>
    <% end %>
    <% unless flash[:warn_notice].nil? %>
		<ul class="message error grid_12">
	       <li><strong><%= flash[:warn_notice] %></strong></li>
	       <li class="close-bt"></li>
	    </ul>
    <% end %>
     
		<fieldset class="grey-bg">
		<div class="columns">
			<p class="colx2-left required select-fixed-width1">
				<label for="grading_course">Course:</label>
				<%= select :grade_course, :name,
				@courses.map {|b| [b.course_name, b.id]}, :prompt =>'Select'%>
			</p>
			<p class="colx2-left required select-fixed-width1">
				<label for="grading_batch">Batch</label>
				<div id="update_grades">
					<%= select :grade_batch, :id, @batches.map { |s| [s.name, s.id]},:prompt =>'Select' %>
				</div>
			</p>
		</div>
		</fieldset>
		<div id="grade_change">
			<%= render :partial =>'grading_levels'%>
		</div><br /><br />
		<fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button">
		
		<input type="button" class="big-button" value="Add Grades" id="add_grades" />
		<%= button_to_function "Reset", "$(location).attr('href','/grading_levels/create_grading_level');", :class => "big-button" %>
	</p>
</fieldset>
	</div>
	
</div>
<div id="modal-box" style="display:none;">
	<%= render :partial => 'new'%>
</div>
