<div class="block-content form" >
	<h1>Book List</h1>
		<table class="table no-margin" id="book" cellspacing="0" width="100%">
				<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Title
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Author
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Tag
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Book Copies
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Available Copies
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Status
							</th>
							<th scope="col">Action</th>
						</tr>
				</thead>
				<tbody>
					<% unless @library_books.empty?%>
					<% @library_books.each do |book|%>
					
					<tr>
						<td class="th table-check-cell"></td>
						<td id="book_name_<%= book.id %>"><%= book.name %></td>
						
						<td id="book_title_<%= book.id %>"><%= book.title %></td>
						
						
						<td id="book_author_<%= book.id %>"><%= book.library_author.name unless book.library_author.nil? %></td>
						
						<td id="book_tag_<%= book.id %>"><%= book.library_tag.name unless book.library_tag.nil? %></td>
						
						<td id="book_copies_<%= book.id %>"><%= book.no_of_copies %></td>
						
						<td id="book_available_<%= book.id %>"><%= book.available_no_of_copies %></td>
						<% if book.status == true%>
						<td id="book_status_<%= book.id %>">Active</td>
						<%else%>
						<td id="book_status_<%= book.id %>">Inactive</td>
						<%end%>
						<input type="hidden" name="available" value="<%= book.available_no_of_copies  %>" id = "available_value_<%= book.id %>"/>
						<input type="hidden" name="author" value="<%= book.library_author.id unless book.library_author.nil? %>" id = "author_id_value_<%= book.id %>"/>
						<input type="hidden" name="tag" value="<%= book.library_tag.id unless book.library_tag.nil? %>" id = "tag_id_value_<%= book.id %>"/>
						<td ><input type="hidden" name="object_id" value="<%= book.id %>"/>
							<a href="#" id="update-href-<%= book.id %>" title="Edit" class="with-tip update-book-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
							<a href="#" id="delete-href-<%= book.id %>" title="Delete" class="with-tip delete-book-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
						</td>
						
					</tr>
					<%end%>
					<%end%>
				</tbody>
				
		</table>
		<input type="hidden" id="url_prefix" name="url_prefix" value="/library_books" />
</div> 