									<tr>
										<td class="th table-check-cell"></td>
										<td id="position_name_<%= positions.id %>"><%= positions.name %></td>
										<input type="hidden" id= "positions_category_<%= positions.id %>" name="positions_category_<%= positions.id %>" value="<%= positions.employee_category_id %>"/>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= positions.id %>"/>											
											<a href="#" id="update-href-<%= positions.id %>" title="Edit" class="with-tip update-position-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= positions.id %>" title="Delete" class="with-tip delete-position-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>