			<div class="block-border" id="outer_block">
				<%= form_for @employee_position, :html => { :class => "block-content form", :id => "positions-form"}, do |form| %>
				<%= render 'shared/form_errors', :object => form.object %>
				<h1>Employee Position</h1>				
				<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
						</li>
					</ul>
				</div>					
				<fieldset class="grey-bg">
					<legend>Required Fields</legend>
					<div class="colx3-left-double required">
						<label for="position_name">Name</label>
						<span class="relative">
							<%= form.text_field :name, :class => "full-width",:field_name => 'Name' %>
						</span>
					</div>
					<div class="colx3-right required select-fixed-width1">
						<label for="position_category">Employee Category</label>
						<span class="relative" >
							<%= select :employee_position, :employee_category_id, @categories.map {|s| [s.name, s.id]}, :prompt => "Select" %>
						</span>
					</div>
				</fieldset>
								
				
				
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<div class="colx2-left-double">
							<label for="simple-action">Status</label>
							<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label> 
							<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
						</div>
						<div class="colx2-right">
							<button id="create_position" type="submit">Create</button>
							<button id="update_position" type="button" >Update</button>
							<button id="reset_position" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
						</div>
					</div>
				</fieldset>
				<% end %>
			</div>
			<br/>
			<div id="table-block" class="block-border">
    <%= render :partial => "position" %>
			</div>
