<div class="block-content form" id="outer_block">
		<%unless @ptm_detail.empty?%>
			
				<table class="table ptmStudentfeedAssign no-margin" id="ptmfeed" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Teacher FeedBack</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Parent FeedBack
							</th>
						</tr>
					</thead>
					
					<tbody>
						<% @ptm_detail.each do |ptm| %>
						<tr>
							<td class="th table-check-cell"></td>
							<%student = Student.find_by_id(ptm.student_id) %>
							<td><%=student.full_name %></td>
							<td><input type="text" name="employee_feedback" employee="<%=student.id %>" value="<%=ptm.teacher_notes %>"class="full-width" /></td>
						    <td><input type="text" name="parent_feedback" student="<%=student.id %>"value="<%=ptm.parent_feedback %>" class="full-width" /></td>
						</tr>
						<%end%>
					</tbody>
				
				</table>
	
<%else%>
<h3>No Detail found</h3>
<%end%>
</div>
