
<% working_days = @report.size %>
<% leaves =0 %>
<% percentage = 0 %>
<% table_id = [] %>

<% @report.each do |r| %>
  <% @attendance = Attendance.find_by_student_id_and_period_table_entry_id(@student.id, r.id) %>
  <% unless @attendance.nil? %>
    <% table_id.push @attendance.id %>
    <% if @config.config_value == 'Daily' %>
    <% leaves += 1 %>
     <!--  <% leaves += 0.5 if @attendance.forenoon %>
      <% leaves += 0.5 if @attendance.afternoon %> -->
    <% else %>
      <% leaves += 1 %>
    <% end %>
  <% end %>
<% end %>
<div class="att_detail">
  <%  if @config.config_value == 'Daily' %>
Total working days : <%= working_days %>
<% else %>
  Total working hours : <%= working_days %>
<% end %>|Total Present : <%= total = (working_days - leaves).to_f %> |
<% percentage =  (total/working_days)*100 unless working_days == 0 %>
Percentage : <%= percentage.round.to_f unless percentage.nil? %>
</div>
<% unless table_id.empty? %>
<table id="reportSAtt" class="table report_attendance no-margin" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th class="black-cell"></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up active"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Date
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Status
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Reason
							</th>
						</tr>
					</thead>
					
					<tbody>
						 <% table_id.each do |t| %>
    					<% detail_report = Attendance.find(t) %>
    					 <% @details = PeriodEntry.find(detail_report.period_table_entry_id) %>
						<tr>
							<th scope="row" class="table-check-cell"></th>
							<td><%= @details.month_date.to_date %></td>
							<td><% if detail_report.forenoon and detail_report.afternoon %>
				            <%= "Fullday" %>
				          <% elsif detail_report.afternoon %>
				            <%= "Afternoon" %>
				          <% elsif detail_report.forenoon %>
				            <%= "Forenoon" %>
				          <% else %>
				            <%= "Absent" %>
				          <% end %></td>
							<td><%= detail_report.reason %></td>
							
						</tr>
						
						<% end %>
					</tbody>
				
				</table>
			
<% end %>

