									<tr>
										<td class="th table-check-cell"></td>
										<td id="template_code_<%= template.id %>"><%= template.template_code %></td>
										<td id="template_text_<%= template.id %>"><%= template.text %></td>
										<input type="hidden" id = "is_active_<%= template.id %>" name="is_active" value="<%= template.is_inactive %>"/>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= template.id %>"/>
											<a href="#" id="update-href-<%= template.id %>" title="Edit" class="with-tip update-template-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
											<a href="#" id="delete-href-<%= template.id %>" title="Delete" class="with-tip delete-template-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
										</td>
									</tr>