<% unless @additional_fields.empty?  %>
<div id="additional">
	<%= form_for :employee_additional_details, :url => {:action => 'admission3_1', :id => @employee.id} , :html => { :class => "block-content form", :id => "form"} do |a| %>
	<div id="form-contents">
		<h3>Additional Details</h3>
		<hr class="sub-heading">
		</hr>
		
		<% @additional_fields.each do |additional| %>
		<div class="label-field-pair">
			<label><%= additional.name %></label>
			<% @additional_details = EmployeeAdditionalDetail.find_all_by_employee_id_and_additional_field_id(@employee.id,additional.id) %>
			<div class="text-input-bg">
				<%= a.text_field :additional_info, :index => additional.id, :value => (@additional_details.nil? ? "" : @additional_details[0].additional_info unless @additional_details.empty?), :class => 'full-width fullWidth full-length',:field_name=>additional.name %>
			</div>
		</div>
		<% end %>
	</div>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action
		</legend>
		<p class="input-with-button">
			<%= a.submit "Update", :class => "big-button" ,:id => 'additional_detai'%>
		</p>
	</fieldset>
	<% end %>
</div>
<%else%> <strong><%= I18n.t(:additional_fields_empty) %></strong>
<%end%> 