<style type="text/css">
.events li b {
    color: #3399CC;
    display: block;
    float: left;
    font-weight: normal;
    margin-left: -3.833em;
    width: 9.667em;
}
.more-events ul li b {
	display: block;
	font-weight: normal;
	color: #39C;
	float: left;
	margin-left: -3.833em;
	width: 9.667em;
}
.holiday ul li a {
    color: #333333;
    display: block;
    margin: -0.25em -0.667em -0.333em -4.25em;
    padding: 0.25em 6.667em 0.333em 4.25em;
    white-space: nowrap;
}
h5 {font-size:15px;}
</style>
	<div class="block-content form">
<div id="attendance-report">
  <fieldset class="no-margin">
							<legend>
							  Detailed Report of <%= @employee.full_name%>
							</legend>
<div class="no-margin">
					<table cellspacing="0" class="list-calendar">
						<tbody>
							<% @leave_types.each do |lt| %>
      								<% leave_count = EmployeeLeave.find_by_employee_leave_type_id_and_employee_id(lt.id, @employee.id)%>
							<tr>
								<th scope="row"><h5><%= lt.name  %>:</h5></th>
								<td><%  unless leave_count.nil? %>
									<%  unless leave_count.reset_date.nil? %>
							        <% @report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(@employee.id, lt.id, :conditions=> ["attendance_date >= '#{leave_count.reset_date}'"]) %>
							        	<% else %>
							        <% @report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(@employee.id, lt.id) %>
							        <% end %>
							        <% if @report == [] %>
							            No leaves taken      
							        <% else %>
							        <ul class="events">
							        	<%attendance_date(@report)%>
							        	 <% @show.each do |r| %>
										<li><a><b><%= r.attendance_date.strftime("%B %d, %Y") %></b><%= r.reason%> <% if r.is_half_day==true %>
							                (Half Day)
							              <% end %></a></li>
										<% end %>
									</ul>
									<%unless @hiddenEvent.nil?%>
									<div class="more-events holiday">
										<%=@hiddenEvent.count%> more Holiday
										<ul>
											<% @hiddenEvent.each do |r| %>
											<li><a><b><%= r.attendance_date.strftime("%B %d, %Y") %></b><%= r.reason%> <% if r.is_half_day==true %>
							                 (Half Day)
							                <% end %></a></li>
											<%end%>
											
										</ul>
									</div>
							       <%end%>
							        <% end %>
									<%end%>			        
								</td>
							</tr>

							 <% end %>
						</tbody>
					</table>
				</div>
				</fieldset>
	<br />
<fieldset class="no-margin grey-bg ">
							<legend>
								Total
							</legend>			
				
				
	<%  unless @leave_types.nil? %>
        <%total_leave = 0 %>
        <section class="grid_4">
	        <ul class="mini-blocks-list">
		        <% @leave_count.each do |e| %>
					<li>
				    	<% leave_type = EmployeeLeaveType.find_by_id(e.employee_leave_type_id)%>
		              	  Total <%= leave_type.name %>:
							<ul class="tags float-right">
								<li><%= e.leave_taken %>/<%= e.leave_count %></li>
							
							<% if permitted_to? :employee_leave_count_edit, :employees %>
						    <li><a href="#" leave_id="<%=e.id%>" leave_type=<%=e.employee_leave_type_id%> id="edit_employee_leave" leave_count="<%=e.leave_count %>" title="Edit"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
							<%end%>
							</ul>	
							
        
      
							 <% total_leave+= e.leave_taken unless e.leave_taken.nil?%>
		
					</li>
		    	<%end%>
    	
       	</ul>
    	</section>
    	 <section class="grid_4" style="float: right;">
    	   <ul class="mini-blocks-list">
					<li>
						 Total leaves taken:<h3><%= total_leave %></h3>
					</li>
					</ul>
		</section>
    
        <% else %>
        <br/>
        <section class="grid_4">
    	   <ul class="mini-blocks-list">
					<li>
						<p> Sorry! No Leave type registered for Employee </p>
					</li>
					</ul>
		</section>
        
        <% end %>	
        </fieldset>	
        <br />
        <fieldset class="grey-bg no-margin">
        	<legend> Action </legend>
        	<%= button_to_function "PDF Report", "$(location).attr('href','/employee_attendance/employee_attendance_pdf?id=#{@employee.id}');", :class => "big-button" %>
   </fieldset>				


</div>


