<%= image_tag @employee.photo.url(:large) , :id => "cropbox"%>
<h4>Preview</h4>
<div style="width: 100px; height: 100px; overflow: hidden;">
  <%= image_tag @employee.photo.url(:large), :id => "preview" %>
</div>

  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= hidden_field attribute, :id => attribute %>
  <% end %>
 


<input type="hidden" name="image_width" id="image_width" value="<%= @employee.photo_geometry(:original).width %> " />
<input type="hidden" name="image_width_large" id="image_width_large" value="<%= @employee.photo_geometry(:large).width %>" />
<input type="hidden" name="image_height_large" id="image_height_large" value="<%= @employee.photo_geometry(:large).height %>" />
