<%= render 'shared/ie' %>
<%= render 'shared/global_head' %>
<%= render 'shared/js' %>
<div class="block-border">
<div class="block-content form">
		<ol class="wizard-steps no-margin">
		<li id ='personal'>
			<a href="" > <span class="number">1<span  class=""></span></span>Select Image </a>
		</li>
		<li id ='address'>
			<a href="#" > <span class="number">2<span  class="status-ok"></span></span>Crop Image</a>
		</li>
</ol>
<%= image_tag @employee.employee_photo.url(:large) , :id => "crop_box"%> <h4>Preview</h4>

<div style="width: 100px; height: 100px; overflow: hidden;">
	<%= image_tag @employee.employee_photo.url(:large), :id => "preview" %>
</div>
<%= form_for :employee, :url =>{:controller => 'employees', :action => 'edit_employee', :q => @employee.id},:remote => true do |form| %>
<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
<%= form.hidden_field attribute, :id => attribute %>
<% end %>
<fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= form.submit "Update", :class => "big-button", :id => 'employee_photo_crop'%>
								</p>
							</fieldset>

<% end %>
</div>
</div>
<input type="hidden" name="croped_employee" id="croped_employee", value="<%= @employee.id %>">
<input type="hidden" name="image_width" id="image_width" value="<%= @employee.employee_photo_geometry(:original).width %> " />
<input type="hidden" name="image_width_large" id="image_width_large" value="<%= @employee.employee_photo_geometry(:large).width %>" />
<input type="hidden" name="image_height_large" id="image_height_large" value="<%= @employee.employee_photo_geometry(:large).height %>" />
