

		<div class="block-content form" id="table_form">
		<h1>Employee List</h1>	
			 
<div class="no-margin">
			<table class="table emp_add_list no-margin" id="empAdList" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="black-cell"></th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee Number </th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee Name </th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Department</th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Category </th>
					</tr>
				</thead>
				<tbody>
					<% indexx = []%>
					<% @employees.each do |employee| %>
					<tr><td  id="<%=employee.id %>"></td>
						<td  id="<%=employee.id %>"><%= employee.employee_number %></td><td><%= link_to employee.full_name, :controller => "employees", :action => "profile", :id => employee.id %></td>
						<td><%= employee.employee_department.name %></td>
						<td><%= employee.employee_category.name %></td>
					</tr>
					<% indexx << employee.id%>
					
					<%end%>
				
				</tbody>
			</table>
</div>

</div>
<br />

	<!-- <fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button">
		<input type="button" id="asp" value="PDF" class="big-button" onclick="$(location).attr('href','/employees/advance_search_pdf');"/>
			<input type="hidden" name="aaha" id="aaha" value="<%= indexx %>" />
	</p>
</fieldset> -->
<div id="employee_ad_search"></div>