<%= render 'shared/ie' %>
<%= render 'shared/global_head' %>
<%= render 'shared/js' %>
<div class="block-border" id="outer_block">
	<ol class="wizard-steps no-margin">
		<li id ='personal'>
			<a href="" > <span class="number">1<span  class="status-ok"></span></span>Select Image </a>
		</li>
		<li id ='address'>
			<a href="#" > <span class="number">2<span  class=""></span></span>Crop Image</a>
		</li>
</ol>
	<%= form_for :employee,:url => { :action => "photo_crop",:q => @employee.id },:html => { :class => "block-content form", :id => "photo_form"} do |form| %>

	<fieldset>
		<legend>
			Image Upload
		</legend>
		<div class="columns">
			<p class="colx3-left">
				<label for="simple-select">Image</label>
				<span class="relative"> <%= form.file_field :employee_photo, :class => "full-width", :type => 'file' %> </span>
			</p>
		</div>
	</fieldset>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action
		</legend>
		<p class="input-with-button">
			
			<%= form.submit "save", :class => "big-button", :id => 'model_save'%>
		
		</p>
	</fieldset>
	<% end %>
	
</div>
