	<p>
		<label for="employee[employee_number]" class="required">Employee Number</label>
		<span class="relative"> 
			<% unless @config.config_value == '0' or @last_admitted_employee.nil? %>
              <%= form.text_field :employee_number, :size => 20,:id => "employee_number" , :value=> @employee.employee_number || @last_admitted_employee.next %>
           <%else%>
            <%= form.text_field :employee_number, :size => 20,:id => "employee_number" %>
            <% end %>
			
			 </span>
	</p>
	
	<div class="columns">
		<p class="colx3-left">
			<label for="employee[first_name]"  class="required">First Name</label>
			<span class="relative"> <%= form.text_field :first_name, :class => "full-width max_length full-length", :id => "first_name",:field_name=>'Firts Name' %> </span>
		</p>
		<p class="colx3-center">
			<label for="employee[middle_name]">Middle Name</label>
			<span class="relative"> <%= form.text_field :middle_name, :class => "full-width max_length full-length",:field_name=>'Middle Name' %> </span>
		</p>
		<p class="colx3-right">
			<label for="employee[last_name]" class="required">Last Name</label>
			<span class="relative"><%= form.text_field :last_name, :class => "full-width max_length full-length",:field_name=>'Last Name' %> </span>
		</p>	
	</div>
	<div class="columns">
		<p class="colx3-left">
			<label for="employee[date_of_birth]" class="required">Date Of Birth </label>
			
			<span class="input-type-text">
				<% unless @dob == "nil"%>
			<%= form.text_field :date_of_birth, :class => "datepicker", :size => 20, :id => "birth_date", :value => @dob.strftime('%d''-''%m''-''%Y') ,:readonly=>1%><%= image_tag "icons/fugue/calendar-month.png" %></span> 
		<%else%>
		<%= form.text_field :date_of_birth, :class => "datepicker", :size => 20, :id => "birth_date", :value => (Date.today-6570).strftime('%d''-''%m''-''%Y'),:readonly=>1 %><%= image_tag "icons/fugue/calendar-month.png" %></span>
		<%end%>
		</p>
		<p class="colx3-center">
			<label for="employee[joining_date]" class="required">Date Of Joining </label>
			<span class="input-type-text">
				<% unless @doj == "nil"%>
				<%= form.text_field :joining_date, :class => "datepicker", :size => 20, :id =>"joining_date", :value => @doj.strftime('%d''-''%m''-''%Y'),:readonly=>1 %><%= image_tag "icons/fugue/calendar-month.png" %> </span>		
		<%else%>
		<%= form.text_field :joining_date, :class => "datepicker", :size => 20, :id =>"joining_date", :value => (Date.today).strftime('%d''-''%m''-''%Y'),:readonly=>1 %><%= image_tag "icons/fugue/calendar-month.png" %> </span>
		<%end%>
		</p>
		<p class="colx3-right">
			<div>
				<label>Gender</label>
				<ul class="checkable-list">
					<%= form.radio_button  "gender", "M", :checked => "checked" %>&nbsp;<label for="gender">Male</label>
					<%= form.radio_button  "gender", "F" %>&nbsp;<label for="gender">Female</label>
				</ul>
			</div>
		</p>	
	</div>
