	<fieldset>
		<legend>
			Contact
		</legend>
		<div class="columns">
			<p class="colx3-left required">
				<label for="complex-en-subtitle">Mobile</label>
				<%= form.text_field :mobile_phone, :class => "full-width",:field_name=>'Mobile' %>
			</p>
			<p class="colx3-center">
				<label for="complex-en-subtitle">Home Phone</label>
				<%= form.text_field :home_phone, :class => "full-width phone" ,:field_name=>'Home Phone'%>
			</p>
			<p class="colx3-right required">
				<label for="complex-en-subtitle">Email</label>
				<%= form.text_field :email, :class => "full-width",:field_name=>'Email' %>
			</p>			
		</div>
	</fieldset>
	<fieldset>
		<legend>
			Home Address
		</legend>
		<div class="columns">
			<p class="colx2-left required">
				<label for="complex-en-url">Line1</label>
				<span class="relative"> <%= form.text_field :home_address_line1, :class => "full-width full-length",:field_name=>'Line1' %> </span>
			</p>
			<p class="colx2-right">
				<label for="complex-en-subtitle">Line2</label>
				<%= form.text_field :home_address_line2, :class => "full-width full-length",:field_name=>'Line2' %>
			</p>
			<p class="colx2-left">
				<label for="complex-en-subtitle">State</label>
				<%= form.text_field :home_state, :class => "full-width full-length",:field_name=>'State' %>
			</p>
			<p class="colx2-right required">
				<label for="complex-en-subtitle">City</label>
				<%= form.text_field :home_city, :class => "full-width full-length",:field_name=>'City' %>
			</p>
			<p class="colx2-left required">
				<label for="complex-en-subtitle">Pin code</label>
				<%= form.text_field :home_pin_code, :class => "full-width pincode" %>
			</p>	
			<p class="colx2-right select-fixed-width1">
				<label for="simple-select">Home Country</label>
				<%= select(:employee, :home_country_id, @nationality.map {|s| [s.name, s.id]},:selected => @nationality_id || 76, :prompt => 'select ') %>
			</p>		
		</div>
	</fieldset>
	<fieldset>
		<legend>
			Office Address
		</legend>
		<div class="columns">
			<p class="colx2-left">
				<label for="complex-en-url">Line1</label>
				<span class="relative"> <%= form.text_field :office_address_line1, :class => "full-width full-length",:field_name=>'Line1' %> </span>
			</p>
			<p class="colx2-right">
				<label for="complex-en-subtitle">Line2</label>
				<%= form.text_field :office_address_line2, :class => "full-width full-length",:field_name=>'Line2' %>
			</p>
			<p class="colx2-left">
				<label for="complex-en-subtitle">State</label>
				<%= form.text_field :office_state, :class => "full-width full-length",:field_name=>'State' %>
			</p> 
			<p class="colx2-right">
				<label for="complex-en-subtitle">City</label>
				<%= form.text_field :office_city, :class => "full-width full-length",:field_name=>'City' %>
			</p>
			<p class="colx2-left">
				<label for="complex-en-subtitle">Pin code</label>
				<%= form.text_field :office_pin_code, :class => "full-width pincode" %>
			</p>
			<p class="colx2-right select-fixed-width1">
				<label for="simple-select">Office Country</label>
				<%= select(:employee, :office_country_id, @nationality.map {|s| [s.name, s.id]},:selected => @nationality_id || 76, :prompt => 'select ') %>
			</p>
			
		</div>
	</fieldset>
	<fieldset>
		<legend>
			
		</legend>
		<div class="columns">
			<p class="colx3-left">
				<label for="complex-en-url">Office Phone1</label>
				<span class="relative"> <%= form.text_field :office_phone1, :class => "full-width phone" %> </span>
			</p>
			<p class="colx3-center">
				<label for="complex-en-subtitle">Office Phone2</label>
				<%= form.text_field :office_phone2, :class => "full-width phone" %>
			</p>
			<p class="colx3-right">
				<label for="complex-en-subtitle">Fax</label>
				<%= form.text_field :fax, :class => "full-width phone" %>
			</p>
			
		</div>
	</fieldset>
	