<h3>Step 4</h3>
<div id="page-yield">
	<div id="form-content">
		<%= form_for :employee do |e| %>
		
		<div id="current-changed-manager">
			<div id="changed-manager-outer">
				<div id="changed-manager">
					Selected  Manager&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
				</div>
				<div id="changed-manager-name">
					<span class="not-selected">(not selected)</span>
				</div>
				<div id="update-button">
					<%= submit_tag("► Save & Proceed") %>
				</div>
				<div class="extender"></div>
			</div>
		</div>
		<%= e.hidden_field :reporting_manager_id %>

		<% end %>
		<div id="search-options">
			<div id="search-outer">
				<div id="search-label">
					Search by name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
				</div>
				<%= text_field_tag :search, params[:search]%>
				
				<%= select :employee, :department_id, @departments.map {|s| [s.name, s.id]}, :prompt => "Select department" %>
				<%= select :employee, :category_id,   @categories.map {|s| [s.name, s.id]},  :prompt => "Select category" %>
				<%= select :employee, :position_id,   @positions.map {|s| [s.name, s.id]},   :prompt => "Select position" %>
				<%= select :employee, :grade_id,      @grades.map {|s| [s.name, s.id]},      :prompt => "Select grade" %>
			
				<%= submit_tag "search", :name => nil, :id => "search_button" %>
				<br />
			</div>
			
		</div>
	</div>
	<div id="information"></div>
</div>
