<% gender = @employee.gender %>
<% current_object = @employee.id %>

<section class="grid_16">
	<div class="block-border">
		<form class="block-content form" id="complex_form" method="post" action="">
			<h1>Profile</h1>
			<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
					<li >
						<a href="/sessions/hr_settings" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
					</li>
				</ul>
			</div>
			<% unless flash[:notice].nil? %>
			<ul class="message success">
				<li>
					<%= flash[:notice] %>
				</li>
			</ul>
			<% end %>
			<div class="columns">
				<div class="col200pxL-left">
					<h2>Employee Information</h2>
					<ul class="side-tabs js-tabs ">
						<li>
							<a href="#tab-primary" title="Global properties">General </a>
						</li>
						<li>
							<a href="#tab-contact" title="Address">Professional Information</a>
						</li>
						<li>
							<a href="#tab-additional-info" title="Parents">Personal Information</a>
						</li>
						<li>
							<a href="#tab-parents" title="contact Info">Contacts </a>
						</li>
						<li>
							<a href="#tab-bank" title="Bank Details">Bank Details</a>
						</li>
						<li>
							<a href="#tab-field" title="Additional Details">Additional Details</a>
						</li>
						<li>
							<a href="#tab-payroll" title="Employee Payroll Details">Payroll Details</a>
						</li>
					</ul>
				</div>
				<input type="hidden" id="emp_profile" name="emp_profile" value="<%= @employee.id%>"/>
				<div class="col200pxL-right">
					<div id="tab-payroll" class="tabs-content">
						<%= render :partial =>'archived_employee_payroll'%>
					</div>
					<div id="tab-bank" class="tabs-content">
						<fieldset>
							<legend>
								Bank Details
							</legend>
							<% @bank_fields.each do |bd| %>
							<p>
								<b><%= bd.name %>:</b>
							</p>
							<% @bank_details = ArchivedEmployeeBankDetail.find_all_by_employee_id_and_bank_field_id(@employee.id,bd.id) %>
							<div class="text-input-bg">
								<%= @bank_details.nil? ? "" : @bank_details[0].bank_info unless @bank_details.empty? %>
							</div>
							<% end %>
							
						</fieldset>
						
					</div>
					<div id="tab-field" class="tabs-content">
						<fieldset>
							<legend>
								Additional Details
							</legend>
							<% @additional_fields.each do |additional| %>
							<% @additional_details = ArchivedEmployeeAdditionalDetail.find_all_by_employee_id_and_additional_field_id(@employee.id,additional.id) %>
							<p>
								<b><%= additional.name %></b>:<%= @additional_details.nil? ? "" : @additional_details[0].additional_info unless @additional_details.empty? %>
							</p>
							<% end %>
						</fieldset>
						
					</div>
					<div id="tab-primary" class="tabs-content">
						<div class="infossss">
								<% if @employee.employee_photo.file? %>
								<%= image_tag @employee.employee_photo.url(:large) ,:width =>100, :height =>100%>

								<% else %>
								<%= image_tag "default_employee.png", :height => 100, :width => 100%>
								<% end %>  <h3><%= @employee.first_name + ' ' + @employee.last_name %></h3>
							<p>
								<h3>Employee Number : <%= @employee.employee_number %></h3>
								<br/>
								<h3>Date of Joining : <%= @employee.joining_date.strftime('%d''-''%m''-''%Y') %></h3>
							</p>
						</div>
						<br />
						<fieldset>
							<legend>
								General Details
							</legend>
							<div class="colx2-left">
								<b>Middle Name:</b> <%= @employee.middle_name %>
								<br />
								<br />
								<b>Last Name:</b> <%= @employee.last_name %>
								<br />
								<br />
								<b>Date of Birth:</b> <%= @employee.date_of_birth.strftime('%d''-''%m''-''%Y') %>
								<br>
								<br />
								<b>Gender:</b><%if gender == 'M' %>Male
								<%else%>Female<%end%>
								<br>
							</div>
						</fieldset>
				
					</div>
					<div id="tab-contact" class="tabs-content">
						<!-- <div class="infos">
						<h3>Professional Information</h3>
						<p>professional</p>
						</div> -->
						<fieldset>
							<legend>
								School Related
							</legend>
							<div>
								<b>Department:</b> <%= @employee.employee_department.name %>
								<br>
								<br />
								<b>Category:</b> <%= @employee.employee_category.name %>
								<br>
								<br />
								<b>Position:</b> <%= @employee.employee_position.name %>
								<br>
								<br />
								<b>Job Title:</b> <%= @employee.job_title %>
								<br>
								<br />
								<b>Reporting Manager:</b> <% if @reporting_manager %>
								<%= @reporting_manager %>
								<%else%> <span class="not-selected">(not selected)</span>
								<%end%>
								<br>
								<br />
								<b>Shift:</b> <% if @employee.shift_start_time and @employee.shift_end_time %><%= @employee.shift_start_time.strftime("%I:%M%p") %> To <%= @employee.shift_end_time.strftime("%I:%M%p") %>
								<%else%>No Shift Assigned<%end%>
								<br>
								<br />
								<b>Skills:</b> 
								<br>
								<br />
							</div>
							<div class="colx2-right"></div>
						</fieldset>
						<fieldset>
							<legend>
								Experience
							</legend>
							<div>
								<b>Qualification:</b> <%= @employee.qualification %>
								<br>
								<br />
								<b>Experience:</b> <% if((@employee.experience_year == 0) && (@employee.experience_month == 0)) %>Fresher<%else%>
								<%= @employee.experience_year%>Year<%= @employee.experience_month%>Months
								<%end%>
								<br>
								<br />
								<b>Experience Info:</b> <%= @employee.experience_detail %>
								<br>
							</div>
							<div class="colx2-right"></div>
						</fieldset>
						
					</div>
					<div id="tab-parents" class="tabs-content">
						<ul class="tabs js-tabs ">
							<li class="current">
								<a href="#tab-father" title="Primary Contact">Contact</a>
							</li>
							<li>
								<a href="#tab-mother" title="Secondary Contact">Home Address</a>
							</li>
							<li>
								<a href="#tab-other" title="Other Contact">Office Address</a>
							</li>
						</ul>
						<div class="tabs-content">
							<div id="tab-father">
								<div class="infossss">
									<h3><%= @employee.father_name %></h3>
									<p>
										<%= @employee.mother_name %>
									</p>
								</div>
								<fieldset>
									<legend>
										Phone
									</legend>
									<div>
										<b>Mobile:</b> <%= @employee.mobile_phone %>
										<br>
										<br />
										<b>Home Phone:</b> <%= @employee.home_phone %>
										<br>
										<br />
										<b>Email:</b> <%= @employee.email %>
										<br>
									</div>
									<div class="colx2-right"></div>
								</fieldset>
								
							</div>
							<div id="tab-mother">
								<fieldset>
									<legend>
										Home Address
									</legend>
									<div>
										<b>Home Address Line1:</b> <%= @employee.home_address_line1 %>
										<br>
										<br />
										<b>Home Address Line1:</b> <%= @employee.home_address_line2%>
										<br>
										<br />
										<b>Home State:</b> <%= @employee.home_state %>
										<br>
										<br />
										<b>Home City:</b> <%= @employee.home_city %>
										<br>
										<br />
										<b>Home Pincode:</b> <%= @employee.home_pin_code%>
										<br>
										<br />
										<b>Home Country:</b> <% hc = @employee.home_country_id%>
										<% unless hc.nil?%>
										<% hcname = Country.find(hc)%>
										<%= hcname.name %>
										<%end%>
										<br>
									</div>
								</fieldset>
								
							</div>
							<div id="tab-other">
								<!-- <div class="infos">
								<h3>Office Address</h3>

								</div> -->
								<fieldset>
									<legend>
										Office Address
									</legend>
									<div>
										<b>Office Address Line1:</b> <%= @employee.office_address_line1 %>
										<br>
										<br />
										<b>Office Address Line2:</b> <%= @employee.office_address_line2%>
										<br>
										<br />
										<b>Office State:</b> <%= @employee.office_state %>
										<br>
										<br />
										<b>Office City:</b> <%= @employee.office_city %>
										<br>
										<br />
										<b>Office Pincode:</b> <%= @employee.office_pin_code%>
										<br>
										<br />
										<b>Office Country:</b> <% hc = @employee.office_country_id%>
										<%unless hc.nil?%>
										<% hcname = Country.find(hc)%>
										<%= hcname.name %>
										<%end%>
										<br>
									</div>
									<div class="colx2-right"></div>
								</fieldset>
								<fieldset>
									<legend>
										Other Info
									</legend>
									<div>
										<b>Office Phone1:</b> <%= @employee.office_phone1 %>
										<br>
										<br />
										<b>Office Phone2:</b> <%= @employee.office_phone2 %>
										<br>
										<br />
										<b>Fax:</b><%= @employee.fax %>
										<br>
									</div>
								</fieldset>
								
							</div>
						</div>
					</div>
					<div id="tab-additional-info" class="tabs-content">
						<!-- <div class="infos">
						<h3>Personal Info</h3>
						<p>Custome Fields</p>
						</div> -->
						<fieldset>
							<legend>
								Personal Details
							</legend>
							<div>
								<b>Marital Status:</b> <%= @employee.marital_status %>
								<br>
								<br />
								<b>Spouse Name:</b> <%= @employee.husband_name %>
								<br>
								<br />
								<b>No Of Children:</b> <%= @employee.children_count %>
								<br>
								<br />
								<b>Mother Name:</b> <%= @employee.mother_name %>
								<br>
								<br />
								<b>Father Name:</b> <%= @employee.father_name %>
								<br>
								<br />
								<b>Blood Group:</b> <%= @employee.blood_group %>
								<br>
								<br />
								<b>Nationality:</b> <%= @employee.nationality.name %>
								<br>
							</div>
						</fieldset>
						
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
