<div class="block-border" id="outer_block">
	<div class="block-content form">
		<h1>Employee</h1>
		<h3>Leaving school</h3>
		<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
					<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back%>
				</li>
				</ul>
			</div>
		
			<div id="student-details">
				<h4> <%= @employee.first_name %> | Employee no : <%= @employee.employee_number %> | Department : <%= @employee.employee_department.name %> </h4>
			</div>
			<div class="extender"></div>
			<div id="remove-student">
				<p>
					For employees leaving the school, use this option to remove them from the list of active employees and place them in the former employees list.
				</p>
				<%= form_for :remove, :url =>{:id => @employee.id} do |f| %>
				<div class="columns">
					<p class="colx2-left required">
						<label for="exam_name">Reason for leaving</label>
						<%= f.text_area :status_description,:class => "full-width", :style=> "width: 382px; height: 72px;" %>
					</p>
				</div>
				<fieldset class="grey-bg no-margin">
					<legend>
						Action
					</legend>
					<p class="input-with-button">
						<%= f.submit "Save", :class => "big-button",:id=>"archive_employee"%>
					</p>
				</fieldset>
				<% end %>
			</div>
		
	</div>
</div>
