
<div class="block-border">
	<div class="block-content form">

  <h1>Monthly payslip</h1>
  <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
				</div>	

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <%= form_for :manage_payroll ,:url=>{:id=>@employee.id} do |s| %>
<table class="table" cellpadding="0" cellspacing="0" align="center">
				<thead>
					<tr>
					<th scope="col">Payroll Category</th>
				<th scope="col">Amount</th>
				</tr>
			</thead>
			<tbody>
    	<div class="columns">
									<p class="colx3-left required">
										<label for="salary_date">Salary date</label>
 <%=text_field_tag :salary_date,@date.strftime('%d''-''%m''-''%Y'), :class =>'datepicker',:size=>20%>	</p> 
								</div>


   

  <% @independent_categories.each do |c| %>
      <%- val = EmployeeSalaryStructure.find_by_employee_id_and_payroll_category_id(@employee, c) -%>
     <tr>
     	<td>	<%= c.name %></td>
     	<td><%= s.text_field :amount, :index => c.id,:value => (val.nil? ? 0 : val.amount)%> </td></tr>
     
    <% end %>
  <% @dependent_categories.each do |c| %>
      <%- val = EmployeeSalaryStructure.find_by_employee_id_and_payroll_category_id(@employee, c) -%>
    <tr>
     	<td>	<%= c.name %></td>
     	<td><%= s.text_field :amount, :index => c.id,:value => (val.nil? ? 0 : val.amount)%> </td></tr>
     
    <% end %>

</tbody></table>
   <fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= s.submit "Update", :class => "big-button"%>
								</p>
							</fieldset>
  <% end %>


  <div id="individual-payslip-categories">
    <div id="individual-payslip-categories-list">
      
      <!-- div id="payslip-category-form"> </div -->
    </div>
  </div>
  <div class="extender"></div>
</div>
</div>

