

<div class="block-border">
	<div class="block-content form">
  <h1>Department wise payslip</h1>
 <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
				</div>	


  <% unless flash[:warn_notice].nil? %><p class="message error"> <%= flash[:warn_notice] %> </p><% end %>
  <%= form_for :payslip do |f| %>
   <div class="columns">
   	<p class="colx3-left required">
										<label for="Select a department">Select a department:</label>
        <% selected_dept = params[:payslip].blank? ? "" : params[:payslip][:department_id].blank? ? "" : params[:payslip][:department_id] %>
        <% selected_salary_date = params[:payslip].blank? ? "" : params[:payslip][:salary_date].blank? ? "" : params[:payslip][:salary_date] %>
         <%= f.select :department_id, [['All Deparments','All']] + @departments.map { |c| [c.name, c.id] }, {:selected=>selected_dept.to_i,:prompt => "Select"}
        %>
       </p>
    	<p class="colx3-left required">
        <label for="Select a month">Select a month:</label>
        
          <%= f.select :salary_date, @salary_dates.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},
            {:selected=>selected_salary_date,:prompt => 'Select'} %>
       </p>
        </div>
     <fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= f.submit "View", :class => "big-button",:id=>'view_payslip'%>
								</p>
							</fieldset>
  <% end %>
  <br /><br /><br />
  <div id="payslip">
    <% if request.post? %>
      <% if @payslips[:monthly_payslips].present? or @payslips[:individual_payslip_category].present? %>
        <% grouped_monthly_payslips = @payslips[:monthly_payslips] unless @payslips[:monthly_payslips].blank?%>
        <% grouped_individual_payslip_categories = @payslips[:individual_payslip_category] unless @payslips[:individual_payslip_category].blank?%>
        <table class="table department_payslip_tab" id="listing" width="100%">
        	<thead><tr>
        		<th class="black-cell"></th>
            <th scope="col">Sl</th>
            <th scope="col">Employee</th>
            <th scope="col">Employee No.</th>
            <th scope="col">Net Salary</th>
            <th scope="col">Payslip status</th>
            <th scope="col"></th>
          </tr></thead>
          <tbody>
          <% total_salary = 0 %>
          <%  total_approved_salary = 0 %>
          <% total_employees = 0 %>
          <% unless  grouped_monthly_payslips.blank? %>
            <% grouped_monthly_payslips.each_with_index do |(empid,payslip),i| %>
              <tr>
                <% if payslip and payslip.first and payslip.first.active_or_archived_employee %>
                 <td></td>
                  <td>  <%=  i+1 %></td>
                  <td>  <%= payslip.first.active_or_archived_employee.full_name %></td>
                  <td>  <%= payslip.first.active_or_archived_employee.employee_number %></td>
                  <% grouped_individual_payslip_category = nil %>
                  <% unless grouped_individual_payslip_categories.blank? %>
                    <% grouped_individual_payslip_category = grouped_individual_payslip_categories[empid] unless grouped_individual_payslip_categories[empid].nil? %>
                  <% end %>

                  <% emp_payslip = Employee.calculate_salary(payslip,grouped_individual_payslip_category) %>
                  <td>  <%="%.2f" %emp_payslip[:net_amount] unless emp_payslip.nil? %></td>
                  <td>  <%= payslip.first.status_as_text %></td>
                  <td><%= link_to "View",{:action=>"view_employee_payslip",:id=>payslip.first.employee_id,:salary_date=>params[:payslip][:salary_date]} %></td>
                <% end %>
                <% total_salary +=  emp_payslip[:net_amount].to_f unless emp_payslip.nil?  %>
                <% total_approved_salary +=  emp_payslip[:net_amount].to_f if  !emp_payslip.nil? and payslip.first.is_approved  %>
                <% total_employees = i+1 %>
              </tr>
            <% end %>
          <% end %>
          <tr>
          	<td></td>
            <td><b>Total employees:</b> </td>
            <td><b><%= total_employees %> </b></td>
            <td><b>Total salary : <b></td>
            <td><b><%="%.2f" %total_salary %></b></td>
            <td><b>Approved salary : </b></td>
            <td><b><%="%.2f" %total_approved_salary %></b></td>
          </tr>
</tbody>
        </table>
      <% else %>
        <div class="no-data">No Payslips found.</div>
      <% end %>
    <% end %>
  </div>

</div>
</div>
