<div class="block-border" id="" >
	<div class="block-content">
		<h1>Profile</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller=>'/sessions',:action=>'dashboard' %>
				</li>
			</ul>
		</div>
		<% unless flash[:warn_notice].nil? %>
		<ul class="message error">
			<li>
				<%= flash[:warn_notice] %>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
		<% unless flash[:notice].nil? %>
		<ul class="message success">
			<li>
				<%= flash[:notice] %>
			</li>
			<li class="close-bt"></li>
		</ul>
		<% end %>
		<%unless @err_count.nil? or @errors.nil?%>
    <ul class="message error ">
					<li>
						<strong><%= pluralize(@err_count, "error") %></strong> prohibited this <strong><%= @err_count.class.to_s.underscore.humanize.downcase %></strong> from being saved:
						<ul>
							<%@errors.each do |err|%>
						        <li><%= err %></li>
						    <% end %>
						</ul>
					</li>
					<li class="close-bt"></li>
				</ul>
				<%end%>
		<div class="columns">
			<div class="col200pxL-left" style="float: left; width: 150px;">
				<h3>ID : <%= @employee.employee_number%></h3>
				<h3>Name : <%= @employee.first_name + ' ' + @employee.last_name %></h3>
				<ul class="side-tabs js-tabs ">
					<li>
						<a href="#tab-global" title="Global properties">General </a>
					</li>
					<li>
						<a href="#tab-settings" title="Language settings">Professional </a>
					</li>
					<li>
						<a href="#tab-relations" title="Relations">Personal </a>
					</li>
					<li>
						<a href="#tab-history" title="History">Contacts </a>
					</li>
					<li>
						<a href="#tab-bank_field" title="History">Bank Information</a>
					</li>
					<li>
						<a href="#tab-additional_field" title="History">Additional Information</a>
					</li>
					<li>
						<a href="#tab-employee_leave_report" title="Leave Report">Leaves</a>
					</li>					
					<li>
						<a href="#tab-skills" title="Skill">Assign Skills</a>
					</li>
					<li>
						<a href="#tab-employee_constraints" title="employee_constraints">Employee Constraints</a>
					</li>
				</ul>
				<br />
				<br />
				<br />
				<div class="col200pxL-bottom">
					<p class="input-with-button">
						<input type="button" class="big-button" id="edit_priviligess" value="Assign Priviliges" onclick="$(location).attr('href','/employees/edit_privilege?id=<%= @employee.employee_number%>');"/>
					</p>
				</div>
			</div>
			<input type="hidden" name="image_employee" id="image_employee" value ="<%= @employee.id%>"/>
			<div class="col200pxL-right" style="margin-left:  150px;">
				<div id="tab-bank_field" class="tabs-content">
					<%= render :partial => 'admission3'%>
				</div>
				<div id="tab-additional_field" class="tabs-content">
					<%= render :partial => 'admission3_1'%>
				</div>
				<div id="tab-history" class="tabs-content">
					<ul class="tabs js-tabs ">
						<li class="current">
							<a href="#tab-locales" title="Locales">Contact</a>
						</li>
						<li>
							<a href="#home_address" title="Options">Home Address</a>
						</li>
						<li>
							<a href="#office_address" title="Options">Office Address</a>
						</li>
					</ul>
					<div class="tabs-content">
						<div id="office_address">
							<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
							<fieldset>
								<legend>
									Office Address
								</legend>
								<div class="columns">
									<p class="colx2-left">
										<label for="complex-en-url"> Line1</label>
										<span class="relative"> <%= form.text_field :office_address_line1, :class => "full-width full-length",:field_name=>'Line1' %> </span>
									</p>
									<p class="colx2-right">
										<label for="complex-en-subtitle"> Line2</label>
										<%= form.text_field :office_address_line2, :class => "full-width full-length",:field_name=>'Line2' %>
									</p>
									<p class="colx2-left">
										<label for="complex-en-subtitle">State</label>
										<%= form.text_field :office_state, :class => "full-width full-length",:field_name=>'State' %>
									</p>
									<p class="colx2-right">
										<label for="complex-en-subtitle">City</label>
										<%= form.text_field :office_city, :class => "full-width full-length",:field_name=>'City' %>
									</p>
									<p class="colx2-left">
										<label for="complex-en-subtitle">Pin code</label>
										<%= form.text_field :office_pin_code, :class => "full-width pincode" %>
									</p>
								</div>
							</fieldset>
							<fieldset>
								<legend>
									Other Details
								</legend>
								<div class="columns">
									<p class="colx3-left">
										<label for="complex-en-url">Office Phone1</label>
										<span class="relative"> <%= form.text_field :office_phone1, :class => "full-width phone" %> </span>
									</p>
									<p class="colx3-center">
										<label for="complex-en-subtitle">Office Phone2</label>
										<%= form.text_field :office_phone2, :class => "full-width phone" %>
									</p>
									<p class="colx3-right">
										<label for="complex-en-subtitle">Fax</label>
										<%= form.text_field :fax, :class => "full-width phone" %>
									</p>
								</div>
							</fieldset>
							<fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= form.submit "Update", :class => "big-button", :id => 'general_button5'%>
								</p>
							</fieldset>
							<%end%>
						</div>
						<div id="home_address">
							<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
							<fieldset>
								<legend>
									Home Address
								</legend>
								<div class="columns">
									<p class="colx2-left">
										<label for="complex-en-url">Line1</label>
										<span class="relative"> <%= form.text_field :home_address_line1, :class => "full-width full-length",:field_name=>'Line1' %> </span>
									</p>
									<p class="colx2-right">
										<label for="complex-en-subtitle">Line2</label>
										<%= form.text_field :home_address_line2, :class => "full-width full-length",:field_name=>'Line2' %>
									</p>
									<p class="colx2-left">
										<label for="complex-en-subtitle">State</label>
										<%= form.text_field :home_state, :class => "full-width full-length",:field_name=>'State' %>
									</p>
									<p class="colx2-right">
										<label for="complex-en-subtitle">City</label>
										<%= form.text_field :home_city, :class => "full-width full-length",:field_name=>'City' %>
									</p>
									<p class="colx2-left">
										<label for="complex-en-subtitle">Pin code</label>
										<%= form.text_field :home_pin_code, :class => "full-width pincode" %>
									</p>
								</div>
							</fieldset>
							<fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= form.submit "Update", :class => "big-button", :id => 'general_button4'%>
								</p>
							</fieldset>
							<%end%>
						</div>
						<div id="tab-locales">
							<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
							<fieldset>
								<legend>
									Contact
								</legend>
								<div class="columns">
									<p class="colx3-left required">
										<label for="complex-en-subtitle">Mobile</label>
										<%= form.text_field :mobile_phone, :class => "full-width" %>
									</p>
									<p class="colx3-center">
										<label for="complex-en-subtitle">Home Phone</label>
										<%= form.text_field :home_phone, :class => "full-width phone" %>
									</p>
									<p class="colx3-right">
										<label for="complex-en-subtitle">Email</label>
										<%= form.text_field :email,:id =>'employeeee',:size=>15 %>
									</p>
								</div>
							</fieldset>
							<fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= form.submit "Update", :class => "big-button", :id => 'general_button3'%>
								</p>
							</fieldset>
							<%end%>
						</div>
					</div>
				</div>
				<div id="tab-global" class="tabs-content">
					<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
					<fieldset class="grey-bg">
						<legend>
							Employee Details
						</legend>
						<div class="columns">
							<p class="colx3-left">
								<label for="employee[employee_number]" class="required">Employee Number</label>
								<span class="relative"> <%= form.text_field :employee_number, :size => 20,:id => "employee_number",:readonly => 1 %> </span>
							</p>
							<p class="colx3-right">
								<div class="my_image_class">
								<%if FileTest.exist?("#{RAILS_ROOT}/public/system/employee_photos/#{@employee.id}")%>
								<%= image_tag @employee.employee_photo.url(:large) ,:width =>100, :height =>100%>

								<% else %>
								<% if @employee.gender.upcase=="M"%>
												<%= image_tag "male_employee.png" ,:height => 100, :width => 100%>
										    <%else%>
												<%= image_tag "female_employee.png" ,:height => 100, :width => 100%>
										    <%end%>
								<% end %> <a href="#"  onClick="window.open('image_store?id=<%= @employee.id%>','mywindow','width=850,height=500,left=300,top=100,screenX=100,screenY=100,scrollbars=yes,location=no ')">Change Image</a>
							</div>
							</p>
						</div>
						<div class="columns">
							<p class="colx3-left">
								<label for="employee[first_name]"  class="required">First Name</label>
								<span class="relative"> <%= form.text_field :first_name, :class => "full-width full-length", :id => "first_name",:field_name=>'First Name' %> </span>
							</p>
							<p class="colx3-center">
								<label for="employee[middle_name]">Middle Name</label>
								<span class="relative"> <%= form.text_field :middle_name, :class => "full-width full-length",:field_name=>'Middle Name' %> </span>
							</p>
							<p class="colx3-right">
								<label for="employee[last_name]" class="required">Last Name</label>
								<span class="relative"><%= form.text_field :last_name, :class => "full-width full-length",:field_name=>'Last Name' %> </span>
							</p>
							
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Personal Information
						</legend>
						<div class="columns">
							<p class="colx3-left">
								<label for="employee[date_of_birth]" class="required">Birth Date</label>
								<span class="input-type-text"><%= form.text_field :date_of_birth, :class => "datepicker", :size => 10, :id => "birth_date", :value => (@employee.date_of_birth.strftime('%d''-''%m''-''%Y') unless @employee.date_of_birth.nil?)  %><%= image_tag "icons/fugue/calendar-month.png" %></span>
							</p>
							<p class="colx3-right">
								<label for="employee[joining_date]" class="required">Joining Date</label>
								<span class="input-type-text"><%= form.text_field :joining_date, :class => "datepicker", :size => 10, :id =>"joining_date", :value => (@employee.joining_date.strftime('%d''-''%m''-''%Y') unless @employee.joining_date.nil?) %><%= image_tag "icons/fugue/calendar-month.png" %></span>
							</p>
							<p class="colx3-center">
								<label>Gender</label>
								<%= form.radio_button  "gender", "M", :checked => "checked" %>&nbsp;<label for="gender">Male</label>
								<%= form.radio_button  "gender", "F" %>&nbsp;<label for="gender">Female</label>
							</p>
						</div>
					</fieldset>
					<fieldset class="grey-bg no-margin">
						<legend>
							Action
						</legend>
						<p class="input-with-button">
							<%= form.submit "Update", :class => "big-button", :id => 'general_button1'%>
						</p>
					</fieldset>
					<% end %>
				</div>
				<div id="tab-settings" class="tabs-content">
					<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
					<fieldset class="grey-bg">
						<legend>
							Department
						</legend>
						<div class="columns">
							<div class="colx2-left" >
								<div class="columns">
									<p class="colx2-left required select-fixed-width1">
										<label for="complex-fr-style">Department</label>
										<%= select :employee, :employee_department_id, @departments.map {|s| [s.name, s.id]}, :prompt => "Select" %>
									</p>
									<p class="colx2-right required select-fixed-width1">
										<label for="complex-fr-style">Category</label>
										<%= select :employee, :employee_category_id, @categories.map {|s| [s.name, s.id]}, :prompt => "Select "%>
									</p>
								</div>
							</div>
							<div class="colx2-right">
								<div class="columns">
									<p class="colx2-left select-fixed-width1">
										<label for="complex-fr-style">Grade</label>
										<%= select :employee, :employee_grade_id, @grades.map {|s| [s.name, s.id]}, :prompt => "Select " %>
									</p>
									<p class="colx2-right required select-fixed-width1" id="updated_position">
										<label for="complex-fr-style">Position</label>
										<%= select :employee, :employee_position_id, @positions.map {|s| [s.name, s.id]}, :prompt => "Select " %>
									</p>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Job Profile
						</legend>
						<div class="columns">
							<div class="colx2-left">
								<p>
									<label for="simple-calendar">Reporting Manager</label>
									<div id="changed-manager-name">
										<% if @reporting_manager %>
										<%= @reporting_manager %>
										<%else%> <span class="not-selected"></span>
										<%end%>
									</div>
									<span class="input-type-text margin-right">
										<input type="text" name="simple-calendar" id="reporting_text" placeholder="Search by first name">
										<img src="/assets/icons/fugue/magnifier.png" width="16" height="16"> </span>
									<%= form.hidden_field :reporting_manager_id %> <div id="reporting" style="height:60px; overflow : auto; width: 210px"></div>
								</p>
								<p>
									<label for="is transport enable">Is Transport Enabled</label>
									<%= form.check_box :is_transport_enabled%>
									</p>
							</div>
							<div class="colx3-right">
								<!-- <div >
									<label for="simple-action">Employee Status</label>
									<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label>
									<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
								</div> -->
								<br />
								<br />
								<div>
									<p>
										<label for="simple-select">Shift Start Time</label>
										<%=form.time_select :shift_start_time, :minute_step => 15, :ampm => true %>
									</p>
									<p>
										<label for="simple-select">Shift End Time</label>
										<%=form.time_select :shift_end_time, :minute_step => 15, :ampm => true %>
									</p>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							Experience
						</legend>
						<div class="columns">
							<p class="colx2-left">
								<label for="complex-en-subtitle">Qualification</label>
								<%= form.text_field :qualification, :class => "full-width full-length",:field_name=>'Qualification' %>
							</p>
							<p class="colx2-right">
								<label for="simple-select">Experience</label>
								<%= select(:employee, :experience_year, @year) %>
								<%= select( :employee, :experience_month, [['Months'],[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11]]) %>
							</p>
						</div>
						<div>
							<label for="complex-en-subtitle">Experience info</label>
							<%= form.text_area :experience_detail, :class => "full-widths", :style=> "width: 382px; height: 72px;",:field_name=>'Experience info' %>
						</div>
					</fieldset>
					<fieldset class="grey-bg no-margin">
						<legend>
							Action
						</legend>
						<p class="input-with-button">
							 <%privilege = @current_user.privileges.map{|p| p.id}%>
							 <%hr_basic = Privilege.find_by_name('HrBasics')%>
							 <%basic_id = hr_basic.id unless hr_basic.nil?%>
							<%if current_user.employee && !privilege.include?(basic_id)%>
							<%= form.submit "Update", :class => "big-button", :id => 'general_button',:disabled=>"disabled"%>
							<%else%>
							<%= form.submit "Update", :class => "big-button", :id => 'general_button'%>
							<%end%>
						</p>
					</fieldset>
					<% end %>
				</div>
				<div id="tab-relations" class="tabs-content">
					<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
					<fieldset>
						<legend>
							Personal Informations
						</legend>
						<div class="columns">
							<p class="colx3-left">
								<label for="complex-en-url">No Of Children</label>
								<span class="relative"> <%= form.text_field :children_count, :class => "full-width full-length" %> </span>
							</p>
							<p class="colx3-right">
								<label for="complex-en-subtitle">Father Name</label>
								<span class="relative"> <%= form.text_field :father_name, :class => "full-width full-length" %> </span>
							</p>
							<p class="colx2-left">
								<label for="complex-en-subtitle">Mother Name</label>
								<span class="relative"> <%= form.text_field :mother_name, :class => "full-width full-length" %> </span>
							</p>
							<p class="colx3-right">
								<label for="complex-en-subtitle">Spouse Name</label>
								<span class="relative"> <%= form.text_field :husband_name, :class => "full-width full-length" %> </span>
							</p>
							<p class="colx3-left select-fixed-width1">
								<label for="simple-select">Blood Group</label>
								<%= select(:employee, :blood_group, ["A+ve", "A-ve", "B+ve", "B-ve", "O+ve", "O-ve", "AB+ve", "AB-ve"],:prompt => 'Select') %>
							</p>
							<p class="colx3-right select-fixed-width1">
								<label for="simple-select">Marital Status</label>
								<%= select(:employee, :marital_status, [['Single'],['Married']]) %>
							</p>
							<p class="colx2-left select-fixed-width1">
								<label for="simple-select">Nationality</label>
								<%= select :employee, :nationality_id, @nationality.map {|s| [s.name, s.id]}, :prompt => "Select " %>
							</p>
						</div>
					</fieldset>
					<fieldset class="grey-bg no-margin">
						<legend>
							Action
						</legend>
						<p class="input-with-button">
							<%= form.submit "Update", :class => "big-button", :id => 'general_button2'%>
						</p>
					</fieldset>
					<% end %>
				</div>
				<div id="tab-skills" class="tabs-content">
					<%= render 'all_skill'%>
				</div>
				<div id="tab-employee_constraints" class="tabs-content " >
					<div class = "block-content form " id = "form">
						<%= render 'employee_constraints'%>
					</div>
				</div>
				<div id="tab-employee_leave_report" class="tabs-content">
					<%= render 'attendance_report'%>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-boxes" style="display:none"></div>
