<div class="block-border">
	<div class="block-content">
		<h1>Leave and Attendance</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :controller=>'sessions',:action=>'dashboard' %>
				</li>
			</ul>
		</div>
		<% unless flash[:notice].nil? %>
		<p class="flash-msg">
			<%= flash[:notice] %>
		</p>
		<% end %>
		
		<ul class="shortcuts-list">
			<li>
				<a href="/employee_attendance/add_leave_types"><%= image_tag "dashboard/add-leave-type-icon.png", :size => "48x48"  %><h4>Add Leave types</h4></a>
			</li>
			<li>
				<a href="/employee_attendances/index"><%= image_tag "dashboard/atttendance-register-icon.png", :size => "48x48"  %><h4>Attendance register</h4></a>
			</li>
			<li>
				<a href="/employee_attendance/report"><%= image_tag "dashboard/atttendance-report-icon.png", :size => "48x48"  %><h4>Attendance report</h4></a>
			</li>
			<li>
				<a href="/employee_attendance/manual_reset"><%= image_tag "dashboard/reset-leave-type-icon.png", :size => "48x48"  %><h4>Reset leaves</h4></a>
			</li>
		</ul>
	</div>
</div>