<div class="block-border" id="outer_block">
	<div class="block-content">
		<section class="grid_16">
			<h1>Profile</h1>
			<h3>Employee Number : <%= @employee.employee_number%></h3>
			<h3>Name : <%= @employee.first_name + ' ' + @employee.last_name %></h3>
			<div class="columns">
				<div class="col200pxL-left">
					<h2></h2>
					<ul class="side-tabs js-tabs ">
						<li>
							<a href="#tab-global" title="Global properties">General Info</a>
						</li>
						<li>
							<a href="#tab-settings" title="Language settings">Professional Info</a>
						</li>
						<li>
							<a href="#tab-relations" title="Relations">Personal Info</a>
						</li>
						<li>
							<a href="#tab-history" title="History">Contacts Info</a>
						</li>
						<li>
							<a href="#tab-bank_field" title="History">Bank Information</a>
						</li>
						<li>
							<a href="#tab-additional_field" title="History">Additional Information</a>
						</li>
						<li>
							<p class="input-with-button">
								<input type="button" class="big-button" id="edit_priviligess" value="Assign Priviliges" onclick="$(location).attr('href','/employees/edit_privilege?id=<%= @employee.employee_number%>');"/>
							</p>
						</li>
					</ul>
				</div>
				<input type="hidden" name="image_employee" id="image_employee" value ="<%= @employee.id%>"/>
				<div class="col200pxL-right">
					<div id="tab-bank_field" class="tabs-content">
						<div class="block-border" id="outer_block">
							<%= render :partial => 'admission3'%>
						</div>
					</div>
					<div id="tab-additional_field" class="tabs-content">
						<div class="block-border" id="outer_block">
							<%= render :partial => 'admission3_1'%>
						</div>
					</div>
					<div id="tab-history" class="tabs-content">
						<ul class="tabs js-tabs ">
							<li class="current">
								<a href="#tab-locales" title="Locales">Contact</a>
							</li>
							<li>
								<a href="#home_address" title="Options">Home Address</a>
							</li>
							<li>
								<a href="#office_address" title="Options">Office Address</a>
							</li>
							<li class="with-margin">
								<a href="javascript:void(0)" title="Add tab"><img src="images/icons/add.png" width="16" height="16"></a>
							</li>
						</ul>
						<div class="tabs-content">
							<div id="office_address">
								<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
								

									<fieldset>
										<legend>
											Office Address
										</legend>
										<div class="columns">
											<p class="colx2-left">
												<label for="complex-en-url">Line1</label>
												<span class="relative"> <%= form.text_field :office_address_line1, :class => "full-width" %> </span>
											</p>
											<p class="colx2-right">
												<label for="complex-en-subtitle">Line2</label>
												<%= form.text_field :office_address_line2, :class => "full-width" %>
											</p>
											<p class="colx2-left">
												<label for="complex-en-subtitle">state</label>
												<%= form.text_field :office_state, :class => "full-width" %>
											</p>
											<p class="colx2-right">
												<label for="complex-en-subtitle">city</label>
												<%= form.text_field :office_city, :class => "full-width" %>
											</p>
											<p class="colx2-left">
												<label for="complex-en-subtitle" class="required">pin code</label>
												<%= form.text_field :office_pin_code, :class => "full-width pincode" %>
											</p>
										</div>
									</fieldset>
									<fieldset>
										<legend>
											Other Details
										</legend>
										<div class="columns">
											<p class="colx3-left">
												<label for="complex-en-url">Office Phone1</label>
												<span class="relative"> <%= form.text_field :office_phone1, :class => "full-width phone" %> </span>
											</p>
											<p class="colx3-center">
												<label for="complex-en-subtitle">Office Phone2</label>
												<%= form.text_field :office_phone2, :class => "full-width phone" %>
											</p>
											<p class="colx3-right">
												<label for="complex-en-subtitle">Fax</label>
												<%= form.text_field :fax, :class => "full-width" %>
											</p>
										</div>
									</fieldset>
								

								<fieldset class="grey-bg no-margin">
									<legend>
										Action
									</legend>
									<p class="input-with-button">
										<%= form.submit "Update", :class => "big-button", :id => 'general_button'%>
									</p>
								</fieldset>
								<%end%>
							</div>
							<div id="home_address">
								<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
								
									<fieldset>
										<legend>
											Home Address
										</legend>
										<div class="columns">
											<p class="colx2-left">
												<label for="complex-en-url">Address Line1</label>
												<span class="relative"> <%= form.text_field :home_address_line1, :class => "full-width" %> </span>
											</p>
											<p class="colx2-right">
												<label for="complex-en-subtitle">Address Line2</label>
												<%= form.text_field :home_address_line2, :class => "full-width" %>
											</p>
											<p class="colx2-left">
												<label for="complex-en-subtitle">state</label>
												<%= form.text_field :home_state, :class => "full-width" %>
											</p>
											<p class="colx2-right">
												<label for="complex-en-subtitle">city</label>
												<%= form.text_field :home_city, :class => "full-width" %>
											</p>
											<p class="colx2-left">
												<label for="complex-en-subtitle">pin code</label>
												<%= form.text_field :home_pin_code, :class => "full-width pincode" %>
											</p>
										</div>
									</fieldset>
							
								<fieldset class="grey-bg no-margin">
									<legend>
										Action
									</legend>
									<p class="input-with-button">
										<%= form.submit "Update", :class => "big-button", :id => 'general_button'%>
									</p>
								</fieldset>
								<%end%>
							</div>
							<div id="tab-locales">
								<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
								
									<fieldset>
										<legend>
											Contact
										</legend>
										<div class="columns">
											<p class="colx3-left required">
												<label for="complex-en-subtitle">Mobile</label>
												<%= form.text_field :mobile_phone, :class => "full-width" %>
											</p>
											<p class="colx3-center">
												<label for="complex-en-subtitle">Home Phone</label>
												<%= form.text_field :home_phone, :class => "full-width phone" %>
											</p>
											<p class="colx3-right">
												<label for="complex-en-subtitle">Email</label>
												<%= form.text_field :email, :class => "full-width" %>
											</p>
										</div>
									</fieldset>
								
								<fieldset class="grey-bg no-margin">
									<legend>
										Action
									</legend>
									<p class="input-with-button">
										<%= form.submit "Update", :class => "big-button", :id => 'general_button'%>
									</p>
								</fieldset>
								<%end%>
							</div>
						</div>
					</div>
					<div id="tab-global" class="tabs-content">
						<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
						
							<fieldset class="grey-bg">
								<legend>
									Employee Details
								</legend>
								<div class="columns">
									<p class="colx3-left">
										<label for="employee[employee_number]" class="required">Employee Number</label>
										<span class="relative"> <%= form.text_field :employee_number, :size => 20,:id => "employee_number" %> </span>
									</p>
									<p class="colx3-right">
										
										<% if @employee.photo.file? %>
										<%= image_tag @employee.photo.url(:large) %>
										<% else %>
										<%= image_tag "default_employee.png", :height => 50, :width => 50%>
										<% end %> <a href=""  onClick="window.open('image_store?id=<%= @employee.id%>','mywindow','width=850,height=500,left=300,top=100,screenX=100,screenY=100,scrollbars=yes,location=no ')">Change Image</a>
									</p>
								</div>
								<div class="columns">
									<p class="colx3-left">
										<label for="employee[first_name]"  class="required">First Name</label>
										<span class="relative"> <%= form.text_field :first_name, :class => "full-width", :id => "first_name" %> </span>
									</p>
									<p class="colx3-center">
										<label for="employee[middle_name]">Middle Name</label>
										<span class="relative"> <%= form.text_field :middle_name, :class => "full-width" %> </span>
									</p>
									<p class="colx3-right">
										<label for="employee[last_name]">Last Name</label>
										<span class="relative"><%= form.text_field :last_name, :class => "full-width" %> </span>
									</p>
								</div>
							</fieldset>
							<fieldset>
								<legend>
									Personal Information
								</legend>
								<div class="columns">
									<p class="colx3-left">
										<label for="employee[date_of_birth]" class="required">Birth Date</label>
										<span class="input-type-text"><%= form.text_field :date_of_birth, :class => "datepicker", :size => 20, :id => "birth_date", :value => Date.today-6570 %><%= image_tag "icons/fugue/calendar-month.png" %></span>
									</p>
									<p class="colx3-right">
										<label for="employee[joining_date]" class="required">Joining Date</label>
										<span class="input-type-text"><%= form.text_field :joining_date, :class => "datepicker", :size => 20, :id =>"joining_date", :value => Date.today %><%= image_tag "icons/fugue/calendar-month.png" %></span>
									</p>
									<p class="colx3-center">
										<label>Gender</label>
										<%= form.radio_button  "gender", "true", :checked => "checked" %>&nbsp;<label for="gender">Male</label>
										<%= form.radio_button  "gender", "false" %>&nbsp;<label for="gender">Female</label>
									</p>
								</div>
							</fieldset>
							<%= form.submit "Update", :class => "big-button", :id =>"general_button" %>
							<% end %>
						
					</div>
					<div id="tab-settings" class="tabs-content">
						<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>

							<fieldset class="grey-bg required">
								<legend>
									Department
								</legend>
								<div class="columns">
									<div class="columns">
										<p class="colx3-left select-fixed-width1">
											<label for="complex-fr-style">Department</label>
											<%= select :employee, :employee_department_id, @departments.map {|s| [s.name, s.id]}, :prompt => "Select Department" %>
										</p>
										<p class="colx3-right select-fixed-width1">
											<label for="complex-fr-style">Category</label>
											<%= select :employee, :employee_category_id, @categories.map {|s| [s.name, s.id]}, :prompt => "Select Category"%>
										</p>
									</div>
									<div class="columns">
										<p class="colx3-left select-fixed-width1">
											<label for="complex-fr-style">grade</label>
											<%= select :employee, :employee_grade_id, @grades.map {|s| [s.name, s.id]}, :prompt => "Select grade" %>
										</p>
										<p class="colx3-right select-fixed-width1">
											<label for="complex-fr-style">Position</label>
											<%= select :employee, :employee_position_id, @positions.map {|s| [s.name, s.id]}, :prompt => "Select Position" %>
										</p>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>
									Job Profile
								</legend>
								<div class="columns">
									<div class="colx2-left">
										<p>
											<label for="simple-calendar">Reporting Manager</label>
											<div id="changed-manager-name">
												<% if @reporting_manager %>
												<%= @reporting_manager %>
												<%else%> <span class="not-selected">(not selected)</span>
												<%end%>
											</div>
											<span class="input-type-text margin-right">
												<input type="text" name="simple-calendar" id="reporting_text">
												<img src="/assets/icons/fugue/magnifier.png" width="16" height="16"> </span>
											<%= form.hidden_field :reporting_manager_id %>
											<button type="button" id="manager_search">
												Search
											</button>
											<div id="reporting"></div>
										</p>
										<p>
											<label for="simple-select">Shift Start Time</label>
											<%= time_select 'employee', 'shift_start_time', { :minute_step => 15, :default => @start_time, :value => @employee.shift_start_time} %>
										</p>
										<p>
											<label for="simple-select">Shift End Time</label>
											<%= time_select 'employee', 'shift_end_time', {  :minute_step => 15, :default => @end_time, :value => @employee.shift_start_time} %>
										</p>
									</div>
									<div class="colx2-right">
										<h2>Skills</h2>
										<ul id="skills-list" class="mini-blocks-list">
											<div id="skills"></div>
											<li>
												<span class="input-type-text margin-right">
													<input type="text" name="skill" id="skill_text" value="">
													<img src="/assets/icons/fugue/magnifier.png" width="16" height="16"> </span>
												<button type="button" id="skill_search_button">
													Search
												</button>
											</li>
										</ul>
										<div class="grey-bg">
											<label for="simple-action">Employee Status</label>
											<%= form.radio_button  "status", "true", :checked => "checked" %>&nbsp;<label for="complex-en-active-1">Active</label>
											<%= form.radio_button  "status", "false" %>&nbsp;<label for="complex-en-active-0">Inactive</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>
									Experience
								</legend>
								<div class="columns">
									<p class="colx2-left">
										<label for="complex-en-subtitle">Qualification</label>
										<%= form.text_field :qualification, :class => "full-width" %>
									</p>
									<p class="colx2-right">
										<label for="simple-select">Experience</label>
										<%= select(:employee, :experience_year, [['Year'],[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15]]) %>
										<%= select( :employee, :experience_month, [['Months'],[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11]]) %>
									</p>
								</div>
								<div>
									<label for="complex-en-subtitle">Experience info</label>
									<%= form.text_area :experience_detail, :class => "full-width", :style=> "width: 382px; height: 72px;" %>
								</div>
							</fieldset>
							<%= form.submit "Update", :class => "big-button", :id =>"general_button" %>
							<% end %>
						
					</div>
					<div id="tab-relations" class="tabs-content">
						<%= form_for :employee, :url => {:q => @employee.id}, :html => { :class => "block-content form", :id => "form"}  do |form| %>
						
							<fieldset>
								<legend>
									Personal Informations
								</legend>
								<div class="columns">
									<p class="colx3-left">
										<label for="complex-en-url">No Of Children</label>
										<span class="relative"> <%= form.text_field :children_count, :class => "full-width" %> </span>
									</p>
									<p class="colx3-right">
										<label for="complex-en-subtitle">Father Name</label>
										<span class="relative"> <%= form.text_field :father_name, :class => "full-width" %> </span>
									</p>
									<p class="colx2-left">
										<label for="complex-en-subtitle">Mother Name</label>
										<span class="relative"> <%= form.text_field :mother_name, :class => "full-width" %> </span>
									</p>
									<p class="colx3-right">
										<label for="complex-en-subtitle">Spouse Name</label>
										<span class="relative"> <%= form.text_field :middle_name, :class => "full-width" %> </span>
									</p>
									<p class="colx3-left select-fixed-width1">
										<label for="simple-select">Blood Group</label>
										<%= select(:employee, :blood_group, [['A'],['O']]) %>
									</p>
									<p class="colx3-right select-fixed-width1">
										<label for="simple-select">Marital Status</label>
										<%= select(:employee, :marital_status, [['single'],['married']]) %>
									</p>
									<p class="colx2-left select-fixed-width1">
										<label for="simple-select">Nationality</label>
									</p>
								</div>
							</fieldset>
							<%= form.submit "Update", :class => "big-button", :id =>"general_button" %>

							<% end %>
						
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div id="modal-boxes" style="display:none;></div> 