<% unless @employee.blank? %>
<div class="block-content form no-margin">
	<h1> Employee List </h1>
	<ul class="grid dark-grey-gradient">
		<% @employee.each_with_index do |emp1, i| %>
		<% @ar_emp = ArchivedEmployee.find_by_employee_number(emp1.employee_number)%>
		<% gender = emp1.gender %>
		<li>
			<% if @ar_emp.nil?%>
			
			<%if FileTest.exist?("#{RAILS_ROOT}/public/system/employee_photos/#{emp1.id}")%>
			<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em;background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(<%= emp1.employee_photo.url(:small) %>);">
				<%elsif emp1.gender=="M"%>
				<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em; background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(/assets/icons/web-app/48/male_employee.png);">
					<%else%>
					<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em;background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(/assets/icons/web-app/48/female_employee.png);">
						<% end %>
						 <%else%>
						 <%if FileTest.exist?("#{RAILS_ROOT}/public/system/archived_employees/#{emp1.id}")%>
			<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em;background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(<%= emp1.employee_photo.url(:small) %>);">
				<%elsif emp1.gender=="M"%>
				<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em; background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(/assets/icons/web-app/48/male_employee.png);">
					<%else%>
					<div style="margin: -0.75em 1em -0.75em -0.75em;padding: 0.75em 0.75em 0.75em 5.5em;background-repeat: no-repeat;background-position: 0.75em 0.75em;border-right: 1px solid #b3b3b3;background-image: url(/assets/icons/web-app/48/female_employee.png);">
						<% end %>
						<%end%>
                        <small><%= emp1.full_name %></small>
						<p class="grid-name">
							<a href="profile?id=<%= emp1.id %>"><%= emp1.employee_number %> </a>
						</p>
						<p class="grid-details">
							<%= emp1.employee_department.name %>
							<br>
							Gender: <b><%if gender == 'M' %>Male
							<%else%>Female<%end%></b>
							<br>
							Country: <b>India</b>
						</p>
					</div>
					<ul class="mini-menu">
						<li>
							<%if @ar_emp.nil?%> <a href="profile?id=<%= emp1.id %>" id="a_<%= emp1.id %>" class="select_employee" data-id="<%= emp1.id %>" data-name="<%= emp1.full_name%> title="Delete">

							profile</a>
							<%else%>
							<a href="archived_employee_profile?id=<%= @ar_emp.id %>"> profile</a><%end%>
						</li>
					</ul>
					<ul class="grid-actions">
						<%if @ar_emp.nil?%>
						<li>
							<a href="edit_employee?q=<%= emp1.id %>" title="Edit" class="with-tip"><img src="/assets/icons/fugue/pencil.png" width="16" height="16"></a>
						</li>
						<li>
							<a href="change_to_former?id=<%= emp1.id %>" title="Delete" class="with-tip"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16"></a>
						</li>
						<%end%>
					</ul>
					<% end %>
	</ul>
</div>
<%else%> <h3> Employee Not Found</h3>
<% end %> 