<div class="block-border" id="outer_block">
	<%= form_for @employee,:html => { :class => "block-content form", :id => "form"} do |form| %>
	<%= render 'shared/form_errors', :object => form.object %>
	<%= render "#{@employee.current_step}_step", :form => form %>
	<fieldset class="grey-bg no-margin">
		<legend>
			Action
		</legend>
		<p class="input-with-button">
			<%= form.submit "Back", :name => "back_button" unless @employee.first_step? %>
			<button type="submit", name="back_button" >
				<%= image_tag "icons/fugue/navigation-180.png" %>&nbsp;Back
			</button>
			<button id="create_button" type="submit">
				Next&nbsp;<%= image_tag "icons/fugue/navigation.png" %>
			</button>
		</p>
	</fieldset>
	<% end %>
</div> 