<% unless @employee.blank? %>
				
				<ul class="mini-blocks-list">
					<% @employee.each_with_index do |emp1, i| %>
					<li>
						
						
						<ul class="tags float-right">
							<li class="tag-time"><%= emp1.first_name + ' ' + emp1.last_name %></li>
							<li class="tag-user">Employee Number:<small><%= emp1.employee_number %></small></li>
						    <li class="tag-user"><a href="#" id="a_<%= emp1.id %>" class="select_employee" data-id="<%= emp1.id %>" data-name="<%= emp1.first_name + ' ' + emp1.last_name %> title="Delete"><%= image_tag "icons/fugue/cross-circle.png", :width => 16, :height => 16%>Reporting manager</a></li>
						</ul>
					</li>
					<%end%>
				</ul>
				<%else%>
				Not found
				<%end%>
