
<div class="block-border">
	<div class="block-content form">

  <h1>Employee payslip</h1>
<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to_function image_tag("/assets/icons/web-app/32/Back.png"), "history.back()" %>
						</li>
					</ul>
				</div>	


<p>
 <h3>Employee Name : <b><%= @monthly_payslips.first.active_or_archived_employee.full_name %></b></h3>
 <h3>Payslip generated on : <%= params[:salary_date] %> </h3>
 <h3>Status : <%=  @monthly_payslips.first.status_as_text %></h3>
</p>
<p align="right">
  <h3>Total</h3>
  
    <b>Net Salary </b>
    <span class="currency-type"><b><%= @currency_type %></b></span><b> <%="%.2f" %@salary[:net_amount]%></b>
 </p>


  <h3>Salary</h3><br />
  <table class="table view_pay_details"  cellspacing="0" width="100%">
      	<thead>
        <tr>
        	<th class="black-cell"></th>
        	<th scope="col">Name</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
  <% @monthly_payslips.each do |mp| %>
    <% unless mp.payroll_category.is_deduction == true %>
      <tr>
      	<td></td>
        <td><%= mp.payroll_category.name  %> </td>
        <td><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %mp.amount.to_f  %></td>
      </tr>
    <% end %>
  <% end %>
  
  <% unless @individual_payslips.empty? %>
    <% @individual_payslips.each do |pc| %>
      <%if  pc.is_deduction == false %>
       <tr>
       	<td></td>
          <td><%= pc.name %></td>
          <td><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %pc.amount %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
    <tr>
    	<td></td>
    <td><b>Total Salary </b></td>
    <td><b><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %@salary[:net_non_deductionable_amount]  %></b></td>
  </tr>
  </tbody></table><br />



  <h3>Deductions</h3><br />
   <table class="table view_deductions_pay_details"  cellspacing="0" width="100%">
      	<thead>
        <tr>
        	<th class="black-cell"></th>
        	<th scope="col">Name</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
  <% @monthly_payslips.each do |mp| %>
    <% unless mp.payroll_category.is_deduction == false %>
      <tr>
      	<td></td>
        <td><%= mp.payroll_category.name  %></td>
        <td><span class="currency-type"><%= @currency_type %></span> <%="%.2f" %mp.amount.to_f %></td>
      </tr>
    <% end %>
  <% end %>
  <% unless @individual_payslips.empty? %>
    <% @individual_payslips.each do |pc| %>
      <%if  pc.is_deduction == true %>
        <tr>
        	<td></td>
          <td><%= pc.name %></td>
          <td><span class="currency-type"><%= @currency_type %></span> <%="%.2f" % pc.amount %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <tr>
  	<td></td>
    <td><b>Total Deductions </b></td>
    <td><span class="currency-type"><b><%= @currency_type %></b></span> <b><%="%.2f" %@salary[:net_deductionable_amount] %></b></td>
  </tr>
</tbody></table><br />
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="PDF Report" onclick="$(location).attr('href','/employees/employee_individual_payslip_pdf?id=<%= params[:id]%>&id2=<%= params[:salary_date]%>');"/>
			</p>
		</fieldset>
<!-- <div class="pdf-report">
  <%= link_to "PDF report", :controller=>"employee", :action=>"employee_individual_payslip_pdf", :id=>params[:id], :id2=>params[:salary_date], :format=>'pdf', :target=>"_blank" %>
</div> -->
</div>
</div>
