			<div class="block-border" id="outer_block">
				<%= form_for @instant_fees, :url => instant_fees_path, :html => { :class => "block-content form", :id => "instantFees-form"} do |form| %>
				<%= render 'shared/form_errors', :object => form.object %>
				<h1>Instant Fees</h1>		
				<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li>
							<a href="/instant_fee_collections" id="" ><%= image_tag "fees/instant-fee-collection.png", :size => "24X24",:title => "Instant Fees Collection" %></a>
						</li>
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
				</div>		
								
				<fieldset class="grey-bg">
					<legend>Required fields</legend>
					<div class="colx2-left required">
						<label for="instant_fee_name">Name</label>
						<span class="relative">
							<%= form.text_field :name, :class => "full-width" ,:field_name => 'Name'%>
						</span>
					</div>
					<div class="colx2-right required">
						<label for="instant_fee_description">Description</label>
						<span class="relative">
							<%= form.text_field :description, :class => "full-width" ,:field_name => 'Description'%>
						</span>
					</div>
				</fieldset>
								
				
				
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<div class="columns">
						<div class="colx2-right">
							<button id="create_instant_fee_category" type="submit">Create</button>
							<button id="update_instant_fee_category" type="button" >Update</button>
							<button id="reset_instant_fee_category" type="button">Clear</button>
							<input type="hidden" id="current_object_id" name="current_object_id" value=""/>
						</div>
					</div>
				</fieldset>
				<% end %>
			</div>
			<br/>
			<div id="table-block" class="block-border">
                  <%= render :partial => 'instantFees' %>
			</div>
