									<tr>
										<td class="th table-check-cell"></td>
										<td id="assessment_indicator_indicator_value_<%= assessment_indicator.id %>"><%= assessment_indicator.indicator_value %></td>
										<td id="assessment_indicator_indicator_description_<%= assessment_indicator.id %>"><%= assessment_indicator.indicator_description %></td>
										<td id="assessment_indicator_indicator_description_<%= assessment_indicator.id %>">
											<%course_name = ""%><%course_id = ""%>
											<%@co_scholastic_area.courses.each do |cc| %>
											<% unless cc.nil? %>
												<%if course_name == ""%>
									             		<%course_name = course_name + cc.full_name %>
									             		<%course_id = course_id + cc.id.to_s%>
									            <%else%>
									             		<%course_name = course_name + "," + cc.full_name %>
									             		<%course_id = course_id + "," + cc.id.to_s %>
									            <%end%>
											<%end%>
											<%end%>
											<%=course_name %>
											</td>
										<td class="table-actions">
											<input type="hidden" name="object_id" value="<%= assessment_indicator.id %>"/>
											<a href="#" id="update-assessment-indicator-master-href-<%= assessment_indicator.id %>" courseId="" title="Edit" class="with-tip update-assessment-indicator-master-href"><img src="/assets/icons/fugue/pencil.png" width="16" height="16" title="Edit"></a>
											<a href="#" id="delete-assessment-indicator-master-href-<%= assessment_indicator.id %>" title="Delete" class="with-tip delete-assessment-indicator-master-href"><img src="/assets/icons/fugue/cross-circle.png" width="16" height="16" title="Delete"></a>
										</td>
									</tr>